﻿@model  SLEWebPortal.Models.Cyclemodel

@{
    ViewBag.Title = "Approval";
   // bool t = ViewBag.tab2;
}

@*<h2>Approval</h2>*@

<style type="text/css">
    .right-inner-addon input {
        padding-right: 30px;
    }

    .right-inner-addon i {
        position: absolute;
        right: 0px;
        padding: 10px 12px;
        pointer-events: none;
    }
</style>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><i class="fa fa-align-justify" style="color:#1ab394;"></i> Approval </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        @*<a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                            </a>*@
                        @*<ul class="dropdown-menu dropdown-user">
                            <li>
                            <a href="#">Config option 1</a>
                            </li>
                            <li>
                            <a href="#">Config option 2</a>
                            </li>
                            </ul>*@
                    </div>
                </div>
                <div class="ibox-content" style="width:100%; padding:0px;">

                    <div class="panel-options">

                        <ul class="nav nav-tabs" style="padding: 15px 0px 0px 8px;">
                            <li class="active"> <a data-toggle="tab" href="#tab-1" aria-expanded="true"><i class="fa fa-align-justify"></i> Adjustments</a><div class="arrow-down"></div></li>
                            
                            <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false"><i class="fa fa-usd"></i>Settlement</a></li>

                            <div class="right-inner-addon" style="margin-right:10px;">
                                <i class="fa fa-search" style="z-index:9;margin-right:20px;"></i>
                                <input type="search" style="width:20%;"
                                       class="form-control pull-right"
                                       placeholder="Search..." />
                            </div>

                        </ul>


                    </div>


                    <div class="panel-body" style="padding:0px;">

                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">

                                <div class="ibox-title" style="border-style:none;">

                                    <h5 style="margin-left:1%;padding: 5px;">All Routes</h5>
                                    <div style="width:55%; float:right; font-size:13px; ">


                                        <span class="btn btn-primary" style="height:22px;padding:0px;margin-left:10px; margin-right:5px;background-color:#5d9cec;border-color:rgba(26, 179, 148, 0); width:6%; border-radius:0px;">10</span>
                                        All Items
                                        @*<i class="fa fa-chevron-up"></i>*@
                                        <span class="btn btn-primary" style="height:22px;padding:0px; margin-left:10px;margin-right:5px; background-color:#a5a5a5; border-color:rgba(26, 179, 148, 0); width:6%;border-radius:0px;">15</span>
                                        Pending Items


                                        @*<i class="fa fa-wrench"></i>*@
                                        <span class="btn btn-primary" style="height:22px;padding:0px;margin-left:10px;margin-right:5px;background-color:#fc6e51;border-color:rgba(26, 179, 148, 0); width:6%;border-radius:0px;">35</span>
                                        Rejected Items

                                        <span class="btn btn-primary" style="height:22px;padding:0px;margin-left:10px;margin-right:5px;background-color:#87ca70;border-color:rgba(26, 179, 148, 0); width:6%;border-radius:0px;">35</span>
                                        Approved Items


                                        <ul class="dropdown-menu dropdown-user">
                                            <li>
                                                <a href="#">Config option 1</a>
                                            </li>
                                            <li>
                                                <a href="#">Config option 2</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="ibox-content" style="padding:15px;">
                                    <table class="table" style="border: 2px Solid #e7eaec; ">
                                        @{for (int i = 0; i < 3; i++)
                                        {
                                            <tr>
                                                <td>

                                                    <div class="wrapper wrapper-content animated fadeInRight" style="padding:0px;">

                                                        <div class="row">
                                                            <br />
                                                            <div class="col-lg-12">
                                                                <div class="ibox float-e-margins" style="margin-bottom:5px;">
                                                                    <div class="ibox-title" style="border-style:none; padding:0px 15px 0px; ">
                                                                        <table style="width:100%;">
                                                                            <tr>
                                                                                <td style="font-size:initial;">
                                                                                    <table>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <b> 065, Palm Springs ST RT </b>
                                                                                            </td>

                                                                                        </tr>
                                                                                        <tr><td style="font-size:small;">05, Stops </td></tr>
                                                                                    </table>

                                                                                </td>
                                                                                <td rowspan="2" style="float: right;">
                                                                                    <span style="margin-top:-10px; font-size:12px;">
                                                                                        <span style="font-family:lacto; color:#5d9cec; font-size:x-large;">1</span> All Items
                                                                                        <span style="margin-left:10px; color:#a5a5a5;font-size:x-large;">2</span> Pending Items
                                                                                        <span style="margin-left:10px; color:#fc6e51;font-size:x-large;">3</span> Rejected Items
                                                                                        <span style="margin-left:10px; color:#87ca70;font-size:x-large;">4</span> Approved Items
                                                                                    </span>
                                                                                    <div class="ibox-tools">
                                                                                        <a class="collapse-link" style="margin-left:30px;">
                                                                                            <i class="fa fa-chevron-up"></i>
                                                                                        </a>

                                                                                    </div>
                                                                                </td>

                                                                            </tr>

                                                                        </table>
                                                                    </div>
                                                                    <div class="ibox-content" style="width:100%; padding:0px; ">




                                                                        <div class="panel-body" style="padding:0px;">

                                                                            <div class="tab-content">
                                                                                <div id="tab-1" class="tab-pane active">


                                                                                    <div class="ibox-content" style="padding:15px;">
                                                                                        @*<strong>Lorem ipsum dolor sit amet, consectetuer adipiscing</strong>

                                                                                            <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>

                                                                                            <p>I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. When.</p>*@

                                                                                        <table class="table table-bordered">
                                                                                            <thead>
                                                                                                <tr>
                                                                                                    <th>Item No.</th>
                                                                                                    <th>Item Description</th>
                                                                                                    <th>Sales Cart</th>
                                                                                                    <th>UOM</th>
                                                                                                    <th>On Hand Qty</th>
                                                                                                    <th>Committed Qty</th>
                                                                                                    <th>Held Qty</th>
                                                                                                    <th>Availabel Qty</th>
                                                                                                    <th>Par Level Qty</th>
                                                                                                    <th>Adjustment Qty</th>
                                                                                                    <th>Adjustment UOM</th>
                                                                                                    <th>Reason Code</th>
                                                                                                </tr>
                                                                                            </thead>
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td>1</td>
                                                                                                    <td>Mark</td>
                                                                                                    <td>Otto</td>
                                                                                                    <td>mdo</td>
                                                                                                    <td>1</td>
                                                                                                    <td>Mark</td>
                                                                                                    <td>Otto</td>
                                                                                                    <td>mdo</td>
                                                                                                    <td>1</td>
                                                                                                    <td>Mark</td>
                                                                                                    <td>Otto</td>
                                                                                                    <td>mdo</td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td>2</td>
                                                                                                    <td>Jacob</td>
                                                                                                    <td>Thornton</td>
                                                                                                    <td>fat</td>
                                                                                                    <td>2</td>
                                                                                                    <td>Jacob</td>
                                                                                                    <td>Thornton</td>
                                                                                                    <td>fat</td>
                                                                                                    <td>2</td>
                                                                                                    <td>Jacob</td>
                                                                                                    <td>Thornton</td>
                                                                                                    <td>fat</td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td>3</td>
                                                                                                    <td>Larry</td>
                                                                                                    <td>the Bird</td>
                                                                                                    <td>twitter</td>
                                                                                                    <td>3</td>
                                                                                                    <td>Larry</td>
                                                                                                    <td>the Bird</td>
                                                                                                    <td>twitter</td>
                                                                                                    <td>3</td>
                                                                                                    <td>Larry</td>
                                                                                                    <td>the Bird</td>
                                                                                                    <td>twitter</td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>



                                                                                    </div>
                                                                                </div>

                                                                            </div>

                                                                        </div>


                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>



                                                </td>
                                            </tr>
                                        }
                                        }
                                    </table>

                                </div>
                            </div>
                         

                        </div>

                    </div>


                </div>
            </div>
        </div>

    </div>
</div>


<div class="modal inmodal" id="myModal10" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="width:500px; height:200px;">
            <div class="modal-header" style="padding: 10px;">
                <button type="button" class="close" data-dismiss="modal" id="closebutton">
                    <span aria-hidden="true" style="color:white;">&times;</span><span class="sr-only" style="color:white;">Close</span>
                </button>
                <h5 class="modal-title" style="padding: 0px; height:30px; font-size:20px; text-align:left;">Warning!</h5>
            </div>

            @using (Html.BeginForm("WeeklyCountRequest", "Approval", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {

                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                <br />
                <h4 style=" margin-left:10px;padding: 7px; text-align:center;">@Html.TextBox("tempcycleid", "", new { id = "tempcycleid", style = "display:none;" })You are about to add weekly count for all the routes in the district</h4>

                <h5 style=" margin-left:10px;padding: 0px; text-align:center; FONT-WEIGHT: 500;"> Do you want to continue?</h5>



                <div class="modal-footer" style="text-align:center; border:none;">

                    <button id="yes" type="button" class="btn btn-primary" style="width:30%;" onclick="$('#AddAllForm').submit()">Yes</button>
                    <button id="no" type="button" data-dismiss="modal" class="btn btn-primary" style="width:30%;">No</button>

                </div>

            }
        </div>
    </div>
</div>

<script type="text/javascript">
    document.getElementById("temproute").value = "All";
    $(document).ready(function () {

        $("#newcheckId").click(function (event) {
            event.stopPropagation();
            // Do something
        });

        document.getElementById("temproute").value = "All";
        //   document.getElementsByName("temproute").value
        // bind event handlers when the page loads.
        bindButtonClick();
        $("#fullphysicalcountbutton").on("click", function () {
            InitiateFullPhysicalCycleCount();
        });
    });
    function InitiateFullPhysicalCycleCount() {
        try {
            var text = $("#fullphysicalcountbutton").text();
            $("#fullphysicalcountbutton").blur();
            $("#fullphysicalcountbutton").text("Submitting...");
            $.ajax({
                type: 'POST',
                dataType: 'html',
                url: '@Url.Action("InitiateFullPhysicalCycleCount", "Approval")',
                success: function (result) {
                    $("#fullphysicalcountbutton").css("color","green").text("Success...");
                    setTimeout(function () {
                        $("#fullphysicalcountbutton").css("color", "#333").text(text);
                    }, 1000);
                },
                error: function (result) {
                    $("#fullphysicalcountbutton").css("color", "red").text("Failed...");
                    setTimeout(function () {
                        $("#fullphysicalcountbutton").css("color", "#333").text(text);
                    }, 1000);
                }
            });
        } catch (e) {

        }
    }
    function checkforadd() {
        //  alert("hi");
        if (document.getElementById("temproute").value == "All") {
            //   alert("hi");
            /// $('#myModal10').modal();
            $('#myModal10').modal('show');
        }
        else {
            $('#AddAllForm').submit();
        }
    }

    function checkforaddPhysical() {
        //  alert("hi");
        //if (document.getElementById("temproute").value == "All") {
        //    //   alert("hi");
        //    /// $('#myModal10').modal();
        //    $('#myModal10').modal('show');
        //}
        //else {
        //    $('#AddAllForm').submit();
        //}
        $('#AddAllFormPhysical').submit();
    }
    function fetchvalues(countid, itemscounted, initiator, date) {
        //  alert("hi");

        //   modal.find('.editdaycode').text('New message to ' + recipient)

        document.getElementById("countacceptid").innerHTML = countid;
        document.getElementById("countrecountid").innerHTML = countid;
        document.getElementById("acceptrequestid").value = countid;
        document.getElementById("voidrequestid").value = countid;
        document.getElementById("countid").innerHTML = countid;
        document.getElementById("itemscounted").value = itemscounted;
        document.getElementById("initiator").value = initiator;
        document.getElementById("date").value = date;
        //document.getElementById("weekspercycle").value = recipient3;
        //document.getElementById("stopspercycle").value = recipient4;
        //$('#editstopsbutton').removeAttr("disabled");
    }


    function passvalue(e) {
        document.getElementById("temproute").value = e.value;
        if (e.value == "All") {

            $.ajax({

                dataType: 'html',
                url: '@Url.Action("tempreq", "Approval")',

                success: function (result) {

                    window.location.href = '@Url.Action("Index", "Approval")';
                },
                error: function (result) {
                    alert('error');
                }
            });
        }
        else {
            $.ajax({
                type: 'POST',
                dataType: 'html',
                url: '@Url.Action("IndexWeekly", "Approval")',
                data: ({ selectedValue: e.value }),
                success: function (result) {

                    $("#partialviewforcyclecount").html(result);
                    bindButtonClick();
                },
                error: function (result) {
                    alert('error');
                }
            });
        }


    }

    function passvaluephysical(e) {
        document.getElementById("temproute").value = e.value;
        if (e.value == "All") {

            $.ajax({

                dataType: 'html',
                url: '@Url.Action("tempreq", "Approval")',

                success: function (result) {

                    window.location.href = '@Url.Action("Index", "Approval")';
                },
                error: function (result) {
                    alert('error');
                }
            });
        }
        else {
            $.ajax({
                type: 'POST',
                dataType: 'html',
                url: '@Url.Action("IndexPhysical", "Approval")',
                data: ({ selectedValue: e.value }),
                success: function (result) {

                    $("#partialviewforcyclecountphysical").html(result);
                    bindButtonClick();
                },
                error: function (result) {
                    alert('error');
                }
            });
        }


    }

    $('#releasebutton').click(function () {
        var e = document.getElementById("tempcycleid").value;
        $.ajax({
            type: 'POST',
            dataType: 'html',
            url: '@Url.Action("Release", "Approval")',
            data: ({ countid: e }),
            success: function (result) {
                if (result == "True")
                    {
                    window.location.href = '@Url.Action("Index", "Approval")';
                }
                else {
                 //   alert(result);
                    alert("Empty Weekly Cycle Count can not be released!");
                }

            },
            error: function (result) {
                alert('error');
            }
        });

    });

    $('#releasebuttonphysical').click(function () {
        var e = document.getElementById("tempcycleid").value;
        $.ajax({
            type: 'POST',
            dataType: 'html',
            url: '@Url.Action("Release", "Approval")',
            data: ({ countid: e }),
            success: function (result) {
                window.location.href = '@Url.Action("Index", "Approval")';

            },
            error: function (result) {
                alert('error');
            }
        });

    });

    function bindButtonClick() {
        var flag = false;
        $(".submit").change(function () {

            if (this.checked) {
                if (flag == false) {
                    flag = true;

                    //     alert(this.id);
                    if (this.id == "newcheckId") {
                       
                        document.getElementById("tempcycleid").value = this.value;
                        //document.getElementById("voidbutton").setAttribute("class", "btn btn-sm btn-white");
                        document.getElementById("releasebutton").setAttribute("class", "btn btn-sm btn-white");
                        //////label on model////////////
                        //document.getElementById("submitlabel").setAttribute("class", "label label-warning col-md-1 hidden");
                        //document.getElementById("newlabel").setAttribute("class", "label label-default col-md-1");
                        //document.getElementById("recountlabel").setAttribute("class", "label label-success col-md-1 hidden");
                        //document.getElementById("pendinglabel").setAttribute("class", "label label-default col-md-1 hidden");

                    }
                    else if (this.id == "newcheckId2") {
                        document.getElementById("tempcycleid").value = this.value;
                        //document.getElementById("voidbutton2").setAttribute("class", "btn btn-sm btn-white");
                        document.getElementById("releasebuttonphysical").setAttribute("class", "btn btn-sm btn-white");
                        //////label on model////////////
                        //document.getElementById("submitlabel").setAttribute("class", "label label-warning col-md-1 hidden");
                        //document.getElementById("newlabel").setAttribute("class", "label label-default col-md-1");
                        //document.getElementById("recountlabel").setAttribute("class", "label label-success col-md-1 hidden");
                        //document.getElementById("pendinglabel").setAttribute("class", "label label-default col-md-1 hidden");
                    }
                    else if (this.id == "pendingcheckId") {
                        document.getElementById("tempcycleid").value = this.value;
                        document.getElementById("voidbutton").setAttribute("class", "btn btn-sm btn-white");
                        //////label on model////////////
                        document.getElementById("submitlabel").setAttribute("class", "label label-warning col-md-1 hidden");
                        document.getElementById("newlabel").setAttribute("class", "label label-default col-md-1 hidden");
                        document.getElementById("recountlabel").setAttribute("class", "label label-success col-md-1 hidden");
                        document.getElementById("pendinglabel").setAttribute("class", "label label-default col-md-1");

                    }
                    else if (this.id == "pendingcheckId2") {
                        document.getElementById("tempcycleid").value = this.value;
                        document.getElementById("voidbutton2").setAttribute("class", "btn btn-sm btn-white");
                        //////label on model////////////
                        document.getElementById("submitlabel").setAttribute("class", "label label-warning col-md-1 hidden");
                        document.getElementById("newlabel").setAttribute("class", "label label-default col-md-1 hidden");
                        document.getElementById("recountlabel").setAttribute("class", "label label-success col-md-1 hidden");
                        document.getElementById("pendinglabel").setAttribute("class", "label label-default col-md-1");
                    }
                    else if (this.id == "recountcheckId") {
                        document.getElementById("tempcycleid").value = this.value;
                        //     document.getElementById("confirmationtext").innerHTML = "will be sent for Re-Count.";
                        document.getElementById("acceptbutton").setAttribute("class", "btn btn-sm btn-white");
                        document.getElementById("voidbutton").setAttribute("class", "btn btn-sm btn-white");
                        /////label on model//////

                        document.getElementById("submitlabel").setAttribute("class", "label label-warning col-md-1 hidden");
                        document.getElementById("newlabel").setAttribute("class", "label label-default col-md-1 hidden");
                        document.getElementById("recountlabel").setAttribute("class", "label label-success col-md-1");
                        document.getElementById("pendinglabel").setAttribute("class", "label label-default col-md-1 hidden");
                    }
                    else if (this.id == "recountcheckId2") {
                        document.getElementById("tempcycleid").value = this.value;
                        //     document.getElementById("confirmationtext").innerHTML = "will be sent for Re-Count.";
                        document.getElementById("acceptbutton2").setAttribute("class", "btn btn-sm btn-white");
                        document.getElementById("voidbutton2").setAttribute("class", "btn btn-sm btn-white");
                        /////label on model//////

                        document.getElementById("submitlabel").setAttribute("class", "label label-warning col-md-1 hidden");
                        document.getElementById("newlabel").setAttribute("class", "label label-default col-md-1 hidden");
                        document.getElementById("recountlabel").setAttribute("class", "label label-success col-md-1");
                        document.getElementById("pendinglabel").setAttribute("class", "label label-default col-md-1 hidden");
                    }
                    else if (this.id == "submittedcheckId") {
                        document.getElementById("tempcycleid").value = this.value;

                        document.getElementById("acceptbutton").setAttribute("class", "btn btn-sm btn-white");
                        document.getElementById("recount").setAttribute("class", "btn btn-sm btn-white");
                        document.getElementById("voidbutton").setAttribute("class", "btn btn-sm btn-white");
                        //////labelonmodel//////
                        document.getElementById("submitlabel").setAttribute("class", "label label-warning col-md-1");
                        document.getElementById("newlabel").setAttribute("class", "label label-default col-md-1 hidden");
                        document.getElementById("recountlabel").setAttribute("class", "label label-success col-md-1 hidden");
                        document.getElementById("pendinglabel").setAttribute("class", "label label-default col-md-1 hidden");
                    }
                    else if (this.id == "submittedcheckId2") {
                        document.getElementById("tempcycleid").value = this.value;

                        document.getElementById("acceptbutton2").setAttribute("class", "btn btn-sm btn-white");
                        document.getElementById("recount2").setAttribute("class", "btn btn-sm btn-white");
                        document.getElementById("voidbutton2").setAttribute("class", "btn btn-sm btn-white");
                        //////labelonmodel//////
                        document.getElementById("submitlabel").setAttribute("class", "label label-warning col-md-1");
                        document.getElementById("newlabel").setAttribute("class", "label label-default col-md-1 hidden");
                        document.getElementById("recountlabel").setAttribute("class", "label label-success col-md-1 hidden");
                        document.getElementById("pendinglabel").setAttribute("class", "label label-default col-md-1 hidden");
                    }
                }
                else {
                    this.checked = false;
                }


            }
            else {
                //   alert(this.id);
                flag = false;
                document.getElementById("releasebuttonphysical").setAttribute("class", "btn btn-sm btn-white disabled");
                document.getElementById("releasebutton").setAttribute("class", "btn btn-sm btn-white disabled");
                //document.getElementById("acceptbutton").setAttribute("class", "btn btn-sm btn-white disabled");
                //document.getElementById("recount").setAttribute("class", "btn btn-sm btn-white disabled");
                //document.getElementById("voidbutton").setAttribute("class", "btn btn-sm btn-white disabled");
                //document.getElementById("acceptbutton2").setAttribute("class", "btn btn-sm btn-white disabled");
                //document.getElementById("recount2").setAttribute("class", "btn btn-sm btn-white disabled");
                //document.getElementById("voidbutton2").setAttribute("class", "btn btn-sm btn-white disabled");
            }



        });

    }




</script>