﻿@model SLEWebPortal.Models.AddCycleCountModel

@{
    ViewBag.Title = "Physical Count Request";
  //  var val = Json.Encode(Model);
    string route = Model.RouteID.ToString();
    
    List<SLEWebPortal.Models.CyclecountdetailsModels> mod = (List<SLEWebPortal.Models.CyclecountdetailsModels>)ViewData["Items"];
    decimal? id = Model.CycleCountID;
}

@*<h2>WeeklyCountRequest</h2>*@
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<style type="text/css">
    .right-inner-addon input {
        padding-right: 30px;
    }

    .right-inner-addon i {
        position: absolute;
        right: 0px;
        padding: 10px 12px;
        pointer-events: none;
    }
    .td{

        border:none;
    }
</style>

<div class="wrapper wrapper-content animated fadeInRight" style="padding-bottom:0px;">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><i class="fa fa-align-justify" style="color:#1ab394;"></i> Physical Count Request </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        @*<a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>*@
                        @*<ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#">Config option 1</a>
                                </li>
                                <li>
                                    <a href="#">Config option 2</a>
                                </li>
                            </ul>*@
                    </div>
                </div>
                <div class="ibox-content" style="width:100%; padding:0px;">

                    


                    <div class="panel-body" style="padding:0px;">

                        <div class="tab-content">
                            
                            <div id="tab-2" class="tab-pane active ">
                                <div class="ibox-title" style="border-style:none;">
                                    @if(Model.RouteID==0)
                                    { 
                                    <h5 style="padding-top: 5px;color:#00B3FF;font-size: initial;font-weight: 700;" class="header">All</h5>
                                    }
                                    else
                                    {

                                        <h5 style="padding-top: 5px;color:#00B3FF;font-size: initial;font-weight: 700;" class="header">@Model.RouteName, @Model.RouteDescription</h5>
                                    }
                                    <div style="width:55%; float:right; font-size:13px;margin-right: -250px; ">

                                        <div class="col-lg-4 m-l-n">
                                            <div class="right-inner-addon" style="margin-right:10px;">
                                                <i class="fa fa-search" style="z-index:9;margin-right:20px;padding: 8px 12px;"></i>
                                                <input type="search"
                                                       class="form-control pull-right"
                                                       placeholder="Search..." style="height:30px;" />
                                            </div>
                                        </div>

                                        <span style="width:10%;">
                                           
                                            <button type="button" id="deletebutton" style="width:12%;" class="btn btn-sm btn-white disabled">Delete</button>


                                            @if(mod==null)
                                            { 
                                                
                                                <button type="submit" id="savebutton" style="width:12%;" class="btn btn-sm btn-white">Create</button>
                                            }
                                            else
                                            {

                                                <button type="submit" id="recountbutton" style="width:12%;" class="btn btn-sm btn-white">Re-Count</button>
                                            }
                                        </span>




                                    </div>
                                </div>
                                <div class="ibox-content" style="padding:0px;">
                                    <div class="order-item-container col-md-12">
                                        <div class="order-item-header col-md-4" style="width:88%;">
                                            <span class="orderIdHeader">

                                                <span class="header" style="color:#545556;">

                                                    Count ID:
                                                    <span>New</span>
                                                </span>
                                                <span class="order-header-date">on   @*@Model.CycleCountDatetime.ToString("MM/dd/yyyy")*@ <input type="text"  style="width:100px; margin-left:5px;" id="datepicker" /></span>
                                            </span>
                                            <span class="orderIdHeader" style="margin-top:5px;">
                                                <span class="order-id-value" style="font-weight:normal;">Initiator: @Model.InitiatorName</span>
                                                <span class="order-id-value" style="font-weight:normal;">- @Model.InitiatorContact</span>
                                                <span class="order-header-title"></span>
                                            </span>

                                        </div>

                                        <div class="order-item-header col-md-4" style="width:12%;">
                                            <span class="orderIdHeader" style="text-align:center;">
                                                <span class="order-id-value"><span id="totalcounts">0</span></span>

                                            </span>
                                            <span class="orderIdHeader">
                                                <span class="order-id-value" style="font-weight:normal;">Items to Count</span></span>

                                        </div>

                                        <div class="ibox-content" style="padding:15px; border:none;">
                                            @*<strong>Lorem ipsum dolor sit amet, consectetuer adipiscing</strong>

            <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>

            <p>I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. When.</p>*@

                                            
                                            
                                            <div id="partialviewforitems">
                                                
                                                <table id="tbl1" class="table" style="text-align:center;">
                                                    <thead style="border: 1px Solid rgba(128, 128, 128, 0.4); text-align:center; background-color: rgba(128, 128, 128, 0.27);">
                                                        <tr>
                                                            <th></th>
                                                            <th style="text-align:center;">Item No.</th>
                                                            <th style="text-align:center;">Item Description</th>
                                                            <th style="text-align:center;">Sales Cat 1</th>
                                                            <th style="text-align:center;">Sales Cat 2</th>
                                                            <th style="text-align:center;">Sales Cat 5</th>
                                                            <th style="text-align:center;">UOM</th>


                                                        </tr>
                                                    </thead>
                                                    <tbody style="border: 1px Solid rgba(128, 128, 128, 0.4);">
                                                      @if(mod==null)
                                                      { 
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>

                                                            </tr>
                                                      }
                                                      else
                                                      {
                                                        foreach (var item in mod)
                                                        {
                                                            
                                                            <tr id="@item.ItemId">
                                                                <td><div class="checkbox"><label>@Html.CheckBox("itemId", new { value = item.ItemId, @class = "check" })</label></div></td>
                                                                <td>@item.ItemNumber</td>
                                                                <td>@item.ItemDescription</td>
                                                                <td>@item.SalesCat1</td>
                                                                <td>@item.SalesCat2</td>
                                                                <td>@item.SalesCat5</td>
                                                                <td>@item.UOM</td>

                                                            </tr>
                                                        }

                                                      }
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>


                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>

    </div>
</div>

@if (mod == null)
{ 
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><i class="fa fa-align-justify" style="color:#1ab394;"></i> Search </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        @*<a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>*@
                        @*<ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#">Config option 1</a>
                                </li>
                                <li>
                                    <a href="#">Config option 2</a>
                                </li>
                            </ul>*@
                    </div>
                </div>
                <div class="ibox-content" style="width:100%; padding:0px;">




                    <div class="panel-body" style="padding:0px;">

                        <div class="tab-content">

                            <div id="tab-2" class="tab-pane active ">
                                <div class="ibox-title" style="border-style:none;">

                                    <h5 style="padding-top: 5px;color:#00B3FF;font-size: initial;font-weight: 700;" class="">Search Items</h5>


                                    <div style="width:55%; float:right; font-size:13px;margin-right: -250px; ">

                                        <div class="col-lg-4 m-l-n">
                                            <div class="right-inner-addon" style="margin-right:10px;">
                                                <i class="fa fa-search" style="z-index:9;margin-right:20px;padding: 8px 12px;"></i>
                                                <input type="search"
                                                       class="form-control pull-right"
                                                       placeholder="Search..." style="height:30px;" />
                                            </div>
                                        </div>
                                        <span style="width:10%;">

                                            
                                            <button type="submit" id="addbutton" style="width:12%;" class="btn btn-sm btn-white">Add</button>

                                        </span>




                                    </div>
                                </div>
                                <div class="ibox-content" style="padding:0px;">
                                    <div class="order-item-container col-md-12">
                                        

                                        

                                        <div class="ibox-content" style="padding:15px; border:none;">
                                            @*<strong>Lorem ipsum dolor sit amet, consectetuer adipiscing</strong>

                                                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>

                                                <p>I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. When.</p>*@

                                            <table id="tbl" class="table" style="text-align:center;">
                                                <thead style="border: 1px Solid rgba(128, 128, 128, 0.4); text-align:center; background-color: rgba(128, 128, 128, 0.27);">
                                                    <tr>
                                                        <th></th>
                                                        <th style="text-align:center;">Item No.</th>
                                                        <th style="text-align:center;">Item Description</th>
                                                        <th style="text-align:center;">Sales Cat 1</th>
                                                        <th style="text-align:center;">Sales Cat 2</th>
                                                        <th style="text-align:center;">Sales Cat 5</th>
                                                        <th style="text-align:center;">UOM</th>
                                                        
                                                   
                                                    </tr>
                                                </thead>
                                                <tbody style="border: 1px Solid rgba(128, 128, 128, 0.4);">
                                                  @foreach (var item in Model.ccd)
                                                  {
                                                    <tr id="@item.ItemId">
                                                        <td><div class="checkbox"><label>@Html.CheckBox("itemId", new { value = item.ItemId, @class = "check" })</label></div></td>
                                                        <td>@item.ItemNumber</td>
                                                        <td>@item.ItemDescription</td>
                                                        <td>@item.SalesCat1</td>
                                                        <td>@item.SalesCat2</td>
                                                        <td>@item.SalesCat5</td>
                                                        <td>@item.UOM</td>

                                                    </tr>
                                                  }
                                                </tbody>
                                            </table>



                                        </div>


                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>

    </div>
</div>
}
else
{ }
<script type="text/javascript">
    var arr = [];
    var i = 0;
    $(document).ready(function () {
        $( "#datepicker" ).datepicker({
            beforeShowDay: $.datepicker.noWeekends,
            minDate: new Date()
        });

        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0!

        var yyyy = today.getFullYear();
        if(dd<10){
            dd='0'+dd
        } 
        if(mm<10){
            mm='0'+mm
        } 
        var today = mm+'/'+dd+'/'+yyyy;
        document.getElementById("datepicker").value = today;
    });

    $(document).ready(function () {
        var list = [];
        var listofrows = [];
        //$('#MyDiv input:checked').each(function() {
        //    list.push(this.name);
        //});
        $("#tbl .check").change(function () {
            if (this.checked) {

                list.push(this.value);
                listofrows.push(this);
                //   alert(this.value);
            }
            else {
                //   alert("Unchecked");
                var index = list.indexOf(this.value);
                if (index > -1) {
                    list.splice(index, 1);
                    listofrows.splice(index, 1);
                }

            }
        });



        $('#deletebutton').click(function () {
            $('#tbl1').find('input[type="checkbox"]:checked').each(function () {
                //this is the current checkbox
                var index = list.indexOf(this.value);
                if (index > -1) {
                    list.splice(index, 1);
                    listofrows.splice(index, 1);

                    var tr =  $(this).closest('tr');
                    //var trtbl=$(tr,$('#tbl'));
                    //trtbl.show();

                    var table = $('#tbl');
                    var tr= table.find('#'+this.value+'');

                  tr.show();

                }
            });
            document.getElementById("totalcounts").textContent = list.length;
            $('#tbl1 tbody').empty();
            listofrows.forEach(function (e) {
                e.checked = false;
                var tr = $(e).closest('tr');
                tr.hide();

                var row = $(e).closest('tr').html();
                $('#tbl1 tbody').append('<tr>' + row + '</tr>');

            });
        });

        $('#savebutton').click(function () {
            var itemid = [];
            $('#tbl1').find('input[type="checkbox"]').each(function () {
                itemid.push(this.value);
            });
            var selectedCycleCountDate = $( "#datepicker" ).val();
         //   var modelitems=@*@Html.Raw(val);*@
           
                if(selectedCycleCountDate=="")
                {
                    alert("Please Select Date");
                }
                else{
            $.ajax({
                url: '@Url.Action("InitiateFullPhysicalCycleCount", "Approval")',
                type: 'POST',
                dataType: 'html',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ itemids: itemid,routeid:@route ,cycleCountDate:selectedCycleCountDate   }),
                success: function () {

                    //   alert("success");
                    window.location.href = '@Url.Action("Index", "Approval")';
                },
                error: function () {
                       alert("error!");
                  //  window.location.href = '@Url.Action("Index", "Approval")';
                }
            });   //end ajax
                }
           
        });


        $('#addbutton').click(function() {
            document.getElementById("deletebutton").setAttribute("class", "btn btn-sm btn-white");
            document.getElementById("totalcounts").textContent = list.length;

            $('#tbl1 tbody').empty();
            listofrows.forEach(function (e) {
                e.checked = false;
                var tr = $(e).closest('tr');
                tr.hide();

                var row = $(e).closest('tr').html();
                $('#tbl1 tbody').append('<tr id='+e.value+'>' + row + '</tr>');

            });


            // now names contains all of the names of checked checkboxes
            // do something with it for excamle post with ajax
            @*$.ajax({
                url: '@Url.Action("Additems", "Approval")',
                type: 'POST',
                dataType: 'html',
                contentType: 'application/json',
                data: JSON.stringify({ selected: list }),
                success: function (result) {

                    //   alert("success");
                    $("#partialviewforitems").html(result);
                    },
                error: function (result) {
                    alert("error!");
                }
            });   //end ajax*@
        });

        $('#recountbutton').click(function() {

            $('#tbl1').find('input[type="checkbox"]:checked').each(function () {
                //this is the current checkbox
                list.push(this.value);

            });

            if(list.length>0)
                {
            $.ajax({
                url: '@Url.Action("RecountItems", "Approval")',
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ itemids: list,countid:@id }),
                success: function (result) {

                   // alert("success");
                    //    if(result==true)
                       window.location.href = '@Url.Action("Index", "Approval")';
                },
                error: function (result) {
                    window.location.href = '@Url.Action("Index", "Approval")';
                   // alert("error!");
                }
            });   //end ajax
            }
            else{

                alert("Please Add Items to Recount");

            }

        });



    });
</script>