﻿@model SLEWebPortal.Models.AddCycleCountModel

@{
    if (Model.StatusType == "PHYSCL")
    {
        ViewBag.Title = "Physical Count Request";
    }
    else {
        ViewBag.Title = "Weekly Count Request";
    }
  
  //  var val = Json.Encode(Model);
    string route = Model.RouteID.ToString();
    
    List<SLEWebPortal.Models.CyclecountdetailsModels> mod = (List<SLEWebPortal.Models.CyclecountdetailsModels>)ViewData["Items"];
    decimal? id = Model.CycleCountID;
}

@*<h2>WeeklyCountRequest</h2>*@
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
@*<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>*@
<style type="text/css">
    .right-inner-addon input {
        padding-right: 30px;
    }

    .right-inner-addon i {
        position: absolute;
        right: 0px;
        padding: 10px 12px;
        pointer-events: none;
    }
    .td{

        border:none;
    }
</style>

<div class="wrapper wrapper-content animated fadeInRight" style="padding-bottom:0px;">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    @if (Model.StatusType == "PHYSCL")
                    {
                        <h5><i class="fa fa-align-justify" style="color:#1ab394;"></i> Physical Count Request </h5>
                    }
                    else
                    {
                        <h5><i class="fa fa-align-justify" style="color:#1ab394;"></i> Weekly Count Request </h5>
                    }
                   
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        @*<a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>*@
                        @*<ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#">Config option 1</a>
                                </li>
                                <li>
                                    <a href="#">Config option 2</a>
                                </li>
                            </ul>*@
                    </div>
                </div>
                <div class="ibox-content" style="width:100%; padding:0px;">

                    


                    <div class="panel-body" style="padding:0px;">

                        <div class="tab-content">
                            
                            <div id="tab-2" class="tab-pane active ">
                                <div class="ibox-title" style="border-style:none;">
                                    @if(Model.RouteID==0)
                                    { 
                                    <h5 style="padding-top: 5px;color:#00B3FF;font-size: initial;font-weight: 700;" class="header">All</h5>
                                    }
                                    else
                                    {

                                        <h5 style="padding-top: 5px;color:#00B3FF;font-size: initial;font-weight: 700;" class="header">@Model.RouteName, @Model.RouteDescription</h5>
                                    }
                                    <div style="width:55%; float:right; font-size:13px;margin-right: -190px; ">

                                        <div class="col-lg-4 m-l-n">
                                            <div class="right-inner-addon" style="margin-right:10px;">
                                                <i class="fa fa-search" style="z-index:9;margin-right:20px;padding: 8px 12px;"></i>
                                                <input type="search" id="search_textbox2"
                                                       class="form-control pull-right"
                                                       placeholder="Search..." style="height:30px;width: 250px;" />
                                            </div>
                                        </div>

                                        <span style="width:10%;">
                                           
                                            


                                            @if (mod == null)
                                            {
                                                <button type="button" id="deletebutton" style="width:12%;" class="btn btn-sm btn-white disabled">Delete</button>
                                                <button type="submit" id="savebutton" style="width:12%;" class="btn btn-sm btn-white">Create</button>
                                            }
                                            else
                                            {
                                                if (Model.Status.Trim() == "NEW")
                                                {
                                                    <button type="button" style="width:12%;" id="voidbutton" class="btn btn-sm btn-white" data-toggle="modal" data-target="#myModal7">Void</button>
                                                    <button type="button" id="acceptbutton" style="width:12%;" class="btn btn-sm btn-white hidden" data-toggle="modal" data-target="#myModal8">Accept</button>
                                                    <button type="submit" id="recountb" style="width:12%;" class="btn btn-sm btn-white hidden">Re-Count</button>
                                                    <button type="button" id="deletebutton" style="width:12%;" class="btn btn-sm btn-white">Delete</button>
                                                    <button type="submit" id="newsavebutton" style="width:12%;" class="btn btn-sm btn-white">Save</button>

                                                }
                                                else if (Model.Status.Trim() == "RELS")
                                                {
                                                    <button type="button" style="width:12%;" id="voidbutton" class="btn btn-sm btn-white" data-toggle="modal" data-target="#myModal7">Void</button>
                                                    <button type="button" id="acceptbutton" style="width:12%;" class="btn btn-sm btn-white disabled" data-toggle="modal" data-target="#myModal8">Accept</button>
                                                    <button type="submit" id="recountb" style="width:12%;" class="btn btn-sm btn-white disabled">Re-Count</button>
                                                }
                                                else if (Model.Status.Trim() == "RECNT")
                                                {
                                                    <button type="button" style="width:12%;" id="voidbutton" class="btn btn-sm btn-white" data-toggle="modal" data-target="#myModal7">Void</button>
                                                    <button type="button" id="acceptbutton" style="width:12%;" class="btn btn-sm btn-white" data-toggle="modal" data-target="#myModal8">Accept</button>
                                                    <button type="submit" id="recountb" style="width:12%;" class="btn btn-sm btn-white disabled" >Re-Count</button>
                                                }
                                                else if(Model.Status.Trim()=="PNDNG")
                                                {
                                                    <button type="button" style="width:12%;" id="voidbutton" class="btn btn-sm btn-white" data-toggle="modal" data-target="#myModal7">Void</button>
                                                    <button type="button" id="acceptbutton" style="width:12%;" class="btn btn-sm btn-white disabled" data-toggle="modal" data-target="#myModal8">Accept</button>
                                                    <button type="submit" id="recountb" style="width:12%;" class="btn btn-sm btn-white disabled">Re-Count</button>
                                                }
                                                else if (Model.Status.Trim() == "SUBMIT")
                                                {
                                                    <button type="button" style="width:12%;" id="voidbutton" class="btn btn-sm btn-white" data-toggle="modal" data-target="#myModal7">Void</button>
                                                    <button type="button" id="acceptbutton" style="width:12%;" class="btn btn-sm btn-white" data-toggle="modal" data-target="#myModal8">Accept</button>
                                                    <button type="submit" id="recountb" style="width:12%;" class="btn btn-sm btn-white" onclick="checkforadd();">Re-Count</button>
                                                }
                                                else
                                                {
                                                <button type="button" style="width:12%;" id="voidbutton" class="btn btn-sm btn-white disabled" data-toggle="modal" data-target="#myModal7">Void</button>
                                                <button type="button" id="acceptbutton" style="width:12%;" class="btn btn-sm btn-white disabled" data-toggle="modal" data-target="#myModal8">Accept</button>
                                                <button type="submit" id="recountb" style="width:12%;" class="btn btn-sm btn-white disabled">Re-Count</button>
                                                }
                                            }
                                        </span>




                                    </div>
                                </div>
                                <div class="ibox-content" style="padding:0px;">
                                    <div class="order-item-container col-md-12">
                                        <div class="order-item-header col-md-4" style="width:88%;">
                                            <span class="orderIdHeader">

                                                <span class="header" style="color:#545556;">

                                                    
@if (mod == null)
{
    <span>Count ID:</span>
    <span >New</span>
}
else
{
    <span>Count ID: @Model.CycleCountID</span>
    if (Model.Status.Trim() == "NEW")
    {
        <span class="label label-default col-md-1" style="width:70px;font-family: arial;top: 4px;right: 3px;">New</span>
    }
    else if (Model.Status.Trim() == "RELS")
    {
        <span class="label label-default col-md-1" style="width:70px;font-family: arial;top: 4px;right: 3px;">New</span>
    }
    else if (Model.Status.Trim() == "SUBMIT")
    {
        <span class="label label-warning col-md-1" style="width:70px;font-family: arial;top: 4px;right: 3px;">Submitted</span>
    }
    else if (Model.Status.Trim() == "PNDNG")
    {
        <span class="label label-default col-md-1" style="width:70px;font-family: arial;top: 4px;right: 3px;">Pending</span>
    }
    else if (Model.Status.Trim() == "ACCEPT")
    {
        <span class="label label-primary col-md-1" style="width:70px;font-family: arial;top: 4px;right: 3px;">Accepted</span>
    }
    else if (Model.Status.Trim() == "RECNT")
    {
        <span class="label label-success col-md-1" style="width:70px;font-family: arial;top: 4px;right: 3px;">Recount</span>
    }
    else if (Model.Status.Trim() == "VOID")
    {
        <span class="label label-danger col-md-1" style="width:70px;font-family: arial;top: 4px;right: 3px;">Void</span>
    }
}
                                                </span>
                                                <span class="order-header-date">on   @*@Model.CycleCountDatetime.ToString("MM/dd/yyyy")*@ 
                                                @if(mod==null)
                                                {
                                                <input type="text" readonly="readonly" value="@Model.CycleCountDatetime.ToString("MM/dd/yyyy")" style="width:150px; margin-left:5px;" id="datepicker" />
                                                }
                                                else
                                                {
                                                    <input type="text" readonly="readonly" value="@Model.CycleCountDatetime.ToString("MM/dd/yyyy")" style="width:100px; margin-left:5px; display:none;"  id="datepicker" />
                                                    <input type="text" readonly="readonly" value="@Model.CycleCountDatetime.ToString("MM/dd/yyyy")" style="width:100px; margin-left:5px;"  id="datepicker2" />
                                                }
                                                </span>
                                            </span>
                                            <span class="orderIdHeader" style="margin-top:5px;">
                                                <span class="order-id-value" style="font-weight:normal;">Initiator: @Model.InitiatorName</span>
                                                <span class="order-id-value" style="font-weight:normal;">- @Model.InitiatorContact</span>
                                                <span class="order-header-title"></span>
                                            </span>

                                        </div>

                                        <div class="order-item-header col-md-4" style="width:12%;">
                                            <span class="orderIdHeader" style="text-align:center;">
                                                <span class="order-id-value">
                                                   @if (mod == null)
                                                   {
                                                   <span id="totalcounts">0</span>
                                                   }
                                                   else
                                                   {
                                                    <span id="totalcounts">@mod.Count()</span>
                                                   }
                                                   </span></span>

                                            
                                            <span class="orderIdHeader">
                                                <span class="order-id-value" style="font-weight:normal;">Items to Count</span></span>

                                        </div>

                                        <div class="ibox-content" style="padding:15px; border:none;">
                                            @*<strong>Lorem ipsum dolor sit amet, consectetuer adipiscing</strong>

            <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>

            <p>I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. When.</p>*@

                                            
                                            
                                            <div id="partialviewforitems">
                                                
                                                <table id="tbl1" class="table" style="text-align:center;">
                                                    <thead style="border: 1px Solid rgba(128, 128, 128, 0.4); text-align:center; background-color: rgba(128, 128, 128, 0.27);">
                                                        <tr>
                                                            <th></th>
                                                            <th style="text-align:center;">Item No.</th>
                                                            <th style="text-align:center;">Item Description</th>
                                                            <th style="text-align:center;">Sales Cat 1</th>
                                                            <th style="text-align:center;">Sales Cat 2</th>
                                                            <th style="text-align:center;">Sales Cat 5</th>
                                                            <th style="text-align:center;">UOM</th>


                                                        </tr>
                                                    </thead>
                                                    <tbody style="border: 1px Solid rgba(128, 128, 128, 0.4);">
                                                      @if(mod==null)
                                                      { 
                                                            <tr>
                                                                <td colspan="7"></td>
                                                              

                                                            </tr>
                                                      }
                                                      else
                                                      {
                                                        foreach (var item in mod)
                                                        {
                                                            
                                                            <tr id="@item.ItemId">
                                                                @if(Convert.ToInt16(item.CountAccepted)==0)
                                                                { 
                                                                <td><div class="checkbox"><label>@Html.CheckBox("itemId", new { value = item.ItemId, @class = "check" })</label></div></td>
                                                                }
                                                                else
                                                                {
                                                                    <td><div class="checkbox"><label>@Html.CheckBox("itemId", new { value = item.ItemId, @class = "check",@disabled="disabled" })</label></div></td>
                                                                }
                                                                <td>@item.ItemNumber</td>
                                                                <td>@item.ItemDescription</td>
                                                                <td>@item.SalesCat1</td>
                                                                <td>@item.SalesCat2</td>
                                                                <td>@item.SalesCat5</td>
                                                                <td>@item.UOM</td>

                                                            </tr>
                                                        }

                                                      }
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>


                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>

    </div>
</div>

@if (mod == null || Model.Status.Trim()=="NEW")
{ 
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><i class="fa fa-align-justify" style="color:#1ab394;"></i> Search </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        @*<a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>*@
                        @*<ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#">Config option 1</a>
                                </li>
                                <li>
                                    <a href="#">Config option 2</a>
                                </li>
                            </ul>*@
                    </div>
                </div>
                <div class="ibox-content" style="width:100%; padding:0px;">




                    <div class="panel-body" style="padding:0px;">

                        <div class="tab-content">

                            <div id="tab-2" class="tab-pane active ">
                                <div class="ibox-title" style="border-style:none;">

                                    <h5 style="padding-top: 5px;color:#00B3FF;font-size: initial;font-weight: 700;" class="">Search Items</h5>


                                    <div style="width:55%; float:right; font-size:13px;margin-right: -250px; ">

                                        <div class="col-lg-4 m-l-n">
                                            <div class="right-inner-addon" style="margin-right:10px;">
                                                <i class="fa fa-search" style="z-index:9;margin-right:20px;padding: 8px 12px;"></i>
                                                <input id="search_textbox" type="search"
                                                       class="form-control pull-right"
                                                       placeholder="Search..." style="height:30px;width: 250px;" />
                                            </div>
                                        </div>
                                        <span style="width:10%;">

                                            
                                            <button type="submit" id="addbutton" style="width:12%;" class="btn btn-sm btn-white">Add</button>

                                        </span>




                                    </div>
                                </div>
                                <div class="ibox-content" style="padding:0px;">
                                    <div class="order-item-container col-md-12">
                                        

                                        

                                        <div class="ibox-content" style="padding:15px; border:none;">
                                            @*<strong>Lorem ipsum dolor sit amet, consectetuer adipiscing</strong>

                                                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>

                                                <p>I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. When.</p>*@

                                            <table id="tbl" class="table" style="text-align:center;">
                                                <thead style="border: 1px Solid rgba(128, 128, 128, 0.4); text-align:center; background-color: rgba(128, 128, 128, 0.27);">
                                                    <tr>
                                                        <th></th>
                                                        <th style="text-align:center;">Item No.</th>
                                                        <th style="text-align:center;">Item Description</th>
                                                        <th style="text-align:center;">Sales Cat 1</th>
                                                        <th style="text-align:center;">Sales Cat 2</th>
                                                        <th style="text-align:center;">Sales Cat 5</th>
                                                        <th style="text-align:center;">UOM</th>
                                                        
                                                   
                                                    </tr>
                                                </thead>
                                                <tbody style="border: 1px Solid rgba(128, 128, 128, 0.4);">
                                                  @foreach (var item in Model.ccd)
                                                  {
                                                    <tr id="@item.ItemId">
                                                        <td><div class="checkbox"><label>@Html.CheckBox("itemId", new { value = item.ItemId, @class = "check" })</label></div></td>
                                                        <td>@item.ItemNumber</td>
                                                        <td>@item.ItemDescription</td>
                                                        <td>@item.SalesCat1</td>
                                                        <td>@item.SalesCat2</td>
                                                        <td>@item.SalesCat5</td>
                                                        <td>@item.UOM</td>

                                                    </tr>
                                                  }
                                                </tbody>
                                            </table>



                                        </div>


                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>

    </div>
</div>
}
else
{ }


<div class="modal inmodal" id="myModal7" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <button type="button" class="close" data-dismiss="modal" id="closebutton">
                    <span aria-hidden="true" style="color:white;">&times;</span><span class="sr-only" style="color:white;">Close</span>
                </button>
                <h5 class="modal-title" style="padding: 0px; height:30px; font-size:20px; text-align:left;">Void Request</h5>
            </div>

            @using (Html.BeginForm("VoidRequest", "Approval", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {

                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                <h4 style=" margin-left:10px;padding: 7px;">@Html.TextBox("voidrequestid", @Model.CycleCountID, new { @class = "textbox-hidden", style = "display:none;" })<span id="editdaycode">Count Id</span>: <span id="countid">@Model.CycleCountID</span></h4>
                if (mod == null)
                { }
                else
                {
                    if (Model.Status.Trim() == "PNDNG")
                    {
                        <span class="label label-default col-md-1" id="submitlabel" style="float:right; font-size:small;font-family: sans-serif;    margin-top:-35px;height:20px;padding:0px;width:20%;margin-right:15px; cursor:default;  color:white;  padding-top:4px; text-align:center;">Void</span>
                    }
                    else if (Model.Status.Trim() == "SUBMIT")
                    {
                <span class="label label-warning col-md-1" id="submitlabel" style="float:right; font-size:small;font-family: sans-serif;    margin-top:-35px;height:20px;padding:0px;width:20%;margin-right:15px; cursor:default;  color:white;  padding-top:4px; text-align:center;">Submitted</span>
                }
                else if (Model.Status.Trim() == "NEW")
                {
                <span class="label label-default col-md-1 " id="newlabel" style="float:right; font-size:small; font-family: sans-serif;   margin-top:-35px;height:20px;padding:0px;width:20%;margin-right:15px; cursor:default; color:grey;  padding-top:4px; text-align:center;">New</span>
                }
                else if (Model.Status.Trim() == "RECNT")
                {
                <span class="label label-success col-md-1 " id="recountlabel" style="float:right; font-size:small; font-family: sans-serif;   margin-top:-35px;height:20px;padding:0px;width:20%;margin-right:15px; cursor:default; color:white;  padding-top:4px; text-align:center;">Recount</span>
                }

                }
                @*<span class="label label-warning col-md-1" style="width:70px;font-family: arial; font-size:small;left:300px; bottom:30px;">New</span>*@

                <div class="table" style="margin-bottom:0px;">
                    <p>
                        @*<strong>Lorem Ipsum is simply dummy</strong> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown*@

                        <table class="table" style="margin-bottom:0px;">
                            <tr style="border:1px thin gray;">
                                <td>

                                    <span style=" margin-left:10px;padding: 7px;"> Items Counted</span>
                                </td>
                                <td style="text-align:center;">
                                    @*  <input type="text" id="stopspercycle" style="border:1px solid Gray; width:40px; float:right; margin-right:10px; text-align:center;" readonly="readonly" />*@
                                    @Html.TextBox("itemscounted",(@mod==null)?0: mod.Count(), new { @class = "textbox", style = "border:none; color:rgba(0, 0, 0, 0.64);font-weight: bolder;text-align: right;", @readonly = "readonly" })
                                </td>
                            </tr>
                            <tr style="border:1px thin gray;">
                                <td>

                                    <span style=" margin-left:10px;padding: 7px;"> Initiator</span>
                                </td>
                                <td style="text-align:center;">
                                    @Html.TextBox("initiator", Model.InitiatorName, new { @class = "textbox", style = "border:none; color:rgba(0, 0, 0, 0.64);font-weight: bolder;text-align: right;", @readonly = "readonly" })
                                    @*<input type="text" id="weekspercycle" style="border:1px solid Gray; width:40px; float:right;margin-right:10px;text-align:center;" />*@
                                    @*   @Html.TextBoxFor(model => model.Weeks, "weekspercycle", new { @class = "textbox", id = "weekspercycle", name = "range", onkeypress = "return test(event)", onkeyup = "SumaEjemplo()", @maxlength = "2", })*@

                                </td>
                            </tr>
                            <tr style="border:1px thin gray;">
                                <td>

                                    <span style=" margin-left:10px;padding: 7px;"> Date</span>
                                </td>
                                <td style="text-align:center;">
                                    @Html.TextBox("date", Model.CycleCountDatetime.ToString("MM/dd/yyyy"), new { @class = "textbox", style = "border:none; color:rgba(0, 0, 0, 0.64);font-weight: bolder;text-align: right;", @readonly = "readonly", })
                                    @*<input type="text" id="weekspercycle" style="border:1px solid Gray; width:40px; float:right;margin-right:10px;text-align:center;" />*@
                                    @*   @Html.TextBoxFor(model => model.Weeks, "weekspercycle", new { @class = "textbox", id = "weekspercycle", name = "range", onkeypress = "return test(event)", onkeyup = "SumaEjemplo()", @maxlength = "2", })*@

                                </td>
                            </tr>
                            <tr style="border:1px thin gray;">
                                <td colspan="2">

                                    <span style=" margin-left:10px;padding: 7px; text-align:left;"> Reason Code</span>
                                    <br />
                                    @if (mod == null)
                                    { }
                                    else
                                    { 
                                    @Html.DropDownListFor(m => Model.SelectedUser, Model.Reasons, new { @class = "dropdown-", name = "dropdownlistreasons", id = "dropdownlistreasons", style = "height:25px;margin-top: 5px; width:90%; margin-left:15px;" })
                                    }
                                </td>

                            </tr>
                        </table>


                </div>
                <div class="modal-footer" style="text-align:center;">

                    <button id="continue" type="submit" class="btn btn-primary" style="width:50%;">Continue</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal inmodal" id="myModal8" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <button type="button" class="close" data-dismiss="modal" id="closebutton">
                    <span aria-hidden="true" style="color:white;">&times;</span><span class="sr-only" style="color:white;">Close</span>
                </button>
                <h5 class="modal-title" style="padding: 0px; height:30px; font-size:20px; text-align:left;">Confirmation</h5>
            </div>

            @using (Html.BeginForm("AcceptRequest", "Approval", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {

                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                <h4 style=" margin-left:10px;padding: 7px; text-align:center;">@Html.TextBox("acceptrequestid", Model.CycleCountID, new { @class = "textbox-hidden", style = "display:none;" })<span id="editdaycode">Count Id</span>: @Model.CycleCountID <span id="countacceptid"></span><span id="confirmationtext"> accepted?</span></h4>

                <h5 style=" margin-left:10px;padding: 0px; text-align:center; FONT-WEIGHT: 500;"> Do you want to continue?</h5>


                <div class="modal-footer" style="text-align:center; border:none;">

                    <button id="yes" type="submit" class="btn btn-primary" style="width:30%;">Yes</button>
                    <button id="no" type="button" data-dismiss="modal" class="btn btn-primary" style="width:30%;">No</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal inmodal" id="myModal9" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <button type="button" class="close" data-dismiss="modal" id="closebutton">
                    <span aria-hidden="true" style="color:white;">&times;</span><span class="sr-only" style="color:white;">Close</span>
                </button>
                <h5 class="modal-title" style="padding: 0px; height:30px; font-size:20px; text-align:left;">Confirmation</h5>
            </div>

            @*@using (Html.BeginForm("WeeklyCountRequest2", "Approval", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {*@

                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                <h4 style=" margin-left:10px;padding: 7px; text-align:center;">@Html.TextBox("tempcycleid", "", new { id = "tempcycleid", style = "display:none;" })<span id="editdaycode">Count Id</span>: @Model.CycleCountID <span id="countrecountid"></span><span id="confirmationtext"> will be sent for Re-Count.</span></h4>

                <h5 style=" margin-left:10px;padding: 0px; text-align:center; FONT-WEIGHT: 500;"> Do you want to continue?</h5>


                <div class="modal-footer" style="text-align:center; border:none;">

                    <button id="recountyesbutton" type="submit" class="btn btn-primary" style="width:30%;">Yes</button>
                    <button id="no" type="button" data-dismiss="modal" class="btn btn-primary" style="width:30%;">No</button>
                </div>
           @* }*@
        </div>
    </div>
</div>
<script type="text/javascript">
    var arr = [];
    var i = 0;
    $(document).ready(function () {
        $( "#datepicker" ).datepicker({
            beforeShowDay: $.datepicker.noWeekends,
            minDate: new Date(),
            onSelect: function(datetext){
                var d = new Date(); // for now
                datetext=datetext+" "+d.getHours()+": "+d.getMinutes()+": "+d.getSeconds();
                $('#datepicker').val(datetext);
            },
        });

        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0!
        var hrs=today.getHours();
        var min =today.getMinutes();
        var sec=today.getSeconds();
        var yyyy = today.getFullYear();
        if(dd<10){
            dd='0'+dd
        } 
        if(mm<10){
            mm='0'+mm
        } 
        var today = mm+'/'+dd+'/'+yyyy+' '+hrs+':'+min+':'+sec;
        document.getElementById("datepicker").value = today;
    });

    function checkforadd() {
        //  alert("hi");
        var itemid = [];
        $('#tbl1').find('input[type="checkbox"]:checked').each(function () {
            itemid.push(this.value);
        });
       
        if(itemid.length>0)
        {
       //     alert("hi");
            $('#myModal9').modal('show');
        }
        else
        {           
            alert("Please select items to recount");
        }
       
    }

    $(document).ready(function () {
        var list = [];
        var listofrows = [];
        //$('#MyDiv input:checked').each(function() {
        //    list.push(this.name);
        //});
        $("#tbl .check").change(function () {
            if (this.checked) {

                list.push(this.value);
                listofrows.push(this);
                //   alert(this.value);
            }
            else {
                //   alert("Unchecked");
                var index = list.indexOf(this.value);
                if (index > -1) {
                    list.splice(index, 1);
                    listofrows.splice(index, 1);
                }

            }
        });



        $('#deletebutton').click(function () {
            var flag=0;
            list=[];
            listofrows=[];
            $('#tbl1').find('input[type="checkbox"]').each(function () {
                //this is the current checkbox
                list.push(this.value);
                listofrows.push(this);

               
            });
            $('#tbl1').find('input[type="checkbox"]:checked').each(function () {
                //this is the current checkbox
                var index = list.indexOf(this.value);
                if (index > -1) {
                    list.splice(index, 1);
                    listofrows.splice(index, 1);

                    var tr =  $(this).closest('tr');
                    //var trtbl=$(tr,$('#tbl'));
                    //trtbl.show();

                    var table = $('#tbl');
                    var tr= table.find('#'+this.value+'');

                    tr.show();

                }
                flag=1;
            });

           
            if(flag==1)
            {
                document.getElementById("totalcounts").textContent = list.length;
                $('#tbl1 tbody').empty();
                listofrows.forEach(function (e) {
                    e.checked = false;
                    var tr = $(e).closest('tr');
                    tr.hide();

                    var row = $(e).closest('tr').html();
                    $('#tbl1 tbody').append('<tr>' + row + '</tr>');

                });
            }
            else
            {
                alert("Please select items to delete");
            }
        });

        $('#savebutton').click(function () {
            var itemid = [];
            $('#tbl1').find('input[type="checkbox"]').each(function () {
                itemid.push(this.value);
            });
            var selectedCycleCountDate = $( "#datepicker" ).val();
       //     var modelitems=@*@Html.Raw(val);*@
            if(itemid.length>0)
            {
                if(selectedCycleCountDate=="")
                {
                    alert("Please Select Date");
                }
                else{
                    //var s="";
                    //itemid.forEach(function(entry) {
                    //    s=s+entry+',';
                    //});
                    //alert(s);
                   
                    $.ajax({
                        url: '@Url.Action("SaveItems", "Approval")',
                        type: 'POST',
                        dataType: 'html',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify({ itemids: itemid,routeid:@route ,cycleCountDate:selectedCycleCountDate   }),
                        success: function (result) {

                        //       alert(result);
                            window.location.href = '@Url.Action("Index", "Approval")';
                },
                error: function () {
                      alert("error!");
                   // window.location.href = '@Url.Action("Index", "Approval")';
                }
            });   //end ajax
                }
            }
            else
            {
                alert("Please Add Items!!!");
            }
        });

        $('#newsavebutton').click(function () {
            var itemid = [];
            $('#tbl1').find('input[type="checkbox"]').each(function () {
                itemid.push(this.value);
            });
            var selectedCycleCountDate = $( "#datepicker" ).val();
            //     var modelitems=@*@Html.Raw(val);*@
            if(itemid.length>0)
            {
                if(selectedCycleCountDate=="")
                {
                    alert("Please Select Date");
                }
                else{
                    //var s="";
                    //itemid.forEach(function(entry) {
                    //    s=s+entry+',';
                    //});
                    //alert(s);
                   
                    $.ajax({
                        url: '@Url.Action("NewSaveItems", "Approval")',
                        type: 'POST',
                        dataType: 'html',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify({ itemids: itemid,countid:@Model.CycleCountID ,cycleCountDate:selectedCycleCountDate   }),
                        success: function (result) {

                            //       alert(result);
                            window.location.href = '@Url.Action("Index", "Approval")';
                        },
                        error: function () {
                            alert("error!");
                            // window.location.href = '@Url.Action("Index", "Approval")';
                        }
                    });   //end ajax
                }
            }
            else
            {
                alert("Please Add Items!!!");
            }
        });


        $('#addbutton').click(function() {
            if(listofrows.length>0)
            {
            document.getElementById("deletebutton").setAttribute("class", "btn btn-sm btn-white");
            document.getElementById("totalcounts").textContent = list.length;

            if($('#tbl1 tbody tr td').length==1)
            {
                 $('#tbl1 tbody').empty();
            }
            $('#tbl1 tbody').empty();
            listofrows.forEach(function (e) {
                e.checked = false;
                var tr = $(e).closest('tr');
                tr.hide();

                var row = $(e).closest('tr').html();
                $('#tbl1 tbody').append('<tr id='+e.value+'>' + row + '</tr>');

            });


            // now names contains all of the names of checked checkboxes
            // do something with it for excamle post with ajax
            @*$.ajax({
                url: '@Url.Action("Additems", "Approval")',
                type: 'POST',
                dataType: 'html',
                contentType: 'application/json',
                data: JSON.stringify({ selected: list }),
                success: function (result) {

                    //   alert("success");
                    $("#partialviewforitems").html(result);
                    },
                error: function (result) {
                    alert("error!");
                }
            });   //end ajax*@
           
                $('#search_textbox2').each(function (i) {
                    $(this).quicksearch("[id*=tbl1] tr:not(:has(th))", {
                        'testQuery': function (query, txt, row) {
                            return $(row).children(":eq(" + 1 + ")").text().toLowerCase().indexOf(query[0].toLowerCase()) != -1
                            || $(row).children(":eq(" + 2 + ")").text().toLowerCase().indexOf(query[0].toLowerCase()) != -1;
                        }
                    });
                });
            }
            else{
                alert("Please select items to add");
            }
            
        });

        $('#recountyesbutton').click(function() {
          //  alert("hi");
            $('#tbl1').find('input[type="checkbox"]:checked').each(function () {
                //this is the current checkbox
                list.push(this.value);

            });

            if(list.length>0)
            {
                $.ajax({
                    url: '@Url.Action("RecountItems", "Approval")',
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({ itemids: list,countid:@id }),
                    success: function (result) {

                        // alert("success");
                        //    if(result==true)
                        window.location.href = '@Url.Action("Index", "Approval")';
                    },
                    error: function (result) {
                        window.location.href = '@Url.Action("Index", "Approval")';
                        // alert("error!");
                    }
                });   //end ajax
            }
            else{

                alert("Please Select Items to Recount");

            }

        });



    });
</script>
@*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>*@

<script type="text/javascript">
    $(function () {
        $('#search_textbox').each(function (i) {
            $(this).quicksearch("[id*=tbl] tr:not(:has(th))", {
                'testQuery': function (query, txt, row) {
                    return $(row).children(":eq(" + 1 + ")").text().toLowerCase().indexOf(query[0].toLowerCase()) != -1
                    || $(row).children(":eq(" + 2 + ")").text().toLowerCase().indexOf(query[0].toLowerCase()) != -1;
                }
            });
        });
    });

    

</script>
<script type="text/javascript">
    (function ($, window, document, undefined) {
        $.fn.quicksearch = function (target, opt) {

            var timeout, cache, rowcache, jq_results, val = '', e = this, options = $.extend({
                delay: 100,
                selector: null,
                stripeRows: null,
                loader: null,
                noResults: '',
                matchedResultsCount: 0,
                bind: 'keyup',
                onBefore: function () {
                    return;
                },
                onAfter: function () {
                    return;
                },
                show: function () {
                    this.style.display = "";
                },
                hide: function () {
                    this.style.display = "none";
                },
                prepareQuery: function (val) {
                    return val.toLowerCase().split(' ');
                },
                testQuery: function (query, txt, _row) {
                    for (var i = 0; i < query.length; i += 1) {
                        if (txt.indexOf(query[i]) === -1) {
                            return false;
                        }
                    }
                    return true;
                }
            }, opt);

            this.go = function () {

                var i = 0,
                    numMatchedRows = 0,
                    noresults = true,
                    query = options.prepareQuery(val),
                    val_empty = (val.replace(' ', '').length === 0);

                for (var i = 0, len = rowcache.length; i < len; i++) {
                    if (val_empty || options.testQuery(query, cache[i], rowcache[i])) {
                        options.show.apply(rowcache[i]);
                        noresults = false;
                        numMatchedRows++;
                    } else {
                        options.hide.apply(rowcache[i]);
                    }
                }

                if (noresults) {
                    this.results(false);
                } else {
                    this.results(true);
                    this.stripe();
                }

                this.matchedResultsCount = numMatchedRows;
                this.loader(false);
                options.onAfter();

                return this;
            };

            /*
            * External API so that users can perform search programatically. 
            * */
            this.search = function (submittedVal) {
                val = submittedVal;
                e.trigger();
            };

            /*
            * External API to get the number of matched results as seen in 
            * https://github.com/ruiz107/quicksearch/commit/f78dc440b42d95ce9caed1d087174dd4359982d6
            * */
            this.currentMatchedResults = function () {
                return this.matchedResultsCount;
            };

            this.stripe = function () {

                if (typeof options.stripeRows === "object" && options.stripeRows !== null) {
                    var joined = options.stripeRows.join(' ');
                    var stripeRows_length = options.stripeRows.length;

                    jq_results.not(':hidden').each(function (i) {
                        $(this).removeClass(joined).addClass(options.stripeRows[i % stripeRows_length]);
                    });
                }

                return this;
            };

            this.strip_html = function (input) {
                var output = input.replace(new RegExp('<[^<]+\>', 'g'), "");
                output = $.trim(output.toLowerCase());
                return output;
            };

            this.results = function (bool) {
                if (typeof options.noResults === "string" && options.noResults !== "") {
                    if (bool) {
                        $(options.noResults).hide();
                    } else {
                        $(options.noResults).show();
                    }
                }
                return this;
            };

            this.loader = function (bool) {
                if (typeof options.loader === "string" && options.loader !== "") {
                    (bool) ? $(options.loader).show() : $(options.loader).hide();
                }
                return this;
            };

            this.cache = function () {

                jq_results = $(target);

                if (typeof options.noResults === "string" && options.noResults !== "") {
                    jq_results = jq_results.not(options.noResults);
                }

                var t = (typeof options.selector === "string") ? jq_results.find(options.selector) : $(target).not(options.noResults);
                cache = t.map(function () {
                    return e.strip_html(this.innerHTML);
                });

                rowcache = jq_results.map(function () {
                    return this;
                });

                /*
                * Modified fix for sync-ing "val". 
                * Original fix https://github.com/michaellwest/quicksearch/commit/4ace4008d079298a01f97f885ba8fa956a9703d1
                * */
                val = val || this.val() || "";

                return this.go();
            };

            this.trigger = function () {
                this.loader(true);
                options.onBefore();

                window.clearTimeout(timeout);
                timeout = window.setTimeout(function () {
                    e.go();
                }, options.delay);

                return this;
            };

            this.cache();
            this.results(true);
            this.stripe();
            this.loader(false);

            return this.each(function () {

                /*
                * Changed from .bind to .on.
                * */
                $(this).on(options.bind, function () {

                    val = $(this).val();
                    e.trigger();
                });
            });

        };

    } (jQuery, this, document));

</script>