﻿@model  SLEWebPortal.Models.Credits
@if (Model.creditmemo.Count() == 0)
{
    <br />
    <span style="margin-left: 15px;"><b>No Records to Display!!!</b></span>
    <div style="height:5px;"></div>
    <br />
}
else
{

    <table class="table">
        @{
    //   for (int i = 0; i < 3; i++)
    foreach (var item in Model.routelistmodel)
    //foreach(var item in Model.cyclecountmodels.selectMany(p=>p.Routeid,p=>p.RouteName,p=>p.RouteDescription).Distinct())
    {
        <tr>
            <td style="padding:0px;">



                <div class="row" style="margin:0px;">
                    <br />
                    <div class="col-lg-12" style="padding:0px;">
                        <div class="ibox float-e-margins" style="margin-bottom:5px;">
                            <div class="ibox-title" style="border-style:none; padding:0px 15px 0px; ">
                                @{var creditmodels = Model.creditmemo.Where(it => it.RouteId == item.Routeid.ToString()).ToList();}
                                <table style="width:100%;">
                                    <tr>
                                        <td style="font-size:initial;">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <b>@item.RouteName  , @item.RouteDescription </b>
                                                    </td>

                                                </tr>
                                                <tr><td style="font-size:small;">@Model.creditmemo.Where(i => i.RouteId == item.Routeid.ToString()).ToList().Count Credit  </td></tr>
                                            </table>

                                        </td>
                                        <td rowspan="2" style="float: right;">
                                            <span style="margin-top:-10px; font-size:12px;">
                                                <span style="margin-top:-10px; font-size:12px;">
                                                    <span style="margin-left:10px; color:#f8ac59; font-size:x-large;">@creditmodels.Where(it => it.Status.Trim() == "USTLD").Count()</span> Unsettled Requests
                                                    <span style="margin-left:10px; color:#ed5565; font-size:x-large;">@creditmodels.Where(it => it.Status.Trim() == "VOID").Count()</span> Void Requests
                                                    <span class="hidecompleted">      <span style="margin-left:10px; color:rgb(139, 143, 144); font-size:x-large;">@creditmodels.Where(it => it.Status.Trim() == "STTLD" || it.Status.Trim()=="VDSTLD").Count()</span> Settled Requests</span>
                                                    @*<span style="margin-left:10px; color:green; font-size:x-large;">@Model.cyclecountmodels.Where(i => i.Status.Trim() == "ACCEPT" && i.Routeid == item.Routeid).Count()</span> Accepted
            <span style="margin-left:10px; color:#f8ac59;font-size:x-large;">@Model.cyclecountmodels.Where(i => i.Status.Trim() == "SUBMIT" && i.Routeid == item.Routeid).Count()</span> Submitted
            <span style="margin-left:10px; color:#ed5565;font-size:x-large;">@Model.cyclecountmodels.Where(i => i.Status.Trim() == "VOID" && i.Routeid == item.Routeid).Count()</span> Void
            <span style="margin-left:10px; color:#5d9cec;font-size:x-large;">@Model.cyclecountmodels.Where(i => i.Status.Trim() == "RECNT" && i.Routeid == item.Routeid).Count()</span> Re-Counts*@
                                                </span>
                                            </span>
                                            <div class="ibox-tools">
                                                <a class="collapse-link" style="margin-left:30px;">
                                                    <i class="fa fa-chevron-up"></i>
                                                </a>

                                            </div>
                                        </td>

                                    </tr>

                                </table>
                            </div>
                            <div class="ibox-content" style="width:100%; padding:0px; border-width:0px; ">




                                <div class="panel-body" style="padding:0px;">

                                    <div class="tab-content">
                                        <div id="tab-1" class="tab-pane active">


                                            <div class="ibox-content" style="padding:0px;">
                                                @*<strong>Lorem ipsum dolor sit amet, consectetuer adipiscing</strong>

                                                    <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>

                                                    <p>I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. When.</p>*@
                                                @*@{var replenishmentmodels = Model.replenishmentheader.Where(i => i.RouteId == item.Routeid).ToList();}*@
                                                <table id="tbl" class="table filter" style="text-align:center; margin-bottom:0px;">
                                                    <thead style="border: 1px Solid rgba(128, 128, 128, 0.4); text-align:center;border-left: none;
    border-right: none; ">
                                                        <tr>
                                                            <th id="shipth" class="" style="padding-left: 23px;border-bottom: 1px solid rgba(0, 0, 0, 0.08); width:30%;">Ship to/Bill to</th>


                                                            <th  class="order-item-container  " style="text-align:left;border-bottom: 1px solid rgba(0, 0, 0, 0.08);width:20%;">Reason <i class="fa fa-filter"></i></th>
                                                            <th id="thnotes" class="order-item-container thnotes" style="text-align:center;border-bottom: 1px solid rgba(0, 0, 0, 0.08);width:20%;">Notes</th>
                                                            <th id="thamount" class="order-item-container " style="text-align:center;border-bottom: 1px solid rgba(0, 0, 0, 0.08);width:10%;">Amount</th>
                                                            <th class="order-item-container " style="text-align:center;border-bottom: 1px solid rgba(0, 0, 0, 0.08);">JDE Status <i class="fa fa-filter"></i></th>
                                                            <th id="thstatus" class="order-item-container " style="text-align:center;border-bottom: 1px solid rgba(0, 0, 0, 0.08);">Status</th>


                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @for (int j = 0; j < creditmodels.Count(); j++)
                                                        {

                                                            <tr class="@(creditmodels[j].Status.Trim() == "STTLD" ? "hidecompleted" : "")">
                                                                <td style="text-align: left; width:30%;">
                                                                    <div class="order-item-container col-md-11 pull-left" style="padding-left: 0px;width:100%;">
                                                                        <div class="order-item-header col-md-4" style="width:100%;">
                                                                            <span class="orderIdHeader">

                                                                                <span class="header">
                                                                                    @*<span class="label label-primary">@Model.cyclecountmodels[j].Status</span>*@


                                                                                    @*<span class="col-sm-1" style="padding-left:0px; width:25px;"> @Html.CheckBox("cycleId", new { value = 1, id = "voidcheckId", @class = "submit", onclick = "event.stopPropagation();" })</span>*@




                                                                                    Memo No.:
                                                                                    <span>@creditmodels[j].CreditMemoNo</span>
                                                                                </span>
                                                                                <span class="order-header-date"> on @creditmodels[j].ReceiptDate.ToString("MM/dd/yyyy")</span>
                                                                            </span>
                                                                            <span class="orderIdHeader">
                                                                                <span class="order-id-value" style="font-weight:normal;">Ship to/Bill to: @creditmodels[j].CustomerId,@creditmodels[j].CustomerName.Trim()</span>
                                                                                @* <span class="order-id-value" style="font-weight:normal;">,@productmodels[j].CustomerName</span>*@
                                                                                <span class="order-header-title"></span>
                                                                            </span>

                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td style="vertical-align: middle;width:20%;text-align: left;"><span class="order-item-container " style="font-weight:normal;margin-right: 10px;">@creditmodels[j].Reason.Trim()</span></td>
                                                                <td style="vertical-align: middle;width:20%;"><span class="" style="font-weight:normal;text-align: center;">@creditmodels[j].CreditMemoNote.Trim()</span></td>

                                                                <td style="vertical-align: middle;width: 10%;"><span class="" style="text-align: center; font-weight:bold">($@creditmodels[j].Amount.ToString().Trim())</span></td>

                                                                <td style="vertical-align: middle;width: 10%;"><span class="" style="text-align: center;">@if (creditmodels[j].JDEStatusId == "0") { }
                                                                else
                                                                {<span>In Mobile</span> }</span></td>

                                                                <td style="vertical-align: middle;width: 10%; text-align:center;">
                                                                    @if (creditmodels[j].Status.Trim() == "VOID")
                                                                    {
                                                                        <span class="label label-danger " style="width:90px;display: inline-block;font-family: arial;">Void</span>
                                                                    }

                                                                    else if (creditmodels[j].Status.Trim() == "USTLD")
                                                                    {
                                                                        <span class="label label-warning " style="width:90px;display: inline-block;font-family: arial;">Unsettled</span>
                                                                    }
                                                                    else if (creditmodels[j].Status.Trim() == "STTLD")
                                                                    {
                                                                        <span class="label label-default " style="width:90px;display: inline-block;font-family: arial;">Settled</span>
                                                                    }
                                                                    else if (creditmodels[j].Status.Trim() == "VDSTLD")
                                                                    {
                                                                        <span class="label label-default " style="width:90px;display: inline-block;font-family: arial;">Voided Settled</span>
                                                                    }

                                                                    @*<span class="label label-danger col-md-1 center-block "  style="width:70px; text-align:center;   font-family: arial;">Void</span>*@
                                                                </td>

                                                            </tr>

                                                        }
                                                    </tbody>
                                                </table>


                                            </div>
                                        </div>

                                    </div>

                                </div>


                            </div>

                        </div>
                    </div>

                </div>




            </td>
        </tr>
    }
        }
    </table>


}