﻿@model  SLEWebPortal.Models.Returns

@if (Model.productreturns.Count() == 0)
{
    <br />
    <span style="margin-left: 15px;"><b>No Records to Display!!!</b></span>
    <div style="height:5px;"></div>
    <br />
}
else
{

<table class="table">
    @{
        //  for (int i = 0; i < 3; i++)
        foreach (var item in Model.routelistmodel)
        //foreach(var item in Model.cyclecountmodels.selectMany(p=>p.Routeid,p=>p.RouteName,p=>p.RouteDescription).Distinct())
        {
            <tr>
                <td style="padding:0px;">



                    <div class="row" style="margin:0px;">
                        <br />
                        <div class="col-lg-12" style="padding:0px;">
                            <div class="ibox float-e-margins" style="margin-bottom:5px;">
                                <div class="ibox-title" style="border-style:none; padding:0px 15px 0px; ">
                                    <table style="width:100%;">
                                        <tr>
                                            <td style="font-size:initial;">
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <b>@item.RouteName , @item.RouteDescription </b>
                                                        </td>

                                                    </tr>
                                                    <tr><td style="font-size:small;">@Model.productreturns.Where(i => i.RouteID == item.Routeid).ToList().Count Requests </td></tr>
                                                </table>

                                            </td>
                                            <td rowspan="2" style="float: right;">
                                                <span style="margin-top:-10px; font-size:12px;">
                                                    <span style="margin-left:10px; color:#a5a5a5; font-size:x-large;">@Model.productreturns.Where(i => i.Status.Trim() == "STTLD" && i.RouteID == item.Routeid).Count()</span> Settled Orders
                                                    @*<span style="margin-left:10px; color:#a5a5a5; font-size:x-large;">1</span> Release*@
                                                    @*<span style="margin-left:10px; color:green; font-size:x-large;">@Model.cyclecountmodels.Where(i => i.Status.Trim() == "ACCEPT" && i.Routeid == item.Routeid).Count()</span> Accepted*@
                                                    <span style="margin-left:10px; color:#f8ac59;font-size:x-large;">@Model.productreturns.Where(i => i.Status.Trim() == "USTLD" && i.RouteID == item.Routeid).Count()</span> Unsettled Requests
                                                    <span style="margin-left:10px; color:#ed5565;font-size:x-large;">@Model.productreturns.Where(i => i.Status.Trim() == "VOID" && i.RouteID == item.Routeid).Count()</span> Void orders
                                                    <span style="margin-left:10px; color:#5d9cec;font-size:x-large;">@Model.productreturns.Where(i => i.Status.Trim() == "HOLD" && i.RouteID == item.Routeid).Count()</span> Hold Orders
                                                </span>
                                                <div class="ibox-tools">
                                                    <a class="collapse-link" style="margin-left:30px;">
                                                        <i class="fa fa-chevron-up"></i>
                                                    </a>

                                                </div>
                                            </td>

                                        </tr>

                                    </table>
                                </div>
                                <div class="ibox-content" style="width:100%; padding:0px; border-width:0px; ">




                                    <div class="panel-body" style="padding:0px;">

                                        <div class="tab-content">
                                            <div id="tab-1" class="tab-pane active">


                                                <div class="ibox-content" style="padding:0px;">
                                                    @*<strong>Lorem ipsum dolor sit amet, consectetuer adipiscing</strong>

                                                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>

                                                        <p>I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. When.</p>*@
                                                    @{var productmodels = Model.productreturns.Where(i => i.RouteID == item.Routeid).ToList();}

                                                    @for (int j = 0; j < productmodels.Count; j++)
                                                    {
                                                        <a onclick="location.href='@Url.Action("ReturnsDetails", "DSADashboard", new { i = @productmodels[j].OrderID })'">
                                                            <div class="order-item-container col-md-12">
                                                                <div class="order-item-header col-md-4" style="width:88%;">
                                                                    <span class="orderIdHeader">

                                                                        <span class="header" >
                                                                            @*<span class="label label-primary">@Model.cyclecountmodels[j].Status</span>*@


                                                                            @*<span class="col-sm-1" style="padding-left:0px; width:25px;"> @Html.CheckBox("cycleId", new { value = 1, id = "voidcheckId", @class = "submit", onclick = "event.stopPropagation();" })</span>*@




                                                                            Return Order:
                                                                            <span>@productmodels[j].OrderID</span>
                                                                        </span>
                                                                        <span class="order-header-date"> on @productmodels[j].OrderDatetime.ToString("MM/dd/yyyy")</span>
                                                                    </span>
                                                                    <span class="orderIdHeader">
                                                                        <span class="order-id-value" style="font-weight:normal;">@productmodels[j].CustomerContact</span>
                                                                        <span class="order-id-value" style="font-weight:normal;">,@productmodels[j].CustomerName</span>
                                                                        <span class="order-header-title"></span>
                                                                    </span>

                                                                </div>


                                                                <div class="order-item-header col-md-4 pull-right" style="margin-top: -25px;width: 35%;">
                                                                    @*<span class="orderIdHeader" style="text-align:center;">
                                                                            <span class="order-id-value">12</span>

                                                                        </span>*@
                                                                    <span class="orderIdHeader pull-right">


                                                                        @*@if()
                                                                        {}
                                                                        else
                                                                        {}*@

                                                                        <span class="order-id-value" style="font-weight:normal;margin-right: 10px;">Total Items:@productmodels[j].TotalItems</span>


                                                                        <span class="order-id-value" style=" margin-right: 15px;">Total Amount: @productmodels[j].TotalAmount</span>
                                                                        @if (productmodels[j].Status.Trim() == "VOID")
                                                                        {
                                                                            <span class="label label-danger col-md-1 pull-right" style="width:70px;font-family: arial;">Void</span>
                                                                        }
                                                                        else if (productmodels[j].Status.Trim() == "STTLD")
                                                                        {
                                                                            <span class="label label-default col-md-1 pull-right" style="width:70px;font-family: arial;">Settled</span>
                                                                        }
                                                                        else if (productmodels[j].Status.Trim() == "USTLD")
                                                                        {
                                                                            <span class="label label-warning col-md-1 pull-right" style="width:70px;font-family: arial;">Unsettled</span>
                                                                        }
                                                                        else if (productmodels[j].Status.Trim() == "HOLD")
                                                                        {
                                                                            <span class="label label-success col-md-1 pull-right" style="width:70px;font-family: arial;">Unsettled</span>
                                                                        }



                                                                    </span>

                                                                </div>



                                                            </div>
                                                        </a>
                                                    }



                                                </div>
                                            </div>

                                        </div>

                                    </div>


                                </div>

                            </div>
                        </div>

                    </div>




                </td>
            </tr>
        }
    }
</table>
    
}