﻿@model  SLEWebPortal.Models.Credits

@{
    ViewBag.Title = "Dashboard";
}

<style type="text/css">

    .ibox-content {
    clear: both;
    border: none;
}
</style>
@*<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">*@
<link href=@Url.Content("http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css") rel="stylesheet" type="text/css">
<!--<link href="./libs/bootstrap-editable.css" rel="stylesheet">
<link href="../src/bootstrap-filterable.css" rel="stylesheet">-->
<link href=@Url.Content("~/Filter/bootstrap-editable.css") rel="stylesheet" type="text/css" />
<link href=@Url.Content("~/Filter/font-awesome.min.css") rel="stylesheet" type="text/css" />

<link href=@Url.Content("~/Filter/bootstrap-filterable.css") rel="stylesheet" type="text/css" />
@*<link href="http://lightswitch05.github.io/filterable/stylesheets/main.css" rel="stylesheet">*@

@*<script src=@Url.Content("http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js") type="text/javascript"></script>*@
<script src=@Url.Content("http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js") type="text/javascript"></script>
<!--<script src="./libs/bootstrap-editable.min.js"></script>
<script src="../src/filterable-utils.js"></script>
<script src="../src/filterable-cell.js"></script>
<script src="../src/filterable-row.js"></script>
<script src="../src/filterable.js"></script>-->
<script src=@Url.Content("~/Filter/bootstrap-editable.min.js") type="text/javascript"></script>
<script src=@Url.Content("~/Filter/filterable-utils.js") type="text/javascript"></script>
<script src=@Url.Content("~/Filter/filterable-cell.js") type="text/javascript"></script>
<script src=@Url.Content("~/Filter/filterable-row.js") type="text/javascript"></script>
<script src=@Url.Content("~/Filter/filterable.js") type="text/javascript"></script>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="border-bottom :1px solid #e7eaec;">
                    <h5><i class="fa fa-usd" style="color:red;"></i> Credit Memo </h5>

                </div>
                <div class="ibox-title" style="border-style:none;">

                    <h5 style="margin-left:1%;padding: 5px;"><a href="" class="dro">All Routes</a></h5>
                    <div style="width:55%; float:right; font-size:13px;margin-right: -200px; ">
                        @using (Html.BeginForm("WeeklyCountRequest", "CycleCount", FormMethod.Post, new { style = "display:inherit;", id = "AddAllForm" }))
                        {
                            <div class="col-lg-4 m-l-n" style="width:150px;">
                                <input type="checkbox" id="submittedcheckId" value="1" class="submit" onclick="event.stopPropagation();fetchvalues(1,'','','')">
                                <i>Show Settled</i>

                                @*   @Html.DropDownListFor(m => Model.SelectedUser, Model.UserRoles, new { @class = "dropdown-", id = "dropdownlist", @onchange = "passvalue(this);", style = "height:25px; width:100%;" })*@
                            </div>
                            <div class="col-lg-4 m-l-n">
                                @*<select class="" style="height:30px; width:100%;">
                                    <option>option 1</option>
                                    <option>option 2</option>
                                    <option>option 3</option>
                                    <option>option 4</option>
                                </select>*@

                                  @Html.DropDownListFor(m => Model.SelectedUser, Model.UserRoles, new { @class = "dropdown-", id = "dropdownlist", @onchange = "passvalue(this);", style = "height:25px; width:100%;" })
                            </div>

                            <span style="width:10%;">
                                @*<button type="button" id="acceptbutton" style="width:12%;" class="btn btn-sm btn-white disabled" data-toggle="modal" data-target="#myModal8">Accept</button>*@

                                @Html.Hidden("temproute", new { id = "temproute" })



                                @*<button type="button" style="width:12%;" id="recount" class="btn btn-sm btn-white disabled" data-toggle="modal" data-target="#myModal9"> Re-Count</button> @*onclick="$('#cancelForm').submit()"*@


                                @* <button type="button" style="width:12%;" id="recount" class="btn btn-sm btn-white disabled">Re-Count</button>*@
                                @*<button type="button" style="width:12%;" id="voidbutton" class="btn btn-sm btn-white disabled" data-toggle="modal" data-target="#myModal7">Void</button>*@
                                @*<button type="button" id="releasebutton" style="width:12%;" class="btn btn-sm btn-white disabled">Release</button>
                        <button type="button" style="width:12%;" class="btn btn-sm btn-white" onclick="checkforadd()">Add</button>*@


                            </span>
                        }
                        @*@using (Html.BeginForm("WeeklyCountRequest2", "CycleCount", FormMethod.Post, new { id = "cancelForm" }))
                {

                @Html.TextBox("tempcycleid","", new { id = "tempcycleid",style="display:none;" })

                }*@


                    </div>
                </div>
                <div class="ibox-content" style="padding:0px;">
                    <div id="partialviewforcyclecount">

                        @Html.Partial("_CreditMemoView", Model)
                    </div>

                </div>
                </div>
        </div>

    </div>
</div>



<script type="text/javascript">
    function passvalue(e) {

        if (e.value == "All") {

            $.ajax({

                dataType: 'html',
                url: '@Url.Action("tempreq", "DSADashboard")',

                success: function (result) {

                    window.location.href = '@Url.Action("CreditMemo", "DSADashboard")';
                },
                error: function (result) {
                    alert('error');
                }
            });
        }
        else {
            $.ajax({
                type: 'POST',
                dataType: 'html',
                url: '@Url.Action("CreditMemoForRoute", "DSADashboard")',
                data: ({ i: e.value }),
                success: function (result) {

                    $("#partialviewforcyclecount").html(result);
                    $(".hidecompleted").hide();
                    $('.filter').filterable();
                    $('#partialviewforcyclecount').find('.filter').each(function () {
                        document.getElementById("shipth").innerHTML = "Ship to/Bill to";
                        document.getElementById("thnotes").innerHTML = "Notes";
                        document.getElementById("thamount").innerHTML = "Amount";
                        document.getElementById("thstatus").innerHTML = "Status";
                    });
                },
                error: function (result) {
                    alert('error');
                }
            });
        }


    }

    $('.filter').filterable();
    //  $("#escape").removeAttr("style");
    // document.getElementById("escape").parentNode.parentNode.removeChild(document.getElementById("escape").parentNode);
    //document.getElementById("shipth").innerHTML = "Ship to/Bill to";
    //document.getElementById("thnotes").innerHTML = "Notes";
    //document.getElementById("thamount").innerHTML = "Amount";
    //document.getElementById("thstatus").innerHTML = "Status";


    $('#partialviewforcyclecount').find('.filter').each(function () {
        document.getElementById("shipth").innerHTML = "Ship to/Bill to";
        document.getElementById("thnotes").innerHTML = "Notes";
        document.getElementById("thamount").innerHTML = "Amount";
        document.getElementById("thstatus").innerHTML = "Status";
    });


    $("#submittedcheckId").change(function () {

        event.stopPropagation();
        if (this.checked == true)
            $(".hidecompleted").show();
        else
            $(".hidecompleted").hide();
        // Do something
    });

    $(document).ready(function () {
        $(".hidecompleted").hide();
    });


</script>

















