﻿@model  SLEWebPortal.Models.Returns
@{
    ViewBag.Title = "Dashboard";
}



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><i class="fa fa-reply" style="color:red;"></i> Product Returns </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        @*<a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                            </a>*@
                        @*<ul class="dropdown-menu dropdown-user">
                            <li>
                            <a href="#">Config option 1</a>
                            </li>
                            <li>
                            <a href="#">Config option 2</a>
                            </li>
                            </ul>*@
                    </div>
                </div>
                <div class="ibox-content" style="width:100%; padding:0px;">

                    


                    <div class="panel-body" style="padding:0px;">

                        <div class="tab-content">
                            <div id="tab-2" class="tab-pane active" >
                                <div class="ibox-title" style="border-style:none;">

                                    <h5 style="margin-left:1%;padding: 5px;"><a href="" class="dro">All Routes</a></h5>
                                    <div style="width:55%; float:right; font-size:13px;margin-right: -350px; ">
                                        @using (Html.BeginForm("WeeklyCountRequest", "CycleCount", FormMethod.Post, new { style = "display:inherit;", id = "AddAllForm" }))
                                        {
                                            <div class="col-lg-4 m-l-n">
                                                @*<select class="" style="height:30px; width:100%;">
                            <option>option 1</option>
                            <option>option 2</option>
                            <option>option 3</option>
                            <option>option 4</option>
                            </select>*@

                                                @Html.DropDownListFor(m => Model.SelectedUser, Model.UserRoles, new { @class = "dropdown-", id = "dropdownlist", @onchange = "passvalue(this);", style = "height:25px; width:100%;" })
                                            </div>

                                            <span style="width:10%;">
                                                @*<button type="button" id="acceptbutton" style="width:12%;" class="btn btn-sm btn-white disabled" data-toggle="modal" data-target="#myModal8">Accept</button>*@

                                                @Html.Hidden("temproute", new { id = "temproute" })



                                                @*<button type="button" style="width:12%;" id="recount" class="btn btn-sm btn-white disabled" data-toggle="modal" data-target="#myModal9"> Re-Count</button> @*onclick="$('#cancelForm').submit()"*@


                                                @* <button type="button" style="width:12%;" id="recount" class="btn btn-sm btn-white disabled">Re-Count</button>*@
                                                @*<button type="button" style="width:12%;" id="voidbutton" class="btn btn-sm btn-white disabled" data-toggle="modal" data-target="#myModal7">Void</button>*@
                                                @*<button type="button" id="releasebutton" style="width:12%;" class="btn btn-sm btn-white disabled">Release</button>
                                                <button type="button" style="width:12%;" class="btn btn-sm btn-white" onclick="checkforadd()">Add</button>*@


                                            </span>
                                        }
                                        @*@using (Html.BeginForm("WeeklyCountRequest2", "CycleCount", FormMethod.Post, new { id = "cancelForm" }))
                    {

                    @Html.TextBox("tempcycleid","", new { id = "tempcycleid",style="display:none;" })

                    }*@


                                    </div>
                                </div>

                                <div id="partialviewforcyclecount">
                                    @Html.Partial("_ProductReturnsView",Model)
                                </div>


                            </div>
                            
                            

                        </div>

                    </div>


                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    function passvalue(e) {
      
        if (e.value == "All") {

            $.ajax({

                dataType: 'html',
                url: '@Url.Action("tempreq", "DSADashboard")',

                success: function (result) {

                    window.location.href = '@Url.Action("Returns", "DSADashboard")';
                },
                error: function (result) {
                    alert('error');
                }
            });
        }
        else {
            $.ajax({
                type: 'POST',
                dataType: 'html',
                url: '@Url.Action("ProductReturnsforRoute", "DSADashboard")',
                data: ({ id: e.value }),
                success: function (result) {

                    $("#partialviewforcyclecount").html(result);
                   
                },
                error: function (result) {
                    alert('error');
                }
            });
        }


    }

</script>