﻿@model  SLEWebPortal.Models.Returns
@{
    ViewBag.Title = "Dashboard";
}
<style type="text/css">
     #search_textbox2::-ms-clear {
    display: none;
}
     #search_textbox::-ms-clear {
    display: none;
}

</style>
<div class="wrapper wrapper-content animated fadeInRight" style="padding-bottom:0px;">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    @*@if (Model.StatusType == "PHYSCL")
                    {*@
                        <h5><i class="fa fa-reply" style="color:red;"></i> Product Returns </h5>
                    @*}
                    else
                    {
                        <h5><i class="fa fa-align-justify" style="color:#1ab394;"></i> Weekly Count Request </h5>
                    }*@

                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        @*<a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>*@
                        @*<ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#">Config option 1</a>
                                </li>
                                <li>
                                    <a href="#">Config option 2</a>
                                </li>
                            </ul>*@
                    </div>
                </div>
                <div class="ibox-content" style="width:100%; padding:0px;">




                    <div class="panel-body" style="padding:0px;">

                        <div class="tab-content">

                            <div id="tab-2" class="tab-pane active ">
                                <div class="ibox-title" style="border-style:none;">
                                    @*@if (Model.RouteID == 0)
                                    {
                                        <h5 style="padding-top: 5px;color:#00B3FF;font-size: initial;font-weight: 700;" class="header">All</h5>
                                    }
                                    else
                                    {*@

                                        <h5 style="padding-top: 5px;color:#00B3FF;font-size: initial;font-weight: 700;" class="header">@Model.routelistmodel[0].RouteName, @Model.routelistmodel[0].RouteDescription</h5>
                                   @* }*@
                                    <div style="width:25%; float:right; font-size:13px;">

                                        <div class="col-lg-4 m-l-n pull-right">
                                            <div class="pull-right" >
                                                <i class="fa fa-search" style="z-index:9; margin-left: 85%;margin-right:20px;padding: 8px 12px;"></i>
                                                <input type="search" id="search_textbox2"
                                                       class="form-control pull-right"
                                                       placeholder="Search..." style="height:30px;width: 250px;margin-top: -30px;" />
                                            </div>
                                        </div>

                                        @*<span style="width:10%;">




                                            @if (mod == null)
        {
            <button type="button" id="deletebutton" style="width:12%;" class="btn btn-sm btn-white disabled">Delete</button>
            <button type="submit" id="savebutton" style="width:12%;" class="btn btn-sm btn-white">Create</button>
        }
        else
        {
            if (Model.Status.Trim() == "NEW")
            {
                <button type="button" style="width:12%;" id="voidbutton" class="btn btn-sm btn-white" data-toggle="modal" data-target="#myModal7">Void</button>
                <button type="button" id="acceptbutton" style="width:12%;" class="btn btn-sm btn-white hidden" data-toggle="modal" data-target="#myModal8">Accept</button>
                <button type="submit" id="recountb" style="width:12%;" class="btn btn-sm btn-white hidden">Re-Count</button>
                <button type="button" id="deletebutton" style="width:12%;" class="btn btn-sm btn-white">Delete</button>
                <button type="submit" id="newsavebutton" style="width:12%;" class="btn btn-sm btn-white">Save</button>

            }
            else if (Model.Status.Trim() == "RELS")
            {
                <button type="button" style="width:12%;" id="voidbutton" class="btn btn-sm btn-white" data-toggle="modal" data-target="#myModal7">Void</button>
                <button type="button" id="acceptbutton" style="width:12%;" class="btn btn-sm btn-white disabled" data-toggle="modal" data-target="#myModal8">Accept</button>
                <button type="submit" id="recountb" style="width:12%;" class="btn btn-sm btn-white disabled">Re-Count</button>
            }
            else if (Model.Status.Trim() == "RECNT")
            {
                <button type="button" style="width:12%;" id="voidbutton" class="btn btn-sm btn-white" data-toggle="modal" data-target="#myModal7">Void</button>
                <button type="button" id="acceptbutton" style="width:12%;" class="btn btn-sm btn-white" data-toggle="modal" data-target="#myModal8">Accept</button>
                <button type="submit" id="recountb" style="width:12%;" class="btn btn-sm btn-white disabled">Re-Count</button>
            }
            else if (Model.Status.Trim() == "PNDNG")
            {
                <button type="button" style="width:12%;" id="voidbutton" class="btn btn-sm btn-white" data-toggle="modal" data-target="#myModal7">Void</button>
                <button type="button" id="acceptbutton" style="width:12%;" class="btn btn-sm btn-white disabled" data-toggle="modal" data-target="#myModal8">Accept</button>
                <button type="submit" id="recountb" style="width:12%;" class="btn btn-sm btn-white disabled">Re-Count</button>
            }
            else if (Model.Status.Trim() == "SUBMIT")
            {
                <button type="button" style="width:12%;" id="voidbutton" class="btn btn-sm btn-white" data-toggle="modal" data-target="#myModal7">Void</button>
                <button type="button" id="acceptbutton" style="width:12%;" class="btn btn-sm btn-white" data-toggle="modal" data-target="#myModal8">Accept</button>
                <button type="submit" id="recountb" style="width:12%;" class="btn btn-sm btn-white" onclick="checkforadd();">Re-Count</button>
            }
            else
            {
                <button type="button" style="width:12%;" id="voidbutton" class="btn btn-sm btn-white disabled" data-toggle="modal" data-target="#myModal7">Void</button>
                <button type="button" id="acceptbutton" style="width:12%;" class="btn btn-sm btn-white disabled" data-toggle="modal" data-target="#myModal8">Accept</button>
                <button type="submit" id="recountb" style="width:12%;" class="btn btn-sm btn-white disabled">Re-Count</button>
            }
        }
    </span>*@




                                    </div>
                                </div>
                                <div class="ibox-content" style="padding:0px;">
                                    <div class="order-item-container col-md-12">
                                        <div class="order-item-header col-md-4" style="width:88%;">
                                            <span class="orderIdHeader">

                                                <span class="header" style="color:#545556;">


                                                    @*@if (mod == null)
                                                    {
                                                        <span>Count ID:</span>
                                                        <span>New</span>
                                                    }
                                                    else
                                                    {*@
                                                        <span>Return Order: @Model.productreturns[0].OrderID</span>
                                                   
                                                        @*if (Model.Status.Trim() == "NEW")
                                                        {
                                                            <span class="label label-default col-md-1" style="width:70px;font-family: arial;top: 4px;right: 3px;">New</span>
                                                        }
                                                        else if (Model.Status.Trim() == "RELS")
                                                        {
                                                            <span class="label label-default col-md-1" style="width:70px;font-family: arial;top: 4px;right: 3px;">Release</span>
                                                        }
                                                        else if (Model.Status.Trim() == "SUBMIT")
                                                        {
                                                            <span class="label label-warning col-md-1" style="width:70px;font-family: arial;top: 4px;right: 3px;">Submitted</span>
                                                        }
                                                        else if (Model.Status.Trim() == "PNDNG")
                                                        {
                                                            <span class="label label-default col-md-1" style="width:70px;font-family: arial;top: 4px;right: 3px;">Pending</span>
                                                        }
                                                        else if (Model.Status.Trim() == "ACCEPT")
                                                        {
                                                            <span class="label label-primary col-md-1" style="width:70px;font-family: arial;top: 4px;right: 3px;">Accepted</span>
                                                        }
                                                        else if (Model.Status.Trim() == "RECNT")
                                                        {
                                                            <span class="label label-success col-md-1" style="width:70px;font-family: arial;top: 4px;right: 3px;">Recount</span>
                                                        }
                                                        else if (Model.Status.Trim() == "VOID")
                                                        {
                                                            <span class="label label-danger `col-md-1" style="width:70px;font-family: arial;top: 4px;right: 3px;">Void</span>
                                                        }
                                                    }*@
                                                </span>
                                                <span class="order-header-date">
                                                    on   @*@Model.CycleCountDatetime.ToString("MM/dd/yyyy")*@
                                                    @*@if (mod == null)
                                                    {*@
                                                    <input type="text" id="datepicker" readonly="readonly" value="@Model.productreturns[0].OrderDatetime.ToString("MM/dd/yyyy")" style="width:78px; border:none; margin-left:5px;" />
                                                        @*<label id="datepicker" /><i class="fa fa-calendar" style="font-weight: bold; font-size: large;"></i><input type="text" style="display:none;" id="proxyinput" />*@
                                                    @*}
                                                    else
                                                    {
                                                        <input type="text" readonly="readonly" value="@Model.CycleCountDatetime.ToString("MM/dd/yyyy")" style="width:100px; margin-left:5px; display:none;" id="datepicker" />
                                                        <input type="text" readonly="readonly" value="@Model.CycleCountDatetime.ToString("MM/dd/yyyy")" style="width:100px; margin-left:5px;" id="datepicker2" />
                                                    }*@
                                                </span>
                                            </span>
                                            <span class="orderIdHeader" style="margin-top:5px;">
                                                <span class="order-id-value" style="font-weight:normal;">@Model.productreturns[0].CustomerContact</span>
                                                <span class="order-id-value" style="font-weight:normal;">- @Model.productreturns[0].CustomerName</span>
                                                <span class="order-header-title"></span>
                                            </span>

                                        </div>

                                        <div class="order-item-header col-md-4" style="float:right; margin-top:-30px;">
                                            <span class="orderIdHeader" style="text-align:center;">
                                                <span class="order-id-value">
                                                    @*@if (mod == null)
                                                    {
                                                        <span id="totalcounts">0</span>
                                                    }
                                                    else
                                                    {*@
                                                  
                                                        <span id="totalcounts" style="font-weight: 500; margin-right:10px;">Total Items: @Model.productreturns[0].TotalItems</span>
                                                    <span id="totalcounts" style=" margin-right: 10px;">Total Amount: $@Model.productreturns[0].TotalAmount</span>
                                                    @*<span class="label label-default col-md-1 pull-right" style="width:70px;font-family: arial;top: 4px;left: 3px;">New</span>

                                                    @Model.productreturns[0].Status*@

@if (Model.productreturns[0].Status.Trim() == "VOID")
{
    <span class="label label-danger col-md-1 pull-right" style="width:70px;font-family: arial;">Void</span>
}
else if (Model.productreturns[0].Status.Trim() == "STTLD")
{
    <span class="label label-default col-md-1 pull-right" style="width:70px;font-family: arial;">Settled</span>
}
else if (Model.productreturns[0].Status.Trim() == "USTLD")
{
    <span class="label label-warning col-md-1 pull-right" style="width:70px;font-family: arial;">Unsettled</span>
}
else if (Model.productreturns[0].Status.Trim() == "HOLD")
{
    <span class="label label-success col-md-1 pull-right" style="width:70px;font-family: arial;">Unsettled</span>
}

                                                   @* }*@
                                                </span>
                                            </span>


                                            @*<span class="orderIdHeader">
                                                <span class="order-id-value" style="font-weight:normal;">Items to Count</span>
                                            </span>*@

                                        </div>

                                        <div class="ibox-content" style="padding:15px; border:none;">
                                            @*<strong>Lorem ipsum dolor sit amet, consectetuer adipiscing</strong>

                                                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>

                                                <p>I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. When.</p>*@



                                            <div id="partialviewforitems">

                                                <table id="tbl1" class="table" style="text-align:center;">
                                                    <thead style="border: 1px Solid rgba(128, 128, 128, 0.4); text-align:center; background-color: rgba(128, 128, 128, 0.27);">
                                                        <tr>
                                                            
                                                           
                                                                    <th style="text-align:center;">Order No.</th>
                                                                    <th style="text-align:center;">Item No.</th>
                                                                    <th style="text-align:center;">Item Description</th>
                                                                    <th style="text-align:center;">Order Qty.</th>
                                                                    <th style="text-align:center;">Order UOM</th>
                                                                    <th style="text-align:center;">Qty Returned</th>
                                                                    <th style="text-align:center;">Unit Price</th>
                                                                    <th style="text-align:center;">Tax Amount</th>
                                                                    <th style="text-align:center;">Extended Price</th>

                                                               
                                                            

                                                        </tr>
                                                    </thead>
                                                    <tbody style="border: 1px Solid rgba(128, 128, 128, 0.4);">
                                                       
                                                            @for (int i = 0; i < Model.products.Count();i++)
                                                            {

                                                                <tr>
                                                                   
                                                                       @* <td><div class="checkbox"><label>@Html.CheckBox("itemId", new { value = item.ItemId, @class = "check" })</label></div></td>*@
                                                                    
                                                                        <td><div style="position: relative;display: block;margin-top: 10px;margin-bottom: 10px;border:none;">@Model.products[i].OrderNo</div></td>
                                                                        <td><div style="position: relative;display: block;margin-top: 10px;margin-bottom: 10px;border:none;">@Model.products[i].ItemNo</div></td>
                                                                        <td><div style="position: relative;display: block;margin-top: 10px;margin-bottom: 10px;border:none;">@Model.products[i].ItemDesc</div></td>
                                                                        <td><div style="position: relative;display: block;margin-top: 10px;margin-bottom: 10px;border:none;">@Model.products[i].OrderQty</div></td>
                                                                        <td><div style="position: relative;display: block;margin-top: 10px;margin-bottom: 10px;border:none;">@Model.products[i].OrderUOM</div></td>
                                                                        <td><div style="position: relative;display: block;margin-top: 10px;margin-bottom: 10px;border:none;">@Model.products[i].QtyReturned</div></td>
                                                                        <td><div style="position: relative;display: block;margin-top: 10px;margin-bottom: 10px;border:none;">$@Model.products[i].UnitPrice</div></td>
                                                                        <td><div style="position: relative;display: block;margin-top: 10px;margin-bottom: 10px;border:none;">$@Model.products[i].TaxAmount</div></td>
                                                                        <td><div style="position: relative;display: block;margin-top: 10px;margin-bottom: 10px;border:none;">$@Model.products[i].ExtendedPrice</div></td>
                                                                   
                                                                    
                                                                </tr>
                                                            }

                                                       
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>


                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">

    $(function () {
        $('#search_textbox2').each(function (i) {
            $(this).quicksearch("[id*=tbl1] tr:not(:has(th))", {
                'testQuery': function (query, txt, row) {
                    return $(row).children(":eq(" + 1 + ")").text().toLowerCase().indexOf(query[0].toLowerCase()) != -1
                    || $(row).children(":eq(" + 2 + ")").text().toLowerCase().indexOf(query[0].toLowerCase()) != -1;
                }
            });
        });
    });



</script>

<script type="text/javascript">
    (function ($, window, document, undefined) {
        $.fn.quicksearch = function (target, opt) {

            var timeout, cache, rowcache, jq_results, val = '', e = this, options = $.extend({
                delay: 100,
                selector: null,
                stripeRows: null,
                loader: null,
                noResults: '',
                matchedResultsCount: 0,
                bind: 'keyup',
                onBefore: function () {
                    return;
                },
                onAfter: function () {
                    return;
                },
                show: function () {
                    this.style.display = "";
                },
                hide: function () {
                    this.style.display = "none";
                },
                prepareQuery: function (val) {
                    return val.toLowerCase().split(' ');
                },
                testQuery: function (query, txt, _row) {
                    for (var i = 0; i < query.length; i += 1) {
                        if (txt.indexOf(query[i]) === -1) {
                            return false;
                        }
                    }
                    return true;
                }
            }, opt);

            this.go = function () {

                var i = 0,
                    numMatchedRows = 0,
                    noresults = true,
                    query = options.prepareQuery(val),
                    val_empty = (val.replace(' ', '').length === 0);

                for (var i = 0, len = rowcache.length; i < len; i++) {
                    if (val_empty || options.testQuery(query, cache[i], rowcache[i])) {
                        options.show.apply(rowcache[i]);
                        noresults = false;
                        numMatchedRows++;
                    } else {
                        options.hide.apply(rowcache[i]);
                    }
                }

                if (noresults) {
                    this.results(false);
                } else {
                    this.results(true);
                    this.stripe();
                }

                this.matchedResultsCount = numMatchedRows;
                this.loader(false);
                options.onAfter();

                return this;
            };

            /*
            * External API so that users can perform search programatically.
            * */
            this.search = function (submittedVal) {
                val = submittedVal;
                e.trigger();
            };

            /*
            * External API to get the number of matched results as seen in
            * https://github.com/ruiz107/quicksearch/commit/f78dc440b42d95ce9caed1d087174dd4359982d6
            * */
            this.currentMatchedResults = function () {
                return this.matchedResultsCount;
            };

            this.stripe = function () {

                if (typeof options.stripeRows === "object" && options.stripeRows !== null) {
                    var joined = options.stripeRows.join(' ');
                    var stripeRows_length = options.stripeRows.length;

                    jq_results.not(':hidden').each(function (i) {
                        $(this).removeClass(joined).addClass(options.stripeRows[i % stripeRows_length]);
                    });
                }

                return this;
            };

            this.strip_html = function (input) {
                var output = input.replace(new RegExp('<[^<]+\>', 'g'), "");
                output = $.trim(output.toLowerCase());
                return output;
            };

            this.results = function (bool) {
                if (typeof options.noResults === "string" && options.noResults !== "") {
                    if (bool) {
                        $(options.noResults).hide();
                    } else {
                        $(options.noResults).show();
                    }
                }
                return this;
            };

            this.loader = function (bool) {
                if (typeof options.loader === "string" && options.loader !== "") {
                    (bool) ? $(options.loader).show() : $(options.loader).hide();
                }
                return this;
            };

            this.cache = function () {

                jq_results = $(target);

                if (typeof options.noResults === "string" && options.noResults !== "") {
                    jq_results = jq_results.not(options.noResults);
                }

                var t = (typeof options.selector === "string") ? jq_results.find(options.selector) : $(target).not(options.noResults);
                cache = t.map(function () {
                    return e.strip_html(this.innerHTML);
                });

                rowcache = jq_results.map(function () {
                    return this;
                });

                /*
                * Modified fix for sync-ing "val".
                * Original fix https://github.com/michaellwest/quicksearch/commit/4ace4008d079298a01f97f885ba8fa956a9703d1
                * */
                val = val || this.val() || "";

                return this.go();
            };

            this.trigger = function () {
                this.loader(true);
                options.onBefore();

                window.clearTimeout(timeout);
                timeout = window.setTimeout(function () {
                    e.go();
                }, options.delay);

                return this;
            };

            this.cache();
            this.results(true);
            this.stripe();
            this.loader(false);

            return this.each(function () {

                /*
                * Changed from .bind to .on.
                * */
                $(this).on(options.bind, function () {

                    val = $(this).val();
                    e.trigger();
                });
            });

        };

    }(jQuery, this, document));





</script>