﻿
@model SLEWebPortal.Models.DashboardModels

@{
    var totalOrders = Model.TotalOrders;
    var totalCreditOrders = Model.TotalCreditOrders;
    //var totalOrdersForToday = Model.TotalOrdersForToday;
    //var totalVoidOrders = Model.TotalVoidOrders;
    //var totalVoidOrdersForToday = Model.TotalVoidOrdersForToday;
    //var totalPaymentAmountForToday = Model.TotalPaymentAmountForToday;
    //var totalCustomers = Model.TotalCustomers;
    var coffee = 0.0;
    var allie = 0.0;
    var order = 0.0;
    var creditorder = 0.0;
    
    var totalcoffee = 0.0;
    var totalallie = 0.0;
    var totalorder = 0.0;
    var totalCreditorder = 0.0;
    
    try
    {
        coffee = Convert.ToDouble(Model.graphorders[0].graphcoffee);
        allie = Convert.ToDouble(Model.graphorders[0].graphallie);
        order = Convert.ToDouble(Model.graphorders[0].graphordertotal);
        creditorder = Convert.ToDouble(Model.graphorders[0].graphCreditordertotal);
   
    // for (int i = 0; i < Model.Orders.Count; i++)
    // {
    //  totalcoffee = totalcoffee + Convert.ToDouble(Model.Orders[i].TotalCoffee);
    //}
    totalcoffee = Convert.ToDouble(Model.Orders.Sum(x => x.TotalCoffee.AsDecimal()));
    totalallie = Convert.ToDouble(Model.Orders.Sum(x => x.TotalAllied.AsDecimal()));
    totalorder = Convert.ToDouble(Model.Orders.Sum(x => x.OrderTotal.AsDecimal()));
    totalCreditorder = Convert.ToDouble(Model.CreditOrders.Sum(x => x.OrderTotal.AsDecimal()));
        
    TempData["Resultcoffee"] = (coffee / totalcoffee) * 100;
    TempData["Resultallie"] = (allie / totalallie) * 100;
    TempData["Resultorder"] = (order / totalorder) * 100;
    TempData["Resultcreditorder"] = (creditorder / totalCreditorder) * 100;
        
    TempData["totalcoffee"] = coffee;
    TempData["totalallie"] = allie;
    TempData["totalorder"] = order;
    TempData["totalcreditorder"] = creditorder;
    }
    catch (Exception ex)
    {

        totalcoffee = 0.0;
        totalallie = 0.0;
        totalorder = 0.0;
        TempData["Resultcoffee"] = 0.0;
        TempData["Resultallie"] = 0.0;
        TempData["Resultorder"] = 0.0;
        TempData["totalcoffee"] = 0.0;
        TempData["totalallie"] = 0.0;
        TempData["totalorder"] = 0.0;
        TempData["Resultcreditorder"] = 0.0;
        TempData["totalcreditorder"] = 0.0;
    }
}


<div class="row" style="width:100%">

    <div class="col-lg-3" style="width:100%">
        <div id="live-poll-area" style="width:100%">

            <div class="answer-list" style="width:100%"></div>
        </div>
        @*<ul class="stat-list">
                <li>
                    <h2 class="no-margins">2,346</h2>
                    <small>Total orders in period</small>
                    <div class="stat-percent">48% <i class="fa fa-level-up text-navy"></i></div>
                    <div class="progress progress-mini">
                        <div style="width: 48%;" class="progress-bar"></div>
                    </div>
                </li>
                <li>
                    <h2 class="no-margins ">4,422</h2>
                    <small>Orders in last month</small>
                    <div class="stat-percent">60% <i class="fa fa-level-down text-navy"></i></div>
                    <div class="progress progress-mini">
                        <div style="width: 60%;" class="progress-bar"></div>
                    </div>
                </li>
                <li>
                    <h2 class="no-margins ">9,180</h2>
                    <small>Monthly income from orders</small>
                    <div class="stat-percent">22% <i class="fa fa-bolt text-navy"></i></div>
                    <div class="progress progress-mini">
                        <div style="width: 22%;" class="progress-bar"></div>
                    </div>
                </li>
            </ul>*@
    </div>
</div>

<script>
    function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(?:\d{3})+(?!\d))/g, ",");
    }

    var percentageArray = new Array();
    percentageArray.push(Math.round(@TempData["Resultcoffee"],2));
    percentageArray.push(Math.round(@TempData["Resultallie"],2));
    percentageArray.push(Math.round(@TempData["Resultorder"],2));
    percentageArray.push(Math.round(@TempData["Resultcreditorder"],2));

    var amountArray = new Array();
    amountArray.push(numberWithCommas(@TempData["totalcoffee"]));
    amountArray.push(numberWithCommas(@TempData["totalallie"]));
    amountArray.push(numberWithCommas(@TempData["totalorder"]));
    amountArray.push(numberWithCommas(@TempData["totalcreditorder"]));
    //      percentageArray.push(28.75);
    var answerArray = new Array();
    answerArray.push('Total Coffee');
    answerArray.push('Total Allied');
    answerArray.push('Orders');
    answerArray.push('Credit Orders');
    //      answerArray.push('G\xE5');
    $.fn.createBarchart = function (optionvariables) {
        var chartContainer = $(this);
        var defaults = { 'maxWidth': 244 };
        var options = $.extend({}, defaults, optionvariables);
        var self = $(this), graphContainer = self.parent().find('.graph-container .graph'), barChart = $('<ul/>', { class: 'bar-chart' });
        barChart.appendTo(chartContainer);
        $.each(answerArray, function (index, value) {
            var chartAnswer = $('<li/>', { class: 'answer-' + index }), answerLabel = $('<span/>', {
                class: 'no-margins2',
                text: '$'+ amountArray[index]
            }), chartAnswer2 = $('<li/>', { class: 'answer-' + index }), answerLabel2 = $('<span/>', {
                class: 'labelnew',
                text: value
            }), percentageValue = percentageArray[index].toString(), answerPercentage = $('<span/>', {
                class: 'stat-percent'
                //   text: percentageValue.replace('.', ',') + '%'
                //  text: '$'+ amountArray[index]
            }), barTrack = $('<span/>', { class: 'bar-track' }), bar = $('<span />', {
                class: 'progress-bar',
                style: 'width: ' + percentageValue + '%;'
            });
            chartAnswer.appendTo(barChart);
            chartAnswer2.appendTo(barChart);
            answerLabel.appendTo(chartAnswer);
            answerLabel2.appendTo(chartAnswer);
            answerPercentage.appendTo(chartAnswer);
            barTrack.appendTo(chartAnswer);
            bar.appendTo(barTrack);
        });
        if ($('html').hasClass('canvas')) {
            barChart.chart({ graphContainer: graphContainer });
        }
    };

    //  };
    $('#live-poll-area .answer-list').createBarchart();

</script>