﻿@model SLEWebPortal.Models.DashboardModels
<table class="table order-item-detail-partialView-table" style=" width: 100%;">
    <thead>
        <tr>
            <th>Item No</th>            
            <th>Quantity</th>
            <th>UOM</th>                       
            <th style="text-align:right; align-content:center; width:15%;">Unit Price</th>
            <th style="text-align:right; align-content:center;">Extended Price</th>
        </tr>
    </thead>
    <tbody>
        @if (@Model.Orders.Count == 0)
        {
             <tr>
                <td colspan="5" class="responseMsg">No data available in table</td>
             </tr>
        }
        @for (int i = 1; i <= @Model.Orders.Count; i++)
        {
            <tr>
                <td>@Model.Orders.ElementAt(i - 1).ItemNumber</td>                 
                <td>@Model.Orders.ElementAt(i - 1).Quantity</td>
                <td>@Model.Orders.ElementAt(i - 1).UOM</td>
                <td align="right" style="text-align:right; width:290px;">$ @Model.Orders.ElementAt(i - 1).UnitPrice</td>
                <td align="right" style="text-align:right; width:250px;">$ @Model.Orders.ElementAt(i - 1).ExtnPrice</td>
                <td style="width:10%;"></td>
            </tr>
        }
    </tbody>
</table>
