﻿@{
    ViewBag.Title = "Prospects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SLEWebPortal.Models.ProspectModels
          
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Dashboard")">Dashboard</a>
            </li>
            <li class="active">
                <strong>Prospects</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Total Customers : @Model.Prospects.Count</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Config option 1</a>
                            </li>
                            <li>
                                <a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover customer-listing-table">
                        <thead>
                            <tr>
                                <th width="100px">#</th>
                                <th width="18%">Prospect No</th>
                                <th width="25%">Prospect Name</th>
                                <th>Address</th>
                                <th width="15%">Phone #</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < @Model.Prospects.Count; i++)
                            {
                                <tr>
                                    <td>@(++i)</td>
                                    <td>@Model.Prospects[--i].ProspectNo</td>
                                    <td>@Model.Prospects[i].ProspectName.Trim()</td>
                                    <td>
                                        @{
                                            string address = Model.Prospects[i].AddressLine1.Trim();
                                            if (Model.Prospects[i].AddressLine2.Trim() != "")
                                            {
                                                address += ",&nbsp;<span>"+Model.Prospects[i].AddressLine2.Trim()+"</span>";
                                            }
                                            if (Model.Prospects[i].AddressLine3.Trim() != "")
                                            {
                                                address += ",&nbsp;<span>" + Model.Prospects[i].AddressLine3.Trim() + "</span>";
                                            }
                                            if (Model.Prospects[i].AddressLine4.Trim() != "")
                                            {
                                                address += ",&nbsp;<span>" + Model.Prospects[i].AddressLine4.Trim() + "</span>";
                                            }
                                            if (Model.Prospects[i].CityName.Trim() != "")
                                            {
                                                address += ",<br /><span>"+Model.Prospects[i].CityName.Trim()+"</span>";
                                            }
                                            if (Model.Prospects[i].StateName.Trim() != "")
                                            {
                                                address += ",<br /><span>"+Model.Prospects[i].StateName.Trim()+"</span>";
                                            }
                                            if (Model.Prospects[i].ZipCode.Trim() != "")
                                            {
                                                address += ",<br /><span>" + Model.Prospects[i].ZipCode.Trim() + "</span>";
                                            }
                                        }   
                                        <span>@Html.Raw(address)</span>                                     
                                    </td>
                                    <td>
                                        @{
                                            string phone = "";
                                            if (Model.Prospects[i].AreaCode1 != "" && Model.Prospects[i].Phone1 != "")
                                            {
                                                phone += "<span>(" + Model.Prospects[i].AreaCode1 + ") " + Model.Prospects[i].Phone1 + "</span>";
                                            }
                                            else if (Model.Prospects[i].AreaCode2 != "" && Model.Prospects[i].Phone2 != "")
                                            {
                                                phone += "<br /><span>(" + Model.Prospects[i].AreaCode2 + ") " + Model.Prospects[i].Phone2 + "</span>";
                                            }
                                            else if (Model.Prospects[i].AreaCode3 != "" && Model.Prospects[i].Phone3 != "")
                                            {
                                                phone += "<br /><span>(" + Model.Prospects[i].AreaCode3 + ") " + Model.Prospects[i].Phone3 + "</span>";
                                            }
                                            else if (Model.Prospects[i].AreaCode4 != "" && Model.Prospects[i].Phone4 != "")
                                            {
                                                phone += "<br /><span>(" + Model.Prospects[i].AreaCode4 + ") " + Model.Prospects[i].Phone4 + "</span>";
                                            }

                                            <span>@Html.Raw(phone)</span>
                                        }
                                    </td>
                                    
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")

    <script type="text/javascript">
        $(document).ready(function () {
            $('.customer-listing-table').dataTable();
            /* Init DataTables */
            var oTable = $('#editable').dataTable();
            //"tableTools": {
            //    "sSwfPath": "../scripts/plugins/dataTables/swf/copy_csv_xls_pdf.swf"
            //}
        });

    </script>
}

