﻿
@{
    ViewBag.Title = "Void Order List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SLEWebPortal.Models.DashboardModels

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title order-list-title col-md-6">
                    <h5>List of Void Orders</h5>
                </div>
                <div class="ibox-corner-data ibox-title col-md-6">
                    <h5>Total Orders : @Model.VoidOrders.Count</h5>
                </div>
                <div class="ibox-content order-list-box-container">
                    <div class="order-list-container col-md-12">
                        @if (@Model.VoidOrders.Count == 0)
                        {
                            <tr>
                                <td colspan="5" class="responseMsg">No data available in table</td>
                            </tr>
                        }
                        @for (int i = 1; i <= @Model.VoidOrders.Count; i++)
                        {
                            <div class="order-item-container col-md-12">
                                <div class="order-item-header col-md-4" style="width:27%;">
                                    <span class="orderIdHeader">
                                        <span class="header">
                                            Order No.:
                                            <span>@Model.VoidOrders.ElementAt(i - 1).OrderID</span>
                                        </span>
                                        <span class="order-header-date">@Convert.ToDateTime(Model.VoidOrders.ElementAt(i - 1).OrderDate).ToString("MM/dd/yyyy")</span>
                                    </span>
                                    <span class="orderIdHeader">
                                        <span class="order-id-value">@Model.VoidOrders.ElementAt(i - 1).CustomerNo</span>
                                        <span class="order-id-value" style="font-weight:normal;">,@Model.VoidOrders.ElementAt(i - 1).CustomerName</span>
                                        <span class="order-header-title"></span>
                                    </span>

                                </div>
                                <div class="order-item-desc col-md-2" style="width:15%;">
                                    <span class="order-id-value">Total Allied:  $ @Model.VoidOrders.ElementAt(i - 1).TotalAllied </span>

                                </div>
                                <div class="order-item-desc col-md-2" style="width:15%;">
                                    <span class="order-id-value"> Total Coffee: $ @Model.VoidOrders.ElementAt(i - 1).TotalCoffee </span>
                                </div>
                                <div class="order-item-desc col-md-2" style="width:20%;">
                                    <span class="order-id-value amount-value font-bold"> Total Amount: $ @Model.VoidOrders.ElementAt(i - 1).OrderTotal </span>
                                </div>
                                <div class="order-item-desc col-md-2" style="width:10%;">
                                    <span class="order-id-value">@Model.VoidOrders.ElementAt(i - 1).OrderState </span>
                                </div>
                                <div class="order-item-desc col-md-1" style="width:10%; ">
                                    <img src="@Model.VoidOrders.ElementAt(i - 1).OrderSubState" onerror="this.style.display='none'" />
                                </div>
                                <div class="order-item-desc col-md-1" style=" padding:0px 0px; width:0.3333333%;">
                                    <i class="fa fa-angle-down btn-detail order-detail-click font-bold" style="font-weight:bold; font-size:14px; color:#646464; margin-left:5px; margin-top:15px; cursor:pointer" data-target=@Model.VoidOrders.ElementAt(i - 1).OrderID></i>
                                </div>
                                <div id="accordion" class="order-detail-container col-md-12" data-element=@Model.VoidOrders.ElementAt(i - 1).OrderID>
                                    <div class="order-detail-panel col-md-12">
                                        <div class="order-detail-title" style="font-weight:bold;">List of Items</div>
                                        <div class="order-detail-list col-md-12">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/plugins/flot")
    @Scripts.Render("~/plugins/vectorMap")

    <script type="text/javascript">
        $(document).ready(function () {
            var accordionDiv = $('.order-detail-container').hide();
            var data2 = [
               [gd(2012, 1, 1), 7], [gd(2012, 1, 2), 6], [gd(2012, 1, 3), 4], [gd(2012, 1, 4), 8],
               [gd(2012, 1, 5), 9], [gd(2012, 1, 6), 7], [gd(2012, 1, 7), 5], [gd(2012, 1, 8), 4],
               [gd(2012, 1, 9), 7], [gd(2012, 1, 10), 8], [gd(2012, 1, 11), 9], [gd(2012, 1, 12), 6],
               [gd(2012, 1, 13), 4], [gd(2012, 1, 14), 5], [gd(2012, 1, 15), 11], [gd(2012, 1, 16), 8],
               [gd(2012, 1, 17), 8], [gd(2012, 1, 18), 11], [gd(2012, 1, 19), 11], [gd(2012, 1, 20), 6],
               [gd(2012, 1, 21), 6], [gd(2012, 1, 22), 8], [gd(2012, 1, 23), 11], [gd(2012, 1, 24), 13],
               [gd(2012, 1, 25), 7], [gd(2012, 1, 26), 9], [gd(2012, 1, 27), 9], [gd(2012, 1, 28), 8],
               [gd(2012, 1, 29), 5], [gd(2012, 1, 30), 8], [gd(2012, 1, 31), 25]
            ];

            var data3 = [
                [gd(2012, 1, 1), 800], [gd(2012, 1, 2), 500], [gd(2012, 1, 3), 600], [gd(2012, 1, 4), 700],
                [gd(2012, 1, 5), 500], [gd(2012, 1, 6), 456], [gd(2012, 1, 7), 800], [gd(2012, 1, 8), 589],
                [gd(2012, 1, 9), 467], [gd(2012, 1, 10), 876], [gd(2012, 1, 11), 689], [gd(2012, 1, 12), 700],
                [gd(2012, 1, 13), 500], [gd(2012, 1, 14), 600], [gd(2012, 1, 15), 700], [gd(2012, 1, 16), 786],
                [gd(2012, 1, 17), 345], [gd(2012, 1, 18), 888], [gd(2012, 1, 19), 888], [gd(2012, 1, 20), 888],
                [gd(2012, 1, 21), 987], [gd(2012, 1, 22), 444], [gd(2012, 1, 23), 999], [gd(2012, 1, 24), 567],
                [gd(2012, 1, 25), 786], [gd(2012, 1, 26), 666], [gd(2012, 1, 27), 888], [gd(2012, 1, 28), 900],
                [gd(2012, 1, 29), 178], [gd(2012, 1, 30), 555], [gd(2012, 1, 31), 993]
            ];


            var dataset = [
                {
                    label: "Number of orders",
                    data: data3,
                    color: "#1ab394",
                    bars: {
                        show: true,
                        align: "center",
                        barWidth: 24 * 60 * 60 * 600,
                        lineWidth: 0
                    }

                }, {
                    label: "Payments",
                    data: data2,
                    yaxis: 2,
                    color: "#464f88",
                    lines: {
                        lineWidth: 1,
                        show: true,
                        fill: true,
                        fillColor: {
                            colors: [{
                                opacity: 0.2
                            }, {
                                opacity: 0.2
                            }]
                        }
                    },
                    splines: {
                        show: false,
                        tension: 0.6,
                        lineWidth: 1,
                        fill: 0.1
                    },
                }
            ];


            var options = {
                xaxis: {
                    mode: "time",
                    tickSize: [3, "day"],
                    tickLength: 0,
                    axisLabel: "Date",
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: 'Arial',
                    axisLabelPadding: 10,
                    color: "#d5d5d5"
                },
                yaxes: [{
                    position: "left",
                    max: 1070,
                    color: "#d5d5d5",
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: 'Arial',
                    axisLabelPadding: 3
                }, {
                    position: "right",
                    clolor: "#d5d5d5",
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: ' Arial',
                    axisLabelPadding: 67
                }
                ],
                legend: {
                    noColumns: 1,
                    labelBoxBorderColor: "#000000",
                    position: "nw"
                },
                grid: {
                    hoverable: false,
                    borderWidth: 0
                }
            };

            function gd(year, month, day) {
                return new Date(year, month - 1, day).getTime();
            }

            var previousPoint = null, previousLabel = null;

            var mapData = {
                "US": 298,
                "SA": 200,
                "DE": 220,
                "FR": 540,
                "CN": 120,
                "AU": 760,
                "BR": 550,
                "IN": 200,
                "GB": 120,
            };
            $('.btn-detail').click(function (e) {
                //debugger
                var currentElem = e.currentTarget;
                var dataId = $(currentElem).attr('data-target');
                var currentSelectedBtn = $('[data-element ="' + dataId + '"]').prev().find('.order-detail-click');
                var previousSelectedElement = accordionDiv.not('[data-element ="' + dataId + '"]').prev().find('.order-detail-click');
             //   var accordionDiv = $("tr#accordion").hide();

                $.ajax({
                    // method: 'POST', <-- remove this
                    type: 'POST', // <-- add this
                    url: "@Url.Action("OrderDetails","Dashboard")",
                    data: { orderID: dataId },
                    success: function (data) {
                        //var debugging = false; // or true
                        //if (typeof console == "undefined") var console = { log: function () { } };
                        //else if (!debugging || typeof console.log == "undefined") console.log = function () { };
                        console.log("success");
                        $('[data-element ="' + dataId + '"] .order-detail-panel').find('.order-detail-list').html(data);
                        $('[data-element ="' + dataId + '"] .order-detail-panel').addClass('selected');
                        console.log(data);
                    },
                    error: function (error) {
                        console.log('error');
                    }
                });
                accordionDiv.not('[data-element ="' + dataId + '"]').prev().removeClass('active');
                $('[data-element ="' + dataId + '"]').prev().addClass('active');
                $('[data-element ="' + dataId + '"]').slideToggle("slow");
                if ($(currentSelectedBtn).hasClass('fa-angle-down'))
                    $(currentSelectedBtn).removeClass('fa-angle-down').addClass('fa-angle-up');
                else {
                    $(currentSelectedBtn).removeClass('fa-angle-up').addClass('fa-angle-down');

                }
                if (previousSelectedElement.hasClass('fa-angle-up'))
                    previousSelectedElement.removeClass('fa-angle-up').addClass('fa-angle-down');
                accordionDiv.not('[data-element ="' + dataId + '"]').slideUp("slow");



            });
            $('#world-map').vectorMap({
                map: 'world_mill_en',
                backgroundColor: "transparent",
                regionStyle: {
                    initial: {
                        fill: '#e4e4e4',
                        "fill-opacity": 0.9,
                        stroke: 'none',
                        "stroke-width": 0,
                        "stroke-opacity": 0
                    }
                },

                series: {
                    regions: [{
                        values: mapData,
                        scale: ["#1ab394", "#22d6b1"],
                        normalizeFunction: 'polynomial'
                    }]
                },
            });

        });
    </script>
}


