﻿
@model  SLEWebPortal.Models.DelieveryViewModel


<table class="table" id="maintable">
    <thead>
        <tr>

            <th style="width:15%;text-align:center;">Delivery Code <i class="fa fa-filter"></i></th>
            <th id="escapedesc" style="width:45%;">Description</th>
            <th style="width:15%; text-align:center;">Stops per Cycle <i class="fa fa-filter"></i></th>
            <th style="width:15%; text-align:center;">Weeks per cycle <i class="fa fa-filter"></i></th>

            <th id="escape2" style="width:15%;text-align:center;">Status</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < @Model.TotalCodes.Count; i++)
        {
            if (Model.TotalCodes[i].Status == true)
            {

                <tr onclick="location.href = '@(Url.Action("Configuration2", Model.TotalCodes[i]))'" style=" cursor:pointer;">

                    <td style="width:15%;text-align:center;">@Model.TotalCodes[i].DelieveryCode</td>
                    <td style="width:45%;">@Model.TotalCodes[i].Description.Trim()</td>
                    <td style="width:15%; text-align:center;">@Model.TotalCodes[i].Stops</td>
                    <td style="width:15%;text-align:center;">@Model.TotalCodes[i].Weeks</td>

                    <td style="width:15%;text-align:center;">
                        @if (@Model.TotalCodes[i].Status == false)
                        {
                            @*@Html.ActionLink("Yes ", "ViewLyubomir", "DeliveryDay", null, new { @class = "modal-link btn btn-success" })*@
                            <button id="newbutton" type="button" class="btn btn-primary" style="padding:0px;width:80%; background-color:rgba(14, 15, 14, 0.52); border-color:rgba(26, 179, 148, 0); font-size:small;" data-toggle="modal" data-code="@Model.TotalCodes[i].DelieveryCode" data-weeks="@Model.TotalCodes[i].Weeks" data-description="@Model.TotalCodes[i].Description" data-stops="@Model.TotalCodes[i].Stops" data-target="#myModal7">
                                New
                            </button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-primary" style="padding:0px;width:80%; background-color:rgba(20, 163, 17, 0.68);border-color:rgba(26, 179, 148, 0); font-size:small;">
                                Active
                            </button>
                        }

                        @*<span class="label label-primary">Yes</span>*@

                    </td>
                </tr>
            }
            else
            {
                <tr style="cursor:pointer;" data-toggle="modal" data-code="@Model.TotalCodes[i].DelieveryCode" data-weeks="@Model.TotalCodes[i].Weeks" data-description="@Model.TotalCodes[i].Description" data-stops="@Model.TotalCodes[i].Stops" data-target="#myModal7" data-backdrop="static" onclick="fetchvalues('@Model.TotalCodes[i].DelieveryCode','@Model.TotalCodes[i].Description','@Model.TotalCodes[i].Stops','@Model.TotalCodes[i].Weeks')">

                    <td style="width:15%;text-align:center;">@Model.TotalCodes[i].DelieveryCode</td>
                    <td style="width:45%;">@Model.TotalCodes[i].Description.Trim()</td>
                    <td style="width:15%; text-align:center;">@Model.TotalCodes[i].Stops</td>
                    <td style="width:15%;text-align:center;">@Model.TotalCodes[i].Weeks</td>

                    <td style="width:15%;text-align:center;">
                        @if (@Model.TotalCodes[i].Status == false)
                        {
                            @*@Html.ActionLink("Yes ", "ViewLyubomir", "DeliveryDay", null, new { @class = "modal-link btn btn-success" })*@
                            <button id="newbutton" type="button" class="btn btn-primary" style="padding:0px;width:80%; background-color:rgba(14, 15, 14, 0.52); border-color:rgba(26, 179, 148, 0); font-size:small;">
                                New
                            </button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-primary" style="padding:0px;width:80%; background-color:rgba(20, 163, 17, 0.68);border-color:rgba(26, 179, 148, 0); font-size:small;">
                                Active
                            </button>
                        }

                        @*<span class="label label-primary">Yes</span>*@

                    </td>
                </tr>
            }

        }
    </tbody>
</table>

