﻿
@{
    ViewBag.Title = "configuration";
}

<h2>configuration</h2>

<div class="ibox-content">


    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>#</th>
                <td colspan="5" align="center">Week 1</td>
                <td colspan="5" align="center">Week 2</td>


            </tr>
            <tr>
                <th>#</th>
                <td>Mon</td>
                <td>Tue</td>
                <td>Wed</td>
                <td>Thu</td>
                <td>Fri</td>
                <td>Mon</td>
                <td>Tue</td>
                <td>Wed</td>
                <td>Thu</td>
                <td>Fri</td>
            </tr>


            <tr>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>




</div>

<script type="text/javascript">

    $(function () {
        $('td').click(function () {
            $(this).toggleClass("red-cell");
        });
    });
</script>

<style type="text/css">
    td {
        background: white;
        cursor: pointer;
        padding: 2px;
    }

        td.red-cell {
            background: Blue; /* Or some other color */
        }
</style>