﻿@{
    ViewBag.Title = "Delivery Day Configuration";
}

@*<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10" style="width:100%;">
        <table style="width:100%;">
            <tr>
                <td style=" width:50%;">
                    <h2>Delivery Day Configuration</h2>
                </td>
                <td style=" width:50%;">
                    <span style="float:right; margin-top:-1%;">@DateTime.Now.ToLongDateString()</span>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-lg-2">

    </div>
</div>*@

@model  SLEWebPortal.Models.DelieveryViewModel

@{int number = Model.Weeks; string Code = Model.DelieveryCode; string Desc = Model.Description;  string[] dayweeks = (string[])TempData["dayweeks"];}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h4 style=" margin-left:10px;padding: 7px;"><i class="fa fa-calendar-o" style="color:rgb(0, 158, 255);"></i> @Model.DelieveryCode : @Model.Description</h4>
                    <div style="width:35%; float:right; margin-top:-45px;">

                        @*<i class="fa fa-chevron-up"></i>*@
                        <span class="btn btn-primary" style="height:22px;padding:0px; width:7%; border-radius:0px; margin-right:5px;"><span id="totalstops">0</span></span>
                        Stops


                        @*<i class="fa fa-wrench"></i>*@
                        <span class="btn btn-primary" style="height:22px;padding:0px; width:7%;border-radius:0px; text-align:center; margin-left:10px;margin-right:5px;"><span>@number</span></span>
                        Weeks per Cycle

                        <button class="btn btn-sm btn-white " id="resetbutton" type="submit" disabled style="margin-left:10px;">Reset</button>
                        <button class="btn btn-sm btn-white " id="savebutton" type="submit" disabled>Save</button>
                    </div>

                    <table class="table table-bordered" style="border-collapse:collapse;border-spacing: 0;  border-bottom:2px solid #B5B4B4; border-top:2px solid #B5B4B4" cellspacing="0">
                        <tbody>


                            @{int counter = 1; int limitrow = 0; int limitcolumn = 0;}
                            @if (number >= 4)
        {
            limitrow = ((number % 4) == 0) ? ((number / 4) - 1) : number / 4;
            limitcolumn = 4;
                            <tr>
                                @for (int k = 0; k < 4; k++)
                {


            <td style="border-collapse:collapse; border-left:2px solid #B5B4B4;color:rgb(0, 168, 255);text-align:center; width:50px;"><div>Mon</div></td>
            <td style="color:rgb(0, 168, 255);text-align:center;width:50px;"><div>Tue</div></td>
            <td style="color:rgb(0, 168, 255); text-align:center;width:50px;"><div>Wed</div></td>
            <td style="color:rgb(0, 168, 255);text-align:center;width:51px;"><div>Thu</div></td>
            <td style="border-collapse:collapse;border-spacing: 0;border-right:2px solid #B5B4B4;color:rgb(0, 168, 255);text-align:center;width:51px;"><div>Fri</div></td>


                }
                            </tr>
        }
        else
        {
            limitrow = 0;
            limitcolumn = number;
                            <tr>
                                @for (int k = 0; k < limitcolumn; k++)
                {


            <td style="border-collapse:collapse;border-spacing: 0;border-left:2px solid #B5B4B4;color:rgb(0, 168, 255);">Mon</td>
            <td style="color:rgb(0, 168, 255);">Tue</td>
            <td style="color:rgb(0, 168, 255);">Wed</td>
            <td style="color:rgb(0, 168, 255);">Thu</td>
            <td style="border-collapse:collapse;border-spacing: 0;border-right:2px solid #B5B4B4;color:rgb(0, 168, 255);">Fri</td>


                }
                            </tr>
        }
                            @for (int j = 0; j <= limitrow; j++)
        {
            if (j == limitrow && j>0)
            {
                limitcolumn = ((number % 4) == 0) ? 4 : number % 4;
            }

                            <tr style="border-collapse:collapse;border-spacing: 0;border-right:2px solid #B5B4B4;border-left:2px solid #B5B4B4;">
                                @for (int i = 1; i <= limitcolumn; i++)
                {

            <td colspan="5" style="padding:0px; margin-bottom:0px;border-collapse:collapse;border-spacing: 0;border-right:2px solid #B5B4B4;">
                <table class="table table-bordered child" style="margin-bottom:0px;  border-collapse:collapse;border-spacing: 0;" cellspacing="0" cellpadding="0" id="table">

                    <tr>

                        <th colspan="5" align="center" style="text-align:center; background-color:#EBEBEB; border-top:1px solid Gray; padding:5px; color:rgba(128, 128, 128, 0.83)">Week @(counter++)</th>



                    </tr>
                    <tr>
                        <td style="border-collapse:collapse;border-spacing: 0;" class="clickable" id='@(counter-1)-1'></td>
                        <td style="border-collapse:collapse;border-spacing: 0;" class="clickable" id='@(counter-1)-2'></td>
                        <td style="border-collapse:collapse;border-spacing: 0;" class="clickable" id='@(counter-1)-3'></td>
                        <td style="border-collapse:collapse;border-spacing: 0;" class="clickable" id='@(counter-1)-4'></td>
                        <td style="border-collapse:collapse;border-spacing: 0;" class="clickable" id='@(counter-1)-5'></td>
                    </tr>

                </table>
            </td>


                }
                            </tr>
        }
                        </tbody>
                    </table>




                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    @*$(document).ready(function () {
        var arr=[];
        var ct = 0;
        var trs = 0;
        for(count=0;count<@number;count++)
        {
           @{string s;}
            @foreach (string item in dayweeks)
            {

                s=item;
            }

         //   var newarray=[];
            //      var jsarray=
            //
          @*var newarray=  JSON.parse((@dayweeks).replace(/&quot;/g,'"'));
            var jsarray=(@dayweeks).replace(/&quot;/g, '\\"');
            jsarray=jsarray.replace(/&quot;/g, '\\"');

            var t = document.getElementsByClassName("table table-bordered child")[count], // This have to be the ID of your table, not the tag
     d = t.getElementsByTagName("tr"),
     r = 0;

            for (k = 1; k < d.length; k++)
            {
                trs = t.getElementsByTagName("tr")[k];
                r = trs.getElementsByTagName("td");
                for(j=0;j<r.length;j++)
                {
                    if (r[j].className == (@s))
                    {
                        // alert(r[j].id)
                        arr[ct] = r[j].id;
                        ct++;
                    }


                }
            }

        }
        //    alert(arr[0]);



    });*@
    $(function () {
        var counter=0;
        $(document.getElementsByClassName("clickable")).click(function () {

            if(this.className == "clickable")
            {
                document.getElementById("resetbutton").disabled=false;
                document.getElementById("savebutton").disabled=false;
                counter++;
                document.getElementById("totalstops").innerHTML=counter;
            }
            else
            {

                counter--;
                if(counter==0)
                {
                    document.getElementById("resetbutton").disabled=true;
                    document.getElementById("savebutton").disabled=true;
                }
                document.getElementById("totalstops").innerHTML=counter;
            }
            $(this).toggleClass("red-cell");
        });

        $(document.getElementById("resetbutton")).click(function () {
            $(document.getElementsByClassName("clickable")).removeClass("red-cell");
            document.getElementById("resetbutton").disabled=true;
            document.getElementById("savebutton").disabled=true;
            document.getElementById("totalstops").innerHTML=0;
            counter=0;
        });
        $(document.getElementById("savebutton")).click(function () {

            var arr=[];
            var ct = 0;
            var trs = 0;




            for(count=0;count<@number;count++)
            {


                var t = document.getElementsByClassName("table table-bordered child")[count], // This have to be the ID of your table, not the tag
         d = t.getElementsByTagName("tr"),
         r = 0;

                for (k = 1; k < d.length; k++)
                {
                    trs = t.getElementsByTagName("tr")[k];
                    r = trs.getElementsByTagName("td");
                    for(j=0;j<r.length;j++)
                    {
                        if (r[j].className =="clickable red-cell")
                        {
                            //  alert(r[j].id)
                            arr[ct] = r[j].id;
                            ct++;
                        }


                    }
                }

            }
            //    alert(arr[0]);
            $.ajax({
                url: "/DeliveryDay/AddConfig",
                type: "POST",
                contentType: 'application/json',
                data: JSON.stringify({ array: arr,Code:'@Code',Description:'@Desc',Weeks:'@number' }),
                success: function () {
                    alert("Day Codes added successfully");
                    window.location.href='Index';
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    //         alert(xhr.responseText);
                    alert("Configuration Error or Day code already exists!!!");
                    window.location.href='Index';
                  //  alert(thrownError);
                }
            });

        });
    });
</script>

<style type="text/css">
    td {
        background: white;
        padding: 2px;
    }

    .clickable {
        cursor: pointer;
        height: 50px;
    }

    td.red-cell {
        background: #5d9cec; /* Or some other color */
    }
</style>
