﻿
@{
    ViewBag.Title = "Delivery Day Code";
}

@model  SLEWebPortal.Models.DelieveryViewModel

@*<!DOCTYPE html>
    <html>




<body>

    <div id="wrapper">

        

        <div id="page-wrapper" class="gray-bg">
            
            
            <div class="wrapper wrapper-content  animated fadeInRight">

                <div class="row">
                    <div class="col-lg-4">
                        
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Optional sizes</h5>

                            </div>
                            <div class="ibox-content">
                                <p>
                                    Modals have two optional sizes, available via modifier classes to be placed on a <code>.modal-dialog</code>
                                </p>

                                <div class="text-center">
                                   
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal6">
                                        Small Modal
                                    </button>
                                </div>
                                
                                <div class="modal inmodal fade" id="myModal6" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                <h4 class="modal-title">Modal title</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>
                                                    <strong>Lorem Ipsum is simply dummy</strong> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                                                    printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                                                    remaining essentially unchanged.
                                                </p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    
                </div>

            </div>
            

        </div>
    </div>

   



</body>

</html>*@
@*<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10" style="width:100%;">
        <table style="width:100%;">
            <tr><td style=" width:50%;">
                        <h2>Delivery Day Code</h2>
</td>
                <td style=" width:50%;">
                    <span style="float:right; margin-top:-1%;">@DateTime.Now.ToLongDateString()</span>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-lg-2">

    </div>
</div>*@

@*<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">*@
<link href=@Url.Content("http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css") rel="stylesheet" type="text/css">
<!--<link href="./libs/bootstrap-editable.css" rel="stylesheet">
<link href="../src/bootstrap-filterable.css" rel="stylesheet">-->
<link href=@Url.Content("~/Filter/bootstrap-editable.css") rel="stylesheet" type="text/css" />
<link href=@Url.Content("~/Filter/font-awesome.min.css") rel="stylesheet" type="text/css" />

<link href=@Url.Content("~/Filter/bootstrap-filterable.css") rel="stylesheet" type="text/css" />
@*<link href="http://lightswitch05.github.io/filterable/stylesheets/main.css" rel="stylesheet">*@

@*<script src=@Url.Content("http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js") type="text/javascript"></script>*@
<script src=@Url.Content("http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js") type="text/javascript"></script>
<!--<script src="./libs/bootstrap-editable.min.js"></script>
<script src="../src/filterable-utils.js"></script>
<script src="../src/filterable-cell.js"></script>
<script src="../src/filterable-row.js"></script>
<script src="../src/filterable.js"></script>-->
<script src=@Url.Content("~/Filter/bootstrap-editable.min.js") type="text/javascript"></script>
<script src=@Url.Content("~/Filter/filterable-utils.js") type="text/javascript"></script>
<script src=@Url.Content("~/Filter/filterable-cell.js") type="text/javascript"></script>
<script src=@Url.Content("~/Filter/filterable-row.js") type="text/javascript"></script>
<script src=@Url.Content("~/Filter/filterable.js") type="text/javascript"></script>

@section Scripts{
    <script src=@Url.Content("~/Scripts/jquery.signalR-2.2.0.js") type="text/javascript"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src=@Url.Content("~/signalr/hubs") type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            // Declare a proxy to reference the hub.
            var notifications = $.connection.messagesHub;

            //debugger;
            // Create a function that the hub can call to broadcast messages.
            notifications.client.updateMessages = function () {
                getAllMessages()

            };
            // Start the connection.
            $.connection.hub.start().done(function () {
            //    alert("connection started")
              //  getAllMessages();
            }).fail(function (e) {
                alert(e);
            });
        });


        function getAllMessages() {
            //var tbl = $('#messagesTable');
            //$.ajax({
            //    url: '/home/GetMessages',
            //    contentType: 'application/html ; charset:utf-8',
            //    type: 'GET',
            //    dataType: 'html'
            //}).success(function (result) {
            //    tbl.empty().append(result);
            //}).error(function () {

            //});
            $.ajax({
                url: "@Url.Action("RenderView", "DeliveryDay")",
                type: "get",
            //   data: $("form").serialize(), //if you need to post Model data, use this
                success: function (result) {
                 //   alert("connection started")
                $("#codesintable").html(result);
            }
        });
        }

        $('#myModal6').modal({
            backdrop: 'static'
        })
    </script>
}


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="ibox-title">

                    <h5><i class="fa fa-align-justify" style="color:#1ab394;" ></i> Stop Code</h5>
                    <div  style="width:45%; float:right; font-size:12px; ">


                        <span class="btn btn-primary" style="height:22px;padding:0px;margin-left:10px; margin-right:5px;background-color:rgba(26, 86, 179, 0.81);border-color:rgba(26, 179, 148, 0); width:6%; border-radius:0px;">@Model.TotalCodes.Count</span>
                        Total Codes
                            @*<i class="fa fa-chevron-up"></i>*@
                            <span class="btn btn-primary" style="height:22px;padding:0px; margin-left:10px;margin-right:5px; background-color:rgba(14, 15, 14, 0.52); border-color:rgba(26, 179, 148, 0); width:6%;border-radius:0px;">@Model.TotalCodes.Where(i => i.Status == false).ToList().Count</span>
                            New Codes


                            @*<i class="fa fa-wrench"></i>*@
                            <span class="btn btn-primary" style="height:22px;padding:0px;margin-left:10px;margin-right:5px;background-color:rgba(20, 163, 17, 0.68);border-color:rgba(26, 179, 148, 0); width:6%;border-radius:0px;">@Model.TotalCodes.Where(i=>i.Status==true).ToList().Count</span>
                            Active Codes
                        <button class="btn btn-sm btn-white pull-right" style="margin-top:-5px;width:15%;" type="submit" data-toggle="modal" data-target="#myModal6" data-backdrop="static">Add</button>

                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Config option 1</a>
                            </li>
                            <li>
                                <a href="#">Config option 2</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="ibox-content" id="codesintable" style="padding:0px;">
                    @Html.Partial("codes")
                </div>
            </div>
        </div>

    </div>
</div>


<script>
    $(document).ready(function () {
        document.getElementById("weeks").value = "";
        document.getElementById("weeks").placeholder = "Enter Weeks";
    });

    function test(evt) {

        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
        {
            $('#editstopsbutton').attr("disabled");
            return false;
        }
        else
            {
            $('#editstopsbutton').removeAttr("disabled");
            return true;
        }
    }
    function testwithfirstzero(evt) {
        var input = document.getElementById("weeks")
       
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57) || (input.value.length == 0 && evt.which == 48)) {
            $('#editstopsbutton').attr("disabled");
            return false;
        }
        else {
            $('#editstopsbutton').removeAttr("disabled");
            return true;
        }
    }


    function testspace(evt) {
        if (evt.keyCode == 32) {
            return false;
        }

    }

    function testforspeialchar(e) {
        //return (((e.keyCode >= 48 && e.keyCode <= 57) ) ||
        //       (e.keyCode >= 65 && e.keyCode <= 90) || e.keyCode == 8 ||
        //      (e.keyCode >= 96 && e.keyCode <= 105))
        var k = e.keyCode;
        return ((k > 64 && k < 91) || (k > 96 && k < 123) || k == 8 || (k >= 48 && k <= 57));
    }

            function txtBox_onFocus(object)
            {
                if(object.style.color=="silver")
                {
                    object.style.color="";
                    object.value = "";
                    object.placeholder = "";
                    object.style.fontStyle="";
                    object.style.textAlign="";
                }
            }
            function txtBox_OnBlur(object,string)
            {
           if(object.value=="")
           {
                object.style.color="silver";
                object.placeholder = string;
                object.style.fontStyle="italic";
                object.style.textAlign="left";
               }
            }

            $('#closebutton').click(function () {
                alert("hi");
            });
</script>

<div class="modal inmodal" id="myModal7" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <button type="button" class="close" data-dismiss="modal"  id="closebutton">
                    <span aria-hidden="true" style="color:white;">&times;</span><span class="sr-only" style="color:white;">Close</span>
                </button>
                <h5 class="modal-title" style="padding: 0px; height:30px; font-size:20px; text-align:left;">Edit Stop Code</h5>
            </div>

@using (Html.BeginForm("EditConfig", "DeliveryDay", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
            <h4 style=" margin-left:10px;padding: 7px;">@Html.TextBox("editdaycode2", null, new { @class = "textbox-hidden" })@Html.TextBox("editdesc2", null, new { @class = "textbox-hidden" })<span id="editdaycode"></span>: <span id="editdesc"></span></h4>
            <span class="" style="float:right;margin-top:-35px;height:25px;padding:0px;width:20%;margin-right:15px; cursor:default; background-color:rgba(14, 15, 14, 0.4); color:white; font-weight:bold; padding-top:2px; text-align:center;">New</span>


            <div class="table" style="margin-bottom:0px;">
                <p>
                    @*<strong>Lorem Ipsum is simply dummy</strong> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown*@

                    <table class="table" style="margin-bottom:0px;">
                        <tr style="border:1px thin gray;">
                            <td>

                                <span style=" margin-left:10px;padding: 7px;"> Stops Per Cycle</span>
                              @*  <input type="text" id="stopspercycle" style="border:1px solid Gray; width:40px; float:right; margin-right:10px; text-align:center;" readonly="readonly" />*@
                                @Html.TextBox("stopspercycle", null, new { @class = "textbox", style = "Background-color:rgba(128, 128, 128, 0.54);border:1px solid rgba(128, 128, 128, 0.47);; color:white;font-weight: bolder;", @readonly = "readonly", })
                            </td>
                        </tr>
                        <tr style="border:1px thin gray;">
                            <td>

                                <span style=" margin-left:10px;padding: 7px;"> Weeks Per Cycle</span>
                                @*<input type="text" id="weekspercycle" style="border:1px solid Gray; width:40px; float:right;margin-right:10px;text-align:center;" />*@
                                @Html.TextBoxFor(model => model.Weeks, "weekspercycle", new { @class = "textbox", id = "weekspercycle",name="range", onkeypress = "return test(event)", onkeyup = "SumaEjemplo()", @maxlength = "2", })
                                <div style="float:right; margin-right:-40px; margin-top:9px;"><br />
                                @Html.ValidationMessageFor(model => model.Weeks)</div>
                            </td>
                        </tr>
                    </table>


            </div>
            <div class="modal-footer" style="text-align:center;">

                <button id="editstopsbutton" type="submit" class="btn btn-primary" style="width:50%;">Save</button>
            </div>
}
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $.support.cors = true;
        //     object.placeholder = "";
        var object = document.getElementById("deliverycode");
        object.value = "";
        object.style.color = "silver";
        object.placeholder = "Enter Code";
        object.style.fontStyle = "italic";
        object.style.textAlign = "left";
        var object = document.getElementById("description");
        object.value = "";
        object.style.color = "silver";
        object.placeholder = "Enter Description";
        object.style.fontStyle = "italic";
        object.style.textAlign = "left";
    });
    //$('#closebutton').click(function () {
    //    alert("hi");
    //});
    function SumaEjemplo() {
       
        // handle onkeyup event
        if ($('#weekspercycle').val() == "" || $('#weekspercycle').val() == 0) {
            $('#editstopsbutton').attr("disabled", true);
        }
        else {
            $('#editstopsbutton').removeAttr("disabled");
        }
        // alert("hi");
    }

  

    //$('#myModal7').on('shown.bs.modal', function (event) {
    //    //   alert("hi");
    //    var button = $(event.relatedTarget) // Button that triggered the modal
    //    var recipient = button.data('code')
    //    var recipient2 = button.data('description')// Extract info from data-* attributes
    //    var recipient3 = button.data('weeks')
    //    var recipient4 = button.data('stops')
    //    // alert(button.class);
    //    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    //    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    //    var modal = $(this)

    //    //   modal.find('.editdaycode').text('New message to ' + recipient)
    //    document.getElementById("editdaycode").innerHTML = recipient;
    //    document.getElementById("editdesc").innerHTML = recipient2;
    //    document.getElementById("editdaycode2").value = recipient;
    //    document.getElementById("editdesc2").value = recipient2;
    //    document.getElementById("weekspercycle").value = recipient3;
    //    document.getElementById("stopspercycle").value = recipient4;
    //    $('#editstopsbutton').removeAttr("disabled");
    //    //  modal.find('.modal-body input').val(recipient)
    //});
    function fetchvalues(code,desc,stops,weeks) {
   //     var button = object // Button that triggered the modal
        var recipient = code;
        var recipient2 = desc;// Extract info from data-* attributes
        var recipient3 = weeks;
        var recipient4 = stops;
        // alert(button.class);
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    //    var modal = $(this)

        //   modal.find('.editdaycode').text('New message to ' + recipient)
        document.getElementById("editdaycode").innerHTML = recipient;
        document.getElementById("editdesc").innerHTML = recipient2;
        document.getElementById("editdaycode2").value = recipient;
        document.getElementById("editdesc2").value = recipient2;
        document.getElementById("weekspercycle").value = recipient3;
        document.getElementById("stopspercycle").value = recipient4;
        $('#editstopsbutton').removeAttr("disabled");
    }
    function reset() {

        alert("hi");
    }
</script>
<div class="modal inmodal" id="myModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <button type=" button" class="close" data-dismiss="modal" id="closebutton2">
                    <span aria-hidden="true" style="color:white;">&times;</span><span class="sr-only" style="color:white;">Close</span>
                </button>
                <h5 class="modal-title" style="padding: 0px; height:30px; font-size:20px; text-align:left;">Add Stop Code</h5>
            </div>


            @using (Html.BeginForm("AddDayCode","DeliveryDay",FormMethod.Post,new { @class = "form-horizontal", role = "form",id="form" }))
            {



                @*@section Scripts {

                    @Scripts.Render("~/bundles/jqueryold")
                    @Scripts.Render("~/bundles/jqueryval")
                                }*@

            <fieldset id="infoForm">

                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                <div style="margin-bottom:0px; border:none;">

                    @*<strong>Lorem Ipsum is simply dummy</strong> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown*@

                    <table style="margin-bottom:0px; border:none;">
                        <tr>
                            <td style="width:35%; height:35px;">
                                <br />
                                <span style=" margin-left:10px;padding: 7px; font-weight:bold;"> Stop Code:</span><br />
                                @*<input type="text" style=" width:80%;  margin-left:15px;margin-top:10px; padding: 7px; text-align:left;color:silver;font-style:italic;" value="Enter Code" onfocus="txtBox_onFocus(this)" onblur="    txtBox_OnBlur(this, 'Enter Code')" />*@

                                @Html.TextBoxFor(model => model.DelieveryCode, ViewData.TemplateInfo.FormattedModelValue.ToString(), new { @class = "form-control", name = "deliverycode", id = "deliverycode", onkeypress = "return testforspeialchar(event);", onfocus = "txtBox_onFocus(this)", onblur = "txtBox_OnBlur(this, 'Enter Code')", onkeyup = "SumaEjemplo()", @maxlength = "3", style = " width:80%;  margin-left:15px;margin-top:10px; padding: 7px; text-align:left;color:silver;font-style:italic;", @placeholder = "Enter Code" })



                            </td>
                            <td>
                                <br />
                                <span style=" margin-left:10px;padding: 7px;font-weight:bold;"> Weeks per cycle:</span><br />
                                @*<input type="text" style=" width:40%;  margin-left:15px;margin-top:10px; padding: 7px; text-align:left;color:silver;font-style:italic;" value="Enter Weeks" onfocus="txtBox_onFocus(this)" onblur="txtBox_OnBlur(this,'Enter Weeks')" />*@
                                @Html.TextBoxFor(model => model.Weeks, new { @class = "form-control", name = "weeks", id = "weeks", onload = "txtBox_OnBlur(this, 'Enter Weeks')", onkeypress = "return testwithfirstzero(event)",onchange="if (this.value.indexOf('0') == 0) alert('Input does not start with 0!);", onfocus = "txtBox_onFocus(this)", onblur = "txtBox_OnBlur(this, 'Enter Weeks')", onkeyup = "SumaEjemplo()", @maxlength = "2", style = " width:80%;  margin-left:15px;margin-top:10px; padding: 7px; text-align:left;color:silver;font-style:italic;", @value = "", @placeholder = "Enter Weeks" })


                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="margin-left:15px;">
                                    @Html.ValidationMessageFor(model => model.DelieveryCode)
                                </div>
                            </td>
                            <td>
                                <div style="margin-left:15px;">
                                    @Html.ValidationMessageFor(model => model.Weeks)
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td colspan="2">
                                <br />
                                <span style=" margin-left:10px;padding: 7px;font-weight:bold;">Description:</span><br />
                                @*<input type="text" style=" width:90%;  margin-left:15px;margin-top:10px; padding: 7px; text-align:left;color:silver;font-style:italic;" value="Enter Description" onfocus="txtBox_onFocus(this)" onblur="txtBox_OnBlur(this,'Enter Description')" />*@
                                @Html.TextBoxFor(model => model.Description, new { @class = "form-control", name = "description", id = "description", onfocus = "txtBox_onFocus(this)", onblur = "txtBox_OnBlur(this, 'Enter Description')", onkeyup = "SumaEjemplo()", @maxlength = "50", Style = " width:80%;  margin-left:15px;margin-top:10px; padding: 7px; text-align:left;color:silver;font-style:italic;", @placeholder = "Enter Description" })
                                <div style="margin-left:15px;">
                                    @Html.ValidationMessageFor(model => model.Description)
                                </div>
                            </td>
                        </tr>
                    </table>


                </div>
                <div class="modal-footer" style="text-align:center; border:none; float:none;">
                    @*<div style="width:100%;   text-align:left;">
                    @Html.ValidationMessageFor(model => model.DelieveryCode)
                </div>
                <div style="width:70%;   text-align:left;">
                    @Html.ValidationMessageFor(model => model.Weeks)
                </div>
                <div style="width:50%;   text-align:left;">
                    @Html.ValidationMessageFor(model => model.Description)
                </div>*@
                    <button class="btn btn-primary" id="addbutton" style="width:50%; margin-top:20px;" onclick="return clicked()" type="submit" disabled>Add</button>
                </div>
            </fieldset>

                  }
</div>
    </div>
</div>
<script>

    function SumaEjemplo() {
        // handle onkeyup event
        if ($('#description').val() == "" || $('#deliverycode').val() == "" || $('#weeks').val() == "") {
            $('#addbutton').attr("disabled", true);
        }
        else {
            $('#addbutton').removeAttr("disabled");
        }
    }

    function clicked() {

        var msg = "";
        var bool = true;
        var code = $('#description').val();
     //   var infoForm = $("#infoForm");
        $.ajax({
            //   url: "/DeliveryDay/EditConfig",
            url: '@Url.Action("check", "DeliveryDay" )',
            type: "POST",
       //     dataType: "jsonp",
            async: false,
            crossDomain: true,
       //     cache: false,
       //     contentType: "text/json; charset=utf-8",
            contentType: 'application/json',
            data: JSON.stringify({ deliverycode: $('#deliverycode').val() }),
            success: function (data) {
               // alert(data.Message);
                //  msg = data.Message;
                if (data.Message == "N") {
                    alert("Day Code Exists!");
                    bool = false;
                }
                else {
                    bool = true;
                }

                // window.location.href = data;
                // window.location.href = 'DeliveryDay/Configuration'
                // window.location = "///";
            }
        });


        return bool;
    }
    $(document.getElementById("closebutton2")).click(function () {
        $('.field-validation-error')
    .removeClass('field-validation-error')
    .addClass('field-validation-valid');

        $('.input-validation-error')
            .removeClass('input-validation-error')
            .addClass('valid');
        var object = document.getElementById("deliverycode");
        object.value = "";
        object.style.color = "silver";
        object.placeholder = "Enter Code";
        object.style.fontStyle = "italic";
        object.style.textAlign = "left";
        var object = document.getElementById("description");
        object.value = "";
        object.style.color = "silver";
        object.placeholder = "Enter Description";
        object.style.fontStyle = "italic";
        object.style.textAlign = "left";
        var object = document.getElementById("weeks");
        object.value = "";
        object.style.color = "silver";
        object.placeholder = "Enter Weeks";
        object.style.fontStyle = "italic";
        object.style.textAlign = "left";

    });

    $(document.getElementById("closebutton")).click(function () {
        $('.field-validation-error')
    .removeClass('field-validation-error')
    .addClass('field-validation-valid');

        $('.input-validation-error')
            .removeClass('input-validation-error')
            .addClass('valid');
        //var object = document.getElementById("weekspercycle");
        //object.value = "";
        //object.style.color = "silver";
        //object.placeholder = "Enter Code";
        //object.style.fontStyle = "italic";
        //object.style.textAlign = "left";


    });

</script>
<style type="text/css">
    .textbox {
        border:1px solid Gray; width:40px; float:right; margin-right:10px; text-align:center;
    }
     .textbox-hidden {
        border:1px solid Gray; width:40px; float:right; margin-right:10px; text-align:center;
        visibility:hidden;
    }
    .validation-message {
    /* ... */
    display:block;
}
</style>




<script type="text/javascript">
    $('#maintable').filterable();
    //  $("#escape").removeAttr("style");
   // document.getElementById("escape").parentNode.parentNode.removeChild(document.getElementById("escape").parentNode);
    document.getElementById("escape2").innerHTML = "Status";
    document.getElementById("escapedesc").innerHTML = "Description";

    $(function () {

        var submitButton = $("#addbutton2");
               var infoForm = $("#infoForm");

        submitButton.click(function () {

            SubmitInfo(infoForm);

        });

    });

    //function SubmitInfo() {


    //}


    function SubmitInfo(formContainer) {

        $.validator.unobtrusive.parse("#infoForm");
        //var stops = document.getElementById("stopspercycle").value;
        //var weeks = document.getElementById("weekspercycle").value;
        //var code = document.getElementById("editdaycode").innerHTML;
        //var desc = document.getElementById("editdesc").innerHTML;

        $.ajax({
            //   url: "/DeliveryDay/EditConfig",
            url: '@Url.Action("AddDayCode", "DeliveryDay")',
            type: "POST",
            //contentType: 'application/json',
            data: formContainer.serialize(),
            success: function (data) {
                alert(data.Message);

                // window.location.href = data;
                // window.location.href = 'DeliveryDay/Configuration'
                // window.location = "///";
            }
        });
        $.ajax({
            url: "@Url.Action("RenderView", "DeliveryDay")",
            type: "get",
        //   data: $("form").serialize(), //if you need to post Model data, use this
        success: function (result) {
            $("#codesintable").html(result);
        }
    });
    }
</script>
