﻿@{
    ViewBag.Title = "Routes listing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SLEWebPortal.Models.RouteModels
@*<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Routes listing</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>*@
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Total Routes : @Model.Routes.Count</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Config option 1</a>
                            </li>
                            <li>
                                <a href="#">Config option 2</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Route ID</th>
                                <th>Route Name</th>
                                <th>Branch Name</th>
                                <th>Customers#</th>
                                <th>Devices#</th>
                                <th>Active</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 1; i <= @Model.Routes.Count; i++)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@Model.Routes.ElementAt(i-1).RouteID</td>
                                    <td>@Model.Routes.ElementAt(i-1).Branch</td>
                                    <td>@Model.Routes.ElementAt(i-1).Description</td>
                                    <td>@Html.ActionLink("View", "RouteCustomers", new { routeID = @Model.Routes.ElementAt(i - 1).RouteID })</td>
                                    <td>
                                    @Html.ActionLink("View", "RouteDevices", new { routeID = @Model.Routes.ElementAt(i - 1).RouteID })</td>
                                    <td><span class="label label-primary">Yes</span></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
