﻿@{
    ViewBag.Title = "Route Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SLEWebPortal.Models.CustomerModels
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
       <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Dashboard")">Dashboard</a>
            </li>
            <li class="active">
                <strong>Customers</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Total Customers : @Model.Customers.Count</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Config option 1</a>
                            </li>
                            <li>
                                <a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover customer-listing-table">
                        <thead>
                            <tr>
                                <th width="100px">#</th>
                                <th>Customer ID</th>
                                <th>Customer Name</th>
                                <th>Address</th>
                                <th>Phone #</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < @Model.Customers.Count; i++)
                            {
                                <tr>
                                    <td>@(++i)</td>
                                    <td>@Model.Customers.ElementAt(--i).CustomerNo</td>
                                    <td>@Model.Customers.ElementAt(i).Name</td>
                                    <td>@Model.Customers.ElementAt(i).Address,<br />
                                        @Model.Customers.ElementAt(i).City,<br />
                                        @Model.Customers.ElementAt(i).State                                    
                                    </td>
                                    <td>@Model.Customers.ElementAt(i).Phone</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")

    <script type="text/javascript">
        $(document).ready(function () {
            $('.customer-listing-table').dataTable();
            /* Init DataTables */
            var oTable = $('#editable').dataTable();
            //"tableTools": {
            //    "sSwfPath": "../scripts/plugins/dataTables/swf/copy_csv_xls_pdf.swf"
            //}
        });

    </script>
}