﻿
@{
    ViewBag.Title = "Route Devices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SLEWebPortal.Models.DeviceViewModel
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Route Devices</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Route")">Route</a>
            </li>
            <li class="active">
                <strong>Devices</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Total Devices : @Model.RouteDevices.Count</h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover customer-listing-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Device ID</th>
                                <th>Model</th>
                                <th>Manufacturer</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < @Model.RouteDevices.Count; i++)
                            {
                                <tr>
                                    <td>@(i+1)</td>
                                    <td>@Model.RouteDevices.ElementAt(i).DeviceID</td>
                                    <td>@Model.RouteDevices.ElementAt(i).Model</td>
                                    <td>@Model.RouteDevices.ElementAt(i).Manufacturer</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

