﻿@model  SLEWebPortal.Models.RouteARAging

@if (Model.RouteAgingList.Count() == 0)
{
    <br />
    <span style="margin-left: 15px;"><b>No Records to Display!!!</b></span>
    <div style="height:5px;"></div>
    <br />
}
else
{


<div class="ibox-content" style="padding:0px;">
    <table class="table" id="tbl">
        @{foreach (var item in Model.RouteAgingList)
        {
            <tr>
                <td style="border:none;">

                    <div class="wrapper wrapper-content animated fadeInRight" style="padding:0px; margin-left:7px;margin-right:7px;">

                        <div class="row">
                            <div class="col-lg-12" style="padding:0px;">
                                <div class="ibox float-e-margins" style="margin-bottom:5px;">
                                    <div class="ibox-title" style="border-style:none; padding:0px 15px 0px; ">
                                        <table style="width:100%;margin:7px;">
                                            <tr>
                                                <td style="font-size:initial;">
                                                    <table>
                                                        <tr>
                                                            <td style="border:none;color:#646464;">
                                                                @*<b> 065, Palm Springs ST RT </b>*@
                                                                <b> @string.Format("{0}, {1}", item.RouteId.Replace("FBM", ""), item.RouteName) </b>
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            @*<td style="font-size:small;">Total Amount: $5,808.60 </td>*@
                                                            <td style="font-size:small;">@string.Format(new System.Globalization.CultureInfo("en-US"), "Total Amount: {0:C}", item.TotalAmount) </td>
                                                        </tr>
                                                    </table>

                                                </td>
                                                <td rowspan="2" style="float: right;">
                                                    <span style="margin-top:-10px; font-size:12px;">
                                                        <span style="font-family:lacto; color:#FDA799; font-size:x-large;">@item.CustomersOnHold</span> &nbsp;<span>Credit Hold Customers</span>
                                                    </span>
                                                    <div class="ibox-tools">
                                                        <a class="collapse-link" style="margin-left:20px;">
                                                            <i class="fa fa-chevron-up" style="padding-top: 11px; padding-right: 10px;"></i>
                                                        </a>

                                                    </div>
                                                </td>

                                            </tr>

                                        </table>
                                    </div>
                                    <div class="ibox-content" style="width:100%; padding:0px; ">

                                        <div class="panel-body" style="padding:0px;">

                                            <div class="tab-content">
                                                <div id="tab-1" class="tab-pane active">
                                                    <div class="ibox-content" style="padding:0px;">
                                                        <table class="table table-bordered" style="border:none">
                                                            <thead>
                                                                <tr style="border-bottom: 1px solid lightgray;background-color:white;">
                                                                    <th style="border:none;background-color:transparent;padding-left: 25px;color:#676A6C;" width="73%">Aging (In Days)</th>
                                                                    <th style="border:none;background-color:transparent;color:#676A6C;" width="15%" align="center">Total Customers</th>
                                                                    <th style="border:none;background-color:transparent;color:#676A6C;" width="12%" align="center">Total Amount</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>

                                                                @foreach (var agingData in item.RouteARAgingDetails)
                                                                {
                                                                    <tr style="border-top: 1px solid #F3F3F3;border-bottom: 1px solid #F3F3F3;background-color:white;">
                                                                        <td style="border:none;padding-left: 25px;color:#5D9CEC;">
                                                                        @if ((agingData.TotalAmount==0 && agingData.TotalCustomer==0)||agingData.AgeCategory.Equals("Unapplied Amt"))
                                                                        {
                                                                            @agingData.AgeCategory
                                                                        }
                                                                        else
                                                                        {
                                                                            @Html.ActionLink(agingData.AgeCategory, "GetAgeDetails", "ARAging", new { ageCategory = agingData.AgeCategory, routeId = item.RouteId, routeName = item.RouteName }, null)
                                                                        }
                                                                        </td>
                                                                        <td style="border:none;" align="center">@agingData.TotalCustomer</td>
                                                                        <td style="border: none;padding-right:35px;" align="right">@string.Format(new System.Globalization.CultureInfo("en-US"), "{0:C}", agingData.TotalAmount)</td>
                                                                    </tr>

                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>



                </td>
            </tr>
        }
        }
    </table>

</div>
}