﻿@model  SLEWebPortal.Models.RouteAging

@{
    ViewBag.Title = "Customer AR Aging Detail";
}

<style type="text/css">
    .right-inner-addon input {
        padding-right: 30px;
    }

    .right-inner-addon i {
        position: absolute;
        right: 0px;
        padding: 10px 12px;
        pointer-events: none;
    }
</style>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><i class="fa fa-usd" style="color:#1ab394;"></i> Customer AR Aging </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" style="width:100%; padding:0px;">

                    <div class="panel-body" style="padding:0px;">

                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                                <div class="ibox-title" style="border-style:none;padding-left: 11px;">
                                    <h5 style="margin-left:1%;padding: 5px;color:#5D9CEC;"><strong>@string.Format("{0}, {1}", Model.RouteId.Replace("FBM", ""), Model.RouteName)</strong></h5>
                                    <div style="width:55%; float:right; font-size:13px; ">
                                        <div class="right-inner-addon" style="float:right;margin-bottom:10px;">
                                            <i class="fa fa-search" style="z-index:9;margin-right:25px;margin-bottom:5px"></i>
                                            <input type="search" style="width:100%;"
                                                   id="search_textbox"
                                                   class="form-control pull-right"
                                                   placeholder="Search..." />
                                        </div>
                                    </div>
                                </div>
                                <div class="ibox-content" style="padding:7px;">
                                    <table class="table" id="tbl">
                                        <tr>
                                            <td style="border:none;">

                                                <div class="wrapper wrapper-content animated fadeInRight" style="padding:0px;">

                                                    <div class="row">
                                                        <div class="col-lg-12" style="padding:0px;">
                                                            <div class="ibox float-e-margins" style="margin-bottom:5px;">
                                                                <div class="ibox-title" style="border-style:none; padding:0px 15px 0px;height: 32px; ">
                                                                    <table style="width:100%;margin:7px;">
                                                                        <tr>
                                                                            <td style="font-size:initial;">
                                                                                <table>
                                                                                    <tr>
                                                                                        <td style="border:none;color:#5D9CEC;font-size:14px;">
                                                                                            @*<b> 60 Days</b>*@
                                                                                            <b>@ViewData["ageCategory"]</b>
                                                                                        </td>

                                                                                    </tr>
                                                                                </table>

                                                                            </td>
                                                                            <td rowspan="2" style="float: right;">
                                                                                <span style="margin-top:-45px; font-size:13px; padding-right:25px;">
                                                                                    Total Customers: @Model.RouteAgingByCustomersList.Count &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>@string.Format(new System.Globalization.CultureInfo("en-US"), "Total Amount: {0:C}", Model.RouteAgingByCustomersList.Sum(o => o.OpenAmount))</b>
                                                                                </span>
                                                                            </td>

                                                                        </tr>

                                                                    </table>
                                                                </div>
                                                                <div class="ibox-content" style="width:100%; padding:0px;border:none; ">
                                                                    <div class="panel-body" style="padding:0px;">
                                                                        <div class="tab-content">
                                                                            <div id="tab-1" class="tab-pane active">
                                                                                <div class="ibox-content" style="padding-left:15px;padding-top:0px;border:none; ">
                                                                                    <table class="table table-bordered" style="border: 1px solid #C5C5C5;">
                                                                                        <thead>
                                                                                            <tr style="border-bottom: 1px solid #C5C5C5;background-color:#F5F5F6;">
                                                                                                <th style="border:none;text-align:center;background-color:transparent;color:#676A6C;" width="10%">Customer No</th>
                                                                                                <th style="border:none;background-color:transparent;color:#676A6C;" width="36%" align="left">Customer Name</th>
                                                                                                <th style="border:none;background-color:transparent;color:#676A6C;" width="18%" align="left">Payment Term</th>
                                                                                                <th style="border:none;background-color:transparent;padding-left: 25px;color:#676A6C;" width="12%" align="center">Open Invoices</th>
                                                                                                <th style="border:none;background-color:transparent;color:#676A6C;" width="12%" align="center">Original Amount</th>
                                                                                                <th style="border:none;background-color:transparent;color:#676A6C;" width="12%" align="center">Open Amount</th>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            @foreach (SLEWebPortal.Models.RouteAgingByCustomers item in Model.RouteAgingByCustomersList)
                                                                                            {
                                                                                                <tr style="border-top: 1px solid #EBEBEB;background-color:white;">
                                                                                                    <td style="border:none;" align="center">@item.CustomerNo</td>
                                                                                                    <td style="border:none;" align="left">@item.CustomerName</td>
                                                                                                    <td style="border: none;padding-right:35px;" align="left">@item.PaymentTerm</td>
                                                                                                    <td style="border:none;padding-left: 25px;" align="center">@item.OpenInvoices</td>
                                                                                                    <td style="border:none;" align="center">@string.Format(new System.Globalization.CultureInfo("en-US"), "{0:C}", item.OriginalAmount)</td>
                                                                                                    <td style="border: none;padding-right:35px;" align="center">@string.Format(new System.Globalization.CultureInfo("en-US"), "{0:C}", item.OpenAmount)</td>
                                                                                                </tr>
                                                                                            }
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                </div>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>

                                </div>
                            </div>


                        </div>

                    </div>


                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#search_textbox').each(function (i) {
            $(this).quicksearch("[id*=tbl] tr:not(:has(th))", {
                'testQuery': function (query, txt, row) {
                    return $(row).children(":eq(" + 0 + ")").text().toLowerCase().indexOf(query[0].toLowerCase()) != -1
                    || $(row).children(":eq(" + 1 + ")").text().toLowerCase().indexOf(query[0].toLowerCase()) != -1;
                }
            });
        });
    });

</script>
<script type="text/javascript">
    (function ($, window, document, undefined) {
        $.fn.quicksearch = function (target, opt) {

            var timeout, cache, rowcache, jq_results, val = '', e = this, options = $.extend({
                delay: 100,
                selector: null,
                stripeRows: null,
                loader: null,
                noResults: '',
                matchedResultsCount: 0,
                bind: 'keyup',
                onBefore: function () {
                    return;
                },
                onAfter: function () {
                    return;
                },
                show: function () {
                    this.style.display = "";
                },
                hide: function () {
                    this.style.display = "none";
                },
                prepareQuery: function (val) {
                    return val.toLowerCase().split(' ');
                },
                testQuery: function (query, txt, _row) {
                    for (var i = 0; i < query.length; i += 1) {
                        if (txt.indexOf(query[i]) === -1) {
                            return false;
                        }
                    }
                    return true;
                }
            }, opt);

            this.go = function () {

                var i = 0,
                    numMatchedRows = 0,
                    noresults = true,
                    query = options.prepareQuery(val),
                    val_empty = (val.replace(' ', '').length === 0);

                for (var i = 0, len = rowcache.length; i < len; i++) {
                    if (val_empty || options.testQuery(query, cache[i], rowcache[i])) {
                        options.show.apply(rowcache[i]);
                        noresults = false;
                        numMatchedRows++;
                    } else {
                        options.hide.apply(rowcache[i]);
                    }
                }

                if (noresults) {
                    this.results(false);
                } else {
                    this.results(true);
                    this.stripe();
                }

                this.matchedResultsCount = numMatchedRows;
                this.loader(false);
                options.onAfter();

                return this;
            };

            /*
            * External API so that users can perform search programatically.
            * */
            this.search = function (submittedVal) {
                val = submittedVal;
                e.trigger();
            };

            /*
            * External API to get the number of matched results as seen in
            * https://github.com/ruiz107/quicksearch/commit/f78dc440b42d95ce9caed1d087174dd4359982d6
            * */
            this.currentMatchedResults = function () {
                return this.matchedResultsCount;
            };

            this.stripe = function () {

                if (typeof options.stripeRows === "object" && options.stripeRows !== null) {
                    var joined = options.stripeRows.join(' ');
                    var stripeRows_length = options.stripeRows.length;

                    jq_results.not(':hidden').each(function (i) {
                        $(this).removeClass(joined).addClass(options.stripeRows[i % stripeRows_length]);
                    });
                }

                return this;
            };

            this.strip_html = function (input) {
                var output = input.replace(new RegExp('<[^<]+\>', 'g'), "");
                output = $.trim(output.toLowerCase());
                return output;
            };

            this.results = function (bool) {
                if (typeof options.noResults === "string" && options.noResults !== "") {
                    if (bool) {
                        $(options.noResults).hide();
                    } else {
                        $(options.noResults).show();
                    }
                }
                return this;
            };

            this.loader = function (bool) {
                if (typeof options.loader === "string" && options.loader !== "") {
                    (bool) ? $(options.loader).show() : $(options.loader).hide();
                }
                return this;
            };

            this.cache = function () {

                jq_results = $(target);

                if (typeof options.noResults === "string" && options.noResults !== "") {
                    jq_results = jq_results.not(options.noResults);
                }

                var t = (typeof options.selector === "string") ? jq_results.find(options.selector) : $(target).not(options.noResults);
                cache = t.map(function () {
                    return e.strip_html(this.innerHTML);
                });

                rowcache = jq_results.map(function () {
                    return this;
                });

                /*
                * Modified fix for sync-ing "val".
                * Original fix https://github.com/michaellwest/quicksearch/commit/4ace4008d079298a01f97f885ba8fa956a9703d1
                * */
                val = val || this.val() || "";

                return this.go();
            };

            this.trigger = function () {
                this.loader(true);
                options.onBefore();

                window.clearTimeout(timeout);
                timeout = window.setTimeout(function () {
                    e.go();
                }, options.delay);

                return this;
            };

            this.cache();
            this.results(true);
            this.stripe();
            this.loader(false);

            return this.each(function () {

                /*
                * Changed from .bind to .on.
                * */
                $(this).on(options.bind, function () {

                    val = $(this).val();
                    e.trigger();
                });
            });

        };

    }(jQuery, this, document));

</script>