﻿@model  SLEWebPortal.Models.Replenishment

@if (Model.replenishmentheader.Count() == 0)
{ 
    <br />
    <span style="margin-left: 15px;"><b>No Records to Display!!!</b></span>
    <div style="height:5px;"></div>
    <br />
}
else
{

<table class="table">
    @{
       //   for (int i = 0; i < 3; i++)
        foreach (var item in Model.routelistmodels)
        //foreach(var item in Model.cyclecountmodels.selectMany(p=>p.Routeid,p=>p.RouteName,p=>p.RouteDescription).Distinct())
        {
            <tr>
                <td style="padding:0px;">



                    <div class="row" style="margin:0px;">
                        <br />
                        <div class="col-lg-12" style="padding:0px;">
                            <div class="ibox float-e-margins" style="margin-bottom:5px;">
                                <div class="ibox-title" style="border-style:none; padding:0px 15px 0px; ">
                                    <table style="width:100%;">
                                        <tr>
                                            <td style="font-size:initial;">
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <b>@item.RouteName  , @item.RouteDescription </b>
                                                        </td>

                                                    </tr>
                                                    <tr><td style="font-size:small;">
                                                        @if (item.StatusType.Trim() == "SalesBranch")
                                                        {
                                                        <span>Sales Branch</span>
                                                        }
                                                        else if (item.StatusType.Trim() == "DistributionCentre")
                                                        {
                                                            <span>Distribution Center</span>
                                                        }
                                                        else if (item.StatusType.Trim() == "Unmanned")
                                                        {
                                                            <span>Unmanned</span>
                                                        }
                                                        
                                                        |
                                                        @Model.replenishmentheader.Where(i => i.RouteId == item.Routeid).ToList().Count Replenishment </td></tr>
                                                </table>

                                            </td>
                                            <td rowspan="2" style="float: right;">
                                                <span style="margin-top:-10px; font-size:12px;">
                                                    <span style="margin-left:10px; color:#5d9cec; font-size:x-large;">@Model.replenishmentheader.Where(i => i.Status.Trim() == "RTP" && i.RouteId == item.Routeid).Count()</span> Ready to Pick
                                                    <span style="margin-left:10px; color:green; font-size:x-large;">@Model.replenishmentheader.Where(i => i.Status.Trim() == "RELS" && i.RouteId == item.Routeid).Count()</span> Released
                                                    <span style="margin-left:10px; color:#5d9cec; font-size:x-large;">@Model.replenishmentheader.Where(i => i.Status.Trim() == "PIC" && i.RouteId == item.Routeid).Count()</span> Pick Complete
                                                    
                                                    <span style="margin-left:10px; color:#5d9cec;font-size:x-large;">@Model.replenishmentheader.Where(i => i.Status.Trim() == "HOP" && i.RouteId == item.Routeid).Count()</span> Hold on Pick
                                                    <span style="margin-left:10px; color:#f8ac59;font-size:x-large;">@Model.replenishmentheader.Where(i => i.Status.Trim() == "INPRS" && i.RouteId == item.Routeid).Count()</span> In Process
                                                    <span style="margin-left:10px; color:#ed5565;font-size:x-large;">@Model.replenishmentheader.Where(i => i.Status.Trim() == "VOID" && i.RouteId == item.Routeid).Count()</span> Void
                                                    <span id="hidecompleted" class="hidecompleted" > <span style="margin-left:10px; color:#a5a5a5; font-size:x-large;">@Model.replenishmentheader.Where(i => i.Status.Trim() == "CMPLT" && i.RouteId == item.Routeid).Count()</span> Completed </span>
                                                </span>
                                                <div class="ibox-tools">
                                                    <a class="collapse-link" style="margin-left:30px;">
                                                        <i class="fa fa-chevron-up"></i>
                                                    </a>

                                                </div>
                                            </td>

                                        </tr>

                                    </table>
                                </div>
                                <div class="ibox-content" style="width:100%; padding:0px; border-width:0px; ">




                                    <div class="panel-body" style="padding:0px;">

                                        <div class="tab-content">
                                            <div id="tab-1" class="tab-pane active">


                                                <div class="ibox-content" style="padding:0px;">
                                                    @*<strong>Lorem ipsum dolor sit amet, consectetuer adipiscing</strong>

                                                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>

                                                        <p>I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. When.</p>*@
                                                    @{var replenishmentmodels = Model.replenishmentheader.Where(i => i.RouteId == item.Routeid).ToList();}
                                                    <table id="tbl" class="table" style="text-align:center; margin-bottom:0px;">
                                                        <thead style="border: 1px Solid rgba(128, 128, 128, 0.4); text-align:center;border-left: none;
    border-right: none; ">
                                                            <tr>
                                                                <th class="" style="padding-left: 23px;border-bottom: 2px solid rgba(0, 0, 0, 0.08);">Repln Info</th>
                                                               
                                                               
                                                                <th class="order-item-container  " style="text-align:left;border-bottom: 2px solid rgba(0, 0, 0, 0.08);">Requested By</th>
                                                                <th class="order-item-container " style="text-align:center;border-bottom: 2px solid rgba(0, 0, 0, 0.08);">Trans Date From</th>
                                                                <th class="order-item-container " style="text-align:center;border-bottom: 2px solid rgba(0, 0, 0, 0.08);">Trans Date to</th>
                                                                <th class="order-item-container " style="text-align:center;border-bottom: 2px solid rgba(0, 0, 0, 0.08);">From Branch</th>
                                                                <th class="order-item-container " style="text-align:center;border-bottom: 2px solid rgba(0, 0, 0, 0.08);">To Branch</th>
                                                                <th class="order-item-container " style="text-align:center;border-bottom: 2px solid rgba(0, 0, 0, 0.08);">Status</th>


                                                            </tr>
                                                        </thead>
                                                        <tbody >
                                                                                                                        @for (int j = 0; j < replenishmentmodels.Count(); j++)
                                                                                                                        {

                                                                                                                            <tr style="cursor:pointer;" class="@(replenishmentmodels[j].Status.Trim() == "CMPLT" ? "hidecompleted" : "")" onclick="location.href='@Url.Action("ReplenishmentDetails", "Replenishment", new { replid = replenishmentmodels[j].ReplenishmentID, typeid = replenishmentmodels[j].ReplenishmentTypeID, routeid = replenishmentmodels[j].RouteId, status = replenishmentmodels[j].Status, DCorSales = item.StatusType.Trim() })'">
                                                                                                                                <td style="text-align: left;">
                                                                                                                                    <div class="order-item-container col-md-11 pull-left" style="padding-left: 0px;">
                                                                                                                                        <div class="order-item-header col-md-4" style="width:94%;">
                                                                                                                                            <span class="orderIdHeader">

                                                                                                                                                <span class="header">
                                                                                                                                                    @*<span class="label label-primary">@Model.cyclecountmodels[j].Status</span>*@


                                                                                                                                                    @*<span class="col-sm-1" style="padding-left:0px; width:25px;"> @Html.CheckBox("cycleId", new { value = 1, id = "voidcheckId", @class = "submit", onclick = "event.stopPropagation();" })</span>*@




                                                                                                                                                    Repln. Id.:
                                                                                                                                                    <span>@replenishmentmodels[j].ReplenishmentID</span>
                                                                                                                                                </span>
                                                                                                                                                <span class="order-header-date"> on @replenishmentmodels[j].CreatedDatetime.ToString("MM/dd/yyyy")</span>
                                                                                                                                            </span>
                                                                                                                                            <span class="orderIdHeader">
                                                                                                                                                <span class="order-id-value" style="font-weight:normal;">Repln.Type: @replenishmentmodels[j].ReplenishmentType</span>
                                                                                                                                                @* <span class="order-id-value" style="font-weight:normal;">,@productmodels[j].CustomerName</span>*@
                                                                                                                                                <span class="order-header-title"></span>
                                                                                                                                            </span>

                                                                                                                                        </div>
                                                                                                                                    </div>
                                                                                                                                </td>
                                                                                                                                <td style="vertical-align: middle;text-align: left;"><span class="order-item-container " style="font-weight:normal;margin-right: 10px;">@replenishmentmodels[j].RequestedByName</span></td>
                                                                                                                                <td style="vertical-align: middle;"><span class="" style="font-weight:normal;text-align: center;">@replenishmentmodels[j].TransDateFrom.ToString("MM/dd/yyyy")</span></td>
                                                                                                                                <td style="vertical-align: middle;"><span class="" style="font-weight:normal;text-align: center;">@replenishmentmodels[j].TransDateTo.ToString("MM/dd/yyyy")</span></td>
                                                                                                                                <td style="vertical-align: middle;"><span class="" style="text-align: center;">@replenishmentmodels[j].FromBranchId</span></td>
                                                                                                                                <td style="vertical-align: middle;"><span class="" style=" text-align: center;">@replenishmentmodels[j].ToBranchId</span></td>
                                                                                                                                <td style="vertical-align: middle;">
                                                                                                                                    @if (replenishmentmodels[j].Status.Trim() == "VOID")
                                                                                                                                    {
                                                                                                                                        <span class="label label-danger col-md-1 pull-right" style="width:90px;font-family: arial;margin-right: 10px;">VOID</span>
                                                                                                                                    }
                                                                                                                                    else if (replenishmentmodels[j].Status.Trim() == "INPRS")
                                                                                                                                    {
                                                                                                                                        <span class="label label-warning col-md-1 pull-right" style="width:90px;font-family: arial;margin-right: 10px;">IN PROCESS</span>
                                                                                                                                    }
                                                                                                                                    else if (replenishmentmodels[j].Status.Trim() == "PIC")
                                                                                                                                    {
                                                                                                                                        <span class="label label-success col-md-1 pull-right" style="width:90px;font-family: arial;margin-right: 10px;">Pick Complete</span>
                                                                                                                                    }
                                                                                                                                    else if (replenishmentmodels[j].Status.Trim() == "RELS")
                                                                                                                                    {
                                                                                                                                        <span class="label label-primary col-md-1 pull-right" style="width:90px;font-family: arial;margin-right: 10px;">RELEASED</span>
                                                                                                                                    }
                                                                                                                                    else if (replenishmentmodels[j].Status.Trim() == "RTP")
                                                                                                                                    {
                                                                                                                                        <span class="label label-success col-md-1 pull-right" style="width:90px;font-family: arial;margin-right: 10px;">Ready to Pick</span>
                                                                                                                                    }
                                                                                                                                    else if (replenishmentmodels[j].Status.Trim() == "HOP")
                                                                                                                                    {
                                                                                                                                        <span class="label label-success col-md-1 pull-right" style="width:90px;font-family: arial;margin-right: 10px;">HOLD ON PICK</span>
                                                                                                                                    }
                                                                                                                                    else if (replenishmentmodels[j].Status.Trim() == "CMPLT")
                                                                                                                                    {
                                                                                                                                        <span class="label label-default col-md-1 pull-right" style="width:90px;font-family: arial;margin-right: 10px;">COMPLETED</span>
                                                                                                                                    }
                                                                                                                                    @*<span class="label label-danger col-md-1 center-block "  style="width:70px; text-align:center;   font-family: arial;">Void</span>*@
                                                                                                                                </td>

                                                                                                                            </tr>

                                                                                                                        }
</tbody>
                                                        </table>


</div>
                                            </div>

                                        </div>

                                    </div>


                                </div>

                            </div>
                        </div>

                    </div>




                </td>
            </tr>
        }
    }
</table>

    
}