﻿@model  SLEWebPortal.Models.Replenishment

@{
    ViewBag.Title = "Route Replenishment";
}


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><i class="fa fa-map-marker" style="color:#1ab394;"></i> Route Replenishment </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        @*<a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                            </a>*@
                        @*<ul class="dropdown-menu dropdown-user">
                            <li>
                            <a href="#">Config option 1</a>
                            </li>
                            <li>
                            <a href="#">Config option 2</a>
                            </li>
                            </ul>*@
                    </div>
                </div>
                <div class="ibox-content" style="width:100%; padding:0px;">




                    <div class="panel-body" style="padding:0px;">

                        <div class="tab-content">
                            <div id="tab-2" class="tab-pane active">
                                <div class="ibox-title" style="border-style:none;">

                                    <h5 style="margin-left:1%;padding: 5px;"><a href="" class="dro">All Routes</a></h5>
                                    <div style="width:55%; float:right; font-size:13px;margin-right: -100px; ">
                                        @using (Html.BeginForm("WeeklyCountRequest", "CycleCount", FormMethod.Post, new { style = "display:inherit;", id = "AddAllForm" }))
                                        {
                                            <div class="col-lg-4 m-l-n" style="width:150px;">
                                                <input type="checkbox" id="submittedcheckId" value="1" class="submit" onclick="event.stopPropagation();fetchvalues(1,'','','')">
                                                <i>Show Completed</i>

                                                @*   @Html.DropDownListFor(m => Model.SelectedUser, Model.UserRoles, new { @class = "dropdown-", id = "dropdownlist", @onchange = "passvalue(this);", style = "height:25px; width:100%;" })*@
                                            </div>
                                            <div class="col-lg-4 m-l-n">
                                                @*<select class="" style="height:30px; width:100%;">
                                                    <option>option 1</option>
                                                    <option>option 2</option>
                                                    <option>option 3</option>
                                                    <option>option 4</option>
                                                    </select>*@
                                               
@Html.DropDownListFor(m => Model.SelectedType, Model.ReplType, new { @class = "dropdown-", id = "dropdownlisttype", @onchange = "passvalueType(this);", style = "height:25px; width:100%;" })

                                             @*   @Html.DropDownListFor(m => Model.SelectedUser, Model.UserRoles, new { @class = "dropdown-", id = "dropdownlist", @onchange = "passvalue(this);", style = "height:25px; width:100%;" })*@
                                            </div>
    <div class="col-lg-4 m-l-n">
        @*<select class="" style="height:30px; width:100%;">
            <option>option 1</option>
            <option>option 2</option>
            <option>option 3</option>
            <option>option 4</option>
        </select>*@
@Html.DropDownListFor(m => Model.SelectedUser, Model.UserRoles, new { @class = "dropdown-", id = "dropdownlistroute", @onchange = "passvalue(this);", style = "height:25px; width:100%;" })
    </div>
                                            <span style="width:10%;">
                                                @*<button type="button" id="acceptbutton" style="width:12%;" class="btn btn-sm btn-white disabled" data-toggle="modal" data-target="#myModal8">Accept</button>*@

                                                @Html.Hidden("temproute", new { id = "temproute" })



                                                @*<button type="button" style="width:12%;" id="recount" class="btn btn-sm btn-white disabled" data-toggle="modal" data-target="#myModal9"> Re-Count</button> @*onclick="$('#cancelForm').submit()"*@


                                                @* <button type="button" style="width:12%;" id="recount" class="btn btn-sm btn-white disabled">Re-Count</button>*@
                                                @*<button type="button" style="width:12%;" id="voidbutton" class="btn btn-sm btn-white disabled" data-toggle="modal" data-target="#myModal7">Void</button>*@
                                                @*<button type="button" id="releasebutton" style="width:12%;" class="btn btn-sm btn-white disabled">Release</button>
                                                    <button type="button" style="width:12%;" class="btn btn-sm btn-white" onclick="checkforadd()">Add</button>*@


                                            </span>
                                        }
                                        @*@using (Html.BeginForm("WeeklyCountRequest2", "CycleCount", FormMethod.Post, new { id = "cancelForm" }))
                                            {

                                            @Html.TextBox("tempcycleid","", new { id = "tempcycleid",style="display:none;" })

                                            }*@


                                    </div>
                                </div>

                                <div id="partialviewforcyclecount">
                                    @Html.Partial("_ReplenishmentView")
                                </div>


                            </div>



                        </div>

                    </div>


                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    function passvalue(e) {

        if (e.value == "All") {

            $.ajax({

                dataType: 'html',
                url: '@Url.Action("ReplenishmentForRoute", "Replenishment")',
                data: ({ id: e.value, id2: document.getElementById("dropdownlisttype").value }),

                success: function (result) {

                    @*window.location.href = '@Url.Action("Index", "Replenishment")';*@
                    $("#partialviewforcyclecount").html(result);
                    if (document.getElementById("submittedcheckId").checked == false) {
                        $(".hidecompleted").hide();

                    }
                    else {
                        $(".hidecompleted").show();
                    }
                },
                error: function (result) {
                    alert('error');
                }
            });
        }
        else {
            $.ajax({
                type: 'POST',
                dataType: 'html',
                url: '@Url.Action("ReplenishmentForRoute", "Replenishment")',
                data: ({ id: e.value, id2: document.getElementById("dropdownlisttype").value }),
                success: function (result) {

                    $("#partialviewforcyclecount").html(result);
                    if (document.getElementById("submittedcheckId").checked == false) {
                        $(".hidecompleted").hide();

                    }
                    else {
                        $(".hidecompleted").show();
                    }

                },
                error: function (result) {
                    alert('error');
                }
            });
        }


    }

    function passvalueType(e) {

        if (e.value == "All") {

            $.ajax({

                dataType: 'html',
                url: '@Url.Action("ReplenishmentForType", "Replenishment")',
                data: ({ id: e.value, id2: document.getElementById("dropdownlistroute").value }),

                success: function (result) {

                    @*window.location.href = '@Url.Action("Index", "Replenishment")';*@

                    $("#partialviewforcyclecount").html(result);
                    if (document.getElementById("submittedcheckId").checked == false) {
                        $(".hidecompleted").hide();

                    }
                    else {
                        $(".hidecompleted").show();
                    }

                },
                error: function (result) {
                    alert('error');
                }
            });
        }
        else {
            $.ajax({
                type: 'POST',
                dataType: 'html',
                url: '@Url.Action("ReplenishmentForType", "Replenishment")',
                data: ({ id: e.value, id2: document.getElementById("dropdownlistroute").value }),
                success: function (result) {

                    $("#partialviewforcyclecount").html(result);
                    if (document.getElementById("submittedcheckId").checked == false) {
                        $(".hidecompleted").hide();

                    }
                    else {
                        $(".hidecompleted").show();
                    }

                    

                },
                error: function (result) {
                    alert('error');
                }
            });
        }


    }

    $("#submittedcheckId").change(function () {

        event.stopPropagation();
       if(this.checked==true)
           $(".hidecompleted").show();
        else
           $(".hidecompleted").hide();
        // Do something
    });

    $(document).ready(function () {
        if (document.getElementById("submittedcheckId").checked == false)
        {
            $(".hidecompleted").hide();
        }
       
    });

</script>