﻿@model  SLEWebPortal.Models.Replenishment

@{
    ViewBag.Title = "ReplenishmentDetails";
    
}


<style type="text/css">

     .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding:0px;

    }
      #search_textbox2::-ms-clear {
    display: none;
}
     #search_textbox::-ms-clear {
    display: none;
}
</style>



@using (Html.BeginForm("ShipRequest", "Replenishment",  FormMethod.Post, new { style = "display:inherit;", id = "ship" }))
            


{
<div class="wrapper wrapper-content animated fadeInRight" style="padding-bottom:0px;">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    @*@if (Model.StatusType == "PHYSCL")
                        {*@
                    <h5><i class="fa fa-map-marker" style="color:#1ab394;"></i> Route Replenishment </h5>
                    @*}
                        else
                        {
                            <h5><i class="fa fa-align-justify" style="color:#1ab394;"></i> Weekly Count Request </h5>
                        }*@

                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        @*<a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>*@
                        @*<ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#">Config option 1</a>
                                </li>
                                <li>
                                    <a href="#">Config option 2</a>
                                </li>
                            </ul>*@
                    </div>
                </div>
                <div class="ibox-content" style="width:100%; padding:0px;">




                    <div class="panel-body" style="padding:0px;">

                        <div class="tab-content">

                            <div id="tab-2" class="tab-pane active ">
                                <div class="ibox-title" style="border-style:none;">
                                    @*@if (Model.RouteID == 0)
                                        {
                                            <h5 style="padding-top: 5px;color:#00B3FF;font-size: initial;font-weight: 700;" class="header">All</h5>
                                        }
                                        else
                                        {*@

                                    <h5 style="padding-top: 5px;color:#00B3FF;font-size: initial;font-weight: 700;" class="header">@Model.routelistmodels[0].RouteName, @Model.routelistmodels[0].RouteDescription</h5>
                                    @* }*@
                                    <div style="width:50%; float:right; font-size:13px;">

                                        <div>
                                            <div class="pull-left">
                                                <i class="fa fa-search" style="z-index:9; margin-left: 85%;margin-right:20px;padding: 8px 12px;"></i>
                                                <input type="search" id="search_textbox2"
                                                       class="form-control pull-right"
                                                       placeholder="Search..." style="height:30px;width: 250px;margin-top: -30px;" />
                                            </div>
                                            
                                        </div>
                                        <div >
                                            @if (Model.replenishmentheader[0].Status.Trim() == "RELS" && (Model.routelistmodels[0].StatusType.Trim() == "DistributionCentre" || Model.routelistmodels[0].StatusType.Trim() == "Unmanned"))
                                            {
                                                if (Model.replenishmentheader[0].ReplenishmentType.Trim() != "Held Return")
                                                {
                                                <button type="button" id="voidbutton" style="width:15%;margin-left: 15px;" class="btn btn-sm btn-white">Void</button>
                                                }
                                                else
                                                {
                                                    <button type="button" id="voidbutton" style="width:15%;margin-left: 15px;" class="btn btn-sm btn-white hidden">Void</button>
                                                }
                                                if (Model.replenishmentheader[0].ReplenishmentType.Trim() == "Suggestion" || Model.replenishmentheader[0].ReplenishmentType.Trim() == "AddLoad" || Model.replenishmentheader[0].ReplenishmentType.Trim() == "Repln")
                                                {
                                                <button type="button" id="shipbutton" style="width:15%;margin-left: 5px;" class="btn btn-sm btn-white">Ship</button>
                                                }
                                                else
                                                {
                                                    <button type="button" id="completebutton" style="width:15%;margin-left: 5px;" class="btn btn-sm btn-white">Complete</button>
                                                }
                                            }
                                            else
                                            {
                                                <button type="button" id="voidbutton" style="width:15%;margin-left: 15px;" class="btn btn-sm btn-white hidden">Void</button>
                                                <button type="submit" id="shipbutton" style="width:15%;margin-right: 15px;" class="btn btn-sm btn-white hidden">Ship</button>
                                            }
                                            
                                        </div>
                                       
                                        @*<span style="width:10%;">




                                                                                    @if (mod == null)
                                                {
                                                    <button type="button" id="deletebutton" style="width:12%;" class="btn btn-sm btn-white disabled">Delete</button>
                                                    <button type="submit" id="savebutton" style="width:12%;" class="btn btn-sm btn-white">Create</button>
                                                }
                                                else
                                                {
                                                    if (Model.Status.Trim() == "NEW")
                                                    {
                                                        <button type="button" style="width:12%;" id="voidbutton" class="btn btn-sm btn-white" data-toggle="modal" data-target="#myModal7">Void</button>
                                                        <button type="button" id="acceptbutton" style="width:12%;" class="btn btn-sm btn-white hidden" data-toggle="modal" data-target="#myModal8">Accept</button>
                                                        <button type="submit" id="recountb" style="width:12%;" class="btn btn-sm btn-white hidden">Re-Count</button>
                                                        <button type="button" id="deletebutton" style="width:12%;" class="btn btn-sm btn-white">Delete</button>
                                                        <button type="submit" id="newsavebutton" style="width:12%;" class="btn btn-sm btn-white">Save</button>

                                                    }
                                                    else if (Model.Status.Trim() == "RELS")
                                                    {
                                                        <button type="button" style="width:12%;" id="voidbutton" class="btn btn-sm btn-white" data-toggle="modal" data-target="#myModal7">Void</button>
                                                        <button type="button" id="acceptbutton" style="width:12%;" class="btn btn-sm btn-white disabled" data-toggle="modal" data-target="#myModal8">Accept</button>
                                                        <button type="submit" id="recountb" style="width:12%;" class="btn btn-sm btn-white disabled">Re-Count</button>
                                                    }
                                                    else if (Model.Status.Trim() == "RECNT")
                                                    {
                                                        <button type="button" style="width:12%;" id="voidbutton" class="btn btn-sm btn-white" data-toggle="modal" data-target="#myModal7">Void</button>
                                                        <button type="button" id="acceptbutton" style="width:12%;" class="btn btn-sm btn-white" data-toggle="modal" data-target="#myModal8">Accept</button>
                                                        <button type="submit" id="recountb" style="width:12%;" class="btn btn-sm btn-white disabled">Re-Count</button>
                                                    }
                                                    else if (Model.Status.Trim() == "PNDNG")
                                                    {
                                                        <button type="button" style="width:12%;" id="voidbutton" class="btn btn-sm btn-white" data-toggle="modal" data-target="#myModal7">Void</button>
                                                        <button type="button" id="acceptbutton" style="width:12%;" class="btn btn-sm btn-white disabled" data-toggle="modal" data-target="#myModal8">Accept</button>
                                                        <button type="submit" id="recountb" style="width:12%;" class="btn btn-sm btn-white disabled">Re-Count</button>
                                                    }
                                                    else if (Model.Status.Trim() == "SUBMIT")
                                                    {
                                                        <button type="button" style="width:12%;" id="voidbutton" class="btn btn-sm btn-white" data-toggle="modal" data-target="#myModal7">Void</button>
                                                        <button type="button" id="acceptbutton" style="width:12%;" class="btn btn-sm btn-white" data-toggle="modal" data-target="#myModal8">Accept</button>
                                                        <button type="submit" id="recountb" style="width:12%;" class="btn btn-sm btn-white" onclick="checkforadd();">Re-Count</button>
                                                    }
                                                    else
                                                    {
                                                        <button type="button" style="width:12%;" id="voidbutton" class="btn btn-sm btn-white disabled" data-toggle="modal" data-target="#myModal7">Void</button>
                                                        <button type="button" id="acceptbutton" style="width:12%;" class="btn btn-sm btn-white disabled" data-toggle="modal" data-target="#myModal8">Accept</button>
                                                        <button type="submit" id="recountb" style="width:12%;" class="btn btn-sm btn-white disabled">Re-Count</button>
                                                    }
                                                }
                                            </span>*@




                                    </div>
                                </div>
                                <div class="ibox-content" style="padding:0px;">
                                    <div class="order-item-container col-md-12">
                                        <div class="order-item-header col-md-4" style="width:28%;">
                                            <span class="orderIdHeader">

                                                <span class="header" style="color:#545556;">


                                                    @*@if (mod == null)
                                                        {
                                                            <span>Count ID:</span>
                                                            <span>New</span>
                                                        }
                                                        else
                                                        {*@
                                                    <span>Repln.Id.: @Model.replenishmentheader[0].ReplenishmentID</span>

                                                    @*if (Model.Status.Trim() == "NEW")
                                                            {
                                                                <span class="label label-default col-md-1" style="width:70px;font-family: arial;top: 4px;right: 3px;">New</span>
                                                            }
                                                            else if (Model.Status.Trim() == "RELS")
                                                            {
                                                                <span class="label label-default col-md-1" style="width:70px;font-family: arial;top: 4px;right: 3px;">Release</span>
                                                            }
                                                            else if (Model.Status.Trim() == "SUBMIT")
                                                            {
                                                                <span class="label label-warning col-md-1" style="width:70px;font-family: arial;top: 4px;right: 3px;">Submitted</span>
                                                            }
                                                            else if (Model.Status.Trim() == "PNDNG")
                                                            {
                                                                <span class="label label-default col-md-1" style="width:70px;font-family: arial;top: 4px;right: 3px;">Pending</span>
                                                            }
                                                            else if (Model.Status.Trim() == "ACCEPT")
                                                            {
                                                                <span class="label label-primary col-md-1" style="width:70px;font-family: arial;top: 4px;right: 3px;">Accepted</span>
                                                            }
                                                            else if (Model.Status.Trim() == "RECNT")
                                                            {
                                                                <span class="label label-success col-md-1" style="width:70px;font-family: arial;top: 4px;right: 3px;">Recount</span>
                                                            }
                                                            else if (Model.Status.Trim() == "VOID")
                                                            {
                                                                <span class="label label-danger `col-md-1" style="width:70px;font-family: arial;top: 4px;right: 3px;">Void</span>
                                                            }
                                                        }*@
                                                </span>
                                                <span class="order-header-date">
                                                    on   @*@Model.CycleCountDatetime.ToString("MM/dd/yyyy")*@
                                                    @*@if (mod == null)
                                                        {*@
                                                    <input type="text" id="datepicker" readonly="readonly" value="@Model.replenishmentheader[0].TransDateFrom.ToString("MM/dd/yyyy")" style="width:78px; margin-left:5px;border: none;" />
                                                    @*<label id="datepicker" /><i class="fa fa-calendar" style="font-weight: bold; font-size: large;"></i><input type="text" style="display:none;" id="proxyinput" />*@
                                                    @*}
                                                        else
                                                        {
                                                            <input type="text" readonly="readonly" value="@Model.CycleCountDatetime.ToString("MM/dd/yyyy")" style="width:100px; margin-left:5px; display:none;" id="datepicker" />
                                                            <input type="text" readonly="readonly" value="@Model.CycleCountDatetime.ToString("MM/dd/yyyy")" style="width:100px; margin-left:5px;" id="datepicker2" />
                                                        }*@
                                                </span>
                                            </span>
                                            <span class="orderIdHeader" style="margin-top:5px;">
                                                <span class="order-id-value" style="font-weight:normal;">Repln Type: @Model.replenishmentheader[0].ReplenishmentType</span>
                                              @*  <span class="order-id-value" style="font-weight:normal;">- @Model.productreturns[0].CustomerName</span>*@
                                                <span class="order-header-title"></span>
                                            </span>

                                        </div>

                                        <div class="order-item-header col-md-10" style="float:right; margin-top:-30px;">
                                            <span class="orderIdHeader" style="text-align:center;">
                                                <span class="order-id-value">
                                                    @*@if (mod == null)
                                                        {
                                                            <span id="totalcounts">0</span>
                                                        }
                                                        else
                                                        {*@
                                                    <span id="totalcounts" style="font-weight: 500;">Requested By: @Model.replenishmentheader[0].RequestedByName</span>
                                                    <span id="totalcounts" style="font-weight: 500;margin-left:10px;">Trans Date: @Model.replenishmentheader[0].TransDateFrom.ToString("MM/dd/yyyy") to @Model.replenishmentheader[0].TransDateTo.ToString("MM/dd/yyyy")</span>
                                                    <span id="totalcounts" style="margin-left:10px;">From Branch: @Model.replenishmentheader[0].FromBranchId</span>
                                                    <span id="totalcounts" style="margin-left:10px;">To Branch: @Model.replenishmentheader[0].ToBranchId</span>
                                                   
                                                    @*<span class="label label-default col-md-1 pull-right" style="width:70px;font-family: arial;top: 4px;left: 3px;">New</span>

                                                        @Model.productreturns[0].Status*@

                                                    @if (Model.replenishmentheader[0].Status.Trim() == "VOID")
                                                    {
                                                        <span class="label label-danger col-md-1 pull-right" style="width:90px;font-family: arial;">Void</span>
                                                    }
                                                    else if (Model.replenishmentheader[0].Status.Trim() == "RELS")
                                                    {
                                                        <span class="label label-primary col-md-1 pull-right" style="width:90px;font-family: arial;">Release</span>
                                                    }
                                                    else if (Model.replenishmentheader[0].Status.Trim() == "PIC")
                                                    {
                                                        <span class="label label-success col-md-1 pull-right" style="width:90px;font-family: arial;">Pic Complete</span>
                                                    }
                                                    else if (Model.replenishmentheader[0].Status.Trim() == "INPRS")
                                                    {
                                                        <span class="label label-warning col-md-1 pull-right" style="width:90px;font-family: arial;">In Process</span>
                                                    }
                                                    else if (Model.replenishmentheader[0].Status.Trim() == "RTP")
                                                    {
                                                        <span class="label label-success col-md-1 pull-right" style="width:90px;font-family: arial;">Ready to Pick</span>
                                                    }
                                                    else if (Model.replenishmentheader[0].Status.Trim() == "HOP")
                                                    {
                                                        <span class="label label-success col-md-1 pull-right" style="width:90px;font-family: arial;">Hold On Pick</span>
                                                    }
                                                    else if (Model.replenishmentheader[0].Status.Trim() == "CMPLT")
                                                    {
                                                        <span class="label label-default col-md-1 pull-right" style="width:90px;font-family: arial;">COMPLETED</span>
                                                    }

                                                    @* }*@
                                                </span>
                                            </span>


                                            @*<span class="orderIdHeader">
                                                    <span class="order-id-value" style="font-weight:normal;">Items to Count</span>
                                                </span>*@

                                        </div>

                                        <div class="ibox-content" style="padding:15px; border:none;">
                                            @*<strong>Lorem ipsum dolor sit amet, consectetuer adipiscing</strong>

                                                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>

                                                <p>I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. When.</p>*@



                                            <div id="partialviewforitems">

                                                <table id="tbl1" class="table" style="text-align:center;">
                                                    <thead style="border: 1px Solid rgba(128, 128, 128, 0.4); text-align:center; background-color: rgba(128, 128, 128, 0.27);">
                                                        <tr>


                                                            
                                                            <th style="text-align:center;">Item No.</th>
                                                            <th style="text-align:center;">Item Description</th>
                                                            <th style="text-align:center;">Primary UOM.</th>
                                                            <th style="text-align:center;">Open Repln.</th>
                                                            <th style="text-align:center;">On Hand Qty</th>
                                                            <th style="text-align:center;">Commit Qty</th>
                                                            <th style="text-align:center;">Held Qty</th>
                                                            <th style="text-align:center;">Available Qty</th>
                                                            <th style="text-align:center;">Par Level</th>
                                                            <th style="text-align:center;">Demand Qty</th>
                                                            <th style="text-align:center;">Sug. Qty</th>
                                                            @if (Model.replenishmentheader[0].ReplenishmentType.Trim() == "Held Return" || Model.replenishmentheader[0].ReplenishmentType.Trim() == "Sugg. Return" || Model.replenishmentheader[0].ReplenishmentType.Trim() == "Unload")
                                                            {
                                                                <th style="text-align:center;">Return UOM</th>
                                                                <th style="text-align:center;">Return Qty</th>
                                                            }
                                                            else
                                                            {
                                                                <th style="text-align:center;">Repln. UOM</th>
                                                                <th style="text-align:center;">Repln. Qty</th>
                                                            }

                                                           @if (Model.routelistmodels[0].StatusType.Trim() == "SalesBranch")
                                                           { }
                                                           else
                                                           {
                                                            <th style="text-align:center;" colspan="3">Ship. Qty</th>
                                                           }
                                                            




                                                        </tr>
                                                    </thead>
                                                    <tbody style="border: 1px Solid rgba(128, 128, 128, 0.4);">
                                                      
                                                        @for (int i = 0; i < Model.replenishmentdetails.Count(); i++)
                                                        {

                                                            <tr>

                                                                @* <td><div class="checkbox"><label>@Html.CheckBox("itemId", new { value = item.ItemId, @class = "check" })</label></div></td>*@

                                                                <td><div style="position: relative;display: block;margin-top: 10px;margin-bottom: 10px;border:none;">@Model.replenishmentdetails[i].ItemNo</div></td>
                                                                <td><div style="position: relative;display: block;margin-top: 10px;margin-bottom: 10px;border:none;">@Model.replenishmentdetails[i].ItemDescription</div></td>
                                                                <td><div style="position: relative;display: block;margin-top: 10px;margin-bottom: 10px;border:none;">@Model.replenishmentdetails[i].PrimaryUOM</div></td>
                                                                <td><div style="position: relative;display: block;margin-top: 10px;margin-bottom: 10px;border:none;">@Model.replenishmentdetails[i].OpenReplnQty</div></td>
                                                                <td><div style="position: relative;display: block;margin-top: 10px;margin-bottom: 10px;border:none;">@Model.replenishmentdetails[i].OnHandQty</div></td>
                                                                <td><div style="position: relative;display: block;margin-top: 10px;margin-bottom: 10px;border:none;">@Model.replenishmentdetails[i].CommittedQty</div></td>
                                                                <td><div style="position: relative;display: block;margin-top: 10px;margin-bottom: 10px;border:none;">@Model.replenishmentdetails[i].HeldQty</div></td>
                                                                <td><div style="position: relative;display: block;margin-top: 10px;margin-bottom: 10px;border:none;">@Model.replenishmentdetails[i].AvailableQty</div></td>
                                                                <td><div style="position: relative;display: block;margin-top: 10px;margin-bottom: 10px;border:none;">@Model.replenishmentdetails[i].ParLevel</div></td>
                                                                <td><div style="position: relative;display: block;margin-top: 10px;margin-bottom: 10px;border:none;">@Model.replenishmentdetails[i].DemandQty</div></td>
                                                                <td><div style="position: relative;display: block;margin-top: 10px;margin-bottom: 10px;border:none;">@Model.replenishmentdetails[i].SuggestedQty</div></td>
                                                                @if (Model.replenishmentheader[0].ReplenishmentType.Trim() == "Held Return" || Model.replenishmentheader[0].ReplenishmentType.Trim() == "Sugg. Return" || Model.replenishmentheader[0].ReplenishmentType.Trim() == "Unload")
                                                                {
                                                                    <td><div style="position: relative;display: block;margin-top: 10px;margin-bottom: 10px;border:none;">@Model.replenishmentdetails[i].ReturnUOM</div></td>
                                                                    <td><div style="position: relative;display: block;margin-top: 10px;margin-bottom: 10px;border:none;">@Model.replenishmentdetails[i].ReturnQty</div></td>
                                                                }
                                                                else
                                                                {
                                                                    <td><div style="position: relative;display: block;margin-top: 10px;margin-bottom: 10px;border:none;">@Model.replenishmentdetails[i].ReplnUOM</div></td>
                                                                    <td><div style="position: relative;display: block;margin-top: 10px;margin-bottom: 10px;border:none;">@Model.replenishmentdetails[i].ReplenishmentQty</div></td>
                                                                }
                                                               
@if (Model.routelistmodels[0].StatusType.Trim() == "SalesBranch")
                                                           { }
                                                           else
                                                           {


                                                                @*<td style="padding-left: 0px;padding-right: 0px; min-width: 105px;">*@
                                                               
                                                                    if(Model.replenishmentheader[0].Status.Trim()=="RELS")
                                                                    {
                                                                       
                                                                            if (Model.replenishmentheader[0].ReplenishmentType.Trim() == "Suggestion" || Model.replenishmentheader[0].ReplenishmentType.Trim() == "AddLoad")
                                                                            {
                                                                               <td style="background-color:rgb(138, 181, 202);min-width: 40px;"> <button type="button" id="@Model.replenishmentdetails[i].ReplenishmentDetailID" style="background-color: rgb(138, 181, 202); border:none; color: white; padding: 0px;height: 100%;width: 100%;" class="btn btn-sm btn-white minusbutton">-</button></td>
    <td style="vertical-align:middle;" > @Html.TextBoxFor(it => it.replenishmentdetails[i].ShippedQty, new { style = "border:none;width: 30px;text-align: center; ", @class = "detialid " + Model.replenishmentdetails[i].ReplenishmentDetailID, id = Model.replenishmentdetails[i].ReplenishmentDetailID })</td>
    <td style="background-color:rgb(138, 181, 202);min-width: 40px;"><button type="button" id="@Model.replenishmentdetails[i].ReplenishmentDetailID" style="background-color: rgb(138, 181, 202);border:none;  color: white; padding: 0px;height: 100%;width: 100%;" class="btn btn-sm btn-white plusbutton">+</button></td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td style=" border-right: 1px Solid rgba(128, 128, 128, 0.4);"> <div style="position: relative;display: block;margin-top: 10px;margin-bottom: 10px;">  @Html.TextBoxFor(it => it.replenishmentdetails[i].ShippedQty, new { style = "border:none;width: 30px;text-align: center; ", @readonly = "readonly", @class = "detialid " + Model.replenishmentdetails[i].ReplenishmentDetailID, id = Model.replenishmentdetails[i].ReplenishmentDetailID })</div> </td>
                                                                            }




                                                                    }
                                                                    else
                                                                    {
                                                                        <td style="position: relative;display: block;margin-top: 10px;margin-bottom: 10px;">
                                                                     @*       <button type="button" id="@Model.replenishmentdetails[i].ReplenishmentDetailID" style="background-color: rgb(138, 181, 202); margin-bottom: 0px; color: white; float:left" class="btn btn-sm btn-white minusbutton">-</button>*@
                                                                            @Html.TextBoxFor(it => it.replenishmentdetails[i].ShippedQty, new { style = "border:none;width: 30px;text-align: center;", @class = "detialid " + Model.replenishmentdetails[i].ReplenishmentDetailID, id = Model.replenishmentdetails[i].ReplenishmentDetailID })
                                                                     @*       <button type="button" id="@Model.replenishmentdetails[i].ReplenishmentDetailID" style="background-color: rgb(138, 181, 202); margin-bottom: 0px; margin-right:5px;margin-left:2px;    color: white;" class="btn btn-sm btn-white plusbutton">+</button>*@
                                                                    </td>
                                                                            }

                                                                        @*</td>*@

}
                                                            </tr>
                                                        }


                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>


                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>

    </div>
</div>
}
<script type="text/javascript">

    $('#voidbutton').click(function () {
        //   e.pre
        var e = @Model.replenishmentheader[0].ReplenishmentID;
        $.ajax({
            type: 'POST',
            dataType: 'html',
            url: '@Url.Action("VoidReplenishment", "Replenishment")',
            data: ({ id: e,routeid:@Model.routelistmodels[0].Routeid ,repltype:'@Model.replenishmentheader[0].ReplenishmentType.Trim()' }),
            success: function (result) {
                window.location.href = '@Url.Action("Index", "Replenishment")';

            },
            error: function (result) {
                alert('error');
            }
        });

    });

    $('#completebutton').click(function () {
        //   e.pre
        var e = @Model.replenishmentheader[0].ReplenishmentID;
        $.ajax({
            type: 'POST',
            dataType: 'html',
            url: '@Url.Action("CompletedReplenishment", "Replenishment")',
            data: ({ id: e, routeid:@Model.routelistmodels[0].Routeid }),
            success: function (result) {
                window.location.href = '@Url.Action("Index", "Replenishment")';

            },
            error: function (result) {
                alert('error');
            }
        });

    });


    $(".minusbutton").click(function(){
        var shipqty=$("."+this.id+"").val();
        if(shipqty=='0')
        {}
        else{
            shipqty=parseInt(shipqty)-1;
        }

        $("."+this.id+"").val(shipqty);
    });
    $(".plusbutton").click(function(){
        var shipqty=$("."+this.id+"").val();
        shipqty=parseInt(shipqty)+1;
        $("."+this.id+"").val(shipqty);
    });




    $('#shipbutton').click(function () {
        //   e.pre
        var selectedItem = [];
        var selectedID=[];
        $(".detialid").each(function (index) {
            selectedItem.push($(this).val()); // i multiple to 1 to insure it's numeric
            selectedID.push(this.id);
        });


        $.ajax({
            type: 'POST',
            dataType: 'html',
            contentType: 'application/json; charset=utf-8',
            url: '@Url.Action("ShipRequest", "Replenishment")',
            data: JSON.stringify({ arr: selectedItem,arr2:selectedID,id:@Model.replenishmentheader[0].ReplenishmentID,routeid:@Model.routelistmodels[0].Routeid }),
            success: function (result) {
                window.location.href = '@Url.Action("Index", "Replenishment")';

            },
            error: function (result) {
                alert('error');
            }
        });

    });

</script>

<script type="text/javascript">
    
    $(function () {
        $('#search_textbox2').each(function (i) {
            $(this).quicksearch("[id*=tbl1] tr:not(:has(th))", {
                'testQuery': function (query, txt, row) {
                    return $(row).children(":eq(" + 0 + ")").text().toLowerCase().indexOf(query[0].toLowerCase()) != -1
                    || $(row).children(":eq(" + 1 + ")").text().toLowerCase().indexOf(query[0].toLowerCase()) != -1;
                }
            });
        });
    });



</script>

<script type="text/javascript">
    (function ($, window, document, undefined) {
        $.fn.quicksearch = function (target, opt) {

            var timeout, cache, rowcache, jq_results, val = '', e = this, options = $.extend({
                delay: 100,
                selector: null,
                stripeRows: null,
                loader: null,
                noResults: '',
                matchedResultsCount: 0,
                bind: 'keyup',
                onBefore: function () {
                    return;
                },
                onAfter: function () {
                    return;
                },
                show: function () {
                    this.style.display = "";
                },
                hide: function () {
                    this.style.display = "none";
                },
                prepareQuery: function (val) {
                    return val.toLowerCase().split(' ');
                },
                testQuery: function (query, txt, _row) {
                    for (var i = 0; i < query.length; i += 1) {
                        if (txt.indexOf(query[i]) === -1) {
                            return false;
                        }
                    }
                    return true;
                }
            }, opt);

            this.go = function () {

                var i = 0,
                    numMatchedRows = 0,
                    noresults = true,
                    query = options.prepareQuery(val),
                    val_empty = (val.replace(' ', '').length === 0);

                for (var i = 0, len = rowcache.length; i < len; i++) {
                    if (val_empty || options.testQuery(query, cache[i], rowcache[i])) {
                        options.show.apply(rowcache[i]);
                        noresults = false;
                        numMatchedRows++;
                    } else {
                        options.hide.apply(rowcache[i]);
                    }
                }

                if (noresults) {
                    this.results(false);
                } else {
                    this.results(true);
                    this.stripe();
                }

                this.matchedResultsCount = numMatchedRows;
                this.loader(false);
                options.onAfter();

                return this;
            };

            /*
            * External API so that users can perform search programatically.
            * */
            this.search = function (submittedVal) {
                val = submittedVal;
                e.trigger();
            };

            /*
            * External API to get the number of matched results as seen in
            * https://github.com/ruiz107/quicksearch/commit/f78dc440b42d95ce9caed1d087174dd4359982d6
            * */
            this.currentMatchedResults = function () {
                return this.matchedResultsCount;
            };

            this.stripe = function () {

                if (typeof options.stripeRows === "object" && options.stripeRows !== null) {
                    var joined = options.stripeRows.join(' ');
                    var stripeRows_length = options.stripeRows.length;

                    jq_results.not(':hidden').each(function (i) {
                        $(this).removeClass(joined).addClass(options.stripeRows[i % stripeRows_length]);
                    });
                }

                return this;
            };

            this.strip_html = function (input) {
                var output = input.replace(new RegExp('<[^<]+\>', 'g'), "");
                output = $.trim(output.toLowerCase());
                return output;
            };

            this.results = function (bool) {
                if (typeof options.noResults === "string" && options.noResults !== "") {
                    if (bool) {
                        $(options.noResults).hide();
                    } else {
                        $(options.noResults).show();
                    }
                }
                return this;
            };

            this.loader = function (bool) {
                if (typeof options.loader === "string" && options.loader !== "") {
                    (bool) ? $(options.loader).show() : $(options.loader).hide();
                }
                return this;
            };

            this.cache = function () {

                jq_results = $(target);

                if (typeof options.noResults === "string" && options.noResults !== "") {
                    jq_results = jq_results.not(options.noResults);
                }

                var t = (typeof options.selector === "string") ? jq_results.find(options.selector) : $(target).not(options.noResults);
                cache = t.map(function () {
                    return e.strip_html(this.innerHTML);
                });

                rowcache = jq_results.map(function () {
                    return this;
                });

                /*
                * Modified fix for sync-ing "val".
                * Original fix https://github.com/michaellwest/quicksearch/commit/4ace4008d079298a01f97f885ba8fa956a9703d1
                * */
                val = val || this.val() || "";

                return this.go();
            };

            this.trigger = function () {
                this.loader(true);
                options.onBefore();

                window.clearTimeout(timeout);
                timeout = window.setTimeout(function () {
                    e.go();
                }, options.delay);

                return this;
            };

            this.cache();
            this.results(true);
            this.stripe();
            this.loader(false);

            return this.each(function () {

                /*
                * Changed from .bind to .on.
                * */
                $(this).on(options.bind, function () {

                    val = $(this).val();
                    e.trigger();
                });
            });

        };

    } (jQuery, this, document));





</script>