﻿<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a href="#">
                        <span class="clear">
                            @{
                                var displayName = "";
                                var role = "";
                                var roles = new string[] { "DSM", "RSM", "RSR" };
                                if (Session["user"] != null)
                                {
                                    displayName = ((SLEWebPortal.Models.LoginViewModel)Session["user"]).DisplayName;
                                    role = ((SLEWebPortal.Models.LoginViewModel)Session["user"]).Role;
                                }
                            }
                            <span class="block m-t-xs">
                                <strong class="font-bold"> @displayName </strong>
                            </span>
                            <span class="text-muted text-xs block">@role</span>

                        </span>
                    </a>
                </div>
                <div class="logo-element">
                    SLE
                </div>
            </li>
            @if (Session["user"] != null)
            {
                if (((SLEWebPortal.Models.LoginViewModel)Session["user"]).Role.ToString() != "ITADMIN")
                {
                    if (((SLEWebPortal.Models.LoginViewModel)Session["user"]).Role.ToString() == "DSM")
                    {
                        <li class="@Html.IsSelected(action: "Index", controller: "DSADashboard")">
                            <a href="@Url.Action("Index", "DSADashboard")"><i class="fa fa-laptop"></i> <span class="nav-label">Dashboard</span> </a>
                        </li>
                    }
                    else
                    {
                    <li class="@Html.IsSelected(action: "Index", controller: "Dashboard")">
                        <a href="@Url.Action("Index", "Dashboard")"><i class="fa fa-laptop"></i> <span class="nav-label">Dashboard</span> </a>
                    </li>
                    }
                }
                if (((SLEWebPortal.Models.LoginViewModel)Session["user"]).Role.ToString() == "DSM")
                {
                    <li class="@Html.IsSelected(controller: "Metrics", action: "Index")">
                        <a href="@Url.Action("Index", "Metrics")"><i class="fa fa-group"></i> <span class="nav-label">Metrics</span></a>
                    </li>
                    <li class="@Html.IsSelected(action: "Index", controller: "Approval")">
                        <a href="@Url.Action("Index", "Approval")"><i class="fa fa-laptop"></i> <span class="nav-label">Approval</span> </a>
                    </li>
    <li class="@Html.IsSelected(action: "Index", controller: "CycleCount")">
        <a href="@Url.Action("Index", "CycleCount")"><i class="fa fa-laptop"></i> <span class="nav-label">Cycle Count</span> </a>
    </li>
                    <li class="@Html.IsSelected(controller: "User", action: "Authorization")">
                        <a href="@Url.Action("Index", "Authorization")"><i class="fa fa-group"></i> <span class="nav-label">Authorization</span></a>
                      </li>
                    <li class="@Html.IsSelected(action: "Index", controller: "InProcess")">
                      <a href="@Url.Action("Index", "InProcess")"><i class="fa fa-laptop"></i> <span class="nav-label">In Process Transaction</span> </a>
                     </li>
    <li class="@Html.IsSelected(action: "Index", controller: "DeliveryDay")">
        <a href="@Url.Action("Index", "DeliveryDay")"><i class="fa fa-laptop"></i> <span class="nav-label">Delivery Day Code</span> </a>
    </li>
                
    <li class="@Html.IsSelected(action: "Index", controller: "ARAging")">
        <a href="@Url.Action("Index", "ARAging")"><i class="fa fa-laptop"></i> <span class="nav-label">Customer AR Aging</span> </a>
    </li>
                
    <li class="@Html.IsSelected(action: "Index", controller: "Replenishment")">
        <a href="@Url.Action("Index", "Replenishment")"><i class="fa fa-laptop"></i> <span class="nav-label">Route Replenishment</span> </a>
    </li>
    <li class="@Html.IsSelected(action: "Index", controller: "Quotes")">
        <a href="@Url.Action("Index", "Quotes")"><i class="fa fa-laptop"></i> <span class="nav-label">Quotes</span> </a>
    </li>
                }
                else
                {
                    if ((!roles.Contains(((SLEWebPortal.Models.LoginViewModel)Session["user"]).Role.ToString())))
                    {
                    <li class="@Html.IsSelected(controller: "User", action: "Index")">
                        <a href="@Url.Action("Index", "User")"><i class="fa fa-group"></i> <span class="nav-label">Users</span></a>
                    </li>
                    <li class="@Html.IsSelected(action: "Index", controller: "Device")">
                        <a href="@Url.Action("Index", "Device")"><i class="fa fa-laptop"></i> <span class="nav-label">Devices</span> </a>
                    </li>

                }
                <li class="@Html.IsSelected(controller: "Route", action: "Index")">
                    <a href="@Url.Action("Index", "Route")"><i class="fa fa-sitemap"></i> <span class="nav-label">Routes</span></a>
                </li>
                <li class="@Html.IsSelected(action: "MapUser", controller: "User")">
                    <a href="@Url.Action("MapUser", "User")"><i class="fa fa-laptop"></i> <span class="nav-label">User Mapping</span> </a>
                </li>
                @*<li class="@Html.IsSelected(action: "Index", controller: "Customer")">
                        <a href="@Url.Action("Index", "Customer")"><i class="fa fa-laptop"></i> <span class="nav-label">Customer</span> </a>
                    </li>*@
                }

            }



        </ul>
    </div>
</nav>