﻿@model  SLEWebPortal.Models.Quotes
<table id="tbl" class="table " style="text-align:center;">
    <thead style="border-top: 1px Solid rgba(128, 128, 128, 0.4);border-bottom: 1px Solid rgba(128, 128, 128, 0.4);  width:100%; text-align:center;">
        <tr>

            <th style="text-align:center;width:30%;text-align: left; padding-left:22px;">Quote Info</th>
            <th style="text-align:center;text-align: left;">Pricing Setup</th>
            <th style="text-align:left;width:10%;" colspan="11">Pricing Details</th>
            @if (Model.quotemodels[0].Quotetype == "Prospect")
            { 
            <th style="text-align:center;width:10%;">Sampled</th>
            }
            <th style="text-align:center;" colspan="3">Quote Printed</th>



        </tr>
    </thead>
    <tbody style="border-bottom: 1px Solid rgba(128, 128, 128, 0.4);width:100%; max-height:600px; overflow-y:scroll;">

        @foreach (var item in Model.quotesinfo)
        {
            <tr style="cursor:pointer;" onclick="location.href='@Url.Action("QuotesDetails", "Quotes", new { type = Model.quotemodels[0].Quotetype, BillToId = Model.quotemodels[0].BillToNumber, ParentId = Model.quotemodels[0].ParentNumber, RouteId = Model.quotemodels[0].RouteId, quoteid = item.QuoteId })'">

                <td style="text-align: left;">
                    <div class="order-item-header col-md-4" style="width:100%;">
                        <span class="orderIdHeader">

                            <span class="header">



                                <span>Quote ID:<span class="fieldtosearch">@item.QuoteId</span></span>

                            </span>
                            <span class="order-header-date">
                                on   @*@Model.CycleCountDatetime.ToString("MM/dd/yyyy")*@

                                <input type="text" id="datepicker" readonly="readonly" value="@item.PriceDate.ToString("MM/dd/yyyy")" style="width:78px; margin-left:5px; border:none;" />


                            </span>
                        </span>
                        <span class="orderIdHeader">
                            <span class="order-id-value" style="font-weight:normal;">Quoted Items: @item.QuotedItems</span>

                            <span class="order-header-title"></span>
                        </span>

                    </div>
                </td>
                <td style="text-align: left;"><div style="position: relative;margin-top: 10px;margin-bottom: 10px;border:none;"><span id="@item.QuoteId">Master</span></div></td>
                @if (item.AIAC15CategoryCode15.Trim() == item.AIAC15CategoryCode15Mst.Trim())
                {
                    <td style="text-align: center;"><div style="position: relative;margin-top: 10px;margin-bottom: 10px;border:none; ">@(item.AIAC15CategoryCode15Mst.Trim() == "" ? "..." : item.AIAC15CategoryCode15Mst.Trim())</div></td>
                }
                else
                {

                    <td style="text-align: center;"><div style="position: relative;margin-top: 10px;margin-bottom: 10px;border:none;color:#1c84c6;">
                    <script type="text/javascript">document.getElementById(@item.QuoteId).innerHTML = "Override";</script>@(item.AIAC15CategoryCode15.Trim() == "" ? "..." : item.AIAC15CategoryCode15.Trim())</div></td>
                }

                @if (item.AIAC16CategoryCode16.Trim() == item.AIAC16CategoryCode16Mst.Trim())
                {
                    <td style="text-align: center;"><div style="position: relative;margin-top: 10px;margin-bottom: 10px;border:none;">@(item.AIAC16CategoryCode16Mst.Trim() == "" ? "..." : item.AIAC16CategoryCode16Mst.Trim())</div></td>
                }
                else
                {
                    <td style="text-align: center;"><div style="position: relative;margin-top: 10px;margin-bottom: 10px;border:none;color:#1c84c6;">
                    <script type="text/javascript">document.getElementById(@item.QuoteId).innerHTML = "Override";</script>@(item.AIAC16CategoryCode16.Trim() == "" ? "..." : item.AIAC16CategoryCode16.Trim())</div></td>
                }
                @if (item.AIAC17CategoryCode17.Trim() == item.AIAC17CategoryCode17Mst.Trim())
                {
                    <td style="text-align: center;"><div style="position: relative;margin-top: 10px;margin-bottom: 10px;border:none;">@(item.AIAC17CategoryCode17Mst.Trim() == "" ? "..." : item.AIAC17CategoryCode17Mst.Trim())</div></td>
                }
                else
                {
                    <td style="text-align: center;"><div style="position: relative;margin-top: 10px;margin-bottom: 10px;border:none;color:#1c84c6;">
                    <script type="text/javascript">document.getElementById(@item.QuoteId).innerHTML = "Override";</script>@(item.AIAC17CategoryCode17.Trim() == "" ? "..." : item.AIAC17CategoryCode17.Trim())</div></td>
                }

                @if (item.AIAC18CategoryCode18.Trim() == item.AIAC18CategoryCode18Mst.Trim())
                {
                    <td style="text-align: center;"><div style="position: relative;margin-top: 10px;margin-bottom: 10px;border:none;">@(item.AIAC18CategoryCode18Mst.Trim() == "" ? "..." : item.AIAC18CategoryCode18.Trim())</div></td>
                }
                else
                {
                    <td style="text-align: center;"><div style="position: relative;margin-top: 10px;margin-bottom: 10px;border:none;color:#1c84c6;">
                    <script type="text/javascript">document.getElementById(@item.QuoteId).innerHTML = "Override";</script>@(item.AIAC18CategoryCode18.Trim() == "" ? "..." : item.AIAC18CategoryCode18.Trim())</div></td>
                }
                @if (item.AIAC22POSUpCharge.Trim() == item.AIAC22POSUpChargeMst.Trim())
                {
                    <td style="text-align: center;"><div style="position: relative;margin-top: 10px;margin-bottom: 10px;border:none;">@(item.AIAC22POSUpChargeMst.Trim() == "" ? "..." : item.AIAC22POSUpChargeMst.Trim())</div></td>
                }
                else
                {
                    <td style="text-align: center;"><div style="position: relative;margin-top: 10px;margin-bottom: 10px;border:none; color:#1c84c6;">
                    <script type="text/javascript">document.getElementById(@item.QuoteId).innerHTML = "Override";</script>@(item.AIAC22POSUpCharge.Trim() == "" ? "..." : item.AIAC22POSUpCharge.Trim())</div></td>
                }
                @if (item.AIAC23LiquidCoffee.Trim() == item.AIAC23LiquidCoffeeMst.Trim())
                {
                    <td style="text-align: left;"><div style="position: relative;margin-top: 10px;margin-bottom: 10px;border:none;">@(item.AIAC23LiquidCoffeeMst.Trim() == "" ? "..." : item.AIAC23LiquidCoffeeMst.Trim())</div></td>
                }
                else
                {
                    <td style="text-align: left;"><div style="position: relative;margin-top: 10px;margin-bottom: 10px;border:none; color:#1c84c6;">
                    <script type="text/javascript">document.getElementById(@item.QuoteId).innerHTML = "Override";</script>@(item.AIAC23LiquidCoffee.Trim() == "" ? "..." : item.AIAC23LiquidCoffee.Trim())</div></td>
                }
                @if (item.AIAC24PriceProtection.Trim() == item.AIAC24PriceProtectionMst.Trim())
                {
                    <td style="text-align: center;"><div style="position: relative;margin-top: 10px;margin-bottom: 10px;border:none;">@(item.AIAC24PriceProtectionMst.Trim() == "" ? "..." : item.AIAC24PriceProtectionMst.Trim())</div></td>
                }
                else
                {
                    <td style="text-align: center;"><div style="position: relative;margin-top: 10px;margin-bottom: 10px;border:none;color:#1c84c6;">
                    <script type="text/javascript">document.getElementById(@item.QuoteId).innerHTML = "Override";</script>@(item.AIAC24PriceProtection.Trim() == "" ? "..." : item.AIAC24PriceProtection.Trim())</div></td>
                }
                @if (item.AIAC27AlliedDiscount.Trim() == item.AIAC27AlliedDiscountMst.Trim())
                {
                    <td style="text-align: center;"><div style="position: relative;margin-top: 10px;margin-bottom: 10px;border:none;">@(item.AIAC27AlliedDiscountMst.Trim() == "" ? "..." : item.AIAC27AlliedDiscountMst.Trim())</div></td>
                }
                else
                {
                    <td style="text-align: center;"><div style="position: relative;margin-top: 10px;margin-bottom: 10px;border:none;color:#1c84c6;">
                    <script type="text/javascript">document.getElementById(@item.QuoteId).innerHTML = "Override";</script>@(item.AIAC27AlliedDiscount.Trim() == "" ? "..." : item.AIAC27AlliedDiscount.Trim())</div></td>
                }
                @if (item.AIAC28CoffeeVolume.Trim() == item.AIAC28CoffeeVolumeMst.Trim())
                {
                    <td style="text-align: center;"><div style="position: relative;margin-top: 10px;margin-bottom: 10px;border:none;">@(item.AIAC28CoffeeVolumeMst == "" ? "..." : item.AIAC28CoffeeVolumeMst)</div></td>
                }
                else
                {
                    <td style="text-align: center;"><div style="position: relative;margin-top: 10px;margin-bottom: 10px;border:none;color:#1c84c6;">
                    <script type="text/javascript">document.getElementById(@item.QuoteId).innerHTML = "Override";</script>@(item.AIAC28CoffeeVolume.Trim() == "" ? "..." : item.AIAC28CoffeeVolume.Trim())</div></td>
                }
                @if (item.AIAC29EquipmentProgPts.Trim() == item.AIAC29EquipmentProgPtsMst.Trim())
                {
                    <td style="text-align: center;"><div style="position: relative;margin-top: 10px;margin-bottom: 10px;border:none;">@(item.AIAC29EquipmentProgPtsMst == "" ? "..." : item.AIAC29EquipmentProgPtsMst)</div></td>
                }
                else
                {
                    <td style="text-align: center;"><div style="position: relative;margin-top: 10px;margin-bottom: 10px;border:none;color:#1c84c6;">
                    <script type="text/javascript">document.getElementById(@item.QuoteId).innerHTML = "Override";</script>@(item.AIAC29EquipmentProgPts.Trim() == "" ? "..." : item.AIAC29EquipmentProgPts.Trim())</div></td>
                }
                @if (item.AIAC30SpecialCCP.Trim() == item.AIAC30SpecialCCPMst.Trim())
                {
                    <td style="text-align: left;"><div style="position: relative;margin-top: 10px;margin-bottom: 10px;border:none;">@(item.AIAC30SpecialCCPMst == "" ? "..." : item.AIAC30SpecialCCPMst)</div></td>
                }
                else
                {
                    <td style="text-align: left;"><div style="position: relative;margin-top: 10px;margin-bottom: 10px;border:none; color:#1c84c6;">
                    <script type="text/javascript">document.getElementById(@item.QuoteId).innerHTML = "Override";</script>@(item.AIAC30SpecialCCP.Trim() == "" ? "..." : item.AIAC30SpecialCCP.Trim())</div></td>
                }

@if (Model.quotemodels[0].Quotetype == "Prospect")
            {
                <td style="text-align: center;"><div style="position: relative;margin-top: 10px;margin-bottom: 10px;border:none;">@(item.IsSampled == "0" || item.IsSampled == " " ? "No" : "Yes")</div></td>
}
                <td style="text-align: center;"><div style="position: relative;margin-top: 10px;margin-bottom: 10px;border:none;">@(item.IsPrinted == "0" ? "No" : "Yes")</div></td>

            </tr>
        }
    </tbody>
</table>
