﻿@model  SLEWebPortal.Models.Quotes
            @{ int sum = 0;}
@if (Model.quotemodels.Count() == 0)
{
    <br />
    <span style="margin-left: 15px;"><b>No Records to Display!!!</b></span>
    <div style="height:5px;"></div>
    <br />
}
else
{

    <table class="table" id="tbl">
        @{
    //  for (int i = 0; i < 3; i++)
    foreach (var item in Model.routelists)
    //foreach(var item in Model.cyclecountmodels.selectMany(p=>p.Routeid,p=>p.RouteName,p=>p.RouteDescription).Distinct())
    {
        <tr>
            <td style="padding:0px;">



                <div class="row" style="margin:0px;">
                    <br />
                    <div class="col-lg-12" style="padding:0px;">
                        <div class="ibox float-e-margins" style="margin-bottom:5px;">
                            <div class="ibox-title" style="border-style:none; padding:0px 15px 0px; ">
                                @{var quotemodels = Model.quotemodels.Where(it => it.RouteId == item.Routeid.ToString()).ToList();}
                                <table style="width:100%;" class="parenttable">
                                    <tr>
                                        <td style="font-size:initial;">
                                            <table id="tbl1">
                                                <tr>
                                                    <td>
                                                        <b>@item.RouteName , @item.RouteDescription </b>
                                                    </td>

                                                </tr>
                                                <tr><th style="font-size:small;">@{sum = 0;}<span id="@quotemodels[0].RouteId"></span> Quotes  </th></tr>
                                            </table>

                                        </td>
                                        <td rowspan="2" style="float: right;">
                                            <span style="margin-top:-10px; font-size:12px;">
                                                <span style="margin-top:-10px; font-size:12px;">
                                                    <span style="margin-left:10px; color:#1c84c6; font-size:x-large;">@quotemodels.Where(it => it.Quotetype.Trim() == "Customer").Count()</span> Customers
                                                    <span style="margin-left:10px; color:#d1dade; font-size:x-large;">@quotemodels.Where(it => it.Quotetype.Trim() == "Prospect").Count()</span> Prospects
                                                    @*<span class="hidecompleted">      <span style="margin-left:10px; color:rgb(139, 143, 144); font-size:x-large;">@creditmodels.Where(it => it.Status.Trim() == "STTLD" || it.Status.Trim() == "VDSTLD").Count()</span> Settled Requests</span>*@
                                                    @*<span style="margin-left:10px; color:green; font-size:x-large;">@Model.cyclecountmodels.Where(i => i.Status.Trim() == "ACCEPT" && i.Routeid == item.Routeid).Count()</span> Accepted
                            <span style="margin-left:10px; color:#f8ac59;font-size:x-large;">@Model.cyclecountmodels.Where(i => i.Status.Trim() == "SUBMIT" && i.Routeid == item.Routeid).Count()</span> Submitted
                            <span style="margin-left:10px; color:#ed5565;font-size:x-large;">@Model.cyclecountmodels.Where(i => i.Status.Trim() == "VOID" && i.Routeid == item.Routeid).Count()</span> Void
                            <span style="margin-left:10px; color:#5d9cec;font-size:x-large;">@Model.cyclecountmodels.Where(i => i.Status.Trim() == "RECNT" && i.Routeid == item.Routeid).Count()</span> Re-Counts*@
                                                </span>
                                            </span>
                                            <div class="ibox-tools">
                                                <a class="collapse-link" style="margin-left:30px;">
                                                    <i class="fa fa-chevron-up"></i>
                                                </a>

                                            </div>
                                        </td>

                                    </tr>

                                </table>
                            </div>
                            <div class="ibox-content" style="width:100%; padding:0px; border-width:0px; ">




                                <div class="panel-body" style="padding:0px;">

                                    <div class="tab-content">
                                        <div id="tab-1" class="tab-pane active">


                                            <div class="ibox-content" style="padding:0px;">
                                                @*<strong>Lorem ipsum dolor sit amet, consectetuer adipiscing</strong>

                                                    <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>

                                                    <p>I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. When.</p>*@
                                                @*@{var replenishmentmodels = Model.replenishmentheader.Where(i => i.RouteId == item.Routeid).ToList();}*@
                                                <table id="tbl" class="table filter" style="text-align:center; margin-bottom:0px;">
                                                    <thead style="border: 1px Solid rgba(128, 128, 128, 0.4); text-align:center;border-left: none;
    border-right: none; ">
                                                        <tr>
                                                            <th id="shipth" class="" style="padding-left: 23px;border-bottom: 1px solid rgba(0, 0, 0, 0.08); width:40%;">Parent/Bill to</th>


                                                            @*<th class="order-item-container  " style="text-align:left;border-bottom: 1px solid rgba(0, 0, 0, 0.08);width:20%;">Reason <i class="fa fa-filter"></i></th>
                                                                <th id="thnotes" class="order-item-container thnotes" style="text-align:center;border-bottom: 1px solid rgba(0, 0, 0, 0.08);width:20%;">Notes</th>*@
                                                            <th id="thamount" class="order-item-container " style="text-align:center;border-bottom: 1px solid rgba(0, 0, 0, 0.08);width:10%;">Printed</th>
                                                            <th class="order-item-container " style="text-align:center;border-bottom: 1px solid rgba(0, 0, 0, 0.08);width:10%;">Not Printed</th>
                                                            <th id="thstatus" class="order-item-container " style="text-align:center;border-bottom: 1px solid rgba(0, 0, 0, 0.08);width:10%;">Total Quotes</th>


                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @for (int j = 0; j < quotemodels.Count(); j++)
                                                        {

                                                            <tr style="cursor:pointer;" onclick="location.href='@Url.Action("QuotesInfo", "Quotes", new { type = quotemodels[j].Quotetype, BillToId = quotemodels[j].BillToNumber, ParentId = quotemodels[j].ParentNumber, RouteId = quotemodels[j].RouteId })'">
                                                                <td colspan="4" style="text-align: left; width:100%; cursor:hand;">
                                                                    <table class="tabletosearch" style="width:100%;">
                                                                        <tr>
                                                                            <td style="width:42%;">
                                                                                <div class="order-item-container col-md-11 pull-left" style="padding-left: 0px;width:100%;">
                                                                                    <div class="order-item-header col-md-4" style="width:100%;">
                                                                                        <span class="orderIdHeader">

                                                                                            <span class="header">
                                                                                                @*<span class="label label-primary">@Model.cyclecountmodels[j].Status</span>*@


                                                                                                @*<span class="col-sm-1" style="padding-left:0px; width:25px;"> @Html.CheckBox("cycleId", new { value = 1, id = "voidcheckId", @class = "submit", onclick = "event.stopPropagation();" })</span>*@





                                                                                                <span>
                                                                                                    @if (quotemodels[j].Quotetype == "Customer")
                                                                                        {
                                                                                                        <span class="label label-success " style="width:70px;display: inline-block;font-family: arial;">Customer </span>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                                        <span class="label label-default " style="width:70px;display: inline-block;font-family: arial;">Prospect </span>
                                                                                        }
                                                                                                    <span class="countidtosearch">      @quotemodels[j].ParentNumber, @quotemodels[j].Parent </span>
                                                                                                </span>
                                                                                            </span>
                                                                                            @*<span class="order-header-date"> on @creditmodels[j].ReceiptDate.ToString("MM/dd/yyyy")</span>*@
                                                                                        </span>
                                                                                        <span class="orderIdHeader">
                                                                                            @if (quotemodels[j].BillTo != "NA")
                                                                                {
                                                                                                <span class="order-id-value" style="font-weight:normal;">Bill to: @quotemodels[j].BillToNumber, @quotemodels[j].BillTo</span>
                                                                                }
                                                                                @* <span class="order-id-value" style="font-weight:normal;">,@productmodels[j].CustomerName</span>*@
                                                                                <span class="order-header-title"></span>
                                                                            </span>

                                                                        </div>
                                                                    </div>
                                                                </td>

                                                                            <td style="vertical-align: middle;width:10%;text-align: center;"><span class="order-item-container " style="font-weight:normal;margin-right: 10px;">@quotemodels[j].Printed</span></td>
                                                                            <td style="vertical-align: middle;width:10%;text-align:center"><span class="" style="font-weight:normal;text-align: center;">@quotemodels[j].NotPrinted</span></td>

                                                                            <td style="vertical-align: middle;width: 10%;text-align:center">
                                                                                <span class="" style="text-align: center; font-weight:bold">@(quotemodels[j].Printed + quotemodels[j].NotPrinted)@{sum = sum + (quotemodels[j].Printed + quotemodels[j].NotPrinted);}</span>
                                                                                <script type="text/javascript">

                                                                                    document.getElementById('@quotemodels[0].RouteId').innerHTML=@sum;

                                                                                </script>
                                                                            </td>
                                                                </tr>
                                                                </table>
</td>
                                                                





                                                            </tr>

                                                        }
                                                    </tbody>
                                                </table>


                                            </div>
                                        </div>

                                    </div>

                                </div>


                            </div>

                        </div>
                    </div>

                </div>




            </td>
        </tr>
    }
        }
    </table>


}
