﻿@model  SLEWebPortal.Models.Quotes
@{
    ViewBag.Title = "Index";
}



<style type="text/css">
    .ibox-content {
        clear: both;
        border: none;
    }
</style>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="border-bottom :1px solid #e7eaec;">
                    <h5><i class="fa fa-align-justify" style="color:#1ab394;"></i> Quotes </h5>

                </div>
                <div class="ibox-title" style="border-style:none;">

                    <h5 style="margin-left:1%;padding: 5px;"><a href="" class="dro">All Routes</a></h5>
                    <div style="width:75%; float:right; font-size:13px; ">
                        @using (Html.BeginForm("WeeklyCountRequest", "CycleCount", FormMethod.Post, new { style = "display:inherit;", id = "AddAllForm" }))
                        {
                            <div class="col-lg-4 " style="width: 27%;">

                                <i class="fa fa-calendar"></i>  <input id="datepicker" style="border:none;">

                                @*   @Html.DropDownListFor(m => Model.SelectedUser, Model.UserRoles, new { @class = "dropdown-", id = "dropdownlist", @onchange = "passvalue(this);", style = "height:25px; width:100%;" })*@
                            </div>
                            <div class="col-lg-3 m-l-n">
                                @*<select class="" style="height:30px; width:100%;">
                                        <option>option 1</option>
                                        <option>option 2</option>
                                        <option>option 3</option>
                                        <option>option 4</option>
                                    </select>*@

                                @Html.DropDownListFor(m => Model.SelectedUser, Model.UserRoles, new { @class = "dropdown-", id = "dropdownlistroute", @onchange = "passvalue(this);", style = "height:25px; width:90%;" })
                            </div>
    <div class="right-inner-addon col-lg-6 m-l-n">
        <select id="dropdownlisttype" class="" style="height:25px; width:40%;" onchange="passvaluetype(this);">
            <option>All Types</option>
            <option>Customer</option>
            <option>Prospect</option>

        </select>


        <input type="search" id="search_textbox" style="width:55%; height:28px;"
               class="form-control pull-right"
               placeholder="Search..." />
        <i class="fa fa-search" style="z-index:9;margin-left:50%; position:absolute;margin-top: 7px;"></i>
        @*  @Html.DropDownListFor(m => Model.SelectedUser, Model.UserRoles, new { @class = "dropdown-", id = "dropdownlist", @onchange = "passvalue(this);", style = "height:25px; width:100%;" })*@
    </div>


                        }
                   


                    </div>
                </div>
                <div class="ibox-content" style="padding:0px;">
                    <div id="partialviewforcyclecount">

                        @Html.Partial("_QuotesView")
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>



<script type="text/javascript">
    function passvalue(e) {

        if (e.value == "All" && document.getElementById("dropdownlisttype").value=="All Types") {

            $.ajax({

                dataType: 'html',
                url: '@Url.Action("tempreq", "DSADashboard")',

                success: function (result) {

                    window.location.href = '@Url.Action("Index", "Quotes")';
                },
                error: function (result) {
                    alert('error');
                }
            });
        }
        else if (e.value == "All" && document.getElementById("dropdownlisttype").value != "All Types")
        {
            $.ajax({
                type: 'POST',
                dataType: 'html',
                url: '@Url.Action("GetQuotesForType", "Quotes")',
                data: ({ type: document.getElementById("dropdownlisttype").value, id: "All" }),
                success: function (result) {

                    $("#partialviewforcyclecount").html(result);

                },
                error: function (result) {
                    alert('error');
                }
            });
        }
        else if (e.value != "All" && document.getElementById("dropdownlisttype").value == "All Types")
        {
            $.ajax({
                type: 'POST',
                dataType: 'html',
                url: '@Url.Action("GetQuotesForRoute", "Quotes")',
                data: ({ id: e.value,type:"All Types" }),
                success: function (result) {

                    $("#partialviewforcyclecount").html(result);

                },
                error: function (result) {
                    alert('error');
                }
            });
        }
        else {
            $.ajax({
                type: 'POST',
                dataType: 'html',
                url: '@Url.Action("GetQuotesForRoute", "Quotes")',
                data: ({ id: e.value, type: document.getElementById("dropdownlisttype").value }),
                success: function (result) {

                    $("#partialviewforcyclecount").html(result);

                },
                error: function (result) {
                    alert('error');
                }
            });
        }


    }

    function passvaluetype(e) {

        if (e.value == "All Types" && document.getElementById("dropdownlistroute").value=="All") {

            $.ajax({

                dataType: 'html',
                url: '@Url.Action("tempreq", "DSADashboard")',

                success: function (result) {

                    window.location.href = '@Url.Action("Index", "Quotes")';
                },
                error: function (result) {
                    alert('error');
                }
            });
        }
        else if (e.value == "All Types" && document.getElementById("dropdownlistroute").value != "All")
        {
            $.ajax({
                type: 'POST',
                dataType: 'html',
                url: '@Url.Action("GetQuotesForRoute", "Quotes")',
                data: ({ id: document.getElementById("dropdownlistroute").value, type: "All Types" }),
                success: function (result) {

                    $("#partialviewforcyclecount").html(result);

                },
                error: function (result) {
                    alert('error');
                }
            });
        }
        else if (e.value != "All Types" && document.getElementById("dropdownlistroute").value == "All")
        {
            $.ajax({
                type: 'POST',
                dataType: 'html',
                url: '@Url.Action("GetQuotesForType", "Quotes")',
                data: ({ type: e.value,id:"All" }),
                success: function (result) {

                    $("#partialviewforcyclecount").html(result);

                },
                error: function (result) {
                    alert('error');
                }
            });
        }
        else {
            $.ajax({
                type: 'POST',
                dataType: 'html',
                url: '@Url.Action("GetQuotesForType", "Quotes")',
                data: ({ type: e.value, id: document.getElementById("dropdownlistroute").value }),
                success: function (result) {

                    $("#partialviewforcyclecount").html(result);

                },
                error: function (result) {
                    alert('error');
                }
            });
        }


    }

    


</script>

@section Scripts {
    @Scripts.Render("~/bundles/js/daterangepicker")
    @Scripts.Render("~/bundles/js/rangepicker")

}
<link href="@Url.Content("~/Content/rangepicker.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript">
    $(function () {
        

        $("#datepicker").daterangepicker(
            {
                locale: {
                    format: 'MM-DD-YYYY'
                },

            },
            function (start, end, label) {
                // alert("A new date range was chosen: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                $.ajax({
                    type: 'POST',
                    dataType: 'html',
                    url: '@Url.Action("IndexAsDate", "Quotes")',
                    data: ({ fromdate: start.format('YYYY-MM-DD'), todate: end.format('YYYY-MM-DD') }),
                    success: function (result) {

                        $("#partialviewforcyclecount").html(result);

                       

                    },
                    error: function (result) {
                        alert('error');
                    }
                });
            }
            );
    });
</script>


<script type="text/javascript">

    $(function () {


        $('#search_textbox').each(function (i) {
            $(this).quicksearch("[id*=tbl1] tr:not(:has(th))", {
                'testQuery': function (query, txt, row) {
                    return $(row).children(":eq(" + 0 + ")").text().toLowerCase().indexOf(query[0].toLowerCase()) != -1;
                    //|| $(row).children(":eq(" + 1 + ")").text().toLowerCase().indexOf(query[0].toLowerCase()) != -1;

                }


            });

        });

       

        $('#search_textbox').each(function (i) {
            $(this).quicksearch2("[class*=tabletosearch]", {
                'testQuery': function (query, txt, row) {
                    return $(row).find('span[class*=countidtosearch]').text().toLowerCase().indexOf(query[0].toLowerCase()) != -1;
                    //|| $(row).children(":eq(" + 1 + ")").text().toLowerCase().indexOf(query[0].toLowerCase()) != -1;

                }

            });

        });




    });




</script>

<script type="text/javascript">

    var toshow = "", toshowparent = "";

    (function ($, window, document, undefined) {
        $.fn.quicksearch = function (target, opt) {

            var timeout, cache, rowcache, jq_results, val = '', e = this, options = $.extend({
                delay: 100,
                selector: null,
                stripeRows: null,
                loader: null,
                noResults: '',
                matchedResultsCount: 0,
                bind: 'keyup',
                onBefore: function () {
                    return;
                },
                onAfter: function () {

                    return;
                },
                show: function () {
                    //          $(this).closest('table').attr("style", "display:;");
                    $(this).closest('div[class="row"]').attr("style", "display:'';margin:0px;");
                    this.style.display = "";
                },
                hide: function () {
                    $(this).closest('div[class="row"]').attr("style", "display:none;");
                    //     this.style.display = "none";

                },
                prepareQuery: function (val) {
                    return val.toLowerCase().split(' ');
                },
                testQuery: function (query, txt, _row) {
                    for (var i = 0; i < query.length; i += 1) {
                        if (txt.indexOf(query[i]) === -1) {
                            return false;
                        }
                    }
                    return true;
                }
            }, opt);



            this.go = function () {

                var i = 0,
                    numMatchedRows = 0,
                    noresults = true,
                    query = options.prepareQuery(val),
                    val_empty = (val.replace(' ', '').length === 0);

                for (var i = 0, len = rowcache.length; i < len; i++) {
                    if (val_empty || options.testQuery(query, cache[i], rowcache[i])) {
                        options.show.apply(rowcache[i]);
                        noresults = false;
                        numMatchedRows++;
                    } else {
                        options.hide.apply(rowcache[i]);
                    }
                }

                if (noresults) {
                    this.results(false);
                } else {
                    this.results(true);
                    this.stripe();
                }

                this.matchedResultsCount = numMatchedRows;
                this.loader(false);
                options.onAfter();

                return this;
            };

            /*
            * External API so that users can perform search programatically.
            * */
            this.search = function (submittedVal) {
                val = submittedVal;
                e.trigger();
            };

            /*
            * External API to get the number of matched results as seen in
            * https://github.com/ruiz107/quicksearch/commit/f78dc440b42d95ce9caed1d087174dd4359982d6
            * */
            this.currentMatchedResults = function () {
                return this.matchedResultsCount;
            };

            this.stripe = function () {

                if (typeof options.stripeRows === "object" && options.stripeRows !== null) {
                    var joined = options.stripeRows.join(' ');
                    var stripeRows_length = options.stripeRows.length;

                    jq_results.not(':hidden').each(function (i) {
                        $(this).removeClass(joined).addClass(options.stripeRows[i % stripeRows_length]);
                    });
                }

                return this;
            };

            this.strip_html = function (input) {
                var output = input.replace(new RegExp('<[^<]+\>', 'g'), "");
                output = $.trim(output.toLowerCase());
                return output;
            };

            this.results = function (bool) {
                if (typeof options.noResults === "string" && options.noResults !== "") {
                    if (bool) {
                        $(options.noResults).hide();
                    } else {
                        $(options.noResults).show();
                    }
                }
                return this;
            };

            this.loader = function (bool) {
                if (typeof options.loader === "string" && options.loader !== "") {
                    (bool) ? $(options.loader).show() : $(options.loader).hide();
                }
                return this;
            };

            this.cache = function () {

                jq_results = $(target);

                if (typeof options.noResults === "string" && options.noResults !== "") {
                    jq_results = jq_results.not(options.noResults);
                }

                var t = (typeof options.selector === "string") ? jq_results.find(options.selector) : $(target).not(options.noResults);
                cache = t.map(function () {
                    return e.strip_html(this.innerHTML);
                });

                rowcache = jq_results.map(function () {
                    return this;
                });

                /*
                * Modified fix for sync-ing "val".
                * Original fix https://github.com/michaellwest/quicksearch/commit/4ace4008d079298a01f97f885ba8fa956a9703d1
                * */
                val = val || this.val() || "";

                return this.go();
            };

            this.trigger = function () {
                this.loader(true);
                options.onBefore();

                window.clearTimeout(timeout);
                timeout = window.setTimeout(function () {
                    e.go();
                }, options.delay);

                return this;
            };

            this.cache();
            this.results(true);
            this.stripe();
            this.loader(false);

            return this.each(function () {

                /*
                * Changed from .bind to .on.
                * */
                $(this).on(options.bind, function () {

                    val = $(this).val();
                    e.trigger();
                });
            });

        };

    }(jQuery, this, document));

    


    (function ($, window, document, undefined) {
        $.fn.quicksearch2 = function (target, opt) {

            var timeout, cache, rowcache, jq_results, val = '', e = this, options = $.extend({
                delay: 100,
                selector: null,
                stripeRows: null,
                loader: null,
                noResults: function () {
                    //$('#search_textbox').each(function (i) {
                    //    $(this).quicksearch("[id*=tbl1] tr:not(:has(th))", {
                    //        'testQuery': function (query, txt, row) {
                    //            return $(row).children(":eq(" + 0 + ")").text().toLowerCase().indexOf(query[0].toLowerCase()) != -1;
                    //            //|| $(row).children(":eq(" + 1 + ")").text().toLowerCase().indexOf(query[0].toLowerCase()) != -1;

                    //        }

                    //    });

                    //});
                },
                matchedResultsCount: 0,
                bind: 'keyup',
                onBefore: function () {
                    return;
                },
                onAfter: function () {
                    toshow.attr("style", "display:'';margin:0px;");
                    toshowparent.attr("style", "display:'';width:100%;");
                    toshow = "";
                    toshowparent = "";
                    return;
                },
                show: function () {
                    //      $(this).closest('table[id="parenttable"]').attr("style", "display:'';");
                    toshow = $(this).closest('div[class="row"]');
                    toshowparent = $(this).closest('div[class="row"]').find(".parenttable")
                    //          $(this).closest('table').attr("style", "display:;");
                    //           $(this).closest('div[class="row"]').attr("style", "display:'';margin:0px;");
                    this.style.display = "";
                    $(this).parent().parent().attr("style", "display:'';width:100%;margin:0px;");
                    if (this.closest('div[class="row"]').style.display == "") {
                        // $(this).closest('table[class="tabletosearch"]').attr("style", "display:none;margin:0px;");
                        // this.style.display = "none";
                    }
                    else {
                        //   $(this).closest('table[class="tabletosearch"]').attr("style", "display:none;margin:0px;");
                        // this.style.display = "none";
                        //    $(this).closest('div[class="order-item-container"]').attr("style", "display:none;margin:0px;");
                    }
                },
                hide: function () {
                    
                    //    $(this).closest('table[id="parenttable"]').attr("style", "display:none;");
                    if (this.closest('div[class="row"]').style.display == "") {
                        $(this).closest('table[class="tabletosearch"]').attr("style", "display:none;width:100%;margin:0px;");
                        $(this).parent().parent().attr("style", "display:'';width:100%;margin:0px;");
                        this.style.display = "";
                    }
                    else {
                        $(this).closest('div[class="row"]').attr("style", "display:none;margin:0px;");
                        $(this).parent().parent().attr("style", "display:none;width:100%;margin:0px;");
                        this.style.display = "none";
                        //    $(this).closest('div[class="order-item-container"]').attr("style", "display:none;margin:0px;");
                    }

                },
                prepareQuery: function (val) {
                    return val.toLowerCase().split(' ');
                },
                testQuery: function (query, txt, _row) {
                    for (var i = 0; i < query.length; i += 1) {
                        if (txt.indexOf(query[i]) === -1) {
                            return false;
                        }
                    }
                    return true;
                }
            }, opt);



            this.go = function () {

                var i = 0,
                    numMatchedRows = 0,
                    noresults = true,
                    query = options.prepareQuery(val),
                    val_empty = (val.replace(' ', '').length === 0);

                for (var i = 0, len = rowcache.length; i < len; i++) {
                    if (val_empty || options.testQuery(query, cache[i], rowcache[i])) {
                        options.show.apply(rowcache[i]);
                        noresults = false;
                        numMatchedRows++;
                    } else {
                        options.hide.apply(rowcache[i]);
                    }
                }

                if (noresults) {
                    this.results(false);
                } else {
                    this.results(true);
                    this.stripe();
                }

                this.matchedResultsCount = numMatchedRows;
                this.loader(false);
                options.onAfter();

                return this;
            };

            /*
            * External API so that users can perform search programatically.
            * */
            this.search = function (submittedVal) {
                val = submittedVal;
                e.trigger();
            };

            /*
            * External API to get the number of matched results as seen in
            * https://github.com/ruiz107/quicksearch/commit/f78dc440b42d95ce9caed1d087174dd4359982d6
            * */
            this.currentMatchedResults = function () {
                return this.matchedResultsCount;
            };

            this.stripe = function () {

                if (typeof options.stripeRows === "object" && options.stripeRows !== null) {
                    var joined = options.stripeRows.join(' ');
                    var stripeRows_length = options.stripeRows.length;

                    jq_results.not(':hidden').each(function (i) {
                        $(this).removeClass(joined).addClass(options.stripeRows[i % stripeRows_length]);
                    });
                }

                return this;
            };

            this.strip_html = function (input) {
                var output = input.replace(new RegExp('<[^<]+\>', 'g'), "");
                output = $.trim(output.toLowerCase());
                return output;
            };

            this.results = function (bool) {
                if (typeof options.noResults === "string" && options.noResults !== "") {
                    if (bool) {
                        $(options.noResults).hide();
                    } else {
                        $(options.noResults).show();
                    }
                }
                return this;
            };

            this.loader = function (bool) {
                if (typeof options.loader === "string" && options.loader !== "") {
                    (bool) ? $(options.loader).show() : $(options.loader).hide();
                }
                return this;
            };

            this.cache = function () {

                jq_results = $(target);

                if (typeof options.noResults === "string" && options.noResults !== "") {
                    jq_results = jq_results.not(options.noResults);
                }

                var t = (typeof options.selector === "string") ? jq_results.find(options.selector) : $(target).not(options.noResults);
                cache = t.map(function () {
                    return e.strip_html(this.innerHTML);
                });

                rowcache = jq_results.map(function () {
                    return this;
                });

                /*
                * Modified fix for sync-ing "val".
                * Original fix https://github.com/michaellwest/quicksearch/commit/4ace4008d079298a01f97f885ba8fa956a9703d1
                * */
                val = val || this.val() || "";

                return this.go();
            };

            this.trigger = function () {
                this.loader(true);
                options.onBefore();

                window.clearTimeout(timeout);
                timeout = window.setTimeout(function () {
                    e.go();
                }, options.delay);

                return this;
            };

            this.cache();
            this.results(true);
            this.stripe();
            this.loader(false);

            return this.each(function () {

                /*
                * Changed from .bind to .on.
                * */
                $(this).on(options.bind, function () {

                    val = $(this).val();
                    e.trigger();
                });
            });

        };

    }(jQuery, this, document));




</script>







