﻿@model  SLEWebPortal.Models.Quotes

@{
    ViewBag.Title = "QuotesInfo";
}
@section Styles {
    @Styles.Render("~/jquery-ui.css")
}

<div class="wrapper wrapper-content animated fadeInRight" style="padding-bottom:0px;">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">

                    <h5><i class="fa fa-align-justify" style="color:#1ab394;"></i> List Of Quotes </h5>


                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        @*<a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>*@
                        @*<ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#">Config option 1</a>
                                </li>
                                <li>
                                    <a href="#">Config option 2</a>
                                </li>
                            </ul>*@
                    </div>
                </div>
                <div class="ibox-title" style="border-top-width: 2px;">

                    <h5 style="margin-left:1%;"><a href=" " class="dro">@Model.routelists[0].RouteName, @Model.routelists[0].RouteDescription</a></h5>
                    <div style="float:right; font-size:13px;margin-right: -200px; ">
                        @using (Html.BeginForm("WeeklyCountRequest", "CycleCount", FormMethod.Post, new { style = "display:inherit;", id = "AddAllForm" }))
                        {
                            

                            <div class="col-lg-3 m-l-n" style="margin-top: -5px; float:right;">
                                <div class="right-inner-addon right-inner-addon2 pull-right" id="right-tbl" style=" margin-right: 200px;">
                                    <i class="fa fa-search" style="z-index:9;margin-left:200px; position:absolute; padding: 8px 12px;"></i>
                                    <input id="search_textbox" type="search"
                                           class="form-control pull-right"
                                           placeholder="Search..." style="height:30px;width: 250px;" />
                                </div>

                                @*   @Html.DropDownListFor(m => Model.SelectedUser, Model.UserRoles, new { @class = "dropdown-", id = "dropdownlist", @onchange = "passvalue(this);", style = "height:25px; width:100%;" })*@
                            </div>

    <div class="col-lg-3 m-l-n" style="margin-top: -5px;  float:right; margin-right:250px;">
       
        <i class="fa fa-calendar"></i>  <input id="datepicker" style="border:none;">

        @*   @Html.DropDownListFor(m => Model.SelectedUser, Model.UserRoles, new { @class = "dropdown-", id = "dropdownlist", @onchange = "passvalue(this);", style = "height:25px; width:100%;" })*@
    </div>

                            <span style="width:10%;">
                                @*<button type="button" id="acceptbutton" style="width:12%;" class="btn btn-sm btn-white disabled" data-toggle="modal" data-target="#myModal8">Accept</button>*@

                                @Html.Hidden("temproute", new { id = "temproute" })



                                @*<button type="button" style="width:12%;" id="recount" class="btn btn-sm btn-white disabled" data-toggle="modal" data-target="#myModal9"> Re-Count</button> @*onclick="$('#cancelForm').submit()"*@


                                @* <button type="button" style="width:12%;" id="recount" class="btn btn-sm btn-white disabled">Re-Count</button>*@
                                @*<button type="button" style="width:12%;" id="voidbutton" class="btn btn-sm btn-white disabled" data-toggle="modal" data-target="#myModal7">Void</button>*@
                                @*<button type="button" id="releasebutton" style="width:12%;" class="btn btn-sm btn-white disabled">Release</button>
                        <button type="button" style="width:12%;" class="btn btn-sm btn-white" onclick="checkforadd()">Add</button>*@


                            </span>
                        }
                        @*@using (Html.BeginForm("WeeklyCountRequest2", "CycleCount", FormMethod.Post, new { id = "cancelForm" }))
                {

                @Html.TextBox("tempcycleid"," ", new { id = "tempcycleid",style="display:none;" })

                }*@


                    </div>
                </div>

                <div class="ibox-content" style="width:100%; padding:0px;">




                    <div class="panel-body" style="padding:0px;">

                        <div class="tab-content">

                            <div id="tab-2" class="tab-pane active ">

                                <div class="ibox-content" style="padding:0px;">
                                    <div class="order-item-container col-md-12">
                                        
                                        <div class="order-item-container col-md-4 pull-left" style="padding-left: 0px;width:60%;">
                                            <div class="order-item-header col-md-4" style="width:100%;padding-left: 22px;">
                                                <span class="orderIdHeader">


                                                    <span class="header" >
                                                        @*<span class="label label-primary">@Model.cyclecountmodels[j].Status</span>*@


                                                        @*<span class="col-sm-1" style="padding-left:0px; width:25px;"> @Html.CheckBox("cycleId", new { value = 1, id = "voidcheckId", @class = "submit", onclick = "event.stopPropagation();" })</span>*@





                                                        <span>
                                                        @if(Model.quotemodels[0].Quotetype=="Customer")
                                                        { 
                                                        <span class="label label-success " style="width:70px;display: inline-block;font-family: arial;">Customer </span>
                                                        }
                                                        else
                                                        {
                                                            <span class="label label-default " style="width:70px;display: inline-block;font-family: arial;">Prospect </span>
                                                        }
                                                        @Model.quotemodels[0].ParentNumber, @Model.quotemodels[0].Parent</span>
                                                    </span>
                                                    @*<span class="order-header-date"> on @creditmodels[j].ReceiptDate.ToString("MM/dd/yyyy")</span>*@
                                               </span>
@if (Model.quotemodels[0].BillTo!="NA")
                                                                                {
                                                <span class="orderIdHeader">
                                                    <span class="order-id-value" style="font-weight:normal;">Bill to: @Model.quotemodels[0].BillToNumber @Model.quotemodels[0].BillTo</span>
                                                    @* <span class="order-id-value" style="font-weight:normal;">,@productmodels[j].CustomerName</span>*@
                                                    <span class="order-header-title"></span>
                                                </span>
    
}
                                            </div>
                                        </div>

                                        <div class="order-item-header col-md-4" style="width:40%;margin-top: 10px;">
                                            <span class="orderIdHeader" style="text-align:right;">
                                                <span class="order-id-value" style="font-weight:normal;">
                                                    Printed: @Model.quotemodels[0].Printed
                                                </span>
                                                <span class="order-id-value" style="margin-left:10px;font-weight:normal;">
                                                    Not Printed: @Model.quotemodels[0].NotPrinted
                                                </span>
                                                <span class="order-id-value" style="margin-left:10px;">
                                                    Total Quotes: @(Model.quotemodels[0].Printed + Model.quotemodels[0].NotPrinted)
                                                </span>
                                            </span>


                                            @*<span class="orderIdHeader">
                                                    <span class="order-id-value" style="font-weight:normal;">Quote Printed: No</span>
                                                </span>*@

                                        </div>

                                        <div class="ibox-content" style="padding-left: 0px; padding-right: 0px; border:none;">
                                            @*<strong>Lorem ipsum dolor sit amet, consectetuer adipiscing</strong>

                                                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>

                                                <p>I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. When.</p>*@



                                            <div id="partialviewforquotes">
                                                @Html.Partial("_QuotesInfoView", Model)

                                            </div>

                                        </div>


                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>

    </div>
</div>
<!-- Include Required Prerequisites -->

<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>


<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
<script type="text/javascript">

    $(function () {      

        $('#search_textbox').each(function (i) {
            $(this).quicksearch("[id*=tbl] tr:not(:has(th))", {
                'testQuery': function (query, txt, row) {
                    return $(row).find("span[class=fieldtosearch]").text().toLowerCase().indexOf(query[0].toLowerCase()) != -1;
                   
                }

            });

        });
    });

    

</script>

<script type="text/javascript">
    (function ($, window, document, undefined) {

        $.fn.quicksearch = function (target, opt) {

            var timeout, cache, rowcache, jq_results, val = '', e = this, options = $.extend({
                delay: 100,
                selector: null,
                stripeRows: null,
                loader: null,
                noResults: '',
                matchedResultsCount: 0,
                bind: 'keyup',
                onBefore: function () {
                    /// To hide rows which exists in upper table

                    return;
                },
                onAfter: function () {
                   
                    return;
                },
                show: function () {

                    this.style.display ="";
                   
                },
                hide: function () {
                    this.style.display = "none";
                },
                prepareQuery: function (val) {
                    return val.toLowerCase().split(' ');
                },
                testQuery: function (query, txt, _row) {
                    for (var i = 0; i < query.length; i += 1) {
                        if (txt.indexOf(query[i]) === -1) {
                            return false;
                        }
                    }
                    return true;
                }
            }, opt);



            this.go = function () {

                var i = 0,
                    numMatchedRows = 0,
                    noresults = true,
                    query = options.prepareQuery(val),
                    val_empty = (val.replace(' ', '').length === 0);

                for (var i = 0, len = rowcache.length; i < len; i++) {
                    if (val_empty || options.testQuery(query, cache[i], rowcache[i])) {
                        options.show.apply(rowcache[i]);
                        noresults = false;
                        numMatchedRows++;
                    } else {
                        options.hide.apply(rowcache[i]);
                    }
                }

                if (noresults) {
                    this.results(false);
                } else {
                    this.results(true);
                    this.stripe();
                }

                this.matchedResultsCount = numMatchedRows;
                this.loader(false);
                options.onAfter();

                return this;
            };

            /*
            * External API so that users can perform search programatically.
            * */
            this.search = function (submittedVal) {
                val = submittedVal;
                e.trigger();
            };

            /*
            * External API to get the number of matched results as seen in
            * https://github.com/ruiz107/quicksearch/commit/f78dc440b42d95ce9caed1d087174dd4359982d6
            * */
            this.currentMatchedResults = function () {
                return this.matchedResultsCount;
            };

            this.stripe = function () {

                if (typeof options.stripeRows === "object" && options.stripeRows !== null) {
                    var joined = options.stripeRows.join(' ');
                    var stripeRows_length = options.stripeRows.length;

                    jq_results.not(':hidden').each(function (i) {
                        $(this).removeClass(joined).addClass(options.stripeRows[i % stripeRows_length]);
                    });
                }

                return this;
            };

            this.strip_html = function (input) {
                var output = input.replace(new RegExp('<[^<]+\>', 'g'),"");
                output = $.trim(output.toLowerCase());
                return output;
            };

            this.results = function (bool) {
                if (typeof options.noResults === "string" && options.noResults !=="") {
                    if (bool) {
                        $(options.noResults).hide();
                    } else {
                        $(options.noResults).show();
                    }
                }
                return this;
            };

            this.loader = function (bool) {
                if (typeof options.loader === "string" && options.loader !=="") {
                    (bool) ? $(options.loader).show() : $(options.loader).hide();
                }
                return this;
            };

            this.cache = function () {

                jq_results = $(target);

                if (typeof options.noResults === "string" && options.noResults !=="") {
                    jq_results = jq_results.not(options.noResults);
                }

                var t = (typeof options.selector === "string") ? jq_results.find(options.selector) : $(target).not(options.noResults);
                cache = t.map(function () {
                    return e.strip_html(this.innerHTML);
                });

                rowcache = jq_results.map(function () {
                    return this;
                });

                /*
                * Modified fix for sync-ing "val".
                * Original fix https://github.com/michaellwest/quicksearch/commit/4ace4008d079298a01f97f885ba8fa956a9703d1
                * */
                val = val || this.val() ||"";

                return this.go();
            };

            this.trigger = function () {
                this.loader(true);
                options.onBefore();

                window.clearTimeout(timeout);
                timeout = window.setTimeout(function () {
                    e.go();
                }, options.delay);

                return this;
            };

            this.cache();
            this.results(true);
            this.stripe();
            this.loader(false);

            return this.each(function () {

                /*
                * Changed from .bind to .on.
                * */
                $(this).on(options.bind, function () {

                    val = $(this).val();
                    e.trigger();
                });
            });

        };

    }(jQuery, this, document));





</script>
<script type="text/javascript">
    $(function () {
        //$(".selectdate").click(function () {
        //    $("#datepicker").daterangepicker();
        //    $("#datepicker").daterangepicker("show");
        //});

        $("#datepicker").daterangepicker(
            {
                locale: {
                    format: 'MM-DD-YYYY'
                },

            },
            function (start, end, label) {
                // alert("A new date range was chosen: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                $.ajax({
                    type: 'POST',
                    dataType: 'html',
                    url: '@Url.Action("QuotesInfoAsPerDate", "Quotes")',
                    data: ({ type: '@Model.quotemodels[0].Quotetype', BillToId: '@Model.quotemodels[0].BillToNumber', ParentId: '@Model.quotemodels[0].ParentNumber', RouteId: '@Model.routelists[0].Routeid', fromdate: start.format('YYYY-MM-DD'), todate: end.format('YYYY-MM-DD') }),
                    success: function (result) {

                        $("#partialviewforquotes").html(result);

                        $('#search_textbox').each(function (i) {
                            $(this).quicksearch("[id*=tbl] tr:not(:has(th))", {
                                'testQuery': function (query, txt, row) {
                                    return $(row).find("span[class=fieldtosearch]").text().toLowerCase().indexOf(query[0].toLowerCase()) != -1;

                                }

                            });

                        });

                    },
                    error: function (result) {
                        alert('error');
                    }
                });
            }
            );
    });
</script>