﻿@model  SLEWebPortal.Models.Quotes

@{
    ViewBag.Title = "Quotes";
}


<style type="text/css">
    .ibox-content
    {
        /*border-style:none none none;*/

    }

</style>

<div class="wrapper wrapper-content animated fadeInRight" style="padding-bottom:0px;">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                
                <div class="ibox-title">
@if (Model.quotesinfo[0].Quotetype == "Customer")
                                            {
                    <h5><i class="fa fa-align-justify" style="color:#1ab394;"></i> Customer Quotes Details </h5>
                                            }
else
{
    <h5><i class="fa fa-align-justify" style="color:#1ab394;"></i> Prospect Quotes Details </h5>
}
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        @*<a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>*@
                        @*<ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="#">Config option 1</a>
                    </li>
                    <li>
                        <a href="#">Config option 2</a>
                    </li>
                </ul>*@
                    </div>
                </div>
                <div class="ibox-title" style="border-top: 2px solid #e7eaec;">

                    <h5><span style="color:#1c84c6;"> @Model.quotesinfo[0].CustomerId  @Model.quotesinfo[0].Customer </span> 
                    @if (Model.quotesinfo[0].Quotetype == "Customer")
                                            {  <span style="font-weight:600; margin-left:5px; font-size:small;">Bill To:@Model.quotesinfo[0].BillToId @Model.quotesinfo[0].BillTo</span>
                    } 
                    </h5>

@if (Model.quotesinfo[0].Quotetype == "Customer")
                                            {
                    <div class="ibox-tools">
                        <button type="button" style="margin-top: -5px;" class="btn btn-sm btn-white" data-toggle="modal" data-target="#myModal7">Master</button>
                     
                
                    </div>
}
                </div>
                <div class="ibox-content" style="width:100%; padding:0px;">




                    <div class="panel-body" style="padding:0px;">

                        <div class="tab-content">

                            <div id="tab-2" class="tab-pane active ">
                                
                                <div class="ibox-content" style="padding:0px;">
                                    <div class="order-item-container col-md-12">
                                        <div class="order-item-header col-md-4" style="width:70%;">
                                            <span class="orderIdHeader">

                                                <span class="header" style="color:#1c84c6;">


                                                   
                                                        <span>Quote ID: @Model.quotesinfo[0].QuoteId
                                                    </span>
                                                 
                                                </span>
                                                <span class="order-header-date">
                                                    on   @*@Model.CycleCountDatetime.ToString("MM/dd/yyyy")*@
                                                   
                                                        <input type="text" id="datepicker" readonly="readonly" value="@Model.quotesinfo[0].PriceDate.ToString("MM/dd/yyyy")" style="width:78px; margin-left:5px; border:none;" />
                                                
                                                 
                                                </span>
                                            </span>
                                            <span class="orderIdHeader" style="margin-top:5px;">
                                                <span class="order-id-value" style="font-weight:normal;">Quoted Items: @Model.quotesinfo[0].QuotedItems</span>
                                               
                                                <span class="order-header-title"></span>
                                            </span>

                                        </div>

                                        <div class="order-item-header col-md-4" style="width:30%;margin-top: 10px;">
                                            @if (Model.quotesinfo[0].Quotetype == "Prospect")
                                            {
                                                <span class="orderIdHeader" style="text-align:center;">
                                                    <span class="order-id-value">
                                                        Sampled: @(Model.quotesinfo[0].IsSampled == "0" || Model.quotesinfo[0].IsSampled =="" ? "No" : "Yes")
                                                    </span>
                                                    <span class="order-id-value" style="margin-left:10px;">
                                                        Quote Printed: @(Model.quotesinfo[0].IsPrinted == "0" ? "No" : "Yes")
                                                    </span>
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="orderIdHeader" style="text-align:right;">
                                                    <span class="order-id-value" style="margin-left:10px;">
                                                        Quote Printed: @(Model.quotesinfo[0].IsPrinted == "0" ? "No" : "Yes")
                                                    </span>
                                                
                                                </span>
                                            }
                                            


                                            @*<span class="orderIdHeader">
                                                <span class="order-id-value" style="font-weight:normal;">Quote Printed: No</span>
                                            </span>*@

                                        </div>

                                        <div class="ibox-content" style="padding:15px; border:none;">
                                            @*<strong>Lorem ipsum dolor sit amet, consectetuer adipiscing</strong>

                                                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>

                                                <p>I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. When.</p>*@



                                            <div id="partialviewforitems">
                                                <table style="width:100%;">
                                                    <tr>
                                                        <td style="font-weight:bold;font-size: smaller; width:11%;">Allied Product Line</td>
                                                        <td rowspan="2" style="padding-left:20px;">
                                                        <table id="tbl" class="table table-bordered" style="text-align:center; margin-bottom:0px;">
    <thead style="border: 1px Solid rgba(128, 128, 128, 0.4); text-align:center; background-color: rgba(128, 128, 128, 0.27);">
        <tr>
           

            <td style="text-align:center;width:10%;">Overall</td>
            <td style="text-align:center;width:10%;">1</td>
            <td style="text-align:center;width:10%;">2</td>
            <td style="text-align:center;width:10%;">3</td>
            <td style="text-align:center;width:10%;">4</td>
           


        </tr>
    </thead>
    <tbody style="border: 1px Solid rgba(128, 128, 128, 0.4); max-height:600px; overflow-y:scroll;">


        <tr>

           
            @if (Model.quotesinfo[0].AIAC27AlliedDiscount.Trim() == Model.quotesinfo[0].AIAC27AlliedDiscountMst.Trim())
            {
                <td style="width:10%;text-align: center;"><div>@(Model.quotesinfo[0].AIAC27AlliedDiscount.Trim() == "" ? "..." : Model.quotesinfo[0].AIAC27AlliedDiscount.Trim())</div></td>
            }
            else
            {
                <td style="width:10%;text-align: center;color:#1c84c6; background-color:rgba(255, 255, 0, 0.2);"><div>@(Model.quotesinfo[0].AIAC27AlliedDiscount.Trim() == "" ? "..." : Model.quotesinfo[0].AIAC27AlliedDiscount.Trim())</div></td>
            }
           
            @if (Model.quotesinfo[0].AIAC15CategoryCode15.Trim() == Model.quotesinfo[0].AIAC15CategoryCode15Mst.Trim())
            {
                <td style="width:10%;text-align: center;"><div>@(Model.quotesinfo[0].AIAC15CategoryCode15.Trim() == "" ? "..." : Model.quotesinfo[0].AIAC15CategoryCode15.Trim())</div></td>
            }
            else
            {
                <td style="width:10%;text-align: center;color:#1c84c6;background-color:rgba(255, 255, 0, 0.2);"><div>@(Model.quotesinfo[0].AIAC15CategoryCode15.Trim() == "" ? "..." : Model.quotesinfo[0].AIAC15CategoryCode15.Trim())</div></td>
            }
            
            @if (Model.quotesinfo[0].AIAC16CategoryCode16.Trim() == Model.quotesinfo[0].AIAC16CategoryCode16Mst.Trim())
            {
                <td style="width:10%;text-align: center;"><div>@(Model.quotesinfo[0].AIAC16CategoryCode16.Trim() == "" ? "..." : Model.quotesinfo[0].AIAC16CategoryCode16.Trim())</div></td>
            }
            else
            {
                <td style="width:10%;text-align: center;color:#1c84c6;background-color:rgba(255, 255, 0, 0.2);"><div>@(Model.quotesinfo[0].AIAC16CategoryCode16.Trim() == "" ? "..." : Model.quotesinfo[0].AIAC16CategoryCode16.Trim())</div></td>
            }
            
            @if (Model.quotesinfo[0].AIAC17CategoryCode17.Trim() == Model.quotesinfo[0].AIAC17CategoryCode17Mst.Trim())
            {
                <td style="width:10%;text-align: center;"><div>@(Model.quotesinfo[0].AIAC17CategoryCode17.Trim() == "" ? "..." : Model.quotesinfo[0].AIAC17CategoryCode17.Trim())</div></td>
            }
            else
            {
                <td style="width:10%;text-align: center;color:#1c84c6;background-color:rgba(255, 255, 0, 0.2);"><div>@(Model.quotesinfo[0].AIAC17CategoryCode17.Trim() == "" ? "..." : Model.quotesinfo[0].AIAC17CategoryCode17.Trim())</div></td>
            }
           
            @if (Model.quotesinfo[0].AIAC18CategoryCode18.Trim() == Model.quotesinfo[0].AIAC18CategoryCode18Mst.Trim())
            {
                <td style="width:10%;text-align: center;"><div>@(Model.quotesinfo[0].AIAC18CategoryCode18.Trim() == "" ? "..." : Model.quotesinfo[0].AIAC18CategoryCode18.Trim())</div></td>
            }
            else
            {
                <td style="width:10%;text-align: center;color:#1c84c6;background-color:rgba(255, 255, 0, 0.2);"><div>@(Model.quotesinfo[0].AIAC18CategoryCode18.Trim() == "" ? "..." : Model.quotesinfo[0].AIAC18CategoryCode18.Trim())</div></td>
            }
           
           
            
            

        </tr>

    </tbody>
</table>
                                                        </td>
                                                        <td rowspan="2" style="padding-left:20px;">
                                                            <table id="tbl" class="table" style="text-align:center; margin-bottom:0px;">
                                                                <thead style=" text-align:center; ">
                                                                    <tr>


                                                                        <td style="text-align:center;width:10%;">Liquid Bracket</td>
                                                                        <td style="text-align:center;width:10%;">Coff Volume</td>
                                                                        <td style="text-align:center;width:10%;">Equip Prog/Pts</td>
                                                                        <td style="text-align:center;width:10%;">POS Up Charge</td>
                                                                        <td style="text-align:center;width:10%;">Special CCP</td>



                                                                    </tr>
                                                                </thead>
                                                                <tbody style="border: 1px Solid rgba(128, 128, 128, 0.4); max-height:600px; overflow-y:scroll;">


                                                                    <tr>


                                                                        @if (Model.quotesinfo[0].AIAC23LiquidCoffee.Trim() == Model.quotesinfo[0].AIAC23LiquidCoffeeMst.Trim())
                                                                        {
                                                                            <td style=" border:1px solid #C9CCCE"><div style="position: relative;display: block;border:none;text-align: center;">@(Model.quotesinfo[0].AIAC23LiquidCoffee.Trim() == "" ? "..." : Model.quotesinfo[0].AIAC23LiquidCoffee.Trim())</div></td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td style=" border:1px solid #C9CCCE;background-color:rgba(255, 255, 0, 0.2);"><div style="position: relative;display: block;border:none;text-align: center;color:#1c84c6;">@(Model.quotesinfo[0].AIAC23LiquidCoffee.Trim() == "" ? "..." : Model.quotesinfo[0].AIAC23LiquidCoffee.Trim())</div></td>
                                                                        }
                                                                        
                                                                        @if (Model.quotesinfo[0].AIAC28CoffeeVolume.Trim() == Model.quotesinfo[0].AIAC28CoffeeVolumeMst.Trim())
                                                                        {
                                                                            <td style=" border:1px solid #C9CCCE"><div style="position: relative;display: block;border:none;text-align: center;">@(Model.quotesinfo[0].AIAC28CoffeeVolume.Trim() == "" ? "..." : Model.quotesinfo[0].AIAC28CoffeeVolume.Trim())</div></td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td style=" border:1px solid #C9CCCE;background-color:rgba(255, 255, 0, 0.2);"><div style="position: relative;display: block;border:none;text-align: center;color:#1c84c6;">@(Model.quotesinfo[0].AIAC28CoffeeVolume.Trim() == "" ? "..." : Model.quotesinfo[0].AIAC28CoffeeVolume.Trim())</div></td>
                                                                        }
                                                                        
                                                                        @if (Model.quotesinfo[0].AIAC29EquipmentProgPts.Trim() == Model.quotesinfo[0].AIAC29EquipmentProgPtsMst.Trim())
                                                                        {
                                                                            <td style=" border:1px solid #C9CCCE"><div style="position: relative;display: block;border:none;text-align: center;">@(Model.quotesinfo[0].AIAC29EquipmentProgPts.Trim() == "" ? "..." : Model.quotesinfo[0].AIAC29EquipmentProgPts.Trim())</div></td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td style=" border:1px solid #C9CCCE;background-color:rgba(255, 255, 0, 0.2);"><div style="position: relative;display: block;border:none;text-align: center;color:#1c84c6;">@(Model.quotesinfo[0].AIAC29EquipmentProgPts.Trim() == "" ? "..." : Model.quotesinfo[0].AIAC29EquipmentProgPts.Trim())</div></td>
                                                                        }
                                                                        
                                                                        @if (Model.quotesinfo[0].AIAC22POSUpCharge.Trim() == Model.quotesinfo[0].AIAC22POSUpChargeMst.Trim())
                                                                        {
                                                                            <td style=" border:1px solid #C9CCCE"><div style="position: relative;display: block;border:none;text-align: center;">@(Model.quotesinfo[0].AIAC22POSUpCharge.Trim() == "" ? "..." : Model.quotesinfo[0].AIAC22POSUpCharge.Trim())</div></td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td style=" border:1px solid #C9CCCE;background-color:rgba(255, 255, 0, 0.2);"><div style="position: relative;display: block;border:none;text-align: center;color:#1c84c6;">@(Model.quotesinfo[0].AIAC22POSUpCharge.Trim() == "" ? "..." : Model.quotesinfo[0].AIAC22POSUpCharge.Trim())</div></td>
                                                                        }
                                                                       
                                                                        @if (Model.quotesinfo[0].AIAC30SpecialCCP.Trim() == Model.quotesinfo[0].AIAC30SpecialCCPMst.Trim())
                                                                        {
                                                                            <td style=" border:1px solid #C9CCCE"><div style="position: relative;display: block;border:none;text-align: center;">@(Model.quotesinfo[0].AIAC30SpecialCCP.Trim() == "" ? "..." : Model.quotesinfo[0].AIAC30SpecialCCP.Trim())</div></td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td style=" border:1px solid #C9CCCE;background-color:rgba(255, 255, 0, 0.2);"><div style="position: relative;display: block;border:none;text-align: center;color:#1c84c6;">@(Model.quotesinfo[0].AIAC30SpecialCCP.Trim() == "" ? "..." : Model.quotesinfo[0].AIAC30SpecialCCP.Trim())</div></td>
                                                                        }
                                                                       



                                                                    </tr>

                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                        <tr>
                                                            <td style="font-weight:bold;font-size: smaller;">Discount/Up Charge</td>
                                                            
                                                        </tr>
                                                </table>
                                                
                                            </div>

                                        </div>


                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="border:none;">
                    <h5><i class="fa fa-align-justify" style="color:#1ab394;"></i> Item List </h5>


                    <div class="col-lg-1 m-l-n pull-right">
                        <div class="right-inner-addon right-inner-addon2" id="right-tbl" style="margin-right:10px;">
                            <i class="fa fa-search" style="z-index:9;margin-right:20px; position:absolute; padding: 8px 12px;"></i>
                            <input id="search_textbox" type="search"
                                   class="form-control pull-right"
                                   placeholder="Search..." style="height:30px;width: 250px;" />
                        </div>
                    </div>

                    @*<div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        @*<a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>*@
                        @*<ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="#">Config option 1</a>
                    </li>
                    <li>
                        <a href="#">Config option 2</a>
                    </li>
                </ul>
                    </div>*@
                </div>
                <div class="ibox-content" style="width:100%; padding:0px; border:none;">




                    <div class="panel-body" style="padding:0px;">

                        <div class="tab-content">

                            <div id="tab-2" class="tab-pane active ">
                                
                                <div class="ibox-content" style="padding:0px;border-style: none solid none;">
                                    <div class="order-item-container col-md-12">




                                        <div class="ibox-content" id="tabletosearch" style="padding:0px; border:none;">
                                            @*<strong>Lorem ipsum dolor sit amet, consectetuer adipiscing</strong>

                                                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>

                                                <p>I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. When.</p>*@

                                            <table id="tbl1" class="table " style="text-align:center;">
                                                <thead style="border: 1px Solid rgba(128, 128, 128, 0.4);  width:100%; text-align:center;">
                                                    <tr>
                                                       
                                                        <th style="text-align:center;width:10%;text-align: left;">Item No.</th>
                                                        <th style="text-align:center;text-align: left;">Item Description</th>
                                                        <th style="text-align:center;width:10%;">Quote Qty</th>
                                                        <th style="text-align:center;width:10%;">UOM</th>
                                                        <th style="text-align:center;" colspan="3">Unit Price</th>
                                                      
                                                        @if(Model.quotesinfo[0].Quotetype=="Prospect")
                                                        { 
                                                        <th style="text-align:center;width:10%;">Sample Qty</th>
                                                        <th style="text-align:center;width:10%;">Sample UOM</th>
                                                        }
                                                    </tr>
                                                </thead>
                                                <tbody style="border: 1px Solid rgba(128, 128, 128, 0.4);width:100%; max-height:600px; overflow-y:scroll;">
                                                    <tr>

                                                        <th style="text-align: left;">
                                                            <div style="position: relative;margin-top: 10px;margin-bottom: 10px;border:none;">
                                                               
                                                            </div>
                                                        </th>
                                                        <th style="text-align: left;"><div style="position: relative;margin-top: 10px;margin-bottom: 10px;border:none;"></div></th>
                                                        <th style="text-align: left;"><div style="position: relative;margin-top: 10px;margin-bottom: 10px;border:none;"></div></th>
                                                        <th style="text-align: left;"><div style="position: relative;margin-top: 10px;margin-bottom: 10px;border:none;"></div></th>
                                                        <th style="text-align: center;"><div style="position: relative;margin-top: 10px;margin-bottom: 10px;border:none;">Pricing</div></th>
                                                        <th style="text-align: center;"><div style="position: relative;margin-top: 10px;margin-bottom: 10px;border:none;">Trans</div></th>
                                                        <th style="text-align: center;"><div style="position: relative;margin-top: 10px;margin-bottom: 10px;border:none;">Other</div></th>

@if (Model.quotesinfo[0].Quotetype == "Prospect")
{ 
                                                        <th style="text-align: left;"><div style="position: relative;margin-top: 10px;margin-bottom: 10px;border:none;"></div></th>
                                                        <th style="text-align: left;"><div style="position: relative;margin-top: 10px;margin-bottom: 10px;border:none;"></div></th>
}
                                                      
                                                    </tr>
                                                    @foreach (var item in Model.items)
                                                    
                                                    {
                                                        <tr>
                                                           
                                                            <td style="text-align: left;">
                                                                <div style="position: relative;margin-top: 10px;margin-bottom: 10px;border:none;">
                                                                   @item.ItemNo
                                                                </div>
                                                            </td>
                                                            <td style="text-align: left;"><div style="position: relative;margin-top: 10px;margin-bottom: 10px;border:none;">@item.Description</div></td>
                                                            <td style="text-align: center;"><div style="position: relative;margin-top: 10px;margin-bottom: 10px;border:none;">@item.QuoteQty</div></td>
                                                            <td style="text-align: center;"><div style="position: relative;margin-top: 10px;margin-bottom: 10px;border:none;">@item.TransUOM</div></td>
                                                            <td style="text-align: center;"><div style="position: relative;margin-top: 10px;margin-bottom: 10px;border:none;">$@item.Pricing/@item.PricingUOM</div></td>
                                                            <td style="text-align: center;"><div style="position: relative;margin-top: 10px;margin-bottom: 10px;border:none;">$@item.Trans/@item.TransUOM</div></td>
                                                            <td style="text-align: center;"><div style="position: relative;margin-top: 10px;margin-bottom: 10px;border:none;">$@item.Other/@item.OtherUOM</div></td>

                                                            @if (Model.quotesinfo[0].Quotetype == "Prospect")
                                                            { 
                                                            <td style="text-align: center;"><div style="position: relative;margin-top: 10px;margin-bottom: 10px;border:none;">@item.SampleQty</div></td>
                                                            <td style="text-align: center;"><div style="position: relative;margin-top: 10px;margin-bottom: 10px;border:none;">@item.SampleUM</div></td>
                                                            }
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>



                                        </div>


                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>

    </div>
</div>
    

z<div class="modal inmodal" id="myModal7" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-sm" style="margin-top:-60px;">
        <div class="modal-content" style="width:500px;">
            <div class="modal-header" style="padding: 10px;">
                <button type="button" class="close" data-dismiss="modal" id="closebutton">
                    <span aria-hidden="true" style="color:white;">&times;</span><span class="sr-only" style="color:white;">Close</span>
                </button>
                <h5 class="modal-title" style="padding: 0px; height:30px; font-size:20px; text-align:left;">Customer Master Pricing Setup</h5>
            </div>

            @using (Html.BeginForm("VoidRequest", "CycleCount", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {

                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                
             
                @*<span class="label label-warning col-md-1" style="width:70px;font-family: arial; font-size:small;left:300px; bottom:30px;">New</span>*@

    <table class="table" style="margin-bottom:0px;">
        <tr style="border:1px thin gray;">
            <td>

                <span style=" margin-left:10px;padding: 7px;"> Allied Discount/Upcharge-Overall</span>
            </td>
            <td style="text-align:center;">
                @*  <input type="text" id="stopspercycle" style="border:1px solid Gray; width:40px; float:right; margin-right:10px; text-align:center;" readonly="readonly" />*@
                @Html.TextBox("itemscounted", (Model.quotesinfo[0].AIAC27AlliedDiscountMst.Trim() == "" ? "..." : Model.quotesinfo[0].AIAC27AlliedDiscountMst.Trim()), new { @class = "textbox1", style = "border:none; color:rgba(0, 0, 0, 0.64);font-weight: bolder;text-align: right;", @readonly = "readonly" })
            </td>
        </tr>
        <tr style="border:1px thin gray;">
            <td>

                <span style=" margin-left:10px;padding: 7px;"> Allied Discount/Upcharge by Category 1</span>
            </td>
            <td style="text-align:center;">
              
                @Html.TextBox("initiator", (Model.quotesinfo[0].AIAC15CategoryCode15Mst.Trim() == "" ? "..." : Model.quotesinfo[0].AIAC15CategoryCode15Mst.Trim()), new { @class = "textbox", style = "border:none; color:rgba(0, 0, 0, 0.64);font-weight: bolder;text-align: right;", @readonly = "readonly" })
                @*<input type="text" id="weekspercycle" style="border:1px solid Gray; width:40px; float:right;margin-right:10px;text-align:center;" />*@
                @*   @Html.TextBoxFor(model => model.Weeks, "weekspercycle", new { @class = "textbox", id = "weekspercycle", name = "range", onkeypress = "return test(event)", onkeyup = "SumaEjemplo()", @maxlength = "2", })*@

            </td>
        </tr>
        <tr style="border:1px thin gray;">
            <td>

                <span style=" margin-left:10px;padding: 7px;"> Allied Discount/Upcharge by Category 2</span>
            </td>
            <td style="text-align:center;">
                @Html.TextBox("date", (Model.quotesinfo[0].AIAC16CategoryCode16Mst.Trim() == "" ? "..." : Model.quotesinfo[0].AIAC16CategoryCode16Mst.Trim()), new { @class = "textbox", style = "border:none; color:rgba(0, 0, 0, 0.64);font-weight: bolder;text-align: right;", @readonly = "readonly", })
                @*<input type="text" id="weekspercycle" style="border:1px solid Gray; width:40px; float:right;margin-right:10px;text-align:center;" />*@
                @*   @Html.TextBoxFor(model => model.Weeks, "weekspercycle", new { @class = "textbox", id = "weekspercycle", name = "range", onkeypress = "return test(event)", onkeyup = "SumaEjemplo()", @maxlength = "2", })*@

            </td>
        </tr>
        <tr style="border:1px thin gray;">
            <td>

                <span style=" margin-left:10px;padding: 7px;"> Allied Discount/Upcharge by Category 3</span>
            </td>
            <td style="text-align:center;">
                @*  <input type="text" id="stopspercycle" style="border:1px solid Gray; width:40px; float:right; margin-right:10px; text-align:center;" readonly="readonly" />*@
                @Html.TextBox("itemscounted", (Model.quotesinfo[0].AIAC17CategoryCode17Mst.Trim() == "" ? "..." : Model.quotesinfo[0].AIAC17CategoryCode17Mst.Trim()), new { @class = "textbox1", style = "border:none; color:rgba(0, 0, 0, 0.64);font-weight: bolder;text-align: right;", @readonly = "readonly" })
            </td>
        </tr>
        <tr style="border:1px thin gray;">
            <td>

                <span style=" margin-left:10px;padding: 7px;"> Allied Discount/Upcharge by Category 4</span>
            </td>
            <td style="text-align:center;">

                @Html.TextBox("initiator", (Model.quotesinfo[0].AIAC18CategoryCode18Mst.Trim() == "" ? "..." : Model.quotesinfo[0].AIAC18CategoryCode18Mst.Trim()), new { @class = "textbox", style = "border:none; color:rgba(0, 0, 0, 0.64);font-weight: bolder;text-align: right;", @readonly = "readonly" })
                @*<input type="text" id="weekspercycle" style="border:1px solid Gray; width:40px; float:right;margin-right:10px;text-align:center;" />*@
                @*   @Html.TextBoxFor(model => model.Weeks, "weekspercycle", new { @class = "textbox", id = "weekspercycle", name = "range", onkeypress = "return test(event)", onkeyup = "SumaEjemplo()", @maxlength = "2", })*@

            </td>
        </tr>
        <tr style="border:1px thin gray;">
            <td>

                <span style=" margin-left:10px;padding: 7px;"> Liquid Bracket</span>
            </td>
            <td style="text-align:center;">
                @Html.TextBox("date", (Model.quotesinfo[0].AIAC23LiquidCoffeeMst.Trim() == "" ? "..." : Model.quotesinfo[0].AIAC23LiquidCoffeeMst.Trim()), new { @class = "textbox", style = "border:none; color:rgba(0, 0, 0, 0.64);font-weight: bolder;text-align: right;", @readonly = "readonly", })
                @*<input type="text" id="weekspercycle" style="border:1px solid Gray; width:40px; float:right;margin-right:10px;text-align:center;" />*@
                @*   @Html.TextBoxFor(model => model.Weeks, "weekspercycle", new { @class = "textbox", id = "weekspercycle", name = "range", onkeypress = "return test(event)", onkeyup = "SumaEjemplo()", @maxlength = "2", })*@

            </td>
        </tr>
        <tr style="border:1px thin gray;">
            <td>

                <span style=" margin-left:10px;padding: 7px;"> Price Protection</span>
            </td>
            <td style="text-align:center;">
                @*  <input type="text" id="stopspercycle" style="border:1px solid Gray; width:40px; float:right; margin-right:10px; text-align:center;" readonly="readonly" />*@
                @Html.TextBox("itemscounted", (Model.quotesinfo[0].AIAC24PriceProtectionMst.Trim() == "" ? "..." : Model.quotesinfo[0].AIAC24PriceProtectionMst.Trim()), new { @class = "textbox1", style = "border:none; color:rgba(0, 0, 0, 0.64);font-weight: bolder;text-align: right;", @readonly = "readonly" })
            </td>
        </tr>
        <tr style="border:1px thin gray;">
            <td>

                <span style=" margin-left:10px;padding: 7px;"> Coffee Volume Bracket</span>
            </td>
            <td style="text-align:center;">

                @Html.TextBox("initiator", (Model.quotesinfo[0].AIAC28CoffeeVolumeMst.Trim() == "" ? "..." : Model.quotesinfo[0].AIAC28CoffeeVolumeMst.Trim()), new { @class = "textbox", style = "border:none; color:rgba(0, 0, 0, 0.64);font-weight: bolder;text-align: right;", @readonly = "readonly" })
                @*<input type="text" id="weekspercycle" style="border:1px solid Gray; width:40px; float:right;margin-right:10px;text-align:center;" />*@
                @*   @Html.TextBoxFor(model => model.Weeks, "weekspercycle", new { @class = "textbox", id = "weekspercycle", name = "range", onkeypress = "return test(event)", onkeyup = "SumaEjemplo()", @maxlength = "2", })*@

            </td>
        </tr>
        <tr style="border:1px thin gray;">
            <td>

                <span style=" margin-left:10px;padding: 7px;"> Equipment Program/CCP Points</span>
            </td>
            <td style="text-align:center;">
                @Html.TextBox("date", (Model.quotesinfo[0].AIAC29EquipmentProgPtsMst.Trim() == "" ? "..." : Model.quotesinfo[0].AIAC29EquipmentProgPtsMst.Trim()), new { @class = "textbox", style = "border:none; color:rgba(0, 0, 0, 0.64);font-weight: bolder;text-align: right;", @readonly = "readonly", })
                @*<input type="text" id="weekspercycle" style="border:1px solid Gray; width:40px; float:right;margin-right:10px;text-align:center;" />*@
                @*   @Html.TextBoxFor(model => model.Weeks, "weekspercycle", new { @class = "textbox", id = "weekspercycle", name = "range", onkeypress = "return test(event)", onkeyup = "SumaEjemplo()", @maxlength = "2", })*@

            </td>
        </tr>
        <tr style="border:1px thin gray;">
            <td>

                <span style=" margin-left:10px;padding: 7px;"> P.O.S Upcharge:</span>
            </td>
            <td style="text-align:center;">

                @Html.TextBox("initiator", (Model.quotesinfo[0].AIAC22POSUpChargeMst.Trim() == "" ? "..." : Model.quotesinfo[0].AIAC22POSUpChargeMst.Trim()), new { @class = "textbox", style = "border:none; color:rgba(0, 0, 0, 0.64);font-weight: bolder;text-align: right;", @readonly = "readonly" })
                @*<input type="text" id="weekspercycle" style="border:1px solid Gray; width:40px; float:right;margin-right:10px;text-align:center;" />*@
                @*   @Html.TextBoxFor(model => model.Weeks, "weekspercycle", new { @class = "textbox", id = "weekspercycle", name = "range", onkeypress = "return test(event)", onkeyup = "SumaEjemplo()", @maxlength = "2", })*@

            </td>
        </tr>
        <tr style="border:1px thin gray;">
            <td>

                <span style=" margin-left:10px;padding: 7px;"> CCP Bracket</span>
            </td>
            <td style="text-align:center;">
                @Html.TextBox("date", (Model.quotesinfo[0].AIAC30SpecialCCPMst.Trim() == "" ? "..." : Model.quotesinfo[0].AIAC30SpecialCCPMst.Trim()), new { @class = "textbox", style = "border:none; color:rgba(0, 0, 0, 0.64);font-weight: bolder;text-align: right;", @readonly = "readonly", })
                @*<input type="text" id="weekspercycle" style="border:1px solid Gray; width:40px; float:right;margin-right:10px;text-align:center;" />*@
                @*   @Html.TextBoxFor(model => model.Weeks, "weekspercycle", new { @class = "textbox", id = "weekspercycle", name = "range", onkeypress = "return test(event)", onkeyup = "SumaEjemplo()", @maxlength = "2", })*@

            </td>
        </tr>
    </table>
                <div class="modal-footer" style="text-align:center;">

                    <button id="continue" type="button" class="btn btn-primary" style="width:50%;" data-dismiss="modal">OK</button>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">

    $(function () {

        $('#search_textbox').each(function (i) {
            $(this).quicksearch("[id*=tbl1] tr:not(:has(th))", {
                'testQuery': function (query, txt, row) {
                    return $(row).children(":eq(" + 0 + ")").text().toLowerCase().indexOf(query[0].toLowerCase()) != -1
                    || $(row).children(":eq(" + 1 + ")").text().toLowerCase().indexOf(query[0].toLowerCase()) != -1;

                }

            });

        });
    });



</script>

<script type="text/javascript">
    (function ($, window, document, undefined) {

        $.fn.quicksearch = function (target, opt) {

            var timeout, cache, rowcache, jq_results, val = '', e = this, options = $.extend({
                delay: 100,
                selector: null,
                stripeRows: null,
                loader: null,
                noResults: '',
                matchedResultsCount: 0,
                bind: 'keyup',
                onBefore: function () {
                    /// To hide rows which exists in upper table

                    return;
                },
                onAfter: function () {

                    return;
                },
                show: function () {

                    this.style.display = "";

                },
                hide: function () {
                    this.style.display = "none";
                },
                prepareQuery: function (val) {
                    return val.toLowerCase().split(' ');
                },
                testQuery: function (query, txt, _row) {
                    for (var i = 0; i < query.length; i += 1) {
                        if (txt.indexOf(query[i]) === -1) {
                            return false;
                        }
                    }
                    return true;
                }
            }, opt);



            this.go = function () {

                var i = 0,
                    numMatchedRows = 0,
                    noresults = true,
                    query = options.prepareQuery(val),
                    val_empty = (val.replace(' ', '').length === 0);

                for (var i = 0, len = rowcache.length; i < len; i++) {
                    if (val_empty || options.testQuery(query, cache[i], rowcache[i])) {
                        options.show.apply(rowcache[i]);
                        noresults = false;
                        numMatchedRows++;
                    } else {
                        options.hide.apply(rowcache[i]);
                    }
                }

                if (noresults) {
                    this.results(false);
                } else {
                    this.results(true);
                    this.stripe();
                }

                this.matchedResultsCount = numMatchedRows;
                this.loader(false);
                options.onAfter();

                return this;
            };

            /*
            * External API so that users can perform search programatically.
            * */
            this.search = function (submittedVal) {
                val = submittedVal;
                e.trigger();
            };

            /*
            * External API to get the number of matched results as seen in
            * https://github.com/ruiz107/quicksearch/commit/f78dc440b42d95ce9caed1d087174dd4359982d6
            * */
            this.currentMatchedResults = function () {
                return this.matchedResultsCount;
            };

            this.stripe = function () {

                if (typeof options.stripeRows === "object" && options.stripeRows !== null) {
                    var joined = options.stripeRows.join(' ');
                    var stripeRows_length = options.stripeRows.length;

                    jq_results.not(':hidden').each(function (i) {
                        $(this).removeClass(joined).addClass(options.stripeRows[i % stripeRows_length]);
                    });
                }

                return this;
            };

            this.strip_html = function (input) {
                var output = input.replace(new RegExp('<[^<]+\>', 'g'), "");
                output = $.trim(output.toLowerCase());
                return output;
            };

            this.results = function (bool) {
                if (typeof options.noResults === "string" && options.noResults !== "") {
                    if (bool) {
                        $(options.noResults).hide();
                    } else {
                        $(options.noResults).show();
                    }
                }
                return this;
            };

            this.loader = function (bool) {
                if (typeof options.loader === "string" && options.loader !== "") {
                    (bool) ? $(options.loader).show() : $(options.loader).hide();
                }
                return this;
            };

            this.cache = function () {

                jq_results = $(target);

                if (typeof options.noResults === "string" && options.noResults !== "") {
                    jq_results = jq_results.not(options.noResults);
                }

                var t = (typeof options.selector === "string") ? jq_results.find(options.selector) : $(target).not(options.noResults);
                cache = t.map(function () {
                    return e.strip_html(this.innerHTML);
                });

                rowcache = jq_results.map(function () {
                    return this;
                });

                /*
                * Modified fix for sync-ing "val".
                * Original fix https://github.com/michaellwest/quicksearch/commit/4ace4008d079298a01f97f885ba8fa956a9703d1
                * */
                val = val || this.val() || "";

                return this.go();
            };

            this.trigger = function () {
                this.loader(true);
                options.onBefore();

                window.clearTimeout(timeout);
                timeout = window.setTimeout(function () {
                    e.go();
                }, options.delay);

                return this;
            };

            this.cache();
            this.results(true);
            this.stripe();
            this.loader(false);

            return this.each(function () {

                /*
                * Changed from .bind to .on.
                * */
                $(this).on(options.bind, function () {

                    val = $(this).val();
                    e.trigger();
                });
            });

        };

    }(jQuery, this, document));





</script>