﻿
@model SLEWebPortal.Models.UserViewModel

<div class="animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins" style="margin-bottom:0px;">
                @*<div class="ibox-title">
                    <h5>Edit User</h5>
                </div>*@
                <div class="ibox-content">
                    @using (Html.BeginForm("EditUser", "User", FormMethod.Post, new { @class = "form-horizontal",id="childform", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.TextBoxFor(model => model.ID, new { @class = "hidden", Value = Model.AddUser.ID, name = "editloginid", id = "editloginid", onkeypress = "return testforspeialchar(event);", onkeyup = "SumaEjemplo()" })
                        <div class="form-group">
                            <label class="col-lg-3 control-label">User Name</label>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(model => model.UserName,    new { @class = "form-control",Value=Model.AddUser.UserName, name = "editloginid", id = "editloginid", onkeypress = "return testforspeialchar(event);", onkeyup = "SumaEjemplo()" })
                                @Html.ValidationMessageFor(model => model.UserName)
                            </div>


                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Display Name</label>

                            <div class="col-lg-9">
                                @Html.TextBoxFor(model => model.DisplayName, new { @class = "form-control",Value=Model.AddUser.DisplayName, name = "editdisplayname", id = "editdisplayname", onkeypress = "return testforspeialcharnospace(event);", onkeyup = "SumaEjemplo()" })
                                @Html.ValidationMessageFor(model => model.DisplayName)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Password</label>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(model => model.Password, new { @class = "form-control",Value=Model.AddUser.Password, name = "editpassword", id = "editpassword", type = "password", onkeypress = "return test()", onkeyup = "SumaEjemplo()" })
                                @Html.ValidationMessageFor(model => model.Password)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Confirm Password</label>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(model => model.confirmpassword, new { @class = "form-control",Value=Model.AddUser.Password, name = "editconfirmpassword", id = "editconfirmpassword", type = "password", onkeypress = "return test()", onkeyup = "SumaEjemplo()" })
                                @Html.ValidationMessageFor(model => model.confirmpassword)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Role</label>
                            <div class="col-lg-9">
                                @Html.DropDownListFor(m => Model.SelectedUserRoleId,  (SelectList)ViewBag.ItemsSelect, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => Model.SelectedUserRoleId)
                            </div>
                        </div>
                        @Html.HiddenFor(model => model.ID)

                        <div class="form-group">
                            @Html.LabelFor(model => model.Active, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Active,Model.AddUser.Active)
                                @Html.ValidationMessageFor(model => model.AddUser.Active)
                            </div>
                        </div>
                        
                        
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">

                                <button class="btn btn-sm btn-white pull-right" id="button" type="submit">Save</button>

                            </div>
                        </div>
                        @Html.ValidationSummary(true)
                    }


                </div>
            </div>
        </div>
    </div>
</div>
