﻿@{
    ViewBag.Title = "Manage Application Users";
    Layout = "~/Views/Dashboard/_Layout.cshtml";
}
@model SLEWebPortal.Models.UserViewModel
@*<div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Manage Application Users</h2>
        </div>
        <div class="col-lg-2">
        </div>
    </div>*@
<div class="wrapper wrapper-content">

    <div class="row">
        <div class="col-lg-4">
            <div class="ibox float-e-margins">

                <div class="ibox-title">

                    <h5><i class="fa fa-users" style="color:orange;"></i> Total </h5>
                </div>
                <div class="ibox-content">

                    <h1 class="no-margins">@Model.Users.Count</h1>
                    <small style=" font-weight:500;"> Total Users </small>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><i class="fa fa-user-plus" style="color:green;"></i> Active </h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@Model.ActiveUsers</h1>
                    <small style=" font-weight:500;"> Active Users </small>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><i class="fa fa-user-times" style="color:rgba(250, 13, 13, 0.91);"></i> Pending </h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@Model.PendingUsers</h1>
                    <small style=" font-weight:500;"> Pending Users </small>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-7">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Create New User</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("AddUser", "User", FormMethod.Post, new { @class = "form-horizontal",id="mainform", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label class="col-lg-3 control-label">User Name</label>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", name = "loginid", id = "loginid", onkeypress = "return testforspeialchar(event);", onkeyup = "SumaEjemplo()" })
                                @Html.ValidationMessageFor(model => model.UserName)
                            </div>


                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Display Name</label>

                            <div class="col-lg-9">
                                @Html.TextBoxFor(model => model.DisplayName, new { @class = "form-control", name = "displayname", id = "displayname", onkeypress = "return testforspeialcharnospace(event);", onkeyup = "SumaEjemplo()" })
                                @Html.ValidationMessageFor(model => model.DisplayName)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Password</label>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(model => model.Password, new { @class = "form-control", name = "password", id = "password", type = "password", onkeypress = "return test()", onkeyup = "SumaEjemplo()" })
                                @Html.ValidationMessageFor(model => model.Password)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Confirm Password</label>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(model => model.confirmpassword, new { @class = "form-control", name = "confirmpassword", id = "confirmpassword", type = "password", onkeypress = "return test()", onkeyup = "SumaEjemplo()" })
                                @Html.ValidationMessageFor(model => model.confirmpassword)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Role</label>
                            <div class="col-lg-9">
                                @Html.DropDownListFor(m => Model.SelectedUserRoleId, Model.UserRoles, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => Model.SelectedUserRoleId)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">

                                <button class="btn btn-sm btn-white pull-right" id="button" type="submit" disabled>Save</button>

                            </div>
                        </div>
                        @Html.ValidationSummary(true)
                    }
                </div>
            </div>
        </div>
        @*<div class="col-lg-5">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Summary</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        @{
                            var totalUsers = Model.Users.Count;
                            var activeUsers = Model.ActiveUsers;
                            var pendingUsers = Model.PendingUsers;
                        }
                        <table class="table  table-bordered table-hover">
                            <tbody>
                                <tr><td>Total Users</td><td>@totalUsers</td></tr>
                                <tr><td>Enabled Users</td><td>@activeUsers</td></tr>
                                <tr><td>Pending Users</td><td>@pendingUsers</td></tr>
                                <tr><td>Active Users not mapped to route</td><td></td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>*@
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>User Listing</h5>
                    <button class="btn blue-bg hidden pull-right edit-user" style="margin-top:-7px;">Edit <span class="fa fa-edit edit-user-icon"></span></button>
                </div>
                <div class="ibox-content">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Display Name</th>
                                <th>Login ID</th>
                                <th>Password</th>
                                <th>Role</th>
                                <th>User Enabled</th>
                                <th>Created</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 1; i <= @Model.Users.Count; i++)
                            {
                                <tr class="user-row " style="cursor:pointer;" data-attr-url="/User/EditUser" data-attr-id="@Model.Users.ElementAt(i - 1).ID">
                                    <td>@i</td>
                                    <td>@Model.Users.ElementAt(i - 1).DisplayName</td>
                                    <td>@Model.Users.ElementAt(i - 1).UserName</td>
                                    <td>@Model.Users.ElementAt(i - 1).Password</td>
                                    <td>@Model.Users.ElementAt(i - 1).Role</td>
                                    <td>

                                        @if (Model.Users.ElementAt(i - 1).Active)
                                        {
                                            <a href="@Url.Action("ToggleActive", "User", new { State = "OFF", UserID = Model.Users.ElementAt(i - 1) .ID})">
                                                <span class="label label-primary">Yes</span>
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("ToggleActive", "User", new { State = "ON", UserID = Model.Users.ElementAt(i - 1).ID })"><span class="label label-danger">No</span></a>
                                        }
                                    </td>
                                    <td>
                                        @if (Model.Users.ElementAt(i - 1).CreatedOn != null)
                                        {
                                            @Model.Users.ElementAt(i - 1).CreatedOn.ToString("dd/MMM/yy")
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="exampleModalLabel" id="edit-user-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="width:500px; margin-top:0px;">
            <div class="modal-header" style="padding: 10px;">
                <button type="button" class="close" data-dismiss="modal" id="closebutton">
                    <span aria-hidden="true" style="color:white;">&times;</span><span class="sr-only" style="color:white;">Close</span>
                </button>
                <h5 class="modal-title" style="padding: 0px; height:30px; font-size:20px; text-align:left;">Edit User</h5>
            </div>

            <div id="edit-user-container"></div>
        </div>
    </div>
    
</div>
@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
}
@*<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>*@
<script>

    function test() {
        if (event.keyCode == 32) {
            return false;
        }
    }




    function SumaEjemplo() {
        // handle onkeyup event
        if ($('#displayname').val() == "" || $('#loginid').val() == "" || $('#password').val() == "" || $('#confirmpassword').val() == "") {
            $('#button').attr("disabled", true);
        }
        else {
            $('#button').removeAttr("disabled");
        }
    }



</script>
@*<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>*@
<script>
    $('input[data-val=true]').blur(function () {
        $(this).valid();
    });
    /***********************************************************************/
    // Scripts for edit user
    $(".user-row").each(function () {
        var id = $(this).attr("data-attr-id");
        var url = $(this).attr("data-attr-url");
        $(this).data("id", id);
        $(this).data("url", url);
        $(this).removeAttr("data-attr-id");
        $(this).removeAttr("data-attr-url");
    });
    $(".user-row").on("click", function (e) {
        $(".user-row").removeClass("row-selected");
        $(this).addClass("row-selected");
        $(".edit-user").removeClass("hidden");
        var id = $(this).data("id");
        e.stopPropagation();
    });
    $(document).click(function (e) {
        if ($(e.target).hasClass("edit-user") || $(e.target).hasClass("edit-user-icon")) {
            var model = $(".user-row.row-selected");
            var url = model.data("url");
            $.ajax({
                dataType: 'html',
                url: url,
                data: ({ UserID: model.data("id") }),
                success: function (result) {
                    $('#edit-user-container').html(result);
                    $('#edit-user-modal').modal('show');
                    //$("#mainform").removeData("validator");
                    //$("#mainform").removeData("unobtrusiveValidation");
                    $.validator.unobtrusive.parse("#childform");
                },
                error: function (result) {
                }
            });
            return false;
        }

        $(".edit-user").addClass("hidden");
        $(".user-row").removeClass("row-selected");
    });
    $(".edit-user, .edit-user-icon").on("click", function () {
        $(".user-row.row-selected").attr("");
    });
    /***********************************************************************/
    function testforspeialchar(e) {
        //return (((e.keyCode >= 48 && e.keyCode <= 57) ) ||
        //       (e.keyCode >= 65 && e.keyCode <= 90) || e.keyCode == 8 ||
        //      (e.keyCode >= 96 && e.keyCode <= 105))
        var k = e.keyCode;
        return ((k > 64 && k < 91) || (k > 96 && k < 123) || k == 8 || (k >= 48 && k <= 57));
    }
    function testforspeialcharnospace(e) {
        //return (((e.keyCode >= 48 && e.keyCode <= 57) ) ||
        //       (e.keyCode >= 65 && e.keyCode <= 90) || e.keyCode == 8 ||
        //      (e.keyCode >= 96 && e.keyCode <= 105))
        var k = e.keyCode;
        return ((k > 64 && k < 91) || (k > 96 && k < 123) || k == 8 || (k >= 48 && k <= 57) || k == 32);
    }
</script>
