﻿@{
    ViewBag.Title = "Authorization";
}
@model  SLEWebPortal.Models.RequestAuthorizeViewModel
@*<h2>Authorization</h2>*@
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><i class="fa fa-money" style="color:green;"></i>Request Code </h5>
                </div>
                <div class="ibox-content">
                    <div class="form-group">
                        <label class="">Request Code</label>
                        <div class="requestCode">
                            <input type="text" class="form-control" id="requestCode" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="">
                            <button class="btn btn-sm btn-white" type="button" id="GetRequestCodeDetail">Get Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 hidden requestCodeDetails">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><i class="fa fa-money" style="color:green;"></i>Request Code Details </h5>
                </div>
                <div class="ibox-content">
                    <div class="form-group">
                        <div class="">
                            <h3>Feature</h3>
                            <p id="requestFeature"></p>
                        </div>
                        <div class="">
                            <h3>User</h3>
                            <p id="requestUser"></p>
                        </div>
                        <div class="">
                            <h3>Amount</h3>
                            <p id="requestAmount"></p>
                        </div>
                        <div class="">
                            <h3>Route</h3>
                            <p id="requestRoute"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="">
                            <button class="btn btn-sm btn-white" type="button" id="GetAuthCode">Get Auth Code</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 hidden authCodeDetails">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><i class="fa fa-money" style="color:green;"></i>Authorization Code</h5>
                </div>
                <div class="ibox-content">
                    <h2 id="authCode"></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>List of Approval Codes</h5>
                </div>
                <div class="ibox-content">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Feature</th>
                                <th>Amount</th>
                                <th>RequestCode</th>
                                <th>ApprovalCode</th>
                                <th>RouteID</th>
                                <th>RequestedByUser</th>
                                <th>RequestedForCustomer</th>
                                <th>Created Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (@Model.Codes.Count == 0)
                                {
                                <tr>
                                    <td colspan="9" align="center" class="responseMsg">No data available..</td>
                                </tr>
                                }
                            @for (int i = 1; i <= @Model.Codes.Count; i++)
                                {
                                <tr>
                                    <td>@i</td>
                                    <td>@Model.Codes.ElementAt(i - 1).Feature</td>
                                    <td>$@Model.Codes.ElementAt(i - 1).Amount</td>
                                    <td>@Model.Codes.ElementAt(i - 1).RequestCode</td>
                                    <td>@Model.Codes.ElementAt(i - 1).ApprovalCode</td>
                                    <td>@Model.Codes.ElementAt(i - 1).RouteID</td>
                                    <td>@Model.Codes.ElementAt(i - 1).RequestedByUser</td>
                                    <td>@Model.Codes.ElementAt(i - 1).RequestedForCustomer</td>
                                    <td>@Model.Codes.ElementAt(i - 1).CreatedDateTime.ToString("dd MMM yyyy hh:mm tt")</td>
                                    
                                </tr>
                                }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        function GetRequestCodeDetails(requestCodeNo) {
            $.ajax({
                type: 'POST',
                url: "@Url.Action("GetRequestCodeDetails", "Authorization")",
                data: { requestCode: requestCodeNo },
                success: function (data) {
                    if (data.RequestDetails == null || data.RequestDetails == undefined) {
                        $(".requestCode").addClass("invalidContent");
                        setTimeout(function () {
                            $(".requestCode").removeClass("invalidContent");
                        }, 3000);
                        return;
                    }
                    $(".requestCode").removeClass("invalidContent");
                    $("#requestFeature").html(data.RequestDetails.Feature);
                    $("#requestAmount").html(data.RequestDetails.Amount);
                    $("#requestUser").html(data.RequestDetails.User);
                    $("#requestRoute").html(data.RequestDetails.Route);
                    $(".requestCodeDetails").removeClass("hidden");
                    console.log("info");
                },
                error: function (error) {
                    $("#requestFeature").empty();
                    $("#requestAmount").empty();
                    $("#requestUser").empty();
                    $("#requestRoute").empty();
                    $(".requestCodeDetails").removeClass("hidden");
                }
            });
        }
        function GetAuthCode(requestCodeNo) {
            $.ajax({
                type: 'POST',
                url: "@Url.Action("GetAuthorizationCode", "Authorization")",
                data: { requestCode: requestCodeNo },
                success: function (data) {
                    $(".authCodeDetails").removeClass("hidden");
                    $("#authCode").html(data.AuthorizationCode);
                    console.log("info");
                },
                error: function (error) {
                    console.log('error');
                }
            });
        }
        $("#GetRequestCodeDetail").on("click", function () {
            var requestCode = $("#requestCode").val();
            $(".authCodeDetails").addClass("hidden");
            $(".requestCodeDetails").addClass("hidden");
            GetRequestCodeDetails(requestCode);
        });
        $("#GetAuthCode").on("click", function () {
            var requestCode = $("#requestCode").val();
            GetAuthCode(requestCode);
        });
    });
</script>
