﻿@model IEnumerable<SLEWebPortal.Models.CyclecountdetailsModels>

<table class="table" style="text-align:center;">
    <thead style="border: 1px Solid rgba(128, 128, 128, 0.4); text-align:center; background-color: rgba(128, 128, 128, 0.27);">
        <tr>
            <th></th>
            <th style="text-align:center;">Item No.</th>
            <th style="text-align:center;">Item Description</th>
            <th style="text-align:center;">Sales Cat 1</th>
            <th style="text-align:center;">Sales Cat 2</th>
            <th style="text-align:center;">Sales Cat 5</th>
            <th style="text-align:center;">UOM</th>


        </tr>
    </thead>
    <tbody style="border: 1px Solid rgba(128, 128, 128, 0.4);">
        @foreach(var item in Model)
        { 
        <tr>
            <td><div class="checkbox"><label>@Html.CheckBox("itemId2", new { value = item.ItemId, @class = "check2" })</label></div></td>
            <td>@item.ItemNumber</td>
            <td>@item.ItemDescription</td>
            <td>@item.SalesCat1</td>
            <td>@item.SalesCat2</td>
            <td>@item.SalesCat5</td>
            <td>@item.UOM</td>

        </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        var list2 = [];
      
       
    $(".check2").change(function () {
        if (this.checked) {
            document.getElementById("deletebutton").setAttribute("class", "btn btn-sm btn-white")
            list2.push(this.value);
            //   alert(this.value);
        }
        else {
            //   alert("Unchecked");
            var index = list2.indexOf(this.value);
            if (index > -1) {
                list2.splice(index, 1);
            }

        }
    });

    $('#deletebutton').click(function () {

        document.getElementById("totalcounts").textContent = document.getElementById("totalcounts").textContent - list2.length;


      

        list2.forEach(function (e) {
            var tr = $(document.getElementById("tbl").rows.namedItem(e));
            tr.show();

            //var index = list.indexOf(e);
            //if (index > -1) {
            //    list.splice(index, 1);
            //    listofrows.splice(index, 1);
            //}
        });
      
        // now names contains all of the names of checked checkboxes
        // do something with it for excamle post with ajax
        @*$.ajax({
            url: '@Url.Action("Deleteitems", "CycleCount")',
            type: 'POST',
            dataType: 'html',
            contentType: 'application/json',
            data: JSON.stringify({ selected: list2 }),
            success: function (result) {

              //     alert("success");
                $("#partialviewforitems").html(result);
            },
            error: function (result) {
                alert("error!");
            }
        });*@   //end ajax
    });
   
    });
</script>