﻿@model  SLEWebPortal.Models.Cyclemodel

@if (Model.physicalcyclecountmodels.Count() == 0)
{
    <br />
    <span style="margin-left: 15px;"><b>No Records to Display!!!</b></span>
    <div style="height:5px;"></div>
    <br />
}
else
{
<div class="ibox-content" style="padding:0px;">
    <table class="table" id="tbl">
        @{
    //for (int i = 0; i < 3; i++)
    foreach (var item in Model.physicalroutelistmodels)
    //foreach(var item in Model.cyclecountmodels.selectMany(p=>p.Routeid,p=>p.RouteName,p=>p.RouteDescription).Distinct())
    {
        <tr>
            <td style="padding:0px;">



                <div class="row" style="margin:0px;">
                    <br />
                    <div class="col-lg-12" style="padding:0px;">
                        <div class="ibox float-e-margins" style="margin-bottom:5px;">
                            <div class="ibox-title" style="border-style:none; padding:0px 15px 0px; ">
                                <table style="width:100%;" class="parenttable">
                                    <tr>
                                        <td style="font-size:initial;">
                                            <table id="tbl1physcl">
                                                <tr>
                                                    <td>
                                                        <b>@item.RouteName , @item.RouteDescription </b>
                                                    </td>

                                                </tr>
                                                <tr><th style="font-size:small;font-weight:100;">@Model.physicalcyclecountmodels.Where(i => i.Routeid == item.Routeid).ToList().Count Requests </th></tr>
                                            </table>

                                        </td>
                                        <td rowspan="2" style="float: right;">
                                            <span style="margin-top:-10px; font-size:12px;">
                                                <span style="margin-left:10px; color:#a5a5a5; font-size:x-large;">@Model.physicalcyclecountmodels.Where(i => i.Status.Trim() == "NEW" && i.Routeid == item.Routeid).Count()</span> Pending
                                                <span style="margin-left:10px; color:#a5a5a5; font-size:x-large;">@Model.physicalcyclecountmodels.Where(i => i.Status.Trim() == "RELS" && i.Routeid == item.Routeid).Count()</span> Release
                                                <span style="margin-left:10px; color:green; font-size:x-large;">@Model.physicalcyclecountmodels.Where(i => i.Status.Trim() == "ACCEPT" && i.Routeid == item.Routeid).Count()</span> Accepted
                                                <span style="margin-left:10px; color:#f8ac59;font-size:x-large;">@Model.physicalcyclecountmodels.Where(i => i.Status.Trim() == "SUBMIT" && i.Routeid == item.Routeid).Count()</span> Submitted
                                                <span style="margin-left:10px; color:#ed5565;font-size:x-large;">@Model.physicalcyclecountmodels.Where(i => i.Status.Trim() == "VOID" && i.Routeid == item.Routeid).Count()</span> Void
                                                <span style="margin-left:10px; color:#5d9cec;font-size:x-large;">@Model.physicalcyclecountmodels.Where(i => i.Status.Trim() == "RECNT" && i.Routeid == item.Routeid).Count()</span> Re-Counts
                                            </span>
                                            <div class="ibox-tools">
                                                <a class="collapse-link" style="margin-left:30px;">
                                                    <i class="fa fa-chevron-up"></i>
                                                </a>

                                            </div>
                                        </td>

                                    </tr>

                                </table>
                            </div>
                            <div class="ibox-content" style="width:100%; padding:0px; border-width:0px; ">




                                <div class="panel-body" style="padding:0px;">

                                    <div class="tab-content">
                                        <div id="tab-1" class="tab-pane active">


                                            <div class="ibox-content" style="padding:0px;">
    @*<strong>Lorem ipsum dolor sit amet, consectetuer adipiscing</strong>

        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>

        <p>I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. When.</p>*@
    @{var cyclecountmodel = Model.physicalcyclecountmodels.Where(i => i.Routeid == item.Routeid).ToList();}
    @for (int j = 0; j < cyclecountmodel.Count; j++)
                                                {
        <table class="tabletosearch" style="width:100%;">
            <tr>
                <td>
                    <a onclick="location.href='@Url.Action("WeeklyCountRequest2", "CycleCount", new { countid = cyclecountmodel[j].CycleCountID })'">
                        <div class="order-item-container col-md-12">
                            <div class="order-item-header col-md-4" style="@(cyclecountmodel[j].Status.Trim() == "RECNT" || cyclecountmodel[j].recountitemstotalrecounted != 0 ? "width:76%" : "width:88%")">
                                <span class="orderIdHeader">

                                    <span class="header" style="padding-left: 5px;">
                                        @*<span class="label label-primary">@Model.cyclecountmodels[j].Status</span>*@
                                        @if (cyclecountmodel[j].Status.Trim() == "VOID")
                                                                        {

                                                                        <span class="col-sm-1" style="padding-left:0px; width:25px;"> @Html.CheckBox("cycleId", new { value = cyclecountmodel[j].CycleCountID, id = "voidcheckId2", @class = "submitphysical", onclick = "event.stopPropagation();" })</span>
                                                                        <span class="label label-danger col-md-1" style="width:70px;font-family: arial;">Void</span>
                                                                        }
                                                                        else if (cyclecountmodel[j].Status.Trim() == "NEW")
                                                                        {
                                                                        <span class="col-sm-1" style="padding-left:0px; width:25px;">
                                                                            <input type="checkbox" id="newcheckId2" value="@cyclecountmodel[j].CycleCountID" class="submitphysical" onclick="event.stopPropagation();">
                                                                            @*@Html.CheckBox("cycleId", new { value = cyclecountmodel[j].CycleCountID, id = "newcheckId", @class = "submit" })*@
                                                                        </span>
                                                                        <span class="label label-default col-md-1" style="width:70px;font-family: arial;">New</span>
                                                                        }
                                                                        else if (cyclecountmodel[j].Status.Trim() == "RELS")
                                                                        {
                                                                        <span class="col-sm-1" style="padding-left:0px; width:25px;">
                                                                            <input type="checkbox" id="releasecheckId2" value="@cyclecountmodel[j].CycleCountID" class="submitphysical" onclick="event.stopPropagation();">
                                                                            @*@Html.CheckBox("cycleId", new { value = cyclecountmodel[j].CycleCountID, id = "newcheckId", @class = "submit" })*@
                                                                        </span>
                                                                        <span class="label label-default col-md-1" style="width:70px;font-family: arial;">Release</span>
                                                                        }
                                                                        else if (cyclecountmodel[j].Status.Trim() == "PNDNG")
                                                                        {
                                                                        <span class="col-sm-1" style="padding-left:0px; width:25px;">
                                                                            <input type="checkbox" id="pendingcheckId2" value="@cyclecountmodel[j].CycleCountID" class="submitphysical" onclick="event.stopPropagation();">
                                                                            @*@Html.CheckBox("cycleId", new { value = cyclecountmodel[j].CycleCountID, id = "pendingcheckId", @class = "submit" })*@
                                                                        </span>
                                                                        <span class="label label-default col-md-1" style="width:70px;font-family: arial;">Pending</span>
                                                                        }
                                                                        else if (cyclecountmodel[j].Status.Trim() == "SUBMIT")
                                                                        {
                                                                        <span class="col-sm-1" style="padding-left:0px; width:25px;">
                                                                            <input type="checkbox" id="submittedcheckId2" value="@cyclecountmodel[j].CycleCountID" class="submitphysical" onclick="event.stopPropagation();fetchvalues(@cyclecountmodel[j].CycleCountID,'@cyclecountmodel[j].ItemsToCount','@cyclecountmodel[j].InitiatorName','@cyclecountmodel[j].CycleCountDatetime.ToString("MM/dd/yyyy")')">
                                                                            @*@Html.CheckBox("cycleId",  new { value = cyclecountmodel[j].CycleCountID, @class = "submit", onclick = "fetchvalues(@cyclecountmodel[j].ItemNumber)" })*@
                                                                        </span>
                                                                        <span class="label label-warning col-md-1" style="width:70px;font-family: arial;">Submitted</span>
                                                                        }
                                                                        else if (cyclecountmodel[j].Status.Trim() == "RECNT")
                                                                        {
                                                                        <span class="col-sm-1" style="padding-left:0px; width:25px;">
                                                                            <input type="checkbox" id="recountcheckId" value="@cyclecountmodel[j].CycleCountID" class="submitphysical" onclick="event.stopPropagation();fetchvalues(@cyclecountmodel[j].CycleCountID,'@cyclecountmodel[j].ItemsToCount','@cyclecountmodel[j].InitiatorName','@cyclecountmodel[j].CycleCountDatetime.ToString("MM/dd/yyyy")')">
                                                                            @*@Html.CheckBox("cycleId", new { value = cyclecountmodel[j].CycleCountID,id="recountcheckId",@class="submit" })*@
                                                                        </span>
                                                                        <span class="label label-success col-md-1" style="width:70px;font-family: arial;">Recount</span>
                                                                        }
                                                                        else if (cyclecountmodel[j].Status.Trim() == "ACCEPT")
                                                                        {
                                                                        <span class="col-sm-1" style="padding-left:0px; width:25px;"> @Html.CheckBox("cycleId", new { value = cyclecountmodel[j].CycleCountID, id = "acceptcheckId", @class = "submitphysical", onclick = "event.stopPropagation();" })</span>
                                                                        <span class="label label-primary col-md-1" style="width:70px;font-family: arial;">Accepted</span>
                                                                        }

                                        Count No.:
                                        <span class="countidtosearch">@cyclecountmodel[j].CycleCountID</span>
                                    </span>
                                    <span class="order-header-date"> on @cyclecountmodel[j].CycleCountDatetime.ToString("MM/dd/yyyy")</span>
                                </span>
                                <span class="orderIdHeader">
                                    <span class="order-id-value" style="font-weight:normal;">Initiator: @cyclecountmodel[j].InitiatorName</span>
                                    <span class="order-id-value" style="font-weight:normal;">,@cyclecountmodel[j].InitiatorContact</span>
                                    <span class="order-header-title"></span>
                                </span>

                            </div>

                            @if (cyclecountmodel[j].Status.Trim() == "RECNT" || cyclecountmodel[j].recountitemstotalrecounted != 0)
                                                            {


                                                            <div class="order-item-header col-md-4" style="width:12%;">
                                                                <span class="orderIdHeader" style="text-align:center;">
                                                                    <span class="order-id-value">@cyclecountmodel[j].recountitemstotaltorecount</span>

                                                                </span>
                                                                <span class="orderIdHeader">



                                                                    @if (cyclecountmodel[j].Status.Trim() == "SUBMIT")
                                                                        {
                                                                        <span class="order-id-value" style="font-weight:normal;">Items Counted</span>
                                                                        }
                                                                        else
                                                                        {
                                                                        <span class="order-id-value" style="font-weight:normal;">Items to Count</span>
                                                                        }





                                                                </span>

                                                            </div>

                                                            <div class="order-item-header col-md-4" style="width:12%;">
                                                                <span class="orderIdHeader" style="text-align:center;">
                                                                    <span class="order-id-value">@(cyclecountmodel[j].recountitemstotalrecounted + cyclecountmodel[j].recountitemstotaltorecount)</span>

                                                                </span>
                                                                <span class="orderIdHeader">


                                                                    <span class="order-id-value" style="font-weight:normal;">Items Counted</span>

                                                                </span>

                                                            </div>
                                                            }

                                                            else
                                                            {

                                                            <div class="order-item-header col-md-4" style="width:12%;">
                                                                <span class="orderIdHeader" style="text-align:center;">
                                                                    <span class="order-id-value">@(cyclecountmodel[j].recountitemstotaltorecount + cyclecountmodel[j].recountitemstotalrecounted)</span>

                                                                </span>
                                                                <span class="orderIdHeader">



                                                                    @if (cyclecountmodel[j].Status.Trim() == "SUBMIT" || cyclecountmodel[j].Status.Trim() == "ACCEPT")
                                                                        {
                                                                        <span class="order-id-value" style="font-weight:normal;">Items Counted</span>

                                                                        }

                                                                        else
                                                                        {
                                                                        <span class="order-id-value" style="font-weight:normal;">Items to Count</span>
                                                                        }


                                                                </span>

                                                            </div>
                                                            }


                        </div>
                    </a>
                    </td>
                </tr>
            </table>
                    }


    </div>
                                        </div>

                                    </div>

                                </div>


                            </div>

                        </div>
                    </div>

                </div>




            </td>
        </tr>
    }
        }
    </table>



</div>
}