﻿@model  SLEWebPortal.Models.Cyclemodel

@{
    ViewBag.Title = "Cycle Count";
    bool t = ViewBag.tab2;
}

@*<h2>CycleCount</h2>*@

<style type="text/css">
    .right-inner-addon input {
        padding-right: 30px;
    }

    .right-inner-addon i {
        position: absolute;
        right: 0px;
        padding: 10px 12px;
        pointer-events: none;
    }
     #search_textbox2::-ms-clear {
    display: none;
}
     #search_textbox::-ms-clear {
    display: none;
}
</style>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><i class="fa fa-align-justify" style="color:#1ab394;"></i> Cycle Count </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        @*<a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                            </a>*@
                        @*<ul class="dropdown-menu dropdown-user">
                            <li>
                            <a href="#">Config option 1</a>
                            </li>
                            <li>
                            <a href="#">Config option 2</a>
                            </li>
                            </ul>*@
                    </div>
                </div>
                <div class="ibox-content" style="width:100%; padding:0px;">

                    <div class="panel-options">

                        <ul class="nav nav-tabs" style="padding: 15px 0px 0px 8px;">
                           @* <li class="@(t ? " " : "active")"> <a data-toggle="tab" href="#tab-1" aria-expanded="true"><i class="fa fa-align-justify"></i> Adjustments</a><div class="arrow-down"></div></li>*@
                            <li class="@(t ? "active" : " ")"><a class="active1" data-toggle="tab" href="#tab-2" aria-expanded="false"><i class="fa fa-list-ol"></i>Weekly Count</a></span></li>
                            <li class=""><a class="active2" data-toggle="tab" href="#tab-3" aria-expanded="false"><i class="fa fa-list-ol"></i>Physical Count</a></li>
                          @*  <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false"><i class="fa fa-usd"></i>Settlement</a></li>*@

                            <div class="right-inner-addon" style="margin-right:10px;">
                                <i class="fa fa-search" style="z-index:9;margin-right:20px;"></i>
                                <input type="search" id="search_textbox" style="width:20%;"
                                       class="form-control pull-right"
                                       placeholder="Search..." />
                            </div>

                        </ul>


                    </div>


                    <div class="panel-body" style="padding:0px;">

                        <div class="tab-content">
                            <div id="tab-1" class="@(t ? "tab-pane" : "tab-pane active")">

                                <div class="ibox-title" style="border-style:none;">

                                    <h5 style="margin-left:1%;padding: 5px;">All Routes</h5>
                                    <div style="width:55%; float:right; font-size:13px; ">


                                        <span class="btn btn-primary" style="height:22px;padding:0px;margin-left:10px; margin-right:5px;background-color:#5d9cec;border-color:rgba(26, 179, 148, 0); width:6%; border-radius:0px;">10</span>
                                        All Items
                                        @*<i class="fa fa-chevron-up"></i>*@
                                        <span class="btn btn-primary" style="height:22px;padding:0px; margin-left:10px;margin-right:5px; background-color:#a5a5a5; border-color:rgba(26, 179, 148, 0); width:6%;border-radius:0px;">15</span>
                                        Pending Items


                                        @*<i class="fa fa-wrench"></i>*@
                                        <span class="btn btn-primary" style="height:22px;padding:0px;margin-left:10px;margin-right:5px;background-color:#fc6e51;border-color:rgba(26, 179, 148, 0); width:6%;border-radius:0px;">35</span>
                                        Rejected Items

                                        <span class="btn btn-primary" style="height:22px;padding:0px;margin-left:10px;margin-right:5px;background-color:#87ca70;border-color:rgba(26, 179, 148, 0); width:6%;border-radius:0px;">35</span>
                                        Approved Items


                                        <ul class="dropdown-menu dropdown-user">
                                            <li>
                                                <a href="#">Config option 1</a>
                                            </li>
                                            <li>
                                                <a href="#">Config option 2</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="ibox-content" style="padding:15px;">
                                    <table class="table" style="border: 2px Solid #e7eaec; ">
                                        @{for (int i = 0; i < 3; i++)
                                        {
                                            <tr>
                                                <td>

                                                    <div class="wrapper wrapper-content animated fadeInRight" style="padding:0px;">

                                                        <div class="row">
                                                            <br />
                                                            <div class="col-lg-12">
                                                                <div class="ibox float-e-margins" style="margin-bottom:5px;">
                                                                    <div class="ibox-title" style="border-style:none; padding:0px 15px 0px; ">
                                                                        <table style="width:100%;">
                                                                            <tr>
                                                                                <td style="font-size:initial;">
                                                                                    <table>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <b> 065, Palm Springs ST RT </b>
                                                                                            </td>

                                                                                        </tr>
                                                                                        <tr><td style="font-size:small;">05, Stops </td></tr>
                                                                                    </table>

                                                                                </td>
                                                                                <td rowspan="2" style="float: right;">
                                                                                    <span style="margin-top:-10px; font-size:12px;">
                                                                                        <span style="font-family:lacto; color:#5d9cec; font-size:x-large;">1</span> All Items
                                                                                        <span style="margin-left:10px; color:#a5a5a5;font-size:x-large;">2</span> Pending Items
                                                                                        <span style="margin-left:10px; color:#fc6e51;font-size:x-large;">3</span> Rejected Items
                                                                                        <span style="margin-left:10px; color:#87ca70;font-size:x-large;">4</span> Approved Items
                                                                                    </span>
                                                                                    <div class="ibox-tools">
                                                                                        <a class="collapse-link" style="margin-left:30px;">
                                                                                            <i class="fa fa-chevron-up"></i>
                                                                                        </a>

                                                                                    </div>
                                                                                </td>

                                                                            </tr>

                                                                        </table>
                                                                    </div>
                                                                    <div class="ibox-content" style="width:100%; padding:0px; ">




                                                                        <div class="panel-body" style="padding:0px;">

                                                                            <div class="tab-content">
                                                                                <div id="tab-1" class="tab-pane active">


                                                                                    <div class="ibox-content" style="padding:15px;">
                                                                                        @*<strong>Lorem ipsum dolor sit amet, consectetuer adipiscing</strong>

                                                                                            <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>

                                                                                            <p>I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. When.</p>*@

                                                                                        <table class="table table-bordered">
                                                                                            <thead>
                                                                                                <tr>
                                                                                                    <th>Item No.</th>
                                                                                                    <th>Item Description</th>
                                                                                                    <th>Sales Cart</th>
                                                                                                    <th>UOM</th>
                                                                                                    <th>On Hand Qty</th>
                                                                                                    <th>Committed Qty</th>
                                                                                                    <th>Held Qty</th>
                                                                                                    <th>Availabel Qty</th>
                                                                                                    <th>Par Level Qty</th>
                                                                                                    <th>Adjustment Qty</th>
                                                                                                    <th>Adjustment UOM</th>
                                                                                                    <th>Reason Code</th>
                                                                                                </tr>
                                                                                            </thead>
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td>1</td>
                                                                                                    <td>Mark</td>
                                                                                                    <td>Otto</td>
                                                                                                    <td>mdo</td>
                                                                                                    <td>1</td>
                                                                                                    <td>Mark</td>
                                                                                                    <td>Otto</td>
                                                                                                    <td>mdo</td>
                                                                                                    <td>1</td>
                                                                                                    <td>Mark</td>
                                                                                                    <td>Otto</td>
                                                                                                    <td>mdo</td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td>2</td>
                                                                                                    <td>Jacob</td>
                                                                                                    <td>Thornton</td>
                                                                                                    <td>fat</td>
                                                                                                    <td>2</td>
                                                                                                    <td>Jacob</td>
                                                                                                    <td>Thornton</td>
                                                                                                    <td>fat</td>
                                                                                                    <td>2</td>
                                                                                                    <td>Jacob</td>
                                                                                                    <td>Thornton</td>
                                                                                                    <td>fat</td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td>3</td>
                                                                                                    <td>Larry</td>
                                                                                                    <td>the Bird</td>
                                                                                                    <td>twitter</td>
                                                                                                    <td>3</td>
                                                                                                    <td>Larry</td>
                                                                                                    <td>the Bird</td>
                                                                                                    <td>twitter</td>
                                                                                                    <td>3</td>
                                                                                                    <td>Larry</td>
                                                                                                    <td>the Bird</td>
                                                                                                    <td>twitter</td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>



                                                                                    </div>
                                                                                </div>

                                                                            </div>

                                                                        </div>


                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>



                                                </td>
                                            </tr>
                                        }
                                        }
                                    </table>

                                </div>
                            </div>
                            <div id="tab-2" class="@(t ? "tab-pane active" : "tab-pane")">
                                <div class="ibox-title" style="border-style:none;">

                                    <h5 style="margin-left:1%;padding: 5px;"><a href="" class="dro">All Routes</a></h5>
                                    <div style="width:55%; float:right; font-size:13px;margin-right: -250px; ">
                                        @using (Html.BeginForm("WeeklyCountRequest", "CycleCount", FormMethod.Post, new { style = "display:inherit;", id = "AddAllForm" }))
                                        {
                                            <div class="col-lg-4 m-l-n">
                                                @*<select class="" style="height:30px; width:100%;">
                                                    <option>option 1</option>
                                                    <option>option 2</option>
                                                    <option>option 3</option>
                                                    <option>option 4</option>
                                                    </select>*@

                                                @Html.DropDownListFor(m => Model.SelectedUser, Model.UserRoles, new { @class = "dropdown-", id = "dropdownlist", @onchange = "passvalue(this);", style = "height:25px; width:100%;" })
                                            </div>

                                            <span style="width:10%;">
                                                @*<button type="button" id="acceptbutton" style="width:12%;" class="btn btn-sm btn-white disabled" data-toggle="modal" data-target="#myModal8">Accept</button>*@

                                                @Html.Hidden("temproute", new { id = "temproute" })
                                                @Html.Hidden("temproutephysical", new { id = "temproutephysical" })



                                                @*<button type="button" style="width:12%;" id="recount" class="btn btn-sm btn-white disabled" data-toggle="modal" data-target="#myModal9"> Re-Count</button> @*onclick="$('#cancelForm').submit()"*@


                                                @* <button type="button" style="width:12%;" id="recount" class="btn btn-sm btn-white disabled">Re-Count</button>*@
                                                @*<button type="button" style="width:12%;" id="voidbutton" class="btn btn-sm btn-white disabled" data-toggle="modal" data-target="#myModal7">Void</button>*@
                                                <button type="button" id="releasebutton" style="width:12%;" class="btn btn-sm btn-white disabled">Release</button>
                                                <button type="button" style="width:12%;" class="btn btn-sm btn-white" onclick="checkforadd()">Add</button>


                                            </span>
                                        }
                                        @*@using (Html.BeginForm("WeeklyCountRequest2", "CycleCount", FormMethod.Post, new { id = "cancelForm" }))
                                            {

                                            @Html.TextBox("tempcycleid","", new { id = "tempcycleid",style="display:none;" })

                                            }*@


                                    </div>
                                </div>

                                <div id="partialviewforcyclecount">
                                    @Html.Partial("_CycleCountView", Model)
                                </div>


                            </div>
                            <div id="tab-3" class="tab-pane">
                                


                                <div class="ibox-title" style="border-style:none;">

                                    <h5 style="margin-left:1%;padding: 5px;"><a href="" class="dro">All Routes</a></h5>
                                    <div style="width:55%; float:right; font-size:13px;margin-right: -250px; ">
                                        @using (Html.BeginForm("WeeklyCountRequestPhysical", "CycleCount", FormMethod.Post, new { style = "display:inherit;", id = "AddAllFormPhysical" }))
                                        {
                                            <div class="col-lg-4 m-l-n">
                                                @*<select class="" style="height:30px; width:100%;">
                        <option>option 1</option>
                        <option>option 2</option>
                        <option>option 3</option>
                        <option>option 4</option>
                        </select>*@

                                                @Html.DropDownListFor(m => Model.SelectedUser, Model.UserRoles, new { @class = "dropdown-", id = "dropdownlist", @onchange = "passvaluephysical(this);", style = "height:25px; width:100%;" })
                                            </div>

                                            <span style="width:10%;">
                                                @*<button type="button" id="acceptbutton2" style="width:12%;" class="btn btn-sm btn-white disabled" data-toggle="modal" data-target="#myModal8">Accept</button>*@

                                                @Html.Hidden("temproute", new { id = "temproute" })



                                                @*<button type="button" style="width:12%;" id="recount2" class="btn btn-sm btn-white disabled" data-toggle="modal" data-target="#myModal9"> Re-Count</button>*@
                                                 @*onclick="$('#cancelForm').submit()"*@


                                                @* <button type="button" style="width:12%;" id="recount" class="btn btn-sm btn-white disabled">Re-Count</button>*@
                                                @*<button type="button" style="width:12%;" id="voidbutton2" class="btn btn-sm btn-white disabled" data-toggle="modal" data-target="#myModal7">Void</button>*@
                                                <button type="button" id="releasebuttonphysical" style="width:12%;" class="btn btn-sm btn-white disabled">Release</button>
                                                <button type="button" id="addphysical" style="width:12%;" class="btn btn-sm btn-white" onclick="checkforaddPhysical()">Add</button>


                                            </span>
                                        }
                                        @*@using (Html.BeginForm("WeeklyCountRequest2", "CycleCount", FormMethod.Post, new { id = "cancelForm" }))
                {

                @Html.TextBox("tempcycleid","", new { id = "tempcycleid",style="display:none;" })

                }*@


                                    </div>
                                </div>


                                <div id="partialviewforcyclecountphysical">
                                    @Html.Partial("_PhysicalCycleCountView", Model)
                                </div>


                            </div>

                        </div>

                    </div>


                </div>
            </div>
        </div>

    </div>
</div>


<div class="modal inmodal" id="myModal10" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="width:500px; height:200px;">
            <div class="modal-header" style="padding: 10px;">
                <button type="button" class="close" data-dismiss="modal" id="closebutton">
                    <span aria-hidden="true" style="color:white;">&times;</span><span class="sr-only" style="color:white;">Close</span>
                </button>
                <h5 class="modal-title" style="padding: 0px; height:30px; font-size:20px; text-align:left;">Warning!</h5>
            </div>

            @using (Html.BeginForm("WeeklyCountRequest", "CycleCount", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {

                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                <br />
                @Html.TextBox("tempcycleidphysical", "", new { id = "tempcycleidphysical", style = "display:none;" })
                <h4 style=" margin-left:10px;padding: 7px; text-align:center;">@Html.TextBox("tempcycleid", "", new { id = "tempcycleid", style = "display:none;" })You are about to add weekly count for all the routes in the district</h4>

                <h5 style=" margin-left:10px;padding: 0px; text-align:center; FONT-WEIGHT: 500;"> Do you want to continue?</h5>



                <div class="modal-footer" style="text-align:center; border:none;">

                    <button id="yes" type="button" class="btn btn-primary" style="width:30%;" onclick="$('#AddAllForm').submit()">Yes</button>
                    <button id="no" type="button" data-dismiss="modal" class="btn btn-primary" style="width:30%;">No</button>

                </div>

            }
        </div>
    </div>
</div>

<div class="modal inmodal" id="myModal11" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="width:500px; height:200px;">
            <div class="modal-header" style="padding: 10px;">
                <button type="button" class="close" data-dismiss="modal" id="closebutton">
                    <span aria-hidden="true" style="color:white;">&times;</span><span class="sr-only" style="color:white;">Close</span>
                </button>
                <h5 class="modal-title" style="padding: 0px; height:30px; font-size:20px; text-align:left;">Warning!</h5>
            </div>

            @*@using (Html.BeginForm("WeeklyCountRequest", "CycleCount", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {

                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()*@
                <br />
                @Html.TextBox("tempcycleidphysical", "", new { id = "tempcycleidphysical", style = "display:none;" })
                <h4 style=" margin-left:10px;padding: 7px; text-align:center;">@Html.TextBox("tempcycleid", "", new { id = "tempcycleid", style = "display:none;" })You are about to add Physical count for all the routes in the district</h4>

                <h5 style=" margin-left:10px;padding: 0px; text-align:center; FONT-WEIGHT: 500;"> Do you want to continue?</h5>



                <div class="modal-footer" style="text-align:center; border:none;">

                    <button id="yesphysical" type="button" class="btn btn-primary" style="width:30%;" >Yes</button>
                    <button id="no" type="button" data-dismiss="modal" class="btn btn-primary" style="width:30%;">No</button>

                </div>

       @*     }*@
        </div>
    </div>
</div>

<script type="text/javascript">
    document.getElementById("temproute").value = "All";
    document.getElementById("temproutephysical").value = "All";
    $(document).ready(function () {

        $("#newcheckId").click(function (event) {
            event.stopPropagation();
            // Do something
        });

        document.getElementById("temproute").value = "All";
        document.getElementById("temproutephysical").value = "All";
        
        //   document.getElementsByName("temproute").value
        // bind event handlers when the page loads.
        bindButtonClick();
        bindButtonClickphysical();
        $("#yesphysical").click(function() {
            InitiateFullPhysicalCycleCount();
        });
    });
    $("#yesphysical").click(function () {
        InitiateFullPhysicalCycleCount();
    });
    function InitiateFullPhysicalCycleCount() {
        var e = document.getElementById("temproutephysical").value;
        if (e == "All") {
            try {
                //var text = $("#fullphysicalcountbutton").text();
                //$("#fullphysicalcountbutton").blur();
                //$("#fullphysicalcountbutton").text("Submitting...");
                $.ajax({
                    type: 'POST',
                    dataType: 'html',
                    url: '@Url.Action("InitiateFullPhysicalCycleCount", "CycleCount")',
                    data: ({ routeid: "0" }),
                    success: function (result) {
                        window.location.href = '@Url.Action("Index", "CycleCount")';
                        //$("#fullphysicalcountbutton").css("color","green").text("Success...");
                        //setTimeout(function () {
                        //    $("#fullphysicalcountbutton").css("color", "#333").text(text);
                        //}, 1000);
                    },
                    error: function (result) {
                        //$("#fullphysicalcountbutton").css("color", "red").text("Failed...");
                        //setTimeout(function () {
                        //    $("#fullphysicalcountbutton").css("color", "#333").text(text);
                        //}, 1000);
                    }
                });
            } catch (e) {

            }
        }
        else {
            try {
                //var text = $("#fullphysicalcountbutton").text();
                //$("#fullphysicalcountbutton").blur();
                //$("#fullphysicalcountbutton").text("Submitting...");
                $.ajax({
                    type: 'POST',
                    dataType: 'html',
                    url: '@Url.Action("InitiateFullPhysicalCycleCount", "CycleCount")',
                    data: ({ routeid: e }),
                    success: function (result) {
                        window.location.href = '@Url.Action("Index", "CycleCount")';
                        //$("#fullphysicalcountbutton").css("color","green").text("Success...");
                        //setTimeout(function () {
                        //    $("#fullphysicalcountbutton").css("color", "#333").text(text);
                        //}, 1000);
                    },
                    error: function (result) {
                        //$("#fullphysicalcountbutton").css("color", "red").text("Failed...");
                        //setTimeout(function () {
                        //    $("#fullphysicalcountbutton").css("color", "#333").text(text);
                        //}, 1000);
                    }
                });
            } catch (e) {

            }
        }
       
    }
    function checkforadd() {
        //  alert("hi");
        if (document.getElementById("temproute").value == "All") {
            //   alert("hi");
            /// $('#myModal10').modal();
        //    document.getElementById("physcltext").innerHTML = "Weekly";
            $('#myModal10').modal('show');
        }
        else {
            $('#AddAllForm').submit();
        }
    }

    function checkforaddPhysical() {
        //  alert("hi");
        if (document.getElementById("temproutephysical").value == "All") {
            //   alert("hi");
            /// $('#myModal10').modal();
       //     document.getElementById("physcltext").innerHTML = "Physical";
            $('#myModal11').modal('show');
        }
        else {
            //  $('#AddAllForm').submit();
            InitiateFullPhysicalCycleCount();
        }
     //   $('#AddAllFormPhysical').submit();
    }
    function fetchvalues(countid, itemscounted, initiator, date) {
        //  alert("hi");

        //   modal.find('.editdaycode').text('New message to ' + recipient)

        document.getElementById("countacceptid").innerHTML = countid;
        document.getElementById("countrecountid").innerHTML = countid;
        document.getElementById("acceptrequestid").value = countid;
        document.getElementById("voidrequestid").value = countid;
        document.getElementById("countid").innerHTML = countid;
        document.getElementById("itemscounted").value = itemscounted;
        document.getElementById("initiator").value = initiator;
        document.getElementById("date").value = date;
        //document.getElementById("weekspercycle").value = recipient3;
        //document.getElementById("stopspercycle").value = recipient4;
        //$('#editstopsbutton').removeAttr("disabled");
    }


    function passvalue(e) {
        document.getElementById("temproute").value = e.value;
        if (e.value == "All") {

            $.ajax({

                dataType: 'html',
                url: '@Url.Action("tempreq", "CycleCount")',

                success: function (result) {

                    window.location.href = '@Url.Action("Index", "CycleCount")';
                },
                error: function (result) {
                    alert('error');
                }
            });
        }
        else {
            $.ajax({
                type: 'POST',
                dataType: 'html',
                url: '@Url.Action("IndexWeekly", "CycleCount")',
                data: ({ selectedValue: e.value }),
                success: function (result) {

                    $("#partialviewforcyclecount").html(result);
                    $(function () {


                        $('#search_textbox').each(function (i) {
                            $(this).quicksearch("[id*=tbl1] tr:not(:has(th))", {
                                'testQuery': function (query, txt, row) {
                                    return $(row).children(":eq(" + 0 + ")").text().toLowerCase().indexOf(query[0].toLowerCase()) != -1;
                                    //|| $(row).children(":eq(" + 1 + ")").text().toLowerCase().indexOf(query[0].toLowerCase()) != -1;

                                }


                            });

                        });

                        $('#search_textbox').each(function (i) {
                            $(this).quicksearch2("[class*=tabletosearch]", {
                                'testQuery': function (query, txt, row) {
                                    return $(row).find('span[class="countidtosearch"]').text().toLowerCase().indexOf(query[0].toLowerCase()) != -1;
                                    //|| $(row).children(":eq(" + 1 + ")").text().toLowerCase().indexOf(query[0].toLowerCase()) != -1;

                                }

                            });

                        });


                    });
                    bindButtonClick();
                },
                error: function (result) {
                    alert('error');
                }
            });
        }


    }

    function passvaluephysical(e) {
        document.getElementById("temproutephysical").value = e.value;
      //  alert(document.getElementById("temproutephysical").value);
        if (e.value == "All") {

            $.ajax({

                dataType: 'html',
                url: '@Url.Action("tempreq", "CycleCount")',

                success: function (result) {

                    window.location.href = '@Url.Action("Index", "CycleCount")';
                },
                error: function (result) {
                    alert('error');
                }
            });
        }
        else {
            $.ajax({
                type: 'POST',
                dataType: 'html',
                url: '@Url.Action("IndexPhysical", "CycleCount")',
                data: ({ selectedValue: e.value }),
                success: function (result) {

                    $("#partialviewforcyclecountphysical").html(result);
                    $(function () {
                                         

                        $('#search_textbox').each(function (i) {
                            $(this).quicksearch("[id*=tbl1physcl] tr:not(:has(th))", {
                                'testQuery': function (query, txt, row) {
                                    return $(row).children(":eq(" + 0 + ")").text().toLowerCase().indexOf(query[0].toLowerCase()) != -1;
                                    //|| $(row).children(":eq(" + 1 + ")").text().toLowerCase().indexOf(query[0].toLowerCase()) != -1;

                                }


                            });

                        });

                        $('#search_textbox').each(function (i) {
                            $(this).quicksearch2("[class*=tabletosearch]", {
                                'testQuery': function (query, txt, row) {
                                    return $(row).find('span[class="countidtosearch"]').text().toLowerCase().indexOf(query[0].toLowerCase()) != -1;
                                    //|| $(row).children(":eq(" + 1 + ")").text().toLowerCase().indexOf(query[0].toLowerCase()) != -1;

                                }

                            });

                        });

                       


                    });
                    bindButtonClick();
                },
                error: function (result) {
                    alert('error');
                }
            });
        }


    }

    $('#releasebutton').click(function () {
        var e = document.getElementById("tempcycleid").value;
        $.ajax({
            type: 'POST',
            dataType: 'html',
            url: '@Url.Action("Release", "CycleCount")',
            data: ({ countid: e }),
            success: function (result) {
                if (result == "True")
                    {
                    window.location.href = '@Url.Action("Index", "CycleCount")';
                }
                else {
                 //   alert(result);
                    alert("Empty Weekly Cycle Count can not be released!");
                }

            },
            error: function (result) {
                alert('error');
            }
        });

    });

   

    $('#releasebuttonphysical').click(function () {
     //   e.pre
        var e = document.getElementById("tempcycleidphysical").value;
        $.ajax({
            type: 'POST',
            dataType: 'html',
            url: '@Url.Action("ReleasePhysical", "CycleCount")',
            data: ({ countid: e }),
            success: function (result) {
                window.location.href = '@Url.Action("Index", "CycleCount")';

            },
            error: function (result) {
                alert('error');
            }
        });

    });

    //function bindButtonClick() {
    //    var flag = false;
    //    $(".submit").change(function () {

    //        if (this.checked) {
    //            if (flag == false) {
    //                flag = true;

    //                //     alert(this.id);
    //                if (this.id == "newcheckId") {
                       
    //                    document.getElementById("tempcycleid").value = this.value;
    //                    //document.getElementById("voidbutton").setAttribute("class", "btn btn-sm btn-white");
    //                    document.getElementById("releasebutton").setAttribute("class", "btn btn-sm btn-white");
    //                    //////label on model////////////
    //                    //document.getElementById("submitlabel").setAttribute("class", "label label-warning col-md-1 hidden");
    //                    //document.getElementById("newlabel").setAttribute("class", "label label-default col-md-1");
    //                    //document.getElementById("recountlabel").setAttribute("class", "label label-success col-md-1 hidden");
    //                    //document.getElementById("pendinglabel").setAttribute("class", "label label-default col-md-1 hidden");

    //                }
    //                else if (this.id == "newcheckId2") {
    //                    document.getElementById("tempcycleid").value = this.value;
    //                    //document.getElementById("voidbutton2").setAttribute("class", "btn btn-sm btn-white");
    //                    document.getElementById("releasebuttonphysical").setAttribute("class", "btn btn-sm btn-white");
    //                    //////label on model////////////
    //                    //document.getElementById("submitlabel").setAttribute("class", "label label-warning col-md-1 hidden");
    //                    //document.getElementById("newlabel").setAttribute("class", "label label-default col-md-1");
    //                    //document.getElementById("recountlabel").setAttribute("class", "label label-success col-md-1 hidden");
    //                    //document.getElementById("pendinglabel").setAttribute("class", "label label-default col-md-1 hidden");
    //                }
    //                else if (this.id == "pendingcheckId") {
    //                    document.getElementById("tempcycleid").value = this.value;
    //                    document.getElementById("voidbutton").setAttribute("class", "btn btn-sm btn-white");
    //                    //////label on model////////////
    //                    document.getElementById("submitlabel").setAttribute("class", "label label-warning col-md-1 hidden");
    //                    document.getElementById("newlabel").setAttribute("class", "label label-default col-md-1 hidden");
    //                    document.getElementById("recountlabel").setAttribute("class", "label label-success col-md-1 hidden");
    //                    document.getElementById("pendinglabel").setAttribute("class", "label label-default col-md-1");

    //                }
    //                else if (this.id == "pendingcheckId2") {
    //                    document.getElementById("tempcycleid").value = this.value;
    //                    document.getElementById("voidbutton2").setAttribute("class", "btn btn-sm btn-white");
    //                    //////label on model////////////
    //                    document.getElementById("submitlabel").setAttribute("class", "label label-warning col-md-1 hidden");
    //                    document.getElementById("newlabel").setAttribute("class", "label label-default col-md-1 hidden");
    //                    document.getElementById("recountlabel").setAttribute("class", "label label-success col-md-1 hidden");
    //                    document.getElementById("pendinglabel").setAttribute("class", "label label-default col-md-1");
    //                }
    //                else if (this.id == "recountcheckId") {
    //                    document.getElementById("tempcycleid").value = this.value;
    //                    //     document.getElementById("confirmationtext").innerHTML = "will be sent for Re-Count.";
    //                    document.getElementById("acceptbutton").setAttribute("class", "btn btn-sm btn-white");
    //                    document.getElementById("voidbutton").setAttribute("class", "btn btn-sm btn-white");
    //                    /////label on model//////

    //                    document.getElementById("submitlabel").setAttribute("class", "label label-warning col-md-1 hidden");
    //                    document.getElementById("newlabel").setAttribute("class", "label label-default col-md-1 hidden");
    //                    document.getElementById("recountlabel").setAttribute("class", "label label-success col-md-1");
    //                    document.getElementById("pendinglabel").setAttribute("class", "label label-default col-md-1 hidden");
    //                }
    //                else if (this.id == "recountcheckId2") {
    //                    document.getElementById("tempcycleid").value = this.value;
    //                    //     document.getElementById("confirmationtext").innerHTML = "will be sent for Re-Count.";
    //                    document.getElementById("acceptbutton2").setAttribute("class", "btn btn-sm btn-white");
    //                    document.getElementById("voidbutton2").setAttribute("class", "btn btn-sm btn-white");
    //                    /////label on model//////

    //                    document.getElementById("submitlabel").setAttribute("class", "label label-warning col-md-1 hidden");
    //                    document.getElementById("newlabel").setAttribute("class", "label label-default col-md-1 hidden");
    //                    document.getElementById("recountlabel").setAttribute("class", "label label-success col-md-1");
    //                    document.getElementById("pendinglabel").setAttribute("class", "label label-default col-md-1 hidden");
    //                }
    //                else if (this.id == "submittedcheckId") {
    //                    document.getElementById("tempcycleid").value = this.value;

    //                    document.getElementById("acceptbutton").setAttribute("class", "btn btn-sm btn-white");
    //                    document.getElementById("recount").setAttribute("class", "btn btn-sm btn-white");
    //                    document.getElementById("voidbutton").setAttribute("class", "btn btn-sm btn-white");
    //                    //////labelonmodel//////
    //                    document.getElementById("submitlabel").setAttribute("class", "label label-warning col-md-1");
    //                    document.getElementById("newlabel").setAttribute("class", "label label-default col-md-1 hidden");
    //                    document.getElementById("recountlabel").setAttribute("class", "label label-success col-md-1 hidden");
    //                    document.getElementById("pendinglabel").setAttribute("class", "label label-default col-md-1 hidden");
    //                }
    //                else if (this.id == "submittedcheckId2") {
    //                    document.getElementById("tempcycleid").value = this.value;

    //                    document.getElementById("acceptbutton2").setAttribute("class", "btn btn-sm btn-white");
    //                    document.getElementById("recount2").setAttribute("class", "btn btn-sm btn-white");
    //                    document.getElementById("voidbutton2").setAttribute("class", "btn btn-sm btn-white");
    //                    //////labelonmodel//////
    //                    document.getElementById("submitlabel").setAttribute("class", "label label-warning col-md-1");
    //                    document.getElementById("newlabel").setAttribute("class", "label label-default col-md-1 hidden");
    //                    document.getElementById("recountlabel").setAttribute("class", "label label-success col-md-1 hidden");
    //                    document.getElementById("pendinglabel").setAttribute("class", "label label-default col-md-1 hidden");
    //                }
    //            }
    //            else {
    //                this.checked = false;
    //            }


    //        }
    //        else {
    //            //   alert(this.id);
    //            flag = false;
    //            document.getElementById("releasebuttonphysical").setAttribute("class", "btn btn-sm btn-white disabled");
    //            document.getElementById("releasebutton").setAttribute("class", "btn btn-sm btn-white disabled");
    //            //document.getElementById("acceptbutton").setAttribute("class", "btn btn-sm btn-white disabled");
    //            //document.getElementById("recount").setAttribute("class", "btn btn-sm btn-white disabled");
    //            //document.getElementById("voidbutton").setAttribute("class", "btn btn-sm btn-white disabled");
    //            //document.getElementById("acceptbutton2").setAttribute("class", "btn btn-sm btn-white disabled");
    //            //document.getElementById("recount2").setAttribute("class", "btn btn-sm btn-white disabled");
    //            //document.getElementById("voidbutton2").setAttribute("class", "btn btn-sm btn-white disabled");
    //        }



    //    });

    //}

    //function bindButtonClick() {
    //    var flag = false;
    //    $(".submit").change(function () {

    //        if (this.checked) {
               

    //                //     alert(this.id);
    //                if (this.id == "newcheckId") {

    //                    document.getElementById("tempcycleid").value = this.value;
    //                    //document.getElementById("voidbutton").setAttribute("class", "btn btn-sm btn-white");
    //                    document.getElementById("releasebutton").setAttribute("class", "btn btn-sm btn-white");
    //                    //////label on model////////////
    //                    //document.getElementById("submitlabel").setAttribute("class", "label label-warning col-md-1 hidden");
    //                    //document.getElementById("newlabel").setAttribute("class", "label label-default col-md-1");
    //                    //document.getElementById("recountlabel").setAttribute("class", "label label-success col-md-1 hidden");
    //                    //document.getElementById("pendinglabel").setAttribute("class", "label label-default col-md-1 hidden");

    //                }
    //                else if (this.id == "newcheckId2") {
    //                    document.getElementById("tempcycleidphysical").value = this.value;
    //                    //document.getElementById("voidbutton2").setAttribute("class", "btn btn-sm btn-white");
    //                    document.getElementById("releasebuttonphysical").setAttribute("class", "btn btn-sm btn-white");
    //                    //////label on model////////////
    //                    //document.getElementById("submitlabel").setAttribute("class", "label label-warning col-md-1 hidden");
    //                    //document.getElementById("newlabel").setAttribute("class", "label label-default col-md-1");
    //                    //document.getElementById("recountlabel").setAttribute("class", "label label-success col-md-1 hidden");
    //                    //document.getElementById("pendinglabel").setAttribute("class", "label label-default col-md-1 hidden");
    //                }
                   
                 
                
               
                  
              


    //        }
    //        else {
    //            //   alert(this.id);
    //            flag = false;
    //            document.getElementById("releasebuttonphysical").setAttribute("class", "btn btn-sm btn-white disabled");
    //            document.getElementById("releasebutton").setAttribute("class", "btn btn-sm btn-white disabled");
    //            //document.getElementById("acceptbutton").setAttribute("class", "btn btn-sm btn-white disabled");
    //            //document.getElementById("recount").setAttribute("class", "btn btn-sm btn-white disabled");
    //            //document.getElementById("voidbutton").setAttribute("class", "btn btn-sm btn-white disabled");
    //            //document.getElementById("acceptbutton2").setAttribute("class", "btn btn-sm btn-white disabled");
    //            //document.getElementById("recount2").setAttribute("class", "btn btn-sm btn-white disabled");
    //            //document.getElementById("voidbutton2").setAttribute("class", "btn btn-sm btn-white disabled");
    //        }



    //    });

    //}

    function bindButtonClick() {
        var flag = false;
        $(".submit").change(function () {

            if (this.checked) {
                if (flag == false) {
                    flag = true;

                    //     alert(this.id);
                    if (this.id == "newcheckId") {

                        document.getElementById("tempcycleid").value = this.value;
                        //document.getElementById("voidbutton").setAttribute("class", "btn btn-sm btn-white");
                        document.getElementById("releasebutton").setAttribute("class", "btn btn-sm btn-white");
                        //////label on model////////////
                        //document.getElementById("submitlabel").setAttribute("class", "label label-warning col-md-1 hidden");
                        //document.getElementById("newlabel").setAttribute("class", "label label-default col-md-1");
                        //document.getElementById("recountlabel").setAttribute("class", "label label-success col-md-1 hidden");
                        //document.getElementById("pendinglabel").setAttribute("class", "label label-default col-md-1 hidden");

                    }
                   
                    else if (this.id == "pendingcheckId") {
                        document.getElementById("tempcycleid").value = this.value;
                        document.getElementById("voidbutton").setAttribute("class", "btn btn-sm btn-white");
                        //////label on model////////////
                        document.getElementById("submitlabel").setAttribute("class", "label label-warning col-md-1 hidden");
                        document.getElementById("newlabel").setAttribute("class", "label label-default col-md-1 hidden");
                        document.getElementById("recountlabel").setAttribute("class", "label label-success col-md-1 hidden");
                        document.getElementById("pendinglabel").setAttribute("class", "label label-default col-md-1");

                    }
                   
                    else if (this.id == "recountcheckId") {
                        document.getElementById("tempcycleid").value = this.value;
                        //     document.getElementById("confirmationtext").innerHTML = "will be sent for Re-Count.";
                        document.getElementById("acceptbutton").setAttribute("class", "btn btn-sm btn-white");
                        document.getElementById("voidbutton").setAttribute("class", "btn btn-sm btn-white");
                        /////label on model//////

                        document.getElementById("submitlabel").setAttribute("class", "label label-warning col-md-1 hidden");
                        document.getElementById("newlabel").setAttribute("class", "label label-default col-md-1 hidden");
                        document.getElementById("recountlabel").setAttribute("class", "label label-success col-md-1");
                        document.getElementById("pendinglabel").setAttribute("class", "label label-default col-md-1 hidden");
                    }
                    else if (this.id == "recountcheckId2") {
                        document.getElementById("tempcycleid").value = this.value;
                        //     document.getElementById("confirmationtext").innerHTML = "will be sent for Re-Count.";
                        document.getElementById("acceptbutton2").setAttribute("class", "btn btn-sm btn-white");
                        document.getElementById("voidbutton2").setAttribute("class", "btn btn-sm btn-white");
                        /////label on model//////

                        document.getElementById("submitlabel").setAttribute("class", "label label-warning col-md-1 hidden");
                        document.getElementById("newlabel").setAttribute("class", "label label-default col-md-1 hidden");
                        document.getElementById("recountlabel").setAttribute("class", "label label-success col-md-1");
                        document.getElementById("pendinglabel").setAttribute("class", "label label-default col-md-1 hidden");
                    }
                    else if (this.id == "submittedcheckId") {
                        document.getElementById("tempcycleid").value = this.value;

                        document.getElementById("acceptbutton").setAttribute("class", "btn btn-sm btn-white");
                        document.getElementById("recount").setAttribute("class", "btn btn-sm btn-white");
                        document.getElementById("voidbutton").setAttribute("class", "btn btn-sm btn-white");
                        //////labelonmodel//////
                        document.getElementById("submitlabel").setAttribute("class", "label label-warning col-md-1");
                        document.getElementById("newlabel").setAttribute("class", "label label-default col-md-1 hidden");
                        document.getElementById("recountlabel").setAttribute("class", "label label-success col-md-1 hidden");
                        document.getElementById("pendinglabel").setAttribute("class", "label label-default col-md-1 hidden");
                    }
                    else if (this.id == "submittedcheckId2") {
                        document.getElementById("tempcycleid").value = this.value;

                        document.getElementById("acceptbutton2").setAttribute("class", "btn btn-sm btn-white");
                        document.getElementById("recount2").setAttribute("class", "btn btn-sm btn-white");
                        document.getElementById("voidbutton2").setAttribute("class", "btn btn-sm btn-white");
                        //////labelonmodel//////
                        document.getElementById("submitlabel").setAttribute("class", "label label-warning col-md-1");
                        document.getElementById("newlabel").setAttribute("class", "label label-default col-md-1 hidden");
                        document.getElementById("recountlabel").setAttribute("class", "label label-success col-md-1 hidden");
                        document.getElementById("pendinglabel").setAttribute("class", "label label-default col-md-1 hidden");
                    }
                }
                else {
                    this.checked = false;
                }


            }
            else {
                //   alert(this.id);
                flag = false;
                document.getElementById("releasebuttonphysical").setAttribute("class", "btn btn-sm btn-white disabled");
                document.getElementById("releasebutton").setAttribute("class", "btn btn-sm btn-white disabled");
                //document.getElementById("acceptbutton").setAttribute("class", "btn btn-sm btn-white disabled");
                //document.getElementById("recount").setAttribute("class", "btn btn-sm btn-white disabled");
                //document.getElementById("voidbutton").setAttribute("class", "btn btn-sm btn-white disabled");
                //document.getElementById("acceptbutton2").setAttribute("class", "btn btn-sm btn-white disabled");
                //document.getElementById("recount2").setAttribute("class", "btn btn-sm btn-white disabled");
                //document.getElementById("voidbutton2").setAttribute("class", "btn btn-sm btn-white disabled");
            }



        });
    }
    function bindButtonClickphysical() {
        var flagphysical = false;

        $(".submitphysical").change(function () {

            if (this.checked) {
                if (flagphysical == false) {
                    flagphysical = true;

                    //     alert(this.id);
                   
                    if (this.id == "newcheckId2") {
                        document.getElementById("tempcycleidphysical").value = this.value;
                        //document.getElementById("voidbutton2").setAttribute("class", "btn btn-sm btn-white");
                        document.getElementById("releasebuttonphysical").setAttribute("class", "btn btn-sm btn-white");
                        //////label on model////////////
                        //document.getElementById("submitlabel").setAttribute("class", "label label-warning col-md-1 hidden");
                        //document.getElementById("newlabel").setAttribute("class", "label label-default col-md-1");
                        //document.getElementById("recountlabel").setAttribute("class", "label label-success col-md-1 hidden");
                        //document.getElementById("pendinglabel").setAttribute("class", "label label-default col-md-1 hidden");
                    }
                   
                    else if (this.id == "pendingcheckId2") {
                        document.getElementById("tempcycleidphysical").value = this.value;
                        document.getElementById("voidbutton2").setAttribute("class", "btn btn-sm btn-white");
                        //////label on model////////////
                        document.getElementById("submitlabel").setAttribute("class", "label label-warning col-md-1 hidden");
                        document.getElementById("newlabel").setAttribute("class", "label label-default col-md-1 hidden");
                        document.getElementById("recountlabel").setAttribute("class", "label label-success col-md-1 hidden");
                        document.getElementById("pendinglabel").setAttribute("class", "label label-default col-md-1");
                    }
                   
                    else if (this.id == "recountcheckId2") {
                        document.getElementById("tempcycleidphysical").value = this.value;
                        //     document.getElementById("confirmationtext").innerHTML = "will be sent for Re-Count.";
                        document.getElementById("acceptbutton2").setAttribute("class", "btn btn-sm btn-white");
                        document.getElementById("voidbutton2").setAttribute("class", "btn btn-sm btn-white");
                        /////label on model//////

                        document.getElementById("submitlabel").setAttribute("class", "label label-warning col-md-1 hidden");
                        document.getElementById("newlabel").setAttribute("class", "label label-default col-md-1 hidden");
                        document.getElementById("recountlabel").setAttribute("class", "label label-success col-md-1");
                        document.getElementById("pendinglabel").setAttribute("class", "label label-default col-md-1 hidden");
                    }
                   
                    else if (this.id == "submittedcheckId2") {
                        document.getElementById("tempcycleidphysical").value = this.value;

                        document.getElementById("acceptbutton2").setAttribute("class", "btn btn-sm btn-white");
                        document.getElementById("recount2").setAttribute("class", "btn btn-sm btn-white");
                        document.getElementById("voidbutton2").setAttribute("class", "btn btn-sm btn-white");
                        //////labelonmodel//////
                        document.getElementById("submitlabel").setAttribute("class", "label label-warning col-md-1");
                        document.getElementById("newlabel").setAttribute("class", "label label-default col-md-1 hidden");
                        document.getElementById("recountlabel").setAttribute("class", "label label-success col-md-1 hidden");
                        document.getElementById("pendinglabel").setAttribute("class", "label label-default col-md-1 hidden");
                    }
                }
                else {
                    this.checked = false;
                }


            }
            else {
                //   alert(this.id);
                flagphysical = false;
                document.getElementById("releasebuttonphysical").setAttribute("class", "btn btn-sm btn-white disabled");
                document.getElementById("releasebutton").setAttribute("class", "btn btn-sm btn-white disabled");
                //document.getElementById("acceptbutton").setAttribute("class", "btn btn-sm btn-white disabled");
                //document.getElementById("recount").setAttribute("class", "btn btn-sm btn-white disabled");
                //document.getElementById("voidbutton").setAttribute("class", "btn btn-sm btn-white disabled");
                //document.getElementById("acceptbutton2").setAttribute("class", "btn btn-sm btn-white disabled");
                //document.getElementById("recount2").setAttribute("class", "btn btn-sm btn-white disabled");
                //document.getElementById("voidbutton2").setAttribute("class", "btn btn-sm btn-white disabled");
            }



        });
    }

</script>

<script type="text/javascript">
   
    $(function () {


        $('#search_textbox').each(function (i) {
            $(this).quicksearch("[id*=tbl1] tr:not(:has(th))", {
                'testQuery': function (query, txt, row) {
                    return $(row).children(":eq(" + 0 + ")").text().toLowerCase().indexOf(query[0].toLowerCase()) != -1;
                    //|| $(row).children(":eq(" + 1 + ")").text().toLowerCase().indexOf(query[0].toLowerCase()) != -1;

                }


            });

        });

        $('#search_textbox').each(function (i) {
            $(this).quicksearch("[id*=tbl1physcl] tr:not(:has(th))", {
                'testQuery': function (query, txt, row) {
                    return $(row).children(":eq(" + 0 + ")").text().toLowerCase().indexOf(query[0].toLowerCase()) != -1;
                    //|| $(row).children(":eq(" + 1 + ")").text().toLowerCase().indexOf(query[0].toLowerCase()) != -1;

                }


            });

        });

        $('#search_textbox').each(function (i) {
            $(this).quicksearch2("[class*=tabletosearch]", {
                'testQuery': function (query, txt, row) {
                    return $(row).find('span[class="countidtosearch"]').text().toLowerCase().indexOf(query[0].toLowerCase()) != -1;
                    //|| $(row).children(":eq(" + 1 + ")").text().toLowerCase().indexOf(query[0].toLowerCase()) != -1;

                }

            });

        });

     

        
    });
  



</script>

<script type="text/javascript">

    var toshow = "",toshowparent="";

    (function ($, window, document, undefined) {
        $.fn.quicksearch = function (target, opt) {

            var timeout, cache, rowcache, jq_results, val = '', e = this, options = $.extend({
                delay: 100,
                selector: null,
                stripeRows: null,
                loader: null,
                noResults: '',
                matchedResultsCount: 0,
                bind: 'keyup',
                onBefore: function () {
                    return;
                },
                onAfter: function () {
                 
                    return;
                },
                show: function () {
                    //          $(this).closest('table').attr("style", "display:;");
                    $(this).closest('div[class="row"]').attr("style", "display:'';margin:0px;");
                    this.style.display = "";
                },
                hide: function () {
                    $(this).closest('div[class="row"]').attr("style", "display:none;");
               //     this.style.display = "none";

                },
                prepareQuery: function (val) {
                    return val.toLowerCase().split(' ');
                },
                testQuery: function (query, txt, _row) {
                    for (var i = 0; i < query.length; i += 1) {
                        if (txt.indexOf(query[i]) === -1) {
                            return false;
                        }
                    }
                    return true;
                }
            }, opt);



            this.go = function () {

                var i = 0,
                    numMatchedRows = 0,
                    noresults = true,
                    query = options.prepareQuery(val),
                    val_empty = (val.replace(' ', '').length === 0);

                for (var i = 0, len = rowcache.length; i < len; i++) {
                    if (val_empty || options.testQuery(query, cache[i], rowcache[i])) {
                        options.show.apply(rowcache[i]);
                        noresults = false;
                        numMatchedRows++;
                    } else {
                        options.hide.apply(rowcache[i]);
                    }
                }

                if (noresults) {
                    this.results(false);
                } else {
                    this.results(true);
                    this.stripe();
                }

                this.matchedResultsCount = numMatchedRows;
                this.loader(false);
                options.onAfter();

                return this;
            };

            /*
            * External API so that users can perform search programatically.
            * */
            this.search = function (submittedVal) {
                val = submittedVal;
                e.trigger();
            };

            /*
            * External API to get the number of matched results as seen in
            * https://github.com/ruiz107/quicksearch/commit/f78dc440b42d95ce9caed1d087174dd4359982d6
            * */
            this.currentMatchedResults = function () {
                return this.matchedResultsCount;
            };

            this.stripe = function () {

                if (typeof options.stripeRows === "object" && options.stripeRows !== null) {
                    var joined = options.stripeRows.join(' ');
                    var stripeRows_length = options.stripeRows.length;

                    jq_results.not(':hidden').each(function (i) {
                        $(this).removeClass(joined).addClass(options.stripeRows[i % stripeRows_length]);
                    });
                }

                return this;
            };

            this.strip_html = function (input) {
                var output = input.replace(new RegExp('<[^<]+\>', 'g'), "");
                output = $.trim(output.toLowerCase());
                return output;
            };

            this.results = function (bool) {
                if (typeof options.noResults === "string" && options.noResults !== "") {
                    if (bool) {
                        $(options.noResults).hide();
                    } else {
                        $(options.noResults).show();
                    }
                }
                return this;
            };

            this.loader = function (bool) {
                if (typeof options.loader === "string" && options.loader !== "") {
                    (bool) ? $(options.loader).show() : $(options.loader).hide();
                }
                return this;
            };

            this.cache = function () {

                jq_results = $(target);

                if (typeof options.noResults === "string" && options.noResults !== "") {
                    jq_results = jq_results.not(options.noResults);
                }

                var t = (typeof options.selector === "string") ? jq_results.find(options.selector) : $(target).not(options.noResults);
                cache = t.map(function () {
                    return e.strip_html(this.innerHTML);
                });

                rowcache = jq_results.map(function () {
                    return this;
                });

                /*
                * Modified fix for sync-ing "val".
                * Original fix https://github.com/michaellwest/quicksearch/commit/4ace4008d079298a01f97f885ba8fa956a9703d1
                * */
                val = val || this.val() || "";

                return this.go();
            };

            this.trigger = function () {
                this.loader(true);
                options.onBefore();

                window.clearTimeout(timeout);
                timeout = window.setTimeout(function () {
                    e.go();
                }, options.delay);

                return this;
            };

            this.cache();
            this.results(true);
            this.stripe();
            this.loader(false);

            return this.each(function () {

                /*
                * Changed from .bind to .on.
                * */
                $(this).on(options.bind, function () {

                    val = $(this).val();
                    e.trigger();
                });
            });

        };

    }(jQuery, this, document));

    (function ($, window, document, undefined) {
        $.fn.quicksearch2 = function (target, opt) {

            var timeout, cache, rowcache, jq_results, val = '', e = this, options = $.extend({
                delay: 100,
                selector: null,
                stripeRows: null,
                loader: null,
                noResults: function () {
                    //$('#search_textbox').each(function (i) {
                    //    $(this).quicksearch("[id*=tbl1] tr:not(:has(th))", {
                    //        'testQuery': function (query, txt, row) {
                    //            return $(row).children(":eq(" + 0 + ")").text().toLowerCase().indexOf(query[0].toLowerCase()) != -1;
                    //            //|| $(row).children(":eq(" + 1 + ")").text().toLowerCase().indexOf(query[0].toLowerCase()) != -1;

                    //        }

                    //    });

                    //});
                },
                matchedResultsCount: 0,
                bind: 'keyup',
                onBefore: function () {
                    return;
                },
                onAfter: function () {
                    toshow.attr("style", "display:'';margin:0px;");
                    toshowparent.attr("style", "display:'';width:100%;");
                    toshow = "";
                    toshowparent = "";
                    return;
                },
                show: function () {
                   
                    toshow = $(this).closest('div[class="row"]');
                    toshowparent = $(this).closest('div[class="row"]').find(".parenttable")
                  
                    this.style.display = "";
                   
                },
                hide: function () {
                    
                    if (this.closest('div[class="row"]').style.display == "")
                    {
                        $(this).closest('table[class="tabletosearch"]').attr("style", "display:none;width:100%;margin:0px;");
                        this.style.display = "";
                    }
                    else
                    {
                        $(this).closest('div[class="row"]').attr("style", "display:none;margin:0px;");
                        this.style.display = "none";
                  
                    }
                 

                },
                prepareQuery: function (val) {
                    return val.toLowerCase().split(' ');
                },
                testQuery: function (query, txt, _row) {
                    for (var i = 0; i < query.length; i += 1) {
                        if (txt.indexOf(query[i]) === -1) {
                            return false;
                        }
                    }
                    return true;
                }
            }, opt);



            this.go = function () {

                var i = 0,
                    numMatchedRows = 0,
                    noresults = true,
                    query = options.prepareQuery(val),
                    val_empty = (val.replace(' ', '').length === 0);

                for (var i = 0, len = rowcache.length; i < len; i++) {
                    if (val_empty || options.testQuery(query, cache[i], rowcache[i])) {
                        options.show.apply(rowcache[i]);
                        noresults = false;
                        numMatchedRows++;
                    } else {
                        options.hide.apply(rowcache[i]);
                    }
                }

                if (noresults) {
                    this.results(false);
                } else {
                    this.results(true);
                    this.stripe();
                }

                this.matchedResultsCount = numMatchedRows;
                this.loader(false);
                options.onAfter();

                return this;
            };

            /*
            * External API so that users can perform search programatically.
            * */
            this.search = function (submittedVal) {
                val = submittedVal;
                e.trigger();
            };

            /*
            * External API to get the number of matched results as seen in
            * https://github.com/ruiz107/quicksearch/commit/f78dc440b42d95ce9caed1d087174dd4359982d6
            * */
            this.currentMatchedResults = function () {
                return this.matchedResultsCount;
            };

            this.stripe = function () {

                if (typeof options.stripeRows === "object" && options.stripeRows !== null) {
                    var joined = options.stripeRows.join(' ');
                    var stripeRows_length = options.stripeRows.length;

                    jq_results.not(':hidden').each(function (i) {
                        $(this).removeClass(joined).addClass(options.stripeRows[i % stripeRows_length]);
                    });
                }

                return this;
            };

            this.strip_html = function (input) {
                var output = input.replace(new RegExp('<[^<]+\>', 'g'), "");
                output = $.trim(output.toLowerCase());
                return output;
            };

            this.results = function (bool) {
                if (typeof options.noResults === "string" && options.noResults !== "") {
                    if (bool) {
                        $(options.noResults).hide();
                    } else {
                        $(options.noResults).show();
                    }
                }
                return this;
            };

            this.loader = function (bool) {
                if (typeof options.loader === "string" && options.loader !== "") {
                    (bool) ? $(options.loader).show() : $(options.loader).hide();
                }
                return this;
            };

            this.cache = function () {

                jq_results = $(target);

                if (typeof options.noResults === "string" && options.noResults !== "") {
                    jq_results = jq_results.not(options.noResults);
                }

                var t = (typeof options.selector === "string") ? jq_results.find(options.selector) : $(target).not(options.noResults);
                cache = t.map(function () {
                    return e.strip_html(this.innerHTML);
                });

                rowcache = jq_results.map(function () {
                    return this;
                });

                /*
                * Modified fix for sync-ing "val".
                * Original fix https://github.com/michaellwest/quicksearch/commit/4ace4008d079298a01f97f885ba8fa956a9703d1
                * */
                val = val || this.val() || "";

                return this.go();
            };

            this.trigger = function () {
                this.loader(true);
                options.onBefore();

                window.clearTimeout(timeout);
                timeout = window.setTimeout(function () {
                    e.go();
                }, options.delay);

                return this;
            };

            this.cache();
            this.results(true);
            this.stripe();
            this.loader(false);

            return this.each(function () {

                /*
                * Changed from .bind to .on.
                * */
                $(this).on(options.bind, function () {

                    val = $(this).val();
                    e.trigger();
                });
            });

        };

    }(jQuery, this, document));


    (function ($, window, document, undefined) {
        $.fn.quicksearch2 = function (target, opt) {

            var timeout, cache, rowcache, jq_results, val = '', e = this, options = $.extend({
                delay: 100,
                selector: null,
                stripeRows: null,
                loader: null,
                noResults: function () {
                    //$('#search_textbox').each(function (i) {
                    //    $(this).quicksearch("[id*=tbl1] tr:not(:has(th))", {
                    //        'testQuery': function (query, txt, row) {
                    //            return $(row).children(":eq(" + 0 + ")").text().toLowerCase().indexOf(query[0].toLowerCase()) != -1;
                    //            //|| $(row).children(":eq(" + 1 + ")").text().toLowerCase().indexOf(query[0].toLowerCase()) != -1;

                    //        }

                    //    });

                    //});
                },
                matchedResultsCount: 0,
                bind: 'keyup',
                onBefore: function () {
                    return;
                },
                onAfter: function () {
                    toshow.attr("style", "display:'';margin:0px;");
                    toshowparent.attr("style", "display:'';width:100%;");
                    toshow = "";
                    toshowparent = "";
                    return;
                },
                show: function () {
                    //      $(this).closest('table[id="parenttable"]').attr("style", "display:'';");
                    toshow = $(this).closest('div[class="row"]');
                    toshowparent = $(this).closest('div[class="row"]').find(".parenttable")
                    //          $(this).closest('table').attr("style", "display:;");
         //           $(this).closest('div[class="row"]').attr("style", "display:'';margin:0px;");
                    this.style.display = "";
                    if (this.closest('div[class="row"]').style.display == "") {
                        // $(this).closest('table[class="tabletosearch"]').attr("style", "display:none;margin:0px;");
                        // this.style.display = "none";
                    }
                    else {
                     //   $(this).closest('table[class="tabletosearch"]').attr("style", "display:none;margin:0px;");
                       // this.style.display = "none";
                        //    $(this).closest('div[class="order-item-container"]').attr("style", "display:none;margin:0px;");
                    }
                },
                hide: function () {
                    //    $(this).closest('table[id="parenttable"]').attr("style", "display:none;");
                    if (this.closest('div[class="row"]').style.display == "")
                    {
                        $(this).closest('table[class="tabletosearch"]').attr("style", "display:none;width:100%;margin:0px;");
                        this.style.display = "";
                    }
                    else
                    {
                        $(this).closest('div[class="row"]').attr("style", "display:none;margin:0px;");
                        this.style.display = "none";
                    //    $(this).closest('div[class="order-item-container"]').attr("style", "display:none;margin:0px;");
                    }
                 
                },
                prepareQuery: function (val) {
                    return val.toLowerCase().split(' ');
                },
                testQuery: function (query, txt, _row) {
                    for (var i = 0; i < query.length; i += 1) {
                        if (txt.indexOf(query[i]) === -1) {
                            return false;
                        }
                    }
                    return true;
                }
            }, opt);



            this.go = function () {

                var i = 0,
                    numMatchedRows = 0,
                    noresults = true,
                    query = options.prepareQuery(val),
                    val_empty = (val.replace(' ', '').length === 0);

                for (var i = 0, len = rowcache.length; i < len; i++) {
                    if (val_empty || options.testQuery(query, cache[i], rowcache[i])) {
                        options.show.apply(rowcache[i]);
                        noresults = false;
                        numMatchedRows++;
                    } else {
                        options.hide.apply(rowcache[i]);
                    }
                }

                if (noresults) {
                    this.results(false);
                } else {
                    this.results(true);
                    this.stripe();
                }

                this.matchedResultsCount = numMatchedRows;
                this.loader(false);
                options.onAfter();

                return this;
            };

            /*
            * External API so that users can perform search programatically.
            * */
            this.search = function (submittedVal) {
                val = submittedVal;
                e.trigger();
            };

            /*
            * External API to get the number of matched results as seen in
            * https://github.com/ruiz107/quicksearch/commit/f78dc440b42d95ce9caed1d087174dd4359982d6
            * */
            this.currentMatchedResults = function () {
                return this.matchedResultsCount;
            };

            this.stripe = function () {

                if (typeof options.stripeRows === "object" && options.stripeRows !== null) {
                    var joined = options.stripeRows.join(' ');
                    var stripeRows_length = options.stripeRows.length;

                    jq_results.not(':hidden').each(function (i) {
                        $(this).removeClass(joined).addClass(options.stripeRows[i % stripeRows_length]);
                    });
                }

                return this;
            };

            this.strip_html = function (input) {
                var output = input.replace(new RegExp('<[^<]+\>', 'g'), "");
                output = $.trim(output.toLowerCase());
                return output;
            };

            this.results = function (bool) {
                if (typeof options.noResults === "string" && options.noResults !== "") {
                    if (bool) {
                        $(options.noResults).hide();
                    } else {
                        $(options.noResults).show();
                    }
                }
                return this;
            };

            this.loader = function (bool) {
                if (typeof options.loader === "string" && options.loader !== "") {
                    (bool) ? $(options.loader).show() : $(options.loader).hide();
                }
                return this;
            };

            this.cache = function () {

                jq_results = $(target);

                if (typeof options.noResults === "string" && options.noResults !== "") {
                    jq_results = jq_results.not(options.noResults);
                }

                var t = (typeof options.selector === "string") ? jq_results.find(options.selector) : $(target).not(options.noResults);
                cache = t.map(function () {
                    return e.strip_html(this.innerHTML);
                });

                rowcache = jq_results.map(function () {
                    return this;
                });

                /*
                * Modified fix for sync-ing "val".
                * Original fix https://github.com/michaellwest/quicksearch/commit/4ace4008d079298a01f97f885ba8fa956a9703d1
                * */
                val = val || this.val() || "";

                return this.go();
            };

            this.trigger = function () {
                this.loader(true);
                options.onBefore();

                window.clearTimeout(timeout);
                timeout = window.setTimeout(function () {
                    e.go();
                }, options.delay);

                return this;
            };

            this.cache();
            this.results(true);
            this.stripe();
            this.loader(false);

            return this.each(function () {

                /*
                * Changed from .bind to .on.
                * */
                $(this).on(options.bind, function () {

                    val = $(this).val();
                    e.trigger();
                });
            });

        };

    }(jQuery, this, document));


    

</script>

